Repository kata-containers/kata-containers, pull requests merged in 2024-08, with the labels that each got.

#10110 version: bump trustee version
  versions.yaml
Labels: size/tiny, ok-to-test

#10111 ci: Temporarily remove arm64 builds
  .github/workflows/payload-after-push.yaml
  tools/packaging/release/release.sh
Labels: size/small

#10099 metrics: Update memory tests to use grep -F
  tests/metrics/density/fast_footprint.sh
  tests/metrics/density/footprint_data.sh
Labels: size/tiny, ok-to-test

#10117 ci: Temporarily remove arm64 builds -- part II
  tools/packaging/release/release.sh
Labels: size/tiny

#10114 kata-manager: Ensure distro specific TDX config is set
  utils/kata-manager.sh
Labels: size/small, ok-to-test

#10107 tests: k8s: Rotate & cleanup journal for every run
  tests/integration/kubernetes/gha-run.sh
Labels: size/small, ok-to-test

#10116 tests: kbs: Add missing dependencies to install kbs cli
  tests/integration/kubernetes/confidential_kbs.sh
Labels: area/confidential-containers, size/tiny, ok-to-test

#10102 tests: Fix error with `kubectl debug`
  tests/integration/kubernetes/tests_common.sh
Labels: size/tiny, ok-to-test

#10098 agent: fix the AllowRequestsFailingPolicy functionality
  src/agent/src/policy.rs
  tests/integration/kubernetes/k8s-policy-hard-coded.bats
Labels: size/medium, ok-to-test

#10123 ci: re-enable arm CI
  .github/workflows/ci.yaml
  .github/workflows/payload-after-push.yaml
  tools/packaging/release/release.sh
Labels: size/medium

#10120 Fix metrics json results file
  tests/common.bash
  tests/metrics/machine_learning/onednn.sh
  tests/metrics/machine_learning/openvino.sh
Labels: area/metrics, size/small, ok-to-test

#10075 genpolicy: reject create custom hook settings
  src/tools/genpolicy/rules.rego
Labels: size/tiny, ok-to-test

#10125 ci: Remove jobs that are not running
  .github/workflows/ci.yaml
Labels: size/small

#10124 ci: Enable encrypted image tests for TEEs
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
Labels: size/tiny, ok-to-test

#10121 genpolicy: add --version flag
  src/tools/genpolicy/.gitignore
  src/tools/genpolicy/Cargo.toml
  src/tools/genpolicy/Makefile
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/utils.rs
  src/tools/genpolicy/src/version.rs.in
Labels: size/medium, ok-to-test

#9880 kata-deploy: Add Helm Chart
  tests/common.bash
  tests/integration/kubernetes/gha-run.sh
  tools/packaging/kata-deploy/helm-chart/Makefile
  tools/packaging/kata-deploy/helm-chart/kata-deploy/.helmignore
  tools/packaging/kata-deploy/helm-chart/kata-deploy/Chart.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
  versions.yaml
Labels: size/large, ok-to-test

#10132 runtime: image-pull: Make it work with nerdctl
  docs/design/kata-guest-image-management-design.md
  src/runtime/virtcontainers/kata_agent.go
Labels: size/small, ok-to-test

#10068 genpolicy: add crate-scoped integration test
  src/tools/genpolicy/Cargo.lock
  src/tools/genpolicy/Cargo.toml
  src/tools/genpolicy/Makefile
  src/tools/genpolicy/src/mount_and_storage.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/tests/main.rs
  src/tools/genpolicy/tests/testdata/copyfile/pod.yaml
  src/tools/genpolicy/tests/testdata/copyfile/testcases.json
  src/tools/genpolicy/tests/testdata/createsandbox/pod.yaml
  src/tools/genpolicy/tests/testdata/createsandbox/testcases.json
  tools/packaging/static-build/tools/Dockerfile
Labels: size/large, ok-to-test

#10129 tools: Support for building qemu with linux aio
  tools/packaging/scripts/configure-hypervisor.sh
  tools/packaging/static-build/qemu/Dockerfile
Labels: size/tiny, ok-to-test

#10127 tests:k8s: Update image in kubectl debug for the exec host function
  tests/integration/kubernetes/tests_common.sh
Labels: size/tiny, ok-to-test

#10113 qemu: don't emit scsi parameter
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/govmm/qemu/qemu_arch_base_test.go
  src/runtime/pkg/govmm/qemu/qemu_s390x_test.go
  src/runtime/pkg/govmm/qemu/qemu_test.go
Labels: size/small, ok-to-test

#10140 ci: cache: Include kata version in artefact versions
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Labels: size/tiny, ok-to-test

#10142 tests: Update ubuntu image for stress Dockerfile
  tests/integration/kubernetes/runtimeclass_workloads/stress/Dockerfile
Labels: size/tiny, ok-to-test

#10007 ci: Transition GARM tests to free runners, pt. II
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-on-amd64.yaml
  .github/workflows/run-k8s-tests-on-garm.yaml
  tests/integration/kubernetes/gha-run.sh
Labels: force-skip-ci, area/ci, size/large

#10154 tests: Add kubernetes stress-ng tests
  tests/stability/kubernetes_stressng.sh
  tests/stability/runtimeclass_workloads/stress-test.yaml
Labels: size/medium, ok-to-test

#10156 tests: Disable k8s file volume test
  tests/integration/kubernetes/k8s-file-volume.bats
Labels: size/tiny, ok-to-test

#10158 tests: Add kubernetes stability test
  tests/stability/kubernetes_stability.sh
  tests/stability/runtimeclass_workloads/stability-test.yaml
Labels: size/medium, ok-to-test

#10148 runtime-rs: Add the wait_vm support for hypervisors
  src/runtime-rs/crates/hypervisor/src/ch/inner.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/ch/mod.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/mod.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/vmm_instance.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/mod.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
Labels: size/large, ok-to-test

#10050 genpolicy: hardening some agent requests
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/tests/testdata/copyfile/testcases.json
  src/tools/genpolicy/tests/testdata/createsandbox/testcases.json
Labels: size/medium, ok-to-test

#10137 tools: Fix container image build warning
  tools/osbuilder/dracut/Dockerfile.in
  tools/packaging/static-build/qemu/Dockerfile
Labels: size/tiny, ok-to-test

#10164 tests: Ensure exec_host() consistently captures command output
  tests/integration/kubernetes/k8s-file-volume.bats
  tests/integration/kubernetes/tests_common.sh
Labels: size/medium, ok-to-test

#10169 Revert "ci: add reset_runtime to cleanup"
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Labels: size/tiny, ok-to-test

#9999 Trusted image storage
  docs/how-to/how-to-pull-images-in-guest-with-kata.md
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/README.md
  src/agent/src/cdh.rs
  src/agent/src/config.rs
  src/agent/src/image.rs
  src/agent/src/rpc.rs
  src/libs/protocols/build.rs
  src/libs/protocols/protos/confidential_data_hub.proto
  src/libs/protocols/protos/sealed_secret.proto
  src/libs/protocols/src/lib.rs
  tests/integration/kubernetes/confidential_common.sh
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
  tests/integration/kubernetes/k8s-guest-pull-image.bats
  tests/integration/kubernetes/runtimeclass_workloads/confidential/trusted-storage.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/pod-guest-pull-in-trusted-storage.yaml.in
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/scripts/init_trusted_storage.sh
  versions.yaml
Labels: size/huge, ok-to-test

#10172 osbuilder: fix typo in ubuntu rootfs depends
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
Labels: size/tiny, ok-to-test

#10171 ci: nydus: Treat the snapshotter as a dependency
  tests/integration/kubernetes/gha-run.sh
Labels: size/small, ok-to-test

#10161 genpolicy: ignore Role resource
  src/tools/genpolicy/src/yaml.rs
Labels: size/tiny, ok-to-test

#10170 kata-deploy: fix kata-deploy reset
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Labels: size/tiny, ok-to-test

#10178 Revert "version: bump trustee version"
  versions.yaml
Labels: size/tiny, ok-to-test

#10174 tools: install luks-encrypt-storage script by guest-components
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/scripts/init_trusted_storage.sh
  tools/packaging/static-build/coco-guest-components/build-static-coco-guest-components.sh
Labels: size/large, ok-to-test

#10175 runtime: Add specific error message for gRPC request timeouts
  src/runtime/virtcontainers/kata_agent.go
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Labels: size/large, ok-to-test

#10136 genpolicy: add bind mounts for image volumes
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/src/cronjob.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/mount_and_storage.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/registry_containerd.rs
  src/tools/genpolicy/src/replica_set.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/settings.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
  tests/integration/kubernetes/k8s-policy-deployment.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-deployment.yaml
Labels: size/large, ok-to-test

#10159 agent: Handle EINVAL error when umounting container rootfs
  src/agent/rustjail/src/container.rs
Labels: size/tiny, ok-to-test

#10179 ci: k8s: Replace nginx alpine images
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-rc.yaml
  tests/integration/kubernetes/runtimeclass_workloads/lifecycle-events.yaml
  tests/integration/kubernetes/runtimeclass_workloads/nginx-deployment.yaml
  tests/integration/kubernetes/runtimeclass_workloads/replication-controller.yaml
Labels: size/tiny, ok-to-test

#10151 runtime: Files are not synced between host and guest VMs
  src/runtime/virtcontainers/fs_share_linux.go
Labels: size/small, ok-to-test

#10181 ci: stdio: Fix typo on getting the containerd version
  .github/workflows/basic-ci-amd64.yaml
  tests/integration/stdio/gha-run.sh
Labels: size/tiny, ok-to-test

#10183 kata-deploy: Stop symlinking into /usr/local/bin
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Labels: size/large, ok-to-test

#10188 tests/k8s: check and save kbs.key
  tests/integration/kubernetes/confidential_kbs.sh
Labels: area/testing, size/small, ok-to-test

#10180 ci: Ensure the KBS resources are created
  tests/integration/kubernetes/confidential_kbs.sh
Labels: size/tiny, ok-to-test

#10177 gha: Add k8s stability Kata CoCo GHA workflow
  .github/workflows/ci-coco-stability.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  tests/stability/gha-stability-run.sh
Labels: area/confidential-containers, size/large, ok-to-test

#10191 ci: Let's temporarily revert the helm charts usage in our CI
  tests/common.bash
  tests/integration/kubernetes/gha-run.sh
  versions.yaml
Labels: size/large, ok-to-test

#10197 release: Bump VERSION to 3.8.0
  VERSION
Labels: force-skip-ci, area/release, size/tiny

#9911 genpolicy: deny UpdateEphemeralMountsRequest
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
  tests/integration/kubernetes/tests_common.sh
Labels: size/small, ok-to-test

#10198 metrics: Remove unused variable in openvino script
  tests/metrics/machine_learning/openvino.sh
Labels: area/metrics, size/tiny, ok-to-test

#10194 kata-deploy: Rework the logic a little bit
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Labels: size/medium, ok-to-test

#10196 ci: commit-message-check: Take re-revert into consideration
  .github/workflows/commit-message-check.yaml
Labels: ok-to-test

#10141 agent: kill child process when console socket closed
  src/agent/src/console.rs
Labels: size/tiny, ok-to-test

#10207 Revert "tests: add image check before running coco tests"
  tests/integration/kubernetes/gha-run.sh
Labels: size/small, ok-to-test

#10202 tests: Fix k8s test issues on s390x
  tests/integration/kubernetes/k8s-guest-pull-image.bats
  tests/integration/kubernetes/lib.sh
Labels: size/tiny, ok-to-test

#10199 agent/config: Make CDH_API_TIMEOUT configurable
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/agent/README.md
  src/agent/src/cdh.rs
  src/agent/src/config.rs
  src/runtime-rs/config/configuration-rs-fc.toml.in
  src/runtime/config/configuration-acrn.toml.in
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
Labels: size/large, ok-to-test

#10209 kata-manager: Avoid docker rate-limit
  utils/kata-manager.sh
Labels: size/tiny, ok-to-test

#10205 Upgrade to Cloud Hypervisor v41.0
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/LandlockConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_landlock_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
  versions.yaml
Labels: size/huge, ok-to-test

#10201 metrics: Add OpenVINO general information into README
  tests/metrics/machine_learning/README.md
Labels: area/metrics, size/small, ok-to-test

#10193 stability: Add kubernetes parallel test
  tests/stability/kubernetes_soak_test.sh
  tests/stability/runtimeclass_workloads/pod-deployment.yaml
Labels: area/confidential-containers, size/medium, ok-to-test

#10212 runtime: Allow machine_type in kata config for remote hypervisors
  src/runtime/pkg/katautils/config.go
Labels: size/tiny, ok-to-test

#10210 runtime: check if cold_plug_vfio is enabled before create PhysicalEndpoint
  src/runtime/virtcontainers/network_linux.go
Labels: size/tiny, ok-to-test

#10037 ci: reinstate Mariner host and guest kernel
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/setup.sh
  tests/integration/kubernetes/tests_common.sh
Labels: size/tiny, ok-to-test

#10214 gha: Add GHA workflow to run Kata CoCo stability tests
  .github/workflows/ci-coco-stability.yaml
  .github/workflows/ci-weekly.yaml
Labels: size/medium, ok-to-test

#10221 docs: Add oneDNN benchmark information to metrics README
  tests/metrics/machine_learning/README.md
Labels: size/small, ok-to-test

#10160 genpolicy: add priorityClassName as a field in PodSpec interface
  src/tools/genpolicy/src/pod.rs
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-pod.yaml
  tests/integration/kubernetes/runtimeclass_workloads/k8s-priority-class.yaml
  tests/integration/kubernetes/setup.sh
Labels: size/small, ok-to-test

#10224 agent: image-rs: check xattrs for image unpacking
  src/agent/Cargo.toml
Labels: size/tiny, ok-to-test

#10228 metrics: Remove unused variable in oneDNN benchmark
  tests/metrics/machine_learning/onednn.sh
Labels: size/tiny, ok-to-test

#10222 agent: avoid policy.txt log without debug enabled
  src/agent/src/policy.rs
Labels: size/tiny, ok-to-test

#10038 ci: Transition GARM tests to free runners, pt. III
  .github/workflows/PR-wip-checks.yaml
  .github/workflows/add-issues-to-project.yaml
  .github/workflows/add-pr-sizing-label.yaml
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/cargo-deny-runner.yaml
  .github/workflows/ci.yaml
  .github/workflows/cleanup-resources.yaml
  .github/workflows/commit-message-check.yaml
  .github/workflows/kata-runtime-classes-sync.yaml
  .github/workflows/move-issues-to-in-progress.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/publish-kata-deploy-payload-amd64.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
  .github/workflows/run-kata-monitor-tests.yaml
  .github/workflows/run-runk-tests.yaml
  .github/workflows/stale.yaml
  .github/workflows/static-checks.yaml
Labels: force-skip-ci, size/medium
