Repository kata-containers/kata-containers, pull requests merged in 2024-03, with the labels that each got.

#9164 csi-kata-directvolume: add Dockerfile for building csi image
  src/tools/csi-kata-directvolume/Dockerfile
Labels: no-backport-needed, size/small, ok-to-test

#9179 tests: k8s: Adapt k8s-sandbox-vcpus-allocation.bats to kubernetes v1.29
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
Labels: size/tiny, ok-to-test

#9169 ci.ocp: Backport service-up detection fixes
  ci/openshift-ci/run_smoke_test.sh
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test

#9200 gha: increase timeout of KBS steps
  .github/workflows/run-k8s-tests-on-aks.yaml
Labels: no-backport-needed, no-forward-port-needed, area/ci, size/tiny, ok-to-test

#9199 gha: Enable cri-containerd tests for cloud hypervisor runtime-rs
  tests/integration/cri-containerd/gha-run.sh
Labels: no-backport-needed, no-forward-port-needed, size/tiny, ok-to-test

#9201 katautils: fix panic on tracing.
  src/runtime/pkg/katautils/katatrace/tracing.go
Labels: no-backport-needed, area/runtime, size/tiny, ok-to-test

#9126 gha: Storing artifacts for logs of k8s tests garm
  .github/workflows/run-k8s-tests-on-garm.yaml
  tests/integration/kubernetes/gha-run.sh
Labels: no-backport-needed, no-forward-port-needed, size/medium, ok-to-test

#9210 docs: Add general README for tests section
  README.md
  tests/README.md
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test

#9065 CI: Install KBS on k8s for attestation tests
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/gha-run.sh
  versions.yaml
Labels: no-backport-needed, no-forward-port-needed, size/large, ok-to-test

#9184 tests/kata-deploy: fix checker for kata-deploy running
  tests/functional/kata-deploy/kata-deploy.bats
  tests/integration/kubernetes/gha-run.sh
Labels: no-backport-needed, no-forward-port-needed, area/testing, size/tiny, ok-to-test

#9193 clh: Enable DAX for rootfs
  src/runtime/virtcontainers/clh.go
Labels: size/tiny, ok-to-test

#9206 CI: fix the issue of ci failure on crio
  tests/common.bash
Labels: no-backport-needed, no-forward-port-needed, ok-to-test

#9155 gpu: fix build guest kernel with gpu
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/gpu/nvidia.x86_64.conf.in
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/5.16.x/no_patches.txt
Labels: no-backport-needed, size/small, ok-to-test, area/gpu

#9059 kata-manager: Allow hypervisor to be changed
  docs/hypervisors.md
  utils/README.md
  utils/kata-manager.sh
Labels: safe-to-test, size/huge, ok-to-test

#9217 gha: export start_time to collect artifacts properly
  tests/integration/kubernetes/gha-run.sh
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test

#9223 tests: Add k3s artifacts
  tests/integration/kubernetes/gha-run.sh
Labels: safe-to-test, size/small, ok-to-test

#9174 versions: SNP qemu updated to stable coco tagged version
  tools/packaging/qemu/patches/tag_patches/amd-snp-202402240000/no_patches.txt
  versions.yaml
Labels: size/tiny, ok-to-test

#9219 docs: Remove stale kernel information at README documentation
  tools/packaging/kernel/README.md
Labels: no-backport-needed, no-forward-port-needed, size/tiny, ok-to-test

#9243 genpolicy: disable env variable verification
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/registry.rs
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test

#9191 kata-ctl: Support using container short ID to enter guest.
  src/libs/Cargo.lock
  src/libs/shim-interface/Cargo.toml
  src/libs/shim-interface/src/lib.rs
  src/runtime-rs/Cargo.lock
Labels: no-backport-needed, size/large, kata-ctl, ok-to-test

#9128 tests: k8s: auto-generated policy
  tests/integration/kubernetes/k8s-parallel.bats
  tests/integration/kubernetes/k8s-qos-pods.bats
  tests/integration/kubernetes/k8s-replication.bats
  tests/integration/kubernetes/k8s-scale-nginx.bats
  tests/integration/kubernetes/k8s-shared-volume.bats
Labels: no-backport-needed, no-forward-port-needed, size/large, ok-to-test

#9242 gha: Add collect artifacts step to nerdctl workflow
  .github/workflows/basic-ci-amd64.yaml
  tests/integration/nerdctl/gha-run.sh
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test

#9224 genpolicy: add restartPolicy to container struct
  src/tools/genpolicy/src/pod.rs
Labels: no-backport-needed, no-forward-port-needed, size/tiny, ok-to-test

#8798 add setpolicy function to kata-runtime tool
  docs/design/architecture/README.md
  src/runtime/cmd/kata-runtime/kata-policy.go
  src/runtime/cmd/kata-runtime/main.go
  src/runtime/pkg/containerd-shim-v2/shim_management.go
  src/runtime/pkg/containerd-shim-v2/stream.go
  src/runtime/virtcontainers/interfaces.go
  src/runtime/virtcontainers/pkg/vcmock/sandbox.go
  src/runtime/virtcontainers/sandbox.go
Labels: size/large, ok-to-test

#9208 Dragonball: fix unit test problems when switching to new virt github machine
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/signal_handler.rs
Labels: runtime-rs, size/small, ok-to-test

#9203 release: Ensure the release-type is passed to workflows
  .github/workflows/payload-after-push.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/release.yaml
  tools/packaging/release/release.sh
Labels: size/medium, ok-to-test

#9154 fixed - Change the deprecated module from 'io/util' to util. 'io/util…
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api_default.go
Labels: no-backport-needed, size/large, ok-to-test

#9231 clh: initialize clh pid before using it
  src/runtime/virtcontainers/clh.go
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test

#9236 docs: install: Simplify instructions
  docs/Developer-Guide.md
  docs/install/README.md
  tests/cmd/check-spelling/kata-spell-check.sh
Labels: safe-to-test, size/small, ok-to-test

#8866 runtime-rs: add netdev params to cmdline for qemu-rs.
  src/libs/Cargo.lock
  src/libs/kata-sys-util/Cargo.toml
  src/libs/kata-sys-util/src/lib.rs
  src/libs/kata-sys-util/src/netns.rs
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_net.rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/network.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/network/dan.rs
  src/runtime-rs/crates/resource/src/network/mod.rs
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
  src/runtime-rs/crates/resource/src/network/utils/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/manager.rs
Labels: no-backport-needed, runtime-rs, size/huge, ok-to-test

#9263 gha: ensure that the self hosted runner is in desired state before running the workflow
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/publish-kata-deploy-payload-ppc64le.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/run-cri-containerd-tests-ppc64le.yaml
  .github/workflows/run-k8s-tests-on-ppc64le.yaml
Labels: size/small, ok-to-test

#9248 tests: k8s: k8s-exec.bats auto-generated policy
  tests/integration/kubernetes/k8s-exec.bats
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test

#9250 tests: k8s: k8s-pid-ns.bats auto-generated policy
  tests/integration/kubernetes/k8s-pid-ns.bats
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test

#9246 genpolicy: default env if image doesn't have env
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/containerd.rs
  src/tools/genpolicy/src/registry.rs
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test

#9278 tests: fix nounset error with $GITHUB_ENV
  tests/integration/kubernetes/gha-run.sh
  tests/integration/nerdctl/gha-run.sh
Labels: no-backport-needed, no-forward-port-needed, area/ci, size/tiny, ok-to-test

#9282 runtime-rs: Consolidate the handling of fds passed to QEMU
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Labels: no-backport-needed, size/small, ok-to-test

#9289 releases: Simply the release in order to avoid pushing a commit updating the VERSION file
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-major.yaml
  .github/workflows/release-minor.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/release.yaml
  VERSION
  docs/Release-Process.md
  tools/packaging/kata-deploy/action/test-kata.sh
  tools/packaging/release/Makefile
  tools/packaging/release/README.md
  tools/packaging/release/release.sh
Labels: size/large, ok-to-test

#9270 kata-agent: optional bind flag
  src/agent/rustjail/src/mount.rs
Labels: size/small, ok-to-test

#9295 runtime-rs: ch: Provide valid default value for NetConfig
  src/runtime-rs/crates/hypervisor/ch-config/src/lib.rs
Labels: size/tiny, ok-to-test

#9302 gha: Place pre-action on s390x runner for kata-deploy during release
  .github/workflows/release-s390x.yaml
Labels: no-backport-needed, size/tiny, ok-to-test

#9293 kata-manager: Fix Docker install
  utils/kata-manager.sh
Labels: safe-to-test, size/tiny, ok-to-test

#9229 ocp.ci: Various fixes and improvements to the OCP pipeline
  ci/openshift-ci/cleanup.sh
  ci/openshift-ci/cluster/deployments/relabel_selinux.yaml
  ci/openshift-ci/cluster/deployments/workaround-9206-crio-ds.yaml
  ci/openshift-ci/cluster/deployments/workaround-9206-crio.yaml
  ci/openshift-ci/cluster/install_kata.sh
Labels: no-backport-needed, size/large, ok-to-test

#9299 ci: aks: also run tests in normal instance for Mariner
  .github/workflows/run-k8s-tests-on-aks.yaml
Labels: size/tiny, ok-to-test

#9305 CI|k8s: Handle skipped tests with a comment for filter_out_per_arch
  tests/integration/kubernetes/filter_k8s_test.sh
Labels: no-backport-needed, size/small, ok-to-test

#8484 Merge basic guest pull image code to main
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/Makefile
  src/agent/README.md
  src/agent/src/config.rs
  src/agent/src/image.rs
  src/agent/src/main.rs
  src/agent/src/rpc.rs
  src/agent/src/storage/image_pull_handler.rs
  src/agent/src/storage/mod.rs
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/kata_agent.go
  tests/functional/kata-deploy/kata-deploy.bats
  tests/integration/kubernetes/confidential_common.sh
  tests/integration/kubernetes/filter_out_per_arch/aarch64.yaml
  tests/integration/kubernetes/filter_out_per_arch/ppc64le.yaml
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-confidential.bats
  tests/integration/kubernetes/k8s-guest-pull-image.bats
  tests/integration/kubernetes/lib.sh
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/setup.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/rootfs_lib.sh
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
  tools/packaging/static-build/agent/Dockerfile
  tools/packaging/static-build/agent/build-static-agent.sh
  tools/packaging/static-build/agent/build.sh
Labels: no-backport-needed, size/huge, ok-to-test, merge-to-main

#9316 release: Skip --generate-notes for this release
  tools/packaging/release/release.sh
Labels: size/tiny

#9307 docs: Update links in the Documentation Requirements document
  docs/Documentation-Requirements.md
Labels: no-backport-needed, no-forward-port-needed, size/tiny, ok-to-test

#9309 gha: Update journal log names for kubernetes artifacts
  tests/integration/kubernetes/gha-run.sh
Labels: no-backport-needed, no-forward-port-needed, size/tiny, ok-to-test

#9265 gha: Fix nydus namespace clean up
  tests/integration/kubernetes/gha-run.sh
Labels: no-backport-needed, no-forward-port-needed, size/tiny, ok-to-test

#9311 Dragonballl: introduce MTRR regs support
  src/dragonball/src/dbs_arch/src/x86_64/regs.rs
Labels: no-backport-needed, no-forward-port-needed, runtime-rs, size/small, ok-to-test

#9259 tests: static checker: Add announce message
  tests/static-checks.sh
Labels: size/medium, ok-to-test

#9312 agent: Add guest-pull to the list of agent features in announce()
  src/agent/src/features.rs
Labels: area/agent, size/tiny, ok-to-test

#9321 Revert "release: Skip --generate-notes for this release"
  tools/packaging/release/release.sh
Labels: size/tiny, ok-to-test

#9255 runtime-rs: ch: Implement full thread/tid/pid handling
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Labels: no-backport-needed, no-forward-port-needed, size/large, ok-to-test

#9337 versions: Update nydus-snapshotter to v0.13.11
  versions.yaml
Labels: size/tiny, ok-to-test

#9280 runtime-rs: Enable qemu on s390x
  src/libs/kata-types/Cargo.toml
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/Cargo.lock
  src/runtime-rs/Makefile
  src/runtime-rs/arch/s390x-options.mk
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_blk.rs
  src/runtime-rs/crates/hypervisor/src/kernel_param.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Labels: no-backport-needed, runtime-rs, size/large, ok-to-test

#9313 agent: Refactor unit tests to leverage rstest for parameterization
  src/agent/src/namespace.rs
  src/agent/src/util.rs
Labels: area/agent, size/large, ok-to-test

#9244 runtime-rs/dragonball: add support building kernel with upcall and GPU hotplug
  docs/use-cases/NVIDIA-GPU-passthrough-and-Kata.md
  src/dragonball/src/dbs_arch/src/x86_64/regs.rs
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/kata_config_version
Labels: no-backport-needed, no-forward-port-needed, size/small, kernel, ok-to-test

#9325 agent:image: Refactor code to improve memory efficiency of image service
  src/agent/Cargo.lock
  src/agent/src/image.rs
  src/agent/src/rpc.rs
  src/agent/src/storage/image_pull_handler.rs
Labels: size/large, ok-to-test

#9329 scripts: Fix unbound variables in k8s setup script
  tests/integration/kubernetes/setup.sh
Labels: no-backport-needed, no-forward-port-needed, ok-to-test

#9356 workflows: Build agent-opa for more archs
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Labels: force-skip-ci, ok-to-test

#9346 Remove additional links to tests directory
  docs/code-pr-advice.md
  src/runtime/Makefile
  src/runtime/pkg/katautils/katatrace/tracing.go
  tools/osbuilder/dockerfiles/QAT/run.sh
  tools/packaging/scripts/lib.sh
Labels: size/small, ok-to-test

#9341 docs: Add documents for kata guest image management
  docs/design/arch-images/guest-image-management-architecture.png
  docs/design/arch-images/guest-image-management-details.png
  docs/design/kata-guest-image-management-design.md
  docs/how-to/README.md
  docs/how-to/how-to-pull-images-in-guest-with-kata.md
Labels: force-skip-ci, size/large, ok-to-test

#9332 Support to set timeout to pull large image in guest
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/runtime/Makefile
  src/runtime/config/configuration-acrn.toml.in
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-sev.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-remote.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/sandbox.go
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Labels: size/large, ok-to-test, merge-to-main

#9349 k8s: confidential: Update cpuid to its latest release
  tests/integration/kubernetes/runtimeclass_workloads/confidential/unencrypted/Dockerfile
Labels: size/tiny, ok-to-test

#8046 runtime: remove unimplemented CoCo configurations
  docs/how-to/how-to-run-kata-containers-with-SE-VMs.md
  src/runtime-rs/config/configuration-qemu.toml.in
  src/runtime/Makefile
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-sev.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-remote.toml.in
  src/runtime/pkg/katautils/config.go
  tools/packaging/static-build/shim-v2/build.sh
Labels: size/large, ok-to-test

#9347 genpolicy: reduce policy debug prints
  src/tools/genpolicy/rules.rego
Labels: no-backport-needed, no-forward-port-needed, size/medium, ok-to-test

#9367 runtime: remove stream copy infinite loop
  src/runtime/pkg/containerd-shim-v2/stream.go
Labels: no-backport-needed, no-forward-port-needed, size/small, ok-to-test
