Repository kata-containers/kata-containers, pull requests merged in 2024-07, with the labels that each got.

#9936 CI: Use multi-arch image for alpine-bash-curl
  tests/integration/kubernetes/runtimeclass_workloads/pod-attestable.yaml
Labels: size/tiny, ok-to-test

#9932 CI: Eliminate dependency on tests repo
  .github/cargo-deny-composite-action/cargo-deny-generator.sh
  .github/workflows/docs-url-alive-check.yaml
  ci/docs-url-alive-check.sh
  ci/install_go.sh
  ci/install_rust.sh
  ci/install_vc.sh
  ci/lib.sh
  ci/run.sh
  ci/setup.sh
  ci/static-checks.sh
  tests/common.bash
  tests/functional/vfio-ap/run.sh
  tests/integration/kubernetes/confidential_kbs.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/packaging/guest-image/build_se_image.sh
Labels: size/large, ok-to-test

#9930 Upgrade to Cloud Hypervisor v40.0
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/CpusConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/RngConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_cpus_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_rng_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
  versions.yaml
Labels: size/small, ok-to-test

#9949 tests: Update help section in openvino test
  tests/metrics/machine_learning/openvino.sh
Labels: force-skip-ci, size/tiny

#9914 kata-deploy: fix qemu static build on ppc64le
  src/runtime/virtcontainers/qemu_ppc64le.go
  tools/packaging/static-build/qemu/Dockerfile
Labels: size/tiny, ok-to-test

#9941 ci: Temporarily disable kata-deploy and GARM tests
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-kata-deploy-tests-on-garm.yaml
  .github/workflows/run-kata-monitor-tests.yaml
  .github/workflows/run-runk-tests.yaml
  .github/workflows/static-checks.yaml
Labels: force-skip-ci, size/small

#9577 genpolicy: add topologySpreadConstraints support
  src/tools/genpolicy/src/pod.rs
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-pod.yaml
Labels: size/small, ok-to-test

#9909 ci: Add scheduled job to cleanup resources, pt. II
  .github/workflows/cleanup-resources.yaml
  tests/cleanup_resources.py
Labels: force-skip-ci, size/medium

#9825 osbuilder: allow rootfs builds w/o git or version file deps
  src/agent/Makefile
  src/runtime-rs/Makefile
  src/tools/kata-ctl/Makefile
  src/tools/log-parser/Makefile
  tools/osbuilder/Makefile
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/scripts/lib.sh
Labels: size/small, ok-to-test

#9952 docs: Remove jenkins reference from unit testing presentation
  docs/presentations/unit-testing/kata-containers-unit-testing.md
Labels: force-skip-ci, size/tiny

#9954 metrics: Remove variable in sysbench that is not being used
  tests/metrics/density/k8s-sysbench.sh
Labels: force-skip-ci, size/tiny

#9907 genpolicy: allow some empty env vars
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/samples/pod-one-container.yaml
Labels: size/tiny, ok-to-test

#9943 tests: Fixes TEE timeout issue
  tests/integration/kubernetes/gha-run.sh
Labels: size/tiny, ok-to-test

#9960 ci: Transition GARM tests to free runners, pt. I
  .github/workflows/basic-ci-amd64.yaml
  tests/integration/docker/gha-run.sh
  tests/stability/gha-run.sh
Labels: force-skip-ci, size/small

#9695 Fix issues on CI about guest-pull
  src/agent/src/image.rs
  src/agent/src/rpc.rs
  src/agent/src/storage/image_pull_handler.rs
  tests/integration/kubernetes/k8s-file-volume.bats
  tests/integration/kubernetes/k8s-kill-all-process-in-container.bats
  tests/integration/kubernetes/k8s-liveness-probes.bats
  tests/integration/kubernetes/k8s-shared-volume.bats
  tests/integration/kubernetes/k8s-sysctls.bats
Labels: size/large, ok-to-test

#9971 gha: Fix pip installation for nerdctl GHA
  tests/integration/nerdctl/gha-run.sh
Labels: size/tiny, ok-to-test

#9828 Image rs bump to latest main
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  tests/integration/kubernetes/k8s-liveness-probes.bats
Labels: size/huge, ok-to-test

#9966 tests: Use variable already defined in metrics common script for stability tests
  tests/stability/agent_stability_test.sh
  tests/stability/scability_test.sh
  tests/stability/soak_parallel_rm.sh
  tests/stability/stressng.sh
Labels: size/small, ok-to-test

#9719 Support Confidential Sealed Secrets (as env vars)
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/src/cdh.rs
  src/agent/src/main.rs
  src/agent/src/rpc.rs
  src/libs/protocols/build.rs
  src/libs/protocols/protos/sealed_secret.proto
  src/libs/protocols/src/lib.rs
  tests/integration/kubernetes/k8s-sealed-secret.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/pod-sealed-secret.yaml
Labels: size/large, ok-to-test

#9969 Test https://github.com/kata-containers/kata-containers/pull/9637 (take 2)
  ci/openshift-ci/run_smoke_test.sh
Labels: size/tiny, ok-to-test

#9859 tests: Extend vfio-ap hotplug test to use a zcrypttest tool
  src/agent/src/device.rs
  src/agent/src/linux_abi.rs
  tests/functional/vfio-ap/Dockerfile
  tests/functional/vfio-ap/container-config.json.in
  tests/functional/vfio-ap/run.sh
  tests/functional/vfio-ap/sandbox-config.json
Labels: size/large, ok-to-test

#9976 tests: cri-containerd: Ensure Docker isn't present
  tests/integration/cri-containerd/gha-run.sh
Labels: size/tiny, ok-to-test

#9973 Add memory and vcpus info to metrics results
  tests/common.bash
  tests/metrics/lib/common.bash
  tests/metrics/lib/json.bash
Labels: area/metrics, size/medium, ok-to-test

#9987 metrics: Remove duplicate check of processes from memory test.
  tests/metrics/density/memory_usage.sh
Labels: area/metrics, size/small, ok-to-test

#9985 cri-containerd: Remove use_devmapper variable for cri-containerd tests
  tests/integration/cri-containerd/integration-tests.sh
Labels: size/tiny, ok-to-test

#9981 gha: make run-k8s-tests-on-zvsi inherit secrets
  .github/workflows/ci.yaml
Labels: force-skip-ci, size/tiny, ok-to-test

#9806 runtime: pass certificates to get extended attestation report for SNP coco
  .github/workflows/run-kata-coco-tests.yaml
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu_amd64.go
  tests/integration/kubernetes/k8s-confidential-attestation.bats
Labels: size/medium, ok-to-test

#9962 scripts: Eliminate CI variable as it is not longer used
  docs/use-cases/using-Intel-QAT-and-kata.md
  tests/functional/tracing/test-agent-shutdown.sh
  tests/functional/tracing/tracing-test.sh
  tools/osbuilder/dockerfiles/QAT/run.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/tests/test_config.sh
  tools/osbuilder/tests/test_images.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/kata_config_version
Labels: size/large, ok-to-test

#9868 runtime: implement DAN in Go kata-runtime
  src/runtime/Makefile
  src/runtime/config/configuration-acrn.toml.in
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-sev.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-remote.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/network.go
  src/runtime/virtcontainers/network_linux.go
  src/runtime/virtcontainers/network_linux_test.go
  src/runtime/virtcontainers/testdata/dan-config.json
  src/runtime/virtcontainers/types/dan.go
Labels: size/large, ok-to-test

#9990 gha: Increase timeout to run CoCo TDX tests
  .github/workflows/run-kata-coco-tests.yaml
Labels: size/tiny, ok-to-test

#9992 ci: fix run-nydus tests
  tests/common.bash
  tests/metrics/lib/json.bash
Labels: size/medium, ok-to-test

#9975 gha: enable SNP attestation
  docs/how-to/how-to-run-kata-containers-with-SNP-VMs.md
  tests/cmd/check-spelling/data/projects.txt
  tests/cmd/check-spelling/kata-dictionary.dic
  tests/integration/kubernetes/k8s-confidential-attestation.bats
Labels: size/small, ok-to-test

#9922 metrics: Update container name in blogbench test
  tests/metrics/storage/blogbench.sh
Labels: size/tiny, ok-to-test

#10003 k8s: Skip shared-volume relevant tests for IBM SE
  tests/integration/kubernetes/k8s-empty-dirs.bats
  tests/integration/kubernetes/k8s-shared-volume.bats
Labels: size/tiny, ok-to-test

#9951 tests: Enable attestation e2e tests for IBM SE
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tools/packaging/guest-image/build_se_image.sh
  tools/packaging/guest-image/lib_se.sh
  tools/packaging/static-build/coco-guest-components/build.sh
  versions.yaml
Labels: size/large, ok-to-test

#10005 common: Add share fs information for dragonball
  tests/common.bash
Labels: size/tiny, ok-to-test

#9534 Fix ctr exec stuck problem
  .github/workflows/basic-ci-amd64.yaml
  src/agent/rustjail/src/process.rs
  src/agent/src/rpc.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/container_io.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/process.rs
  tests/integration/stdio/gha-run.sh
  tests/integration/stdio/stdio-tests.sh
Labels: size/large, ok-to-test

#10000 kata-deploy: add storage configuration for cri-o
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Labels: ok-to-test

#9382 Merge to main: supporting pull encrypted images
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/Makefile
  src/agent/src/main.rs
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
  tests/integration/kubernetes/k8s-measured-rootfs.bats
  tests/integration/kubernetes/lib.sh
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tools/packaging/static-build/agent/Dockerfile
Labels: size/huge, ok-to-test

#9998 tests: k8s: GENPOLICY_PULL_METHOD clean-up
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/tests_common.sh
Labels: size/small, ok-to-test

#10008 genpolicy: add support for runAsUser fields
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/containerd.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/yaml.rs
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/k8s-security-context.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-pod.yaml
Labels: size/medium, ok-to-test

#10013 docs: Update cri installion guide url in containerd documentation
  docs/how-to/containerd-kata.md
Labels: force-skip-ci, size/tiny

#10016 workflows: setup environment to run auth registry tests on s390x
  .github/workflows/run-k8s-tests-on-zvsi.yaml
Labels: force-skip-ci, area/ci, size/tiny

#9904 Support for registry authentication in guest pull
  src/agent/README.md
  src/agent/src/config.rs
  src/agent/src/image.rs
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
  tests/integration/kubernetes/k8s-liveness-probes.bats
  tests/integration/kubernetes/k8s-sealed-secret.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Labels: size/large, ok-to-test

#9722 deploy: Add busybox target
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/busybox/Dockerfile
  tools/packaging/static-build/busybox/build-static-busybox.sh
  tools/packaging/static-build/busybox/build.sh
  tools/packaging/static-build/busybox/busybox.nvidia.conf
  versions.yaml
Labels: size/huge, ok-to-test

#10020 tests: fix ps command in k8s-security-context
  tests/integration/kubernetes/k8s-security-context.bats
  tests/integration/kubernetes/runtimeclass_workloads/pod-security-context.yaml
Labels: size/tiny, ok-to-test

#9812 gha: enable policy testing on TDX
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-policy-pvc.bats
  tests/integration/kubernetes/tests_common.sh
Labels: size/small, ok-to-test

#10026 release: Bump VERSION to 3.7.0
  VERSION
Labels: force-skip-ci, area/release, size/tiny

#10021 docs: Update devmapper docs
  docs/design/architecture/storage.md
Labels: force-skip-ci, size/tiny

#10032 tests: Rebuild secure boot image for guest-pull-image-authenticated for IBM SE
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
Labels: size/tiny, ok-to-test

#10028 metric: Upgrade blogbench to 1.2
  tests/metrics/storage/blogbench_dockerfile/Dockerfile
Labels: size/tiny, ok-to-test

#9959 ci: cleanup: Ignore nonexisting resources
  .github/workflows/cleanup-resources.yaml
  tests/cleanup_resources.py
Labels: force-skip-ci, size/small

#10022 genpolicy: container.exec_commands args validation
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-pod.yaml
  tests/integration/kubernetes/tests_common.sh
Labels: size/medium, ok-to-test

#10034 tests: Call repack_secure_image() in set_metadata_annotation()
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
  tests/integration/kubernetes/lib.sh
Labels: size/small, ok-to-test

#8597 Implement hotplug support for physical endpoints
  src/runtime/pkg/device/api/interface.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/device/manager/manager.go
  src/runtime/virtcontainers/endpoint.go
  src/runtime/virtcontainers/ipvlan_endpoint.go
  src/runtime/virtcontainers/macvlan_endpoint.go
  src/runtime/virtcontainers/macvtap_endpoint.go
  src/runtime/virtcontainers/network_linux.go
  src/runtime/virtcontainers/physical_endpoint.go
  src/runtime/virtcontainers/physical_endpoint_test.go
  src/runtime/virtcontainers/tap_endpoint.go
  src/runtime/virtcontainers/tuntap_endpoint.go
  src/runtime/virtcontainers/veth_endpoint.go
  src/runtime/virtcontainers/vhostuser_endpoint.go
  src/runtime/virtcontainers/vhostuser_endpoint_test.go
Labels: size/large, ok-to-test

#10045 runtime-rs: container: fix the issue of missing cleanup container
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/manager.rs
Labels: size/small, ok-to-test

#9835 gha: enable autogenerated policy testing on SEV and SEV-SNP
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-policy-pvc.bats
  tests/integration/kubernetes/tests_common.sh
Labels: size/small, ok-to-test

#10040 metrics: update avg reference values for blogbench.
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric8.toml
Labels: area/ci, area/metrics, size/tiny, ok-to-test

#10035 tests: k8s-credentials-secrets: policy for second pod
  tests/integration/kubernetes/k8s-credentials-secrets.bats
Labels: size/small, ok-to-test

#9620 Add kernel config for NVIDIA DPU/ConnectX adapter
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/dpu/nvidia.conf
  tools/packaging/kernel/kata_config_version
Labels: area/arm, size/small, ok-to-test, area/dpu

#10031 tests: Fix missing log on TDX
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
  tests/integration/kubernetes/lib.sh
Labels: size/small, ok-to-test

#9968 dragonball: kernel gpu dragonball 6.1.x
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Labels: size/small, ok-to-test

#9920 gpu: rootfs/initrd build init
  tools/osbuilder/initrd-builder/initrd_builder.sh
Labels: size/tiny, ok-to-test

#9910 tools: Allow setting policy rego file via
  src/kata-opa/allow-all-except-exec-process.rego
  src/kata-opa/allow-all.rego
  src/kata-opa/allow-set-policy.rego
  tests/integration/kubernetes/setup.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
Labels: size/small, ok-to-test

#10053 ci: cache: Pass through RELEASE env
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Labels: size/tiny, ok-to-test

#10060 metrics: Update launch times to use grep -F
  tests/metrics/time/launch_times.sh
Labels: size/tiny, ok-to-test

#9919 gpu: rootfs ubuntu build expansion
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
Labels: size/medium, ok-to-test

#10063 gha: Increase timeout to run CoCo tests
  .github/workflows/run-kata-coco-tests.yaml
Labels: size/tiny, ok-to-test

#10054 docs: Update url links in kata nydus document
  docs/design/kata-nydus-design.md
Labels: force-skip-ci, size/tiny

#9576 genpolicy: Add support for envFrom
  src/tools/genpolicy/src/config_map.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/secret.rs
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-configmap.yaml
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-pod.yaml
Labels: size/large, ok-to-test

#10051 tests: k8s: reuse policy exec variable
  tests/integration/kubernetes/k8s-attach-handlers.bats
  tests/integration/kubernetes/k8s-caps.bats
  tests/integration/kubernetes/k8s-configmap.bats
  tests/integration/kubernetes/k8s-copy-file.bats
  tests/integration/kubernetes/k8s-cpu-ns.bats
  tests/integration/kubernetes/k8s-credentials-secrets.bats
  tests/integration/kubernetes/k8s-custom-dns.bats
  tests/integration/kubernetes/k8s-env.bats
  tests/integration/kubernetes/k8s-file-volume.bats
  tests/integration/kubernetes/k8s-number-cpus.bats
  tests/integration/kubernetes/k8s-optional-empty-configmap.bats
  tests/integration/kubernetes/k8s-security-context.bats
  tests/integration/kubernetes/k8s-shared-volume.bats
  tests/integration/kubernetes/tests_common.sh
Labels: size/large, ok-to-test

#10058 runtime-rs: enhance debug info for agent connect.
  src/runtime-rs/crates/agent/src/kata/mod.rs
  src/runtime-rs/crates/agent/src/sock/vsock.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Labels: size/small, ok-to-test

#9899 Fix issue while adding multiple networks with nerdctl
  src/agent/src/device.rs
  src/agent/src/linux_abi.rs
  src/agent/src/netlink.rs
  src/agent/src/rpc.rs
  tests/integration/nerdctl/gha-run.sh
Labels: size/large, ok-to-test

#9988 initdata: add initdata annotation in hypervisor config
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/remote.go
Labels: size/small, ok-to-test

#10078 tee: osbuilder: Set /run to use 50% of the image with systemd
  tools/osbuilder/rootfs-builder/rootfs.sh
Labels: size/small, ok-to-test

#10069 genpolicy: validate each exec command line arg
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/settings.rs
  tests/integration/kubernetes/k8s-exec.bats
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/tests_common.sh
Labels: size/medium, ok-to-test

#10083 tests: k8s: minor policy tests clean-up
  tests/integration/kubernetes/k8s-policy-hard-coded.bats
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-hard-coded.yaml
  tests/integration/kubernetes/tests_common.sh
Labels: size/small, ok-to-test

#10043 runtime-rs : fix the issue of stop sandbox
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Labels: size/small, ok-to-test

#10024 runtime-rs: enable dragonball hypervisor support initrd
  src/libs/kata-types/src/config/hypervisor/dragonball.rs
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Labels: size/medium, ok-to-test

#10052 runtime-rs: Fix QEMU backend for runtime-rs
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
Labels: size/small, ok-to-test

#10096 gha: Eradicate {pre,post}-action steps for s390x runners
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/run-cri-containerd-tests-s390x.yaml
  .github/workflows/run-k8s-tests-on-zvsi.yaml
Labels: size/small, ok-to-test

#10101 ci: Fix rate limit error by migrating busybox_image
  tests/integration/kubernetes/k8s-nginx-connectivity.bats
Labels: size/tiny, ok-to-test

#10104 gha: Restore cleanup-zvsi for s390x
  .github/workflows/run-k8s-tests-on-zvsi.yaml
Labels: size/tiny, ok-to-test

#10080 tests: add image check before running coco tests
  tests/integration/kubernetes/gha-run.sh
  versions.yaml
Labels: size/small, ok-to-test

#10070 GHA: Run k8s e2e tests for qemu-runtime-rs on s390x
  .github/workflows/run-k8s-tests-on-zvsi.yaml
Labels: size/small, ok-to-test
