Repository kata-containers/kata-containers, pull requests merged in 2025-08, with the labels that each got.

#11667 qemu: Respect the JSON schema for hot plug
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/pkg/govmm/qemu/qmp_test.go
  src/runtime/virtcontainers/qemu.go
Labels: ok-to-test

#11060 runtime: virtio-fs: Support "metadata" cache mode
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/virtiofsd.go
  src/runtime/virtcontainers/virtiofsd_test.go
Labels: size/medium, ok-to-test

#11669 ci: cri-containerd: add 5s timeout for creating sanbox with crictl
  tests/integration/cri-containerd/integration-tests.sh
Labels: ok-to-test

#11641 runtime-rs: Label system journal log with kata
  src/agent/Cargo.lock
  src/libs/logging/Cargo.toml
  src/libs/logging/src/lib.rs
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/shim/src/logger.rs
Labels: ok-to-test

#11525 runtime-rs: add seccomp support for qemu
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Labels: ok-to-test

#11658 gpu: AMD64 NVIDIA GPU CI/CD Part 2
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Labels: ok-to-test

#11683 ci: static-checks: Don't hardcode default repo branch
  tests/common.bash
Labels: ok-to-test

#11640 Feat | Implement initdata for bare-metal/qemu for s390x
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_arm64.go
  src/runtime/virtcontainers/qemu_ppc64le.go
  src/runtime/virtcontainers/qemu_s390x.go
  src/runtime/virtcontainers/qemu_s390x_test.go
  tests/integration/kubernetes/k8s-initdata.bats
Labels: ok-to-test

#11701 versions: sync go.mod with versions.yaml for go 1.23.12
  src/runtime/go.mod
  src/tools/csi-kata-directvolume/go.mod
  tools/testing/kata-webhook/go.mod
  versions.yaml
Labels: ok-to-test

#11705 kata-types: remove default setting of guest_hook_path
  src/libs/kata-types/src/config/hypervisor/mod.rs
Labels: ok-to-test

#11514 CI: Introduce CI for libs to Improve code quality and reduce noises
  .github/workflows/build-checks.yaml
  src/libs/kata-sys-util/src/k8s.rs
  src/libs/kata-sys-util/src/mount.rs
  src/libs/kata-sys-util/src/numa.rs
  src/libs/kata-sys-util/src/pcilibs/devices.rs
  src/libs/kata-sys-util/src/pcilibs/pci_manager.rs
  src/libs/kata-sys-util/src/protection.rs
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/agent.rs
  src/libs/kata-types/src/config/hypervisor/dragonball.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/src/config/mod.rs
  src/libs/kata-types/src/initdata.rs
  src/libs/kata-types/src/mount.rs
  src/libs/protocols/src/trans.rs
  src/libs/safe-path/src/pinned_path_buf.rs
  src/libs/shim-interface/src/lib.rs
  tools/testing/gatekeeper/required-tests.yaml
Labels: ok-to-test

#11647 Optimize sealed secret scanning to avoid full file reads
  src/agent/src/confidential_data_hub/mod.rs
Labels: ok-to-test

#11706 release: Bump version to 3.20.0
  VERSION
  tools/packaging/kata-deploy/helm-chart/kata-deploy/Chart.yaml
Labels: ok-to-test

#11696 runtime-rs Enable initdata IBM SEL
  src/libs/kata-types/src/initdata.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
  tests/integration/kubernetes/k8s-initdata.bats
Labels: ok-to-test

#11321 runtime-rs: Adjust VSOCK timeouts for IBM SEL
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
Labels: size/tiny, ok-to-test

#11699 runtime-rs: Support initdata within NonProtection scenarios
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Labels: ok-to-test

#11713 Revert "local-build: Enforce USE_CACHE=no"
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Labels: ok-to-test

#11715 runtime: qemu: Add reclaim_guest_freed_memory [BACKPORT]
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/govmm/qemu/qemu_arch_base_test.go
  src/runtime/pkg/govmm/qemu/qemu_s390x_test.go
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
Labels: ok-to-test

#11717 cgroups: Fix "." parent cgroup special case
  src/runtime/pkg/resourcecontrol/cgroups.go
  src/runtime/virtcontainers/sandbox.go
Labels: ok-to-test

#11689 runtime-rs: Empty block-rootfs Storage.options and align with Go runtime
  src/libs/kata-types/src/fs.rs
  src/libs/kata-types/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/kernel_param.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/resource/src/rootfs/block_rootfs.rs
Labels: ok-to-test
