Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

gpu: introduce devkit build flag
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/builder, @kata-containers/kata-deploy

policy: support UDP based Service types
  src/tools/genpolicy/genpolicy-settings.json
Owners: none

policy: Use mount path instead of volume name
  src/tools/genpolicy/src/mount_and_storage.rs
Owners: @kata-containers/rust

ci: enable security policy for openvpn test
  tests/integration/kubernetes/k8s-openvpn.bats
Owners: @kata-containers/tests

tests: nvidia: cc: Re-enable multi GPU test case
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

Add workflow to boot TDX VM using td_shim
  src/dragonball/Cargo.lock
  src/dragonball/dbs_address_space/src/layout.rs
  src/dragonball/dbs_address_space/src/region.rs
  src/dragonball/dbs_boot/src/x86_64/layout.rs
  src/dragonball/dbs_interrupt/src/kvm/mod.rs
  src/dragonball/dbs_tdx/src/lib.rs
  src/dragonball/dbs_tdx/src/td_shim/hob.rs
  src/dragonball/dbs_tdx/src/td_shim/metadata.rs
  src/dragonball/dbs_tdx/src/td_shim/mod.rs
  src/dragonball/dbs_tdx/src/tdx_ioctls.rs
  src/dragonball/dbs_utils/Cargo.toml
  src/dragonball/dbs_utils/src/guest_memfd.rs
  src/dragonball/dbs_utils/src/lib.rs
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/api/v1/boot_source.rs
  src/dragonball/src/api/v1/instance_info.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
  src/dragonball/src/kvm_context.rs
  src/dragonball/src/test_utils.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vcpu/x86_64.rs
  src/dragonball/src/vm/kernel_config.rs
  src/dragonball/src/vm/mod.rs
  src/dragonball/src/vm/x86_64.rs
Owners: @kata-containers/dragonball, @kata-containers/arch-amd64

tests: nvidia: cc: Re-enable multi GPU test case
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

shim: Support device cold plug with Kubernetes
  src/runtime/Makefile
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-cca.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-remote.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/containerd-shim-v2/device_cold_plug.go
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
Owners: @kata-containers/golang

shim: go vendor changes for cold plug support
  src/runtime/go.mod
  src/runtime/go.sum
  src/runtime/vendor/k8s.io/kubelet/LICENSE
  src/runtime/vendor/k8s.io/kubelet/pkg/apis/podresources/v1/api.pb.go
  src/runtime/vendor/k8s.io/kubelet/pkg/apis/podresources/v1/api.proto
  src/runtime/vendor/modules.txt
Owners: @kata-containers/golang, @kata-containers/vendoring

WIP: ci: policy for GPU tests
  src/tools/genpolicy/rules.rego
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

WIP: ci: policy for GPU tests - feedback
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/gpu_vfio_cdi/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/gpu_vfio_cdi/testcases.json
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/rust, @kata-containers/tests

tests: cc: Test authenticated images with force guest pull
  tests/integration/kubernetes/k8s-guest-pull-image-signature.bats
Owners: @kata-containers/tests

tests: Reduce KBS deployment check flakeness
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

tests: cc: Test authenticated images with force guest pull
  tests/integration/kubernetes/k8s-guest-pull-image-signature.bats
Owners: @kata-containers/tests

tests: Reduce KBS deployment check flakeness
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

tests: nvidia: adapt is_aks_cluster
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

tests: nvidia: move secret definitions to bottom
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

tests: nvidia: Check KATA_HYPERVISOR var
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
Owners: @kata-containers/tests

tests: nvidia: cc: allow-all policy and init-data
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

runtime-rs: Bump cgroups-rs to v0.5.0
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
Owners: @kata-containers/rust

runtime-rs: Bump cgroups-rs to v0.5.0
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
Owners: @kata-containers/rust

tests: nvidia: cc: allow-all policy and init-data
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

tests: nvidia: move secret definitions to bottom
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

tests: nvidia: Check KATA_HYPERVISOR var
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
Owners: @kata-containers/tests

tests: nvidia: adapt is_aks_cluster
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

tests: nvidia: cc: Remove nvrc.smi.srs=1 parameter
  src/runtime/Makefile
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
Owners: @kata-containers/golang, @kata-containers/tests

kata-deploy: Add tolerations value to kata-deploy
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/post-delete-job.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

ci: re-enable IBM runners for ppc64le and s390x
  .github/actionlint.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/ci.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/static-checks-self-hosted.yaml
  tools/testing/gatekeeper/required-tests.yaml
Owners: @kata-containers/arch-ppc64le, @kata-containers/arch-s390x, @kata-containers/action-admins, @kata-containers/ci

gpu: Enable MEASURED_ROOTFS
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

gpu: Add check for alternative init system
  tools/osbuilder/image-builder/image_builder.sh
Owners: @kata-containers/builder

runtimes: config: Do NOT have commented fields
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-cca.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-remote.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/rust, @kata-containers/golang, @kata-containers/kata-deploy

agent: fix the list_routes failure
  src/agent/src/netlink.rs
Owners: @kata-containers/agent

tests: nvidia: cc: add SUPPORTED_TEE_HYPERVISORS
  tests/integration/kubernetes/confidential_common.sh
Owners: @kata-containers/tests

tests: cc: Reset default policy
  tests/integration/kubernetes/k8s-confidential-attestation.bats
Owners: @kata-containers/tests

versions: Bump coco-trustee
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: cc: Add is_confidential_gpu_hardware
  tests/integration/kubernetes/confidential_common.sh
Owners: @kata-containers/tests

tests: nvidia: cc: Add attestation test
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/pod-attestable-gpu.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/pod-attestable.yaml.in
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

tests: cc: Fix command evaluation
  tests/integration/kubernetes/k8s-confidential-attestation.bats
Owners: @kata-containers/tests

tests: cc: Add kbs_set_gpu0_attestation_policy
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

versions: Bump coco-guest-components
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
