Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

ci.ocp: Additional selinux permissions for peer-pods
  ci/openshift-ci/cluster/deployments/relabel_selinux.yaml
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Add selinux handling to peer-pods
  ci/openshift-ci/cluster/install_kata.sh
  ci/openshift-ci/cluster/selinux_helpers.sh
  ci/openshift-ci/peer-pods-azure.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Switch the pipeline to CVM
  ci/openshift-ci/peer-pods-azure.sh
Owners: @kata-containers/ci, @kata-containers/tests

kata-deploy: refuse an erofs setup that breaks existing layers
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
  tools/packaging/kata-deploy/binary/src/runtime/containerd.rs
  tools/packaging/kata-deploy/binary/src/runtime/mod.rs
  tools/packaging/kata-deploy/binary/src/runtime/node_config.rs
Owners: @kata-containers/kata-deploy

kata-deploy: log the snapshotter settings this install takes over
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
  tools/packaging/kata-deploy/binary/src/runtime/node_config.rs
Owners: @kata-containers/kata-deploy

kata-deploy: refuse a nydus root the node did not point us at
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
Owners: @kata-containers/kata-deploy

kata-deploy: reach for the host's own tools in one place
  tools/packaging/kata-deploy/binary/src/main.rs
Owners: @kata-containers/kata-deploy

tests: hold the device stage to the admins who asked for it
  tests/functional/kata-deploy/kata-deploy-privileges.bats
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
Owners: @kata-containers/tests, @kata-containers/kata-deploy

kata-deploy: open the devices a rootless VMM has to reach
  tools/packaging/kata-deploy/binary/src/main.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/selinux/README.md
  tools/packaging/kata-deploy/selinux/kata-deploy.cil
Owners: @kata-containers/kata-deploy

ci: Introduce taplo configuration
  .taplo.toml
Owners: none

ci: Enable taplo format check
  .github/workflows/toml-check.yaml
  tools/testing/gatekeeper/required-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-deploy: mount runtime-rs sandbox storage in kata-monitor
  docs/how-to/data/kata-monitor-daemonset.yml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-monitor.yaml
Owners: @kata-containers/documentation, @kata-containers/kata-deploy

runtime: wait for qemu process to exit before cleaning up
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

kernel: Bump the guest kernel to 6.18.52
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.18.x/0002-virtio-fs-use-sync-release-for-submounts.patch
  tools/packaging/kernel/patches/6.18.x/dragonball-experimental/0004-upcall-add-virtio-mmio-hotplug-hot-unplug-into-devic.patch
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

genpolicy: use request bases in policy fixtures
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/addarpneighbors/testcases.json
  src/tools/genpolicy/tests/policy/testdata/copyfile/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/cgroup_mount_extras/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/env_vars/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/generate_name/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/gid/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/gpu_vfio_cdi/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/ignored_fields/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/image_guest_pull_count/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/image_guest_pull_storage_validation/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/image_host_pull/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/network_namespace/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/security_context/fsgroup/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/security_context/runas/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/security_context/supplemental_groups/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/sysctls/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/container_image/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/emptydir/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createsandbox/testcases.json
  src/tools/genpolicy/tests/policy/testdata/state/createcontainer/testcases.json
  src/tools/genpolicy/tests/policy/testdata/state/execprocess/testcases.json
  src/tools/genpolicy/tests/policy/testdata/state/execprocessdeployment/testcases.json
  src/tools/genpolicy/tests/policy/testdata/updateinterface/testcases.json
  src/tools/genpolicy/tests/policy/testdata/updateroutes/testcases.json
Owners: @kata-containers/rust

nvgpu: accept a complete driver source tarball as driver.url
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kata-deploy, @kata-containers/kernel

nvgpu: keep the cache suffix out of the driver package version
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kata-deploy, @kata-containers/kernel

runtime-rs: Stop mapping discard_unmap to the CH disk sparse flag
  src/runtime-rs/crates/hypervisor/src/ch/inner_device.rs
Owners: @kata-containers/rust

nvgpu: support a dedicated driver userspace repository
  tools/osbuilder/rootfs-builder/nvidia/Dockerfile.in
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

hypervisor/qemu: document machine-centric architecture
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

hypervisor/qemu: add typed machine module
  src/runtime-rs/crates/hypervisor/src/qemu/machine/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/pseries.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/q35.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/s390x.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/virt.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
Owners: @kata-containers/rust, @kata-containers/arch-s390x

hypervisor/qemu: add CoCo SEV-SNP + GPU fixture from production capture
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_coco_snp_single_gpu.args
Owners: @kata-containers/rust

qemu/machine: fix highmem_mmio_size doc and Makefile claim
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/virt.rs
Owners: @kata-containers/rust

hypervisor/qemu: add CpuConfig/CpuModel with attestation rationale
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
Owners: @kata-containers/rust

qemu/machine/tests: document Phase 4/5 placeholder test bodies
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
Owners: @kata-containers/rust

hypervisor/qemu: add Q35 fixture, platform parity, and planned fixtures
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_vanilla_kata_x86.args
Owners: @kata-containers/rust

hypervisor/qemu: address Phase 0 review comments
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/virt.rs
Owners: @kata-containers/rust

qemu/machine/fixtures: normalize memory-backend-file option order
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_6_vegm_1_per_socket.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_7_vegm_2_per_socket.args
Owners: @kata-containers/rust

qemu/machine: address review comments on fixtures and ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_coco_snp_single_gpu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_vanilla_kata_x86.args
Owners: @kata-containers/rust

docs: backtick technical terms in ARCHITECTURE.md for spellcheck
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

hypervisor/qemu: add golden test harness for platform generation
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/pseries.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/q35.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/s390x.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/virt.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_1_single_gpu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_2_four_gpus_1_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_3_four_gpus_2_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_4_gpu_and_nic.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_5_vcmdq.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_6_vegm_1_per_socket.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_7_vegm_2_per_socket.args
Owners: @kata-containers/rust, @kata-containers/arch-s390x

hypervisor/qemu: document #13270 (4+ Blackwell GPU GPA cap) in known issues
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

qemu/machine: correct Grace memory and PCI bus golden contracts
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_1_single_gpu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_2_four_gpus_1_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_3_four_gpus_2_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_4_gpu_and_nic.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_5_vcmdq.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_6_vegm_1_per_socket.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_7_vegm_2_per_socket.args
Owners: @kata-containers/rust

qemu/machine: correct Grace memory and PCI bus golden contracts
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_1_single_gpu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_2_four_gpus_1_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_3_four_gpus_2_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_4_gpu_and_nic.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_5_vcmdq.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_6_vegm_1_per_socket.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_7_vegm_2_per_socket.args
Owners: @kata-containers/rust

hypervisor/qemu: note seccomp sandbox as Phase 3 consideration
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

hypervisor/qemu: implement Phase 1 constructors and topology builder
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/q35.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
Owners: @kata-containers/rust

hypervisor/qemu: add Q35 vanilla kata fixture from production capture
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
Owners: @kata-containers/rust

hypervisor/qemu: implement Platform::to_qemu_args (Phase 2)
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
Owners: @kata-containers/rust

hypervisor/qemu: move Grace virt defaults out of build into test helper
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
Owners: @kata-containers/rust

qemu/machine: emit EGM backend options in canonical order
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
Owners: @kata-containers/rust

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
