Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

guest-component: add SB version
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: fixup error asserts in init-data test
  tests/integration/kubernetes/k8s-initdata.bats
Owners: @kata-containers/tests

tests: fixup error assert in pull image test
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

osbuilder: ubuntu: Switch from multistrap to mmdebstrap
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/osbuilder/rootfs-builder/ubuntu/rootfs_lib.sh
Owners: @kata-containers/builder

kata-agent: Implement /etc/passwd and /etc/group parsing support.
  src/agent/src/user.rs
Owners: @kata-containers/agent

kata-agent: Implement in-guest user information correction for GuestPull
  src/agent/src/main.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

kata-deploy: Avoid changing any component path in case of restart
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

versions: Bump libz-sys version Bump libz-sys version to update and remediate CVE-2025-1744.
  src/dragonball/Cargo.lock
  src/runtime-rs/Cargo.lock
Owners: @kata-containers/dragonball, @kata-containers/rust

helm: release: Publish our helm charts to the OCI registries
  .github/workflows/release.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

version: Bump QEMU to v10.0.0
  tools/packaging/qemu/patches/10.0.x/no_patches.txt
  tools/packaging/qemu/patches/tag_patches/v10.0.0/no_patches.txt
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: Add TDX related runtime adjustments
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

qemu: remove the experimental suffix for qemu-snp
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

tools.testing: Add DEBUG support for gatekeeper
  tools/testing/gatekeeper/jobs.py
Owners: none

tools.testing: Add way to re-play recorded queries in gatekeeper
  tools/testing/gatekeeper/jobs.py
Owners: none

runtime: add option to force guest pull
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/runtime-rs/Makefile
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-sev.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/fs_share_linux_test.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/documentation, @kata-containers/rust, @kata-containers/golang

ci: gatekeeper: Require names update
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

packaging: Build edk2 for arm64
  .github/workflows/build-kata-static-tarball-arm64.yaml
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/ovmf/build-ovmf.sh
  tools/packaging/static-build/ovmf/build.sh
  versions.yaml
Owners: @kata-containers/arch-aarch64, @kata-containers/kata-deploy, @kata-containers/packaging, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime: Add edk2 to configuration-qemu.toml for arm64
  src/runtime/Makefile
  src/runtime/arch/arm64-options.mk
Owners: @kata-containers/golang, @kata-containers/arch-aarch64

runtime-rs: Propagate k8s configs correctly when sharedfs is disabled
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/rust

runtime-rs: Impl recursive directory copy with metadata preservation
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/rust

runtime-rs: Add inotify-based real-time directory synchronization
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/rust

kata-types: Introduce k8s special volumes for projected and downward-api
  src/libs/kata-types/src/k8s.rs
Owners: @kata-containers/rust

kata-agent: Improve file sync handling and address symlink issues
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

runtime-rs: Handle PortDevice devices when invoke start_vm with Qemu
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: handle useless Device match arms in dragonball vmm case
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/rust

kata-types: Support switch port config via annotation and configuration
  src/libs/kata-types/src/annotations/mod.rs
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
Owners: @kata-containers/rust

runtime-rs: Prepare pcie port devices before start sandbox
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Add PCIe topology mgmt for Root Port and Switch Port
  src/runtime-rs/crates/hypervisor/src/device/topology.rs
Owners: @kata-containers/rust

kata-types: Introduce pcie_switch_port in configuration
  src/libs/kata-types/src/config/hypervisor/dragonball.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

runtime-rs: Introduce pcie root port and switch port in qemu-rs cmdline.
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Introduce PortDevice in resource manager in sandbox
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
Owners: @kata-containers/rust

runtime-rs: Introduce device type of PordDevice in device manager
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/port_device.rs
  src/runtime-rs/crates/hypervisor/src/device/mod.rs
Owners: @kata-containers/rust

runtime-rs: Implement volume copy allowlist check
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/rust

config: update QEMU TDX configuration
  src/runtime/arch/amd64-options.mk
Owners: @kata-containers/arch-amd64

genpolicy: Add retries to policy generation
  src/tools/genpolicy/tests/policy/main.rs
Owners: @kata-containers/rust

ci: k8s: arm: Enable skipped tests
  tests/integration/kubernetes/k8s-memory.bats
  tests/integration/kubernetes/k8s-pod-quota.bats
Owners: @kata-containers/tests

osbuilder: ubuntu: Expose REPO_URL variables
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
Owners: @kata-containers/builder

osbuilder: ubuntu: Add REPO_COMPONENTS setting
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
  tools/osbuilder/rootfs-builder/ubuntu/rootfs_lib.sh
Owners: @kata-containers/builder

ci: Add dependabot groups
  .github/dependabot.yml
Owners: none

ci: Add dependabot config
  .github/dependabot.yml
Owners: none

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
