Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

kernel: Removing SEV kernel packages
  .github/actionlint.yaml
  tools/packaging/kernel/configs/fragments/x86_64/confidential/sev.conf
  tools/packaging/kernel/configs/fragments/x86_64/sev/sev.conf
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

ci: Update dependabot ignore list
  .github/dependabot.yml
Owners: none

trace-forwarder: Replace removed clap functions
  src/tools/trace-forwarder/Cargo.toml
  src/tools/trace-forwarder/src/main.rs
Owners: @kata-containers/rust

agent: Clap v4 updates
  src/agent/Cargo.lock
  src/agent/src/main.rs
Owners: @kata-containers/agent

agent-ctl: Replace removed clap functions
  src/tools/agent-ctl/Cargo.lock
  src/tools/agent-ctl/Cargo.toml
  src/tools/agent-ctl/src/main.rs
Owners: @kata-containers/rust

ci: Remove duplicated `rust-vmm` dependencies
  .github/dependabot.yml
  src/dragonball/out
Owners: @kata-containers/dragonball

trace-forwarder: Add nix features
  src/tools/trace-forwarder/Cargo.toml
Owners: none

genpolicy: keep layers cache in-memory to prevent corruption
  src/tools/genpolicy/src/layers_cache.rs
  src/tools/genpolicy/src/lib.rs
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/registry_containerd.rs
  src/tools/genpolicy/src/utils.rs
  src/tools/genpolicy/tests/policy/main.rs
Owners: @kata-containers/rust

workflows: Add scorecard workflow
  .github/workflows/scorecard.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

doc: Add scorecard badge
  README.md
  tests/cmd/check-spelling/kata-dictionary.dic
Owners: @kata-containers/documentation, @kata-containers/tests

tests: k8s-policy-rc: print pod descriptions
  tests/integration/kubernetes/k8s-policy-rc.bats
Owners: @kata-containers/tests

kata-types: Introduce initdata to SecurityInfo for data injection
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

runtime-rs: Introduce host-data in SevSnpConfig for validation
  src/runtime-rs/crates/hypervisor/src/device/driver/protection_device.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

kata-types: Implement Initdata Spec and Digest Calculation Logic
  src/libs/Cargo.lock
  src/libs/kata-types/Cargo.toml
  src/libs/kata-types/src/initdata.rs
  src/libs/kata-types/src/lib.rs
  src/runtime-rs/Cargo.lock
Owners: @kata-containers/rust

runtime-rs: Handle initdata block device config during sandbox start
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Add InitData Resource type for block device management
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
Owners: @kata-containers/rust

kata-agent: Allow unrecognized fields in InitData
  src/agent/Cargo.lock
  src/agent/src/initdata.rs
  src/libs/kata-types/src/initdata.rs
Owners: @kata-containers/agent, @kata-containers/rust

runtime-rs: Introduce coco_data dir and initdata block
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/coco_data/initdata.rs
  src/runtime-rs/crates/resource/src/coco_data/initdata_block.rs
  src/runtime-rs/crates/resource/src/coco_data/mod.rs
  src/runtime-rs/crates/resource/src/lib.rs
Owners: @kata-containers/rust

kata-types: Implement InitData retrieval from Pod annotation
  src/libs/kata-types/src/annotations/mod.rs
Owners: @kata-containers/rust

runtime-rs: Specify the initdata to mrconfigid correctly
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Add host-data property to sev-snp-guest object
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

tests/coco: Add e2e testing for nebula vpn
  tests/integration/kubernetes/k8s-confidential-vpn.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/pods-vpn.yaml
Owners: @kata-containers/tests

runtime-rs: add support resize_vcpu for cloud-hypervisor
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs: add the vm resize and get vminfo api for clh
  src/runtime-rs/crates/hypervisor/ch-config/src/ch_api.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/lib.rs
Owners: @kata-containers/rust

runtime-rs: impl the Deserialize trait for MacAddr
  src/runtime-rs/crates/hypervisor/ch-config/src/net_util.rs
Owners: @kata-containers/rust

runtime-rs: Add the memory hotplug for cloud-hypervisor
  src/runtime-rs/crates/hypervisor/src/ch/inner.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/ch/mod.rs
Owners: @kata-containers/rust

runtime-rs: move the bytes_to_megs and megs_to_bytes to utils
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
Owners: @kata-containers/rust

ci/static-checks: use oras cache for regorus
  .github/workflows/static-checks.yaml
  tests/install_regorus.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

genpolicy: tests: add test for config_map volumes
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/config_map.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/testcases.json
Owners: @kata-containers/rust

tests: integration/kubernetes: enable confidential_guest setting for coco tests
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

genpolicy: enable storage checks
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/mount_and_storage.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/rust

genpolicy: fix mount source check in rules.rego
  src/tools/genpolicy/rules.rego
Owners: none

genpolicy: add rules for image_guest_pull storage
  src/tools/genpolicy/rules.rego
Owners: none

genpolicy: tests: update testcases for execprocess
  src/tools/genpolicy/tests/policy/testdata/state/execprocess/testcases.json
Owners: none

genpolicy: tests: update test for emptydir volumes
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/emptydir/testcases.json
Owners: @kata-containers/rust

genpolicy: test framework: enable config map usage
  src/tools/genpolicy/tests/policy/main.rs
Owners: @kata-containers/rust

genpolicy: add test for container images having volumes
  src/tools/genpolicy/.gitignore
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/container_image/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/container_image/testcases.json
Owners: @kata-containers/rust

runtime: Fix an always-failing comparison
  src/runtime/virtcontainers/factory/factory_linux.go
Owners: @kata-containers/golang

shim: skip new MNT_NS when using cached VM
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/containerd-shim-v2/service.go
Owners: @kata-containers/golang

runtime: fix empty parameters
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/vm.go
Owners: @kata-containers/golang

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
