Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

ci: k8s: devmapper: Use a smaller / cheaper VM instance
  .github/workflows/run-k8s-tests-on-garm.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: cache: Install ORAS in the kata-deploy binaries builder container
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-deploy/local-build/dockerbuild/install_oras.sh
Owners: @kata-containers/packaging

kata-deploy: Generate latest_{artefact,image_builder} files
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

ci: cache: Push cached artefacts to ghcr.io
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

ci: k8s: Temporarily disable tests that require a bigger VM instance
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/shell

ci: cache: Use the cached artefacts from ORAS
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

ci: cache: Also store the ${component} sha256sum
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

ci: cache: Remove the script used to cache artefacts on Jenkins
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

ci: cache: Check the sha256sum of the component
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

ci: cache: Fix ovmf-sev cache
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

ci: Use variable size of VMs depending on the tests running
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-k8s-tests-on-garm.yaml
  .github/workflows/run-k8s-tests-on-sev.yaml
  .github/workflows/run-k8s-tests-on-snp.yaml
  .github/workflows/run-k8s-tests-on-tdx.yaml
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

ci: static-checks: Move kernel config check to its own job
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: Move functions from kata_arch script here
  tests/common.bash
Owners: @kata-containers/shell

tests: install_go: Remove tests repo dependency
  tests/install_go.sh
Owners: @kata-containers/shell

tests: Move install_rust.sh from the tests repo
  tests/install_rust.sh
Owners: @kata-containers/shell

ci: static-checks: Move vendor check to its own job
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: install_rust: Also install clippy
  tests/install_rust.sh
Owners: @kata-containers/shell

kata-ctl: Ensure GENERATED_CODE is a dep of `make check`
  src/tools/kata-ctl/Makefile
Owners: @kata-containers/tools

kata-ctl: Add `kata-types` to the Cargo.lock file
  src/tools/kata-ctl/Cargo.lock
Owners: @kata-containers/tools

ci: static-checks: Move "make check" to the new test matrix
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: install_libseccomp: Do not depend on the tests repo
  ci/install_libseccomp.sh
Owners: @kata-containers/ci, @kata-containers/tests

agent: Ensure GENERATED_CODE is a dep of `make test`
  src/agent/Makefile
Owners: @kata-containers/agent

kata-ctl: Ensure GENERATED_CODE is a dep of `make test`
  src/tools/kata-ctl/Makefile
Owners: @kata-containers/tools

kata-ctl: Use `loop` instead of `kvm` module in tests
  src/tools/kata-ctl/src/check.rs
Owners: @kata-containers/tools

runtime-rs: Ensure static-checks-build is a dep of `make test`
  src/runtime-rs/Makefile
Owners: @kata-containers/runtime

ci: static-checks: Move "make test" to the new test matrix
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: static-checks: Move "sudo make test" to the new test matrix
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: static-checks: Run tests depending on KVM
  .github/workflows/static-checks-dragonball.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: static-checks: Clean up static-checks job
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: common: Add install_nydus()
  tests/common.bash
Owners: @kata-containers/shell

tests: common: Add install_nydus_snapshotter()
  tests/common.bash
Owners: @kata-containers/shell

tests: nydus: Adapt check to "clh" instead "cloud-hypervisor"
  tests/integration/nydus/nydus_tests.sh
Owners: @kata-containers/shell

tests: nydus: Adapt "source ..." to GHA
  tests/integration/nydus/nydus_tests.sh
Owners: @kata-containers/shell

tests: nydus: Decorate some calls with `sudo`
  tests/integration/nydus/nydus_tests.sh
Owners: @kata-containers/shell

tests: nydus: Add uid / namespace to the nydus container / sandbox
  tests/integration/nydus/nydus-container.yaml
  tests/integration/nydus/nydus-sandbox.yaml
Owners: none

tests: nydus: Add timeout to the crictl calls
  tests/integration/nydus/nydus_tests.sh
Owners: @kata-containers/shell

gha: nydus: Get rid of nydus{,-snapshotter} install from nydus_test.sh
  tests/integration/nydus/nydus_tests.sh
Owners: @kata-containers/shell

gha: nydus: Actually install kata when `install-kata` is called
  tests/integration/nydus/gha-run.sh
Owners: @kata-containers/shell

gha: nydus: Populate install_dependencies()
  tests/integration/nydus/gha-run.sh
Owners: @kata-containers/shell

gha: nydus: Populate run()
  tests/integration/nydus/gha-run.sh
Owners: @kata-containers/shell

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
