Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

kata-deploy: harden affinity merge
  docs/helm-configuration.md
  tests/functional/kata-deploy/kata-deploy-scheduling.bats
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

docs: minor updates to NVIDIA guide
  docs/use-cases/NVIDIA-GPU-passthrough-and-Kata-QEMU.md
Owners: @kata-containers/documentation

docs: document block emptyDir overhead
  docs/Limitations.md
Owners: @kata-containers/documentation

agent - remove intialization of kmem limits
  src/agent/rustjail/src/cgroups/fs/mod.rs
Owners: @kata-containers/agent

add unit test for group "parent" condition based on v1 or v2
  src/runtime/pkg/resourcecontrol/cgroups_linux_test.go
Owners: @kata-containers/golang

runtime: Hotplug VFIO network devices before any container starts
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
Owners: @kata-containers/golang

runtime-rs: hypervisor: add a hook to place the VMM in a host cgroup
  src/runtime-rs/crates/hypervisor/src/lib.rs
Owners: @kata-containers/rust

packaging: allow building a static cgo-free shim-v2 payload
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

runtime: remove cgo from KVM capability checks
  src/runtime/Makefile
  src/runtime/cmd/kata-runtime/kata-check.go
  src/runtime/cmd/kata-runtime/kvm_ioctls_generic.go
  src/runtime/cmd/kata-runtime/kvm_ioctls_ppc64le.go
  src/runtime/virtcontainers/hypervisor_linux_arm64.go
Owners: @kata-containers/golang, @kata-containers/arch-ppc64le, @kata-containers/arch-aarch64

packaging: optionally fetch static nydus-snapshotter for the payload
  tools/packaging/kata-deploy/Dockerfile.components
  tools/packaging/kata-deploy/local-build/kata-deploy-build-components-tarballs.sh
Owners: @kata-containers/kata-deploy

kata-deploy: add podLabels, podAnnotations and affinity to DaemonSet
  docs/helm-configuration.md
  tests/functional/kata-deploy/kata-deploy-scheduling.bats
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

kata-deploy: include bats test
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/tests

kata-deploy: tweak teardown options
  tests/functional/kata-deploy/kata-deploy-lifecycle.bats
Owners: @kata-containers/tests

kata-deploy: harden affinity merge
  docs/helm-configuration.md
  tests/functional/kata-deploy/kata-deploy-scheduling.bats
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

kata-deploy: harden NFD nodeAffinity merge and document semantics
  docs/helm-configuration.md
  tests/functional/kata-deploy/kata-deploy-scheduling.bats
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

tests: k8s: verify the VMM guest RAM is charged to the pod cgroup
  tests/integration/kubernetes/k8s-vmm-cgroup-memory.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

runtime-rs: resource: wire the sandbox cgroup to the VMM before start
  src/runtime-rs/crates/resource/src/cgroups/resource.rs
  src/runtime-rs/crates/resource/src/cgroups/resource_inner.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
Owners: @kata-containers/rust

runtime-rs: ch: place the VMM in the sandbox cgroup before guest boot
  src/runtime-rs/crates/hypervisor/src/ch/inner.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/ch/mod.rs
Owners: @kata-containers/rust

genpolicy: normalize layer tar paths
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/rust

dragonball: fix readdir ENODATA during container startup
  src/dragonball/dbs_virtio_devices/src/fs/device.rs
Owners: @kata-containers/dragonball

dragonball: validate full guest buffer range in virtio-blk async I/O
  src/dragonball/dbs_virtio_devices/src/block/handler.rs
Owners: @kata-containers/dragonball

docs: add proposal for CI without pull_request_target
  docs/design/proposals/ci-without-pull-request-target.md
  tests/spellcheck/kata-dictionary.txt
Owners: @kata-containers/documentation, @kata-containers/tests

runtime-rs: support containerd binary:// stdio logger URIs
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/shim_io.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/process.rs
Owners: @kata-containers/rust

runtime-rs: shim io: add unit tests for binary logger FFI
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/shim_io.rs
Owners: @kata-containers/rust

runtime-rs: cold-plug CDI VFIO devices for single containers
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs/qemu: reserve a memory hotplug region for virtio-mem
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

hypervisor: fix CH network test initializer pci_path field
  src/runtime-rs/crates/hypervisor/src/ch/inner_device.rs
Owners: @kata-containers/rust

runtime-rs: drop non-passthrough functions from VFIO groups
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio_device/core.rs
Owners: @kata-containers/rust

runtime-rs: tag standalone containers as single_container
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: pass NIC PCI path to agent on hot-plug
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_net.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/resource/src/network/dan.rs
  src/runtime-rs/crates/resource/src/network/endpoint/ipvlan_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/macvlan_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/mod.rs
  src/runtime-rs/crates/resource/src/network/endpoint/physical_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/tap_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/veth_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/vhost_user_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/vlan_endpoint.rs
  src/runtime-rs/crates/resource/src/network/network_info/mod.rs
  src/runtime-rs/crates/resource/src/network/network_info/network_info_from_link.rs
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
Owners: @kata-containers/rust

tests: retry pod removal before forcing in TestKilledVmmCleanup
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/tests

govmm/qemu: always honor explicit PCIe root-port addr
  src/runtime/pkg/govmm/qemu/qemu.go
Owners: @kata-containers/golang

runtime: don't block shim cleanup on a dead agent
  src/runtime/virtcontainers/api.go
  src/runtime/virtcontainers/hypervisor.go
Owners: @kata-containers/golang

kata-types: parse single_container OCI container type
  src/libs/kata-types/src/container.rs
Owners: @kata-containers/rust

runtime: fall back to CDI annotations when kubelet socket is absent
  src/runtime/pkg/containerd-shim-v2/device_cold_plug.go
  src/runtime/pkg/containerd-shim-v2/device_cold_plug_test.go
Owners: @kata-containers/golang

tests: add qemu-nvidia-gpu runtimes to CI matrix
  .github/workflows/basic-ci-amd64.yaml
  tests/common.bash
  tests/integration/docker/gha-run.sh
Owners: @kata-containers/arch-amd64, @kata-containers/tests

runtime-rs/qemu: nest NIC hot-plug bridge topology on Q35 OVMF
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

tests: add debug logs to docker tests
  tests/integration/docker/gha-run.sh
Owners: @kata-containers/tests

runtime: nest pcie-pci-bridge under root-port on OVMF
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_amd64_test.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_s390x.go
  src/runtime/virtcontainers/types/bridges.go
  src/runtime/virtcontainers/types/bridges_test.go
Owners: @kata-containers/golang, @kata-containers/arch-amd64, @kata-containers/arch-s390x

runtime: publish TaskExit before sandbox teardown
  src/runtime/pkg/containerd-shim-v2/service.go
  src/runtime/pkg/containerd-shim-v2/wait.go
Owners: @kata-containers/golang
