Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

agent: attach exec to the init process cgroup
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/rustjail/src/cgroups/mock.rs
  src/agent/rustjail/src/cgroups/mod.rs
  src/agent/rustjail/src/cgroups/nested.rs
  src/agent/rustjail/src/cgroups/systemd/manager.rs
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

agent: Don't create parent dir of non-dir files in do_copy_file
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: Don't create parent dirs for CopyFile directory
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: Deprecate dir_mode in agent.proto
  src/libs/protocols/protos/agent.proto
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent.pb.go
Owners: @kata-containers/rust, @kata-containers/golang

agent: test that CopyFile does not change ownership of parent dir
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

kata-deploy: take the kubelet root from the flavour, not the runtime
  docs/helm-configuration.md
  tests/functional/kata-deploy/kata-deploy-distribution.bats
  tests/integration/kubernetes/tests_common.sh
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/binary/src/runtime/manager.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

config: drop the kubelet root directory runtime-rs never read
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-qemu-nvidia-cpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
Owners: @kata-containers/rust

kata-deploy: point the pod-resources socket at the flavour's kubelet root
  docs/helm-configuration.md
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/kata-deploy

tests: restore CRI-O test infrastructure plumbing
  tests/common.bash
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

runtime-rs: size a CRI-O sandbox from its pod resources
  src/libs/kata-types/src/annotations/crio.rs
  src/libs/kata-types/src/annotations/mod.rs
  src/runtime-rs/crates/resource/src/cpu_mem/initial_size.rs
Owners: @kata-containers/rust

tests: add CRI-O compatibility for k8s integration tests
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/k8s-empty-dirs.bats
  tests/integration/kubernetes/k8s-empty-image.bats
  tests/integration/kubernetes/k8s-plain-ephemeral-data-storage.bats
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

runtime-rs: tell CRI-O when a container was OOM killed
  Cargo.lock
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/oom.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

ci: add CRI-O k8s test workflow on k0s
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-crio.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: exec a process with the terminal that was asked for
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/manager.rs
Owners: @kata-containers/rust

gha: move agent and runtime build checks to non-cloud runners for ppc64le
  .github/workflows/build-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

dragonball: Restore vCPU MSRs after the LAPIC
  src/dragonball/src/vcpu/x86_64.rs
Owners: @kata-containers/arch-amd64

runtime-rs: set a fixed serial for QEMU initdata
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

hypervisor: let the device manager reserve PCIe root ports
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
Owners: @kata-containers/rust

resource: let a physical endpoint back a directly attached NIC
  src/runtime-rs/crates/resource/src/network/endpoint/physical_endpoint.rs
Owners: @kata-containers/rust

resource: give networks a hook that runs once the VM is up
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/network/mod.rs
Owners: @kata-containers/rust

resource: support vfio devices in a directly attachable network
  src/runtime-rs/crates/resource/src/network/dan.rs
  src/runtime-rs/crates/resource/src/network/mod.rs
  src/runtime-rs/crates/resource/src/network/network_info/network_info_from_dan.rs
Owners: @kata-containers/rust

virt_container: reserve the root ports the DAN vfio NICs need
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

kata-deploy: fall back from io_uring when the host refuses it
  docs/runtime-configuration.md
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
Owners: @kata-containers/documentation, @kata-containers/kata-deploy

runtime-rs: cancel blocked stdio during destructive teardown
  Cargo.lock
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/binary_io.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/shim_io.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/process.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: keep QEMU firmware QEMU-specific
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-clh-azure-runtime-rs.toml.in
  src/runtime-rs/config/configuration-clh-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/tests/configuration_generated.rs
Owners: @kata-containers/rust

runtime-rs: keep Cloud Hypervisor firmware empty
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-clh-azure-runtime-rs.toml.in
  src/runtime-rs/config/configuration-clh-runtime-rs.toml.in
  src/runtime-rs/tests/configuration_generated.rs
Owners: @kata-containers/rust

tests: cover the installer's SELinux confinement on a real node
  tests/functional/kata-deploy/kata-deploy-selinux-daemonset.bats
  tests/functional/kata-deploy/kata-deploy-selinux-job.bats
  tests/functional/kata-deploy/lib/helm-deploy.bash
  tests/functional/kata-deploy/lib/selinux.bash
Owners: @kata-containers/tests

gha: run the kata-deploy SELinux tests on an enforcing runner
  .github/actionlint.yaml
  .github/workflows/run-kata-deploy-tests.yaml
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

agent: fix wrong binaries in iptables-restore path constants
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: fix test_ip_tables skipping on non-usrmerge systems
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

runtime-rs: align azure resource config values
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-clh-azure-runtime-rs.toml.in
  src/runtime-rs/config/configuration-openvmm-azure-runtime-rs.toml.in
Owners: @kata-containers/rust

runtime-rs: treat missing vCPU thread comm as transient
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
Owners: @kata-containers/rust

packaging: update OVMF for Intel TDX
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

kernel: fix intel GPU fragment
  tools/packaging/kernel/configs/fragments/gpu/intel.conf
  tools/packaging/kernel/configs/fragments/gpu/intel.x86_64.conf.in
Owners: @kata-containers/kernel, @kata-containers/arch-amd64

runtime-rs: don't make agent to wait Intel GPU CDI devices
  src/runtime-rs/crates/resource/src/cdi_devices/container_device.rs
  src/runtime-rs/crates/resource/src/cdi_devices/mod.rs
Owners: @kata-containers/rust

runtime: let CloseIO() return for a process without stdin
  src/runtime/pkg/containerd-shim-v2/stream.go
  src/runtime/pkg/containerd-shim-v2/stream_test.go
Owners: @kata-containers/golang

runtime: keep reading a process' output after its stdin is closed
  src/runtime/virtcontainers/iostream.go
  src/runtime/virtcontainers/iostream_test.go
Owners: @kata-containers/golang

ci.ocp: Additional selinux permissions for peer-pods
  ci/openshift-ci/cluster/deployments/relabel_selinux.yaml
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Add selinux handling to peer-pods
  ci/openshift-ci/cluster/install_kata.sh
  ci/openshift-ci/cluster/selinux_helpers.sh
  ci/openshift-ci/peer-pods-azure.sh
Owners: @kata-containers/ci, @kata-containers/tests

kata-deploy: re-prefix the paths the shim's own config sets
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
Owners: @kata-containers/kata-deploy

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
