Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

rootfs: Fix chronyd.service failing on boot
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

rootfs: Fix chronyd.service failing on boot
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

runk: use custom Kill command to support --all option
  src/tools/runk/src/commands/kill.rs
  src/tools/runk/src/main.rs
Owners: @kata-containers/tools

runk: use custom Kill command to support --all option
  src/tools/runk/src/commands/kill.rs
  src/tools/runk/src/main.rs
Owners: @kata-containers/tools

runk: fix invalid container state
  src/tools/runk/libcontainer/src/status.rs
Owners: @kata-containers/tools

agent: Add a macro to skip a loop easier
  src/agent/src/mount.rs
  src/agent/src/test_utils.rs
Owners: @kata-containers/agent

agent: Add a macro to skip a loop easier
  src/agent/src/mount.rs
  src/agent/src/test_utils.rs
Owners: @kata-containers/agent

rustjail: Add tests for hook_grpc_to_oci
  src/agent/rustjail/src/lib.rs
Owners: @kata-containers/agent

rustjail: Add tests for hook_grpc_to_oci
  src/agent/rustjail/src/lib.rs
Owners: @kata-containers/agent

agent: watchers: ensure uid/gid is preserved on copy/mkdir
  src/agent/src/watcher.rs
Owners: @kata-containers/agent

agent: watchers: ensure uid/gid is preserved on copy/mkdir
  src/agent/src/watcher.rs
Owners: @kata-containers/agent

agent: add test coverage for functions find_process and online_resources
  src/agent/src/sandbox.rs
Owners: @kata-containers/agent

agent: add test coverage for functions find_process and online_resources
  src/agent/src/sandbox.rs
Owners: @kata-containers/agent

DO-NOT-MERGE: Test a possible fix for the devmapper failures
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Rely on Cloud Hypervisor for generating the device ID
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/runtime

clh: Rely on Cloud Hypervisor for generating the device ID
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/runtime

clh: Rely on Cloud Hypervisor for generating the device ID
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/runtime

agent: watchers: ensure uid/gid is preserved on copy/mkdir
  src/agent/src/watcher.rs
Owners: @kata-containers/agent

release: Kata Containers 2.5.0-alpha1
  VERSION
Owners: @kata-containers/release

release: Kata Containers 2.5.0-alpha1
  VERSION
Owners: @kata-containers/release

release: Adapt kata-deploy for 2.4.1
  tools/packaging/kata-deploy/kata-cleanup/base/kata-cleanup.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
Owners: @kata-containers/packaging

release: Kata Containers 2.4.1
  VERSION
Owners: @kata-containers/release

Update how-to-use-kata-containers-with-firecracker.md
  docs/how-to/how-to-use-kata-containers-with-firecracker.md
Owners: @kata-containers/documentation

ci: Don't run Docs URL Alive Check workflow on forks
  .github/workflows/docs-url-alive-check.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Don't run Docs URL Alive Check workflow on forks
  .github/workflows/docs-url-alive-check.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime: Adding the correct detection of mediated PCIe devices
  src/runtime/virtcontainers/device/drivers/utils.go
  src/runtime/virtcontainers/device/drivers/vfio.go
  src/runtime/virtcontainers/device/drivers/vfio_test.go
Owners: @kata-containers/runtime

runtime: Adding the correct detection of mediated PCIe devices
  src/runtime/virtcontainers/device/drivers/utils.go
  src/runtime/virtcontainers/device/drivers/vfio.go
  src/runtime/virtcontainers/device/drivers/vfio_test.go
Owners: @kata-containers/runtime

runtime: fix vmcache for qemu vm
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/vm.go
Owners: @kata-containers/runtime

versions: Upgrade to Cloud Hypervisor v23.1
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Upgrade to Cloud Hypervisor v23.1
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

log-parser: fix some of the documentation
  src/tools/log-parser/README.md
Owners: @kata-containers/tools

log-parser: fix some of the documentation
  src/tools/log-parser/README.md
Owners: @kata-containers/tools

versions: Upgrade to Cloud Hypervisor v23.1
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: enable vmcache for qemu and clh
  src/runtime/config/configuration-clh.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/virtiofsd.go
  src/runtime/virtcontainers/vm.go
Owners: @kata-containers/runtime

doc: Update log parser link
  docs/Developer-Guide.md
Owners: @kata-containers/documentation

doc: Update log parser link
  docs/Developer-Guide.md
Owners: @kata-containers/documentation

doc: Allow ccv0 to run as non-root user
  docs/how-to/ccv0.sh
Owners: @kata-containers/documentation

dnm: test commit
  src/runtime/cmd/kata-runtime/main.go
Owners: @kata-containers/runtime

runtime: Remove HTML coverage option from go-test.sh
  src/runtime/go-test.sh
Owners: @kata-containers/runtime

runtime: Simplify package listing in go-test.sh
  src/runtime/go-test.sh
Owners: @kata-containers/runtime
