Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

workflows: Add a manually trigger "devel" workflow for the CI
  .github/workflows/ci-devel.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: Remove the possibility to manually trigger the nightly CI
  .github/workflows/ci-nightly.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

protocols: Add the cri api protos
  src/libs/protocols/build.rs
  src/libs/protocols/protos/cri-api/api.proto
  src/libs/protocols/src/lib.rs
  tests/static-checks.sh
Owners: @kata-containers/rust, @kata-containers/tests

docs: Fix misspelling in CI documentation
  ci/README.md
Owners: @kata-containers/ci, @kata-containers/tests

tests: Add trap statement in kata doc script
  tests/kata-doc-to-script.sh
Owners: @kata-containers/tests

runtime: Add GPU annotations for remote hypervisor
  src/runtime/config/configuration-remote.toml.in
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/remote.go
Owners: @kata-containers/golang

debug: bat failures on k8s
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

kata-agent: Add CDI support
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/src/device/mod.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

ci: Use ubuntu for static building of kata tools.
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-copy-libseccomp-installer.sh
  tools/packaging/static-build/tools/Dockerfile
  tools/packaging/static-build/tools/build-static-tools.sh
  tools/packaging/static-build/tools/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

sandbox: Add the sandbox api support
  src/libs/shim-interface/src/lib.rs
  src/runtime-rs/crates/resource/src/cgroups/mod.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/common/Cargo.toml
  src/runtime-rs/crates/runtimes/common/src/error.rs
  src/runtime-rs/crates/runtimes/common/src/lib.rs
  src/runtime-rs/crates/runtimes/common/src/sandbox.rs
  src/runtime-rs/crates/runtimes/common/src/types/mod.rs
  src/runtime-rs/crates/runtimes/common/src/types/trans_from_shim.rs
  src/runtime-rs/crates/runtimes/common/src/types/trans_into_shim.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
  src/runtime-rs/crates/service/Cargo.toml
  src/runtime-rs/crates/service/src/lib.rs
  src/runtime-rs/crates/service/src/manager.rs
  src/runtime-rs/crates/service/src/sandbox_service.rs
  src/runtime-rs/crates/service/src/task_service.rs
  src/runtime-rs/crates/shim-ctl/src/main.rs
  src/runtime-rs/crates/shim/src/shim_start.rs
Owners: @kata-containers/rust

ci: Add the sandbox api testcases
  .github/workflows/basic-ci-amd64.yaml
  tests/integration/cri-containerd/integration-tests.sh
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/tests, @kata-containers/release, @kata-containers/ci

workflows: Store rootfs dependencies
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

tests: k8s: Update bats
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

runtime-rs: add the configuration support for remote hypervisors
  src/libs/kata-types/src/annotations/cri_containerd.rs
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/default.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/src/config/hypervisor/remote.rs
  src/libs/kata-types/src/config/mod.rs
  src/runtime-rs/Cargo.lock
  src/runtime-rs/Makefile
  src/runtime-rs/arch/x86_64-options.mk
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime-rs/crates/agent/src/sock/mod.rs
  src/runtime-rs/crates/agent/src/sock/remote.rs
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/build.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
  src/runtime-rs/crates/hypervisor/src/remote/mod.rs
  src/runtime-rs/crates/hypervisor/src/remote/protocols/hypervisor.proto
  src/runtime-rs/crates/hypervisor/src/remote/protocols/hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/remote/protocols/hypervisor_ttrpc.rs
  src/runtime-rs/crates/hypervisor/src/remote/protocols/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
Owners: @kata-containers/rust, @kata-containers/arch-amd64

runtime-rs: add oci spec for prepare_vm method
  src/runtime-rs/crates/hypervisor/src/ch/mod.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/mod.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/mod.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
  src/runtime-rs/crates/hypervisor/src/remote/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: add RemoteInfo field for hypervisor config
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/src/config/hypervisor/remote.rs
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

tests: Add a helper script to use prebuild components
  tests/gha-adjust-to-use-prebuilt-components.sh
Owners: @kata-containers/tests

workflows: devel: Adjust the pr-number
  .github/workflows/ci-devel.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: devel: Allow running more than one at once
  .github/workflows/ci-devel.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: Build rootfs after its deps are built
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

workflows: build: Ensure rootfs is built before shim-v2
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

workflows: build: Ensure rootfs is present for shim-v2 build
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

tests: Increase time to run stressng k8s tests
  tests/stability/kubernetes_stressng.sh
Owners: @kata-containers/tests

runtime: Rename ROOTMEASURECONFIG to ROOTIMAGEMEASURECONFIG
  src/runtime/Makefile
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/golang, @kata-containers/packaging

runtime: Don't do measured rootfs for "vanilla" kernel
  src/runtime/Makefile
Owners: @kata-containers/golang

build: Don't leave cached component behind if it can't be used
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

runtime: Add ROOTINITRDMEASURECONFIG makefile var
  src/runtime/Makefile
Owners: @kata-containers/golang

build: cache: Cache root_hashes used by the shim-v2
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

agent: Correct rustjail device filemode permission typo
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

build: shim-v2: Adjust build with measured rootfs
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/packaging

build: shim-v2: Rebuild if root_hashes do not match
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

build: shim-v2: Ensure MEASURED_ROOTFS is exported
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/arch-amd64, @kata-containers/arch-s390x, @kata-containers/kata-deploy

do-not-merge: Only run a few set of tests
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/ci.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci

do-not-merge: debug
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

tests: Add a helper script to use prebuild components
  tests/gha-adjust-to-use-prebuilt-components.sh
Owners: @kata-containers/tests

workflows: Build rootfs after its deps are built
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

workflows: build: Ensure rootfs is built before shim-v2
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

workflows: Store rootfs dependencies
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

workflows: build: Ensure rootfs is present for shim-v2 build
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runtime: Don't do measured rootfs for "vanilla" kernel
  src/runtime/Makefile
Owners: @kata-containers/golang
