Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

Kata-ctl iptable subcommand edits.
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/iptables.rs
Owners: @kata-containers/tools

CC: Add configurable context timeout for StopVM in remote hyp
  src/runtime/virtcontainers/remote.go
Owners: @kata-containers/runtime

Make kata-manager show version when installing the latest
  utils/kata-manager.sh
Owners: @kata-containers/shell

cross-compile: Include documentation and configuration for cross-compile
  src/tools/kata-ctl/Cross.toml
  src/tools/kata-ctl/README.md
Owners: @kata-containers/tools

cross-compile: Include documentation and configuration for cross-compile
  src/tools/kata-ctl/Cross.toml
  src/tools/kata-ctl/README.md
Owners: @kata-containers/tools

runtime: Increase the dial_timeout, again
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime/config/configuration-acrn.toml.in
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
Owners: @kata-containers/runtime

tests: k8s: Update waiting timeout
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/shell

kata-ctl: added iptables subcommand file
  .github/workflows/ci-on-push.yaml
  .github/workflows/run-k8s-tests-on-snp.yaml
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/device/manager/manager.go
  src/runtime/pkg/device/manager/utils.go
  src/runtime/pkg/device/manager/utils_test.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/pkg/signals/signals_test.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/documentation/api/1.0/api.md
  src/runtime/virtcontainers/factory/factory_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/persist/manager_test.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/iptables.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/ops/check_ops.rs
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/runtime, @kata-containers/tools, @kata-containers/shell

Iptable subcommand in kata-ctl
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/iptables.rs
Owners: @kata-containers/tools

Use Option for optional fields
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/tools

Deserialize config layer upfront
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/tools

Read the docker image diff IDs
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/tools

Use Option for optional fields
  src/tools/genpolicy/src/containerd.rs
  src/tools/genpolicy/src/infra.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/tools

Add image layer hashes to policy
  src/agent/samples/policy/yaml/configmap/pod1.yaml
  src/agent/samples/policy/yaml/configmap/pod2.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/agent, @kata-containers/tools

virtcontainers: Fixed static checks for improved test coverage for fc.go
  src/runtime/virtcontainers/fc_test.go
Owners: @kata-containers/runtime

virtcontainers: Fixed static checks for improved test coverage for fc.go
  src/runtime/virtcontainers/fc_test.go
Owners: @kata-containers/runtime

kata-ctl: added iptables subcommand file
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/ops/check_ops.rs
Owners: @kata-containers/tools

Fixed iptables subcommand
  src/tools/kata-ctl/src/iptables.rs
Owners: @kata-containers/tools

Iptable subcommand in kata-ctl
  src/tools/kata-ctl/src/iptables.rs
Owners: @kata-containers/tools

utils: add iptables subcommand updated Cargo.toml
  src/tools/kata-ctl/Cargo.toml
Owners: @kata-containers/tools

utils: add iptables subcommand updated Cargo.toml
  src/tools/kata-ctl/Cargo.toml
Owners: @kata-containers/tools

SQUASH
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/gpu/nvidia.conf
  tools/packaging/kernel/configs/fragments/gpu/nvidia.conf.in
Owners: @kata-containers/builder, @kata-containers/packaging, @kata-containers/kernel

utils: add iptables subcommand Corrected module shim to allow iptables to connect.
  src/tools/kata-ctl/src/iptables.rs
Owners: @kata-containers/tools

utils: add iptables subcommand
  src/tools/kata-ctl/src/main.rs
Owners: @kata-containers/tools

utils: add uptables subcommand
  src/tools/kata-ctl/Cargo.toml
Owners: @kata-containers/tools

packaging: Add sev kernel build capability
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

packaging: Add sev kernel build capability
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

utils: add iptables subcommand Updated args.rs, iptables.rs, main.rs, and check-ops.rs to compile
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/iptables.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/ops/check_ops.rs
Owners: @kata-containers/tools

runtime: change containers from slice to map
  src/runtime/pkg/katautils/create.go
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/api_test.go
  src/runtime/virtcontainers/example_pod_run_test.go
  src/runtime/virtcontainers/interfaces.go
  src/runtime/virtcontainers/iostream_test.go
  src/runtime/virtcontainers/monitor_test.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/pkg/vcmock/sandbox.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
Owners: @kata-containers/runtime

agent: Add context to errors when AgentConfig file is missing
  src/agent/src/config.rs
Owners: @kata-containers/agent

agent: Add context to errors when AgentConfig file is missing
  src/agent/src/config.rs
Owners: @kata-containers/agent

docs: Mark snap installation method as unmaintained
  docs/install/README.md
  docs/install/snap-installation-guide.md
Owners: @kata-containers/documentation

docs: Mark snap installation method as unmaintained
  docs/install/README.md
  docs/install/snap-installation-guide.md
Owners: @kata-containers/documentation

packaging: add support to build OVMF for SEV
  src/runtime/Makefile
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/ovmf/build-ovmf.sh
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/packaging, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

packaging: add support to build OVMF for SEV
  src/runtime/Makefile
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/ovmf/build-ovmf.sh
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/packaging, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

packaging: adding caching capability for kernel
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

static-build: Add caching support to sev ovmf
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

packaging: adding caching capability for kernel
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

packaging: add support to build initrd for sev
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

static-build: Add caching support to sev ovmf
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
