Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

kata-sys-util: fix typo `unknow`
  src/libs/kata-sys-util/src/spec.rs
Owners: none

versions: Update gperf url to avoid libseccomp random failures
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

acrn: Enable ACRN hypervisor support for Kata 2.x release
  src/runtime/Makefile
  src/runtime/cmd/kata-runtime/kata-check_amd64.go
  src/runtime/pkg/device/drivers/block.go
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/acrn_arch_base.go
  src/runtime/virtcontainers/acrn_test.go
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/runtime

acrn: Enable ACRN hypervisor support for Kata 2.x release
  src/runtime/Makefile
  src/runtime/cmd/kata-runtime/kata-check_amd64.go
  src/runtime/pkg/device/drivers/block.go
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/acrn_arch_base.go
  src/runtime/virtcontainers/acrn_test.go
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/runtime

regenerate go.sum
  src/runtime/go.sum
Owners: @kata-containers/runtime

fix syntax error
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

agent: don't exit early if signal fails due to ESRCH
  src/agent/Cargo.lock
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/console.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: don't exit early if signal fails due to ESRCH
  src/agent/Cargo.lock
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/console.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: don't exit early if signal fails due to ESRCH
  src/agent/Cargo.lock
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/console.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: reduce reference count for failed mount
  src/agent/src/mount.rs
Owners: @kata-containers/agent

agent: don't exit early if signal fails due to ESRCH
  src/agent/Cargo.lock
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/console.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: reduce reference count for failed mount
  src/agent/src/mount.rs
Owners: @kata-containers/agent

runtime-rs: return port on agent-url req
  src/runtime-rs/crates/agent/src/kata/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/runtime

runtime-rs: return port on agent-url req
  src/runtime-rs/crates/agent/src/kata/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/runtime

libs/kata-types: adjust default_vcpus correctly
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: none

libs/kata-types: adjust default_vcpus correctly
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: none

release: Kata Containers 3.0.0
  VERSION
Owners: @kata-containers/release

release: Adapt kata-deploy for 3.0.0
  tools/packaging/kata-deploy/kata-cleanup/base/kata-cleanup.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
Owners: @kata-containers/packaging

workflow: Revert "workflow: trigger test-kata-deploy with pull_request"
  .github/workflows/kata-deploy-test.yaml
  docs/Release-Process.md
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/documentation

release: Kata Containers 3.1.0-alpha0
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.1.0-alpha0
  VERSION
Owners: @kata-containers/release

workflow: Revert "workflow: trigger test-kata-deploy with pull_request"
  .github/workflows/kata-deploy-test.yaml
  docs/Release-Process.md
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/documentation

Dragonball: remove redundant comments in event manager
  src/dragonball/src/event_manager.rs
Owners: none

Dragonball: remove redundant comments in event manager
  src/dragonball/src/event_manager.rs
Owners: none

do-not-merge: test kata-deploy
  .github/workflows/kata-deploy-test.yaml
  VERSION
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/release

Dragonball: Add Dragonball build, clippy and format into CI
  Makefile
  src/dragonball/Makefile
Owners: @kata-containers/makefile

dragonball: fix clippy warning
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/api/v1/boot_source.rs
  src/dragonball/src/api/v1/instance_info.rs
  src/dragonball/src/api/v1/machine_config.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/virtio_net_dev_mgr.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
  src/dragonball/src/resource_manager.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vm/mod.rs
Owners: none

runtime-rs: test static check
  README.md
Owners: @kata-containers/documentation

dragonball: add more unit test for vmm actions
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/vm/mod.rs
Owners: none

dragonball: add more unit test for vmm actions
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/vm/mod.rs
Owners: none

Makefile: add dragonball components.
  Makefile
  src/dragonball/Makefile
Owners: @kata-containers/makefile

Makefile: add dragonball components.
  Makefile
  src/dragonball/Makefile
Owners: @kata-containers/makefile

dragonball-ut: use skip_if_not_root to skip root case
  src/dragonball/Cargo.toml
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/kvm_context.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vmm.rs
Owners: none

dragonball-ut: use skip_if_not_root to skip root case
  src/dragonball/Cargo.toml
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/kvm_context.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vmm.rs
Owners: none

dragonball: fix clippy warning
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/api/v1/boot_source.rs
  src/dragonball/src/api/v1/instance_info.rs
  src/dragonball/src/api/v1/machine_config.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/virtio_net_dev_mgr.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
  src/dragonball/src/resource_manager.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vm/mod.rs
Owners: none

dragonball: fix clippy warning
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/api/v1/boot_source.rs
  src/dragonball/src/api/v1/instance_info.rs
  src/dragonball/src/api/v1/machine_config.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/virtio_net_dev_mgr.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
  src/dragonball/src/resource_manager.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vm/mod.rs
Owners: none

kata-ctl: Add initial rust code for kata-ctl
  src/tools/kata-ctl/.gitignore
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/Makefile
  src/tools/kata-ctl/README.md
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/tools

kata-ctl: Add initial rust code for kata-ctl
  src/tools/kata-ctl/.gitignore
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/Makefile
  src/tools/kata-ctl/README.md
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/tools

versions: Add kata-ctl version entry
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/Makefile
  src/tools/kata-ctl/VERSION
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/version.rs.in
Owners: @kata-containers/tools

versions: Add kata-ctl version entry
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/Makefile
  src/tools/kata-ctl/VERSION
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/version.rs.in
Owners: @kata-containers/tools

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
