Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

tests: Temporarily skip the cpu-ns test for the s390x platform
  tests/integration/kubernetes/k8s-cpu-ns.bats
Owners: @kata-containers/tests

tests: Enable cpu hotplug for dragonball and clh in vcpus allocation
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
Owners: @kata-containers/tests

kata-types: Use fractional float for vCPU resource tracking
  src/libs/kata-types/src/cpu.rs
Owners: @kata-containers/rust

tests: Add support for qemu-runtime-rs
  tests/integration/kubernetes/k8s-block-volume.bats
Owners: @kata-containers/tests

tests: disable block volume test for s390 arch
  tests/integration/kubernetes/k8s-block-volume.bats
Owners: @kata-containers/tests

runtime-rs: Migrate vCPU tracking to fractional float
  src/runtime-rs/crates/resource/src/cpu_mem/cpu.rs
  src/runtime-rs/crates/resource/src/cpu_mem/initial_size.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
Owners: @kata-containers/rust

runtime-rs: Align the default annptations with runtime-go
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

tests: nvidia: cc: Affirming attestation policy
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

runtime: fix the issue of stuck on non-interactive kubectl exec
  src/runtime/pkg/containerd-shim-v2/stream.go
Owners: @kata-containers/golang

runtime-rs: Block Rootfs Mount Options During Storage Object Creation
  src/runtime-rs/crates/resource/src/rootfs/block_rootfs.rs
Owners: @kata-containers/rust

tests: nvidia: cc: Affirming attestation policy
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

ci: arm64-non-k8s: temporarily skip the tests
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: Use GH_TOKEN to avoid GitHub rate limits
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-riscv64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-deploy/local-build/dockerbuild/install_oras.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/cloud-hypervisor/build-static-clh.sh
  tools/packaging/static-build/nydus/build.sh
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-s390x, @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/packaging

build: Switch all the docker images to quay.io
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/packaging/kata-debug/Dockerfile
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-monitor/Dockerfile
  tools/packaging/static-build/busybox/Dockerfile
  tools/packaging/static-build/coco-guest-components/Dockerfile
  tools/packaging/static-build/codegen/Dockerfile
  tools/packaging/static-build/initramfs/Dockerfile
  tools/packaging/static-build/kernel/Dockerfile
  tools/packaging/static-build/ovmf/Dockerfile
  tools/packaging/static-build/pause-image/Dockerfile
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/shim-v2/Dockerfile
  tools/packaging/static-build/tools/Dockerfile
  tools/packaging/static-build/virtiofsd/gnu/Dockerfile
  tools/packaging/static-build/virtiofsd/musl/Dockerfile
Owners: @kata-containers/builder, @kata-containers/packaging, @kata-containers/kata-deploy

tests: move k8s_delete_all_pods_if_any_exists to test_common
  tests/integration/kubernetes/lib.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

tests: delete policy_settings_dir only for first test case
  tests/integration/kubernetes/k8s-policy-deployment-sc.bats
  tests/integration/kubernetes/k8s-policy-deployment.bats
Owners: @kata-containers/tests

doc: add block device's settings to the doc page
  docs/how-to/how-to-set-sandbox-config-kata.md
Owners: @kata-containers/documentation

kata-types: Allow dynamic queue config via Pod annotations
  src/libs/kata-types/src/annotations/mod.rs
Owners: @kata-containers/rust

doc: add block device's settings to the doc page
  docs/how-to/how-to-set-sandbox-config-kata.md
Owners: @kata-containers/documentation

kata-types: Allow dynamic queue config via Pod annotations
  src/libs/kata-types/src/annotations/mod.rs
Owners: @kata-containers/rust

runtime: oci: Use shares/cpuset for VM CPU sizing
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
Owners: @kata-containers/golang

runtime/oci: cover shares behavior with cpuset when quota is unlimited
  src/runtime/pkg/oci/utils_test.go
Owners: @kata-containers/golang

genpolicy: validation of vfio passthrough GPUs
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/settings.rs
Owners: @kata-containers/rust

nvidia: tests: remove outer CDI annotations
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-cuda-vectoradd.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

tests: nvidia: cc: generate pod security policies
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
Owners: @kata-containers/tests

tests: Enable AUTO_GENERATE_POLICY for NVIDIA TEEs
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
Owners: @kata-containers/tests

tests: Adapt NVIDIA common policy settings
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

genpolicy: tests: Add VFIO passthrough test cases
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/gpu_vfio_cdi/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/gpu_vfio_cdi/testcases.json
Owners: @kata-containers/rust

runtime: oci: Use max() for static sandbox sizing
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
Owners: @kata-containers/golang

tests: nvidia: cc: Use CUDA image from NVCR
  tests/integration/kubernetes/runtimeclass_workloads/pod-attestable-gpu.yaml.in
Owners: @kata-containers/tests

runtime-rs: Reduce output log and increase log level
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

version: Bump rtnetlink and netlink-packet-route
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
Owners: @kata-containers/rust

config: Add `memory_overhead` annotation
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/documentation, @kata-containers/golang

config: Add warning when first hot plug(s) are too small
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

runtime-rs: Add memory_overhead annotation
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

runtime/config: Add logic to test annotations
  src/runtime-rs/crates/hypervisor/src/memory_overhead_tests.rs
  src/runtime/pkg/oci/memory_overhead_test.go
  src/runtime/virtcontainers/memory_overhead_compensation_test.go
Owners: @kata-containers/rust, @kata-containers/golang

runtime-rs/ch: Add overhead computation adjustment
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs/qemu: Add overhead computation adjustment
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: Add tests for the previous functionality
  src/libs/kata-types/tests/test_config.rs
  src/libs/kata-types/tests/texture/configuration-anno-0.toml
  src/runtime-rs/crates/hypervisor/src/lib.rs
Owners: @kata-containers/rust

runtime-rs/dragonball: Add overhead computation adjustment
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
Owners: @kata-containers/rust
