Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

metrics: Add block loop pv yaml for cassandra test
  tests/metrics/disk/cassandra_kubernetes/volume/block-loop-pv.yaml
Owners: none

metrics: Add block loop pvc yaml for cassandra
  tests/metrics/disk/cassandra_kubernetes/volume/block-loop-pvc.yaml
Owners: none

metrics: Add cassandra service yaml
  tests/metrics/disk/cassandra_kubernetes/volume/runtimeclass_workloads/cassandra-service.yaml
Owners: none

metrics: Add cassandra statefulset yaml
  tests/metrics/disk/cassandra_kubernetes/cassandra.sh
  tests/metrics/disk/cassandra_kubernetes/runtimeclass_workloads/cassandra-service.yaml
  tests/metrics/disk/cassandra_kubernetes/runtimeclass_workloads/cassandra-statefulset.yaml
Owners: @kata-containers/shell

metrics: fix the loop used to stop kata components #7629
  tests/common.bash
Owners: @kata-containers/shell

tests: Add gha-run-k8s-common.sh
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

tests: kata-deploy: Add functional/kata-deploy/gha-run.sh placeholder
  tests/functional/kata-deploy/gha-run.sh
Owners: @kata-containers/shell

tests: kata-deploy: Add placeholder for kata-deploy-tests-on-aks
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: kata-deploy: Add placeholder for kata-deploy-tests-on-tdx
  .github/workflows/run-kata-deploy-tests-on-tdx.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

metrics: Rename tensorflow scripts
  tests/metrics/machine_learning/tensorflow_nhwc.sh
  tests/metrics/machine_learning/tensorflow_nhwc_dockerfile/Dockerfile
Owners: @kata-containers/shell, @kata-containers/docker

gha: cri-containerd: Ensure RUNTIME takes KATA_HYPERVISOR into account
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/shell

gha: cri-containerd: Group containerd logs
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/shell

gha: cri-containerd: Print kata logs in case of error
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/shell

gha: cri-containerd: Show pod before deleting it
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/shell

gha: cri-containerd: Add timeout to the crictl calls on testContainerStop
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/shell

gha: cri-containerd: Enable tests
  tests/integration/cri-containerd/gha-run.sh
Owners: @kata-containers/shell

metrics: Add Tensorflow ResNet50 int8 benchmark
  tests/metrics/machine_learning/tensorflow_resnet50_int8.sh
Owners: @kata-containers/shell

metrics: Add Dockerfile for ResNet50 int8
  tests/metrics/machine_learning/resnet50_int8_dockerfile/Dockerfile
  tests/metrics/machine_learning/tensorflow_resnet50_int8.sh
Owners: @kata-containers/docker, @kata-containers/shell

docs: Add Tensorflow Resnet50 documentation
  tests/metrics/machine_learning/README.md
Owners: @kata-containers/documentation

docs: Fix TensorFlow word across the document
  tests/metrics/machine_learning/README.md
  tests/metrics/machine_learning/resnet50_int8_dockerfile/Dockerfile
Owners: @kata-containers/documentation, @kata-containers/docker

gha: ci: Start running kata-deploy tests
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

metrics: Fix MobileNet help me description
  tests/metrics/machine_learning/tensorflow_mobilenet_v1_bfloat16_fp32.sh
Owners: @kata-containers/shell

kata-deploy: Properly create default runtime class
  tests/integration/kubernetes/kata-deploy-ensure-runtimec-classes-created.bats
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

tests: k8s: Call ensure_yq() in setup.sh
  tests/common.bash
  tests/integration/kubernetes/setup.sh
Owners: @kata-containers/shell

gha: k8s: Stop running kata-deploy tests as part of the k8s suite
  tests/integration/kubernetes/kata-deploy-ensure-runtimec-classes-created.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/shell

gha: kata-deploy: Add run-kata-deploy-tests.sh
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/shell

tests: commob: Don't fail if yq is not part of the cache
  tests/common.bash
Owners: @kata-containers/shell

tests: common: Ensure test_type is used as part of the cluster's name
  tests/functional/kata-deploy/gha-run.sh
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

metrics: Remove unused variable in tensorflow mobilenet script
  tests/metrics/machine_learning/tensorflow_mobilenet_v1_bfloat16_fp32.sh
Owners: @kata-containers/shell

gha: kata-deploy: Add the first kata-deploy test
  tests/functional/kata-deploy/gha-run.sh
  tests/functional/kata-deploy/kata-deploy.bats
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/shell

gha: kata-deploy: Do the runtime class cleanup as part of the cleanup
  tests/functional/kata-deploy/gha-run.sh
  tests/functional/kata-deploy/kata-deploy.bats
Owners: @kata-containers/shell

metrics: Fix check results for tensorflow benchmark
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric8.toml
Owners: none

metrics: Update tensorflow name in gha run script
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

metrics: Enable kata runtime in K8s for FIO test.
  tests/metrics/gha-run.sh
  tests/metrics/storage/fio-k8s/Makefile
  tests/metrics/storage/fio-k8s/cmd/fiotest/Makefile
  tests/metrics/storage/fio-k8s/configs/example-config/kata-clh.yaml
  tests/metrics/storage/fio-k8s/configs/example-config/kata-qemu.yaml
  tests/metrics/storage/fio-k8s/fio-test-ci.sh
Owners: @kata-containers/shell, @kata-containers/makefile

gha: capture additional kata-deploy output
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

metrics: Use function from metrics common in pytorch script
  tests/metrics/machine_learning/pytorch.sh
Owners: @kata-containers/shell

metrics: Fix FIO path
  tests/metrics/storage/fio-k8s/fio-test-ci.sh
Owners: @kata-containers/shell

metrics: Add disk link to README
  tests/metrics/README.md
Owners: @kata-containers/documentation

kata-deploy: Avoid failing on content removal
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

metrics: Add TensorFlow ResNet50 FP32 benchmark
  tests/metrics/machine_learning/tensorflow_resnet50_fp32.sh
Owners: @kata-containers/shell
