Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

ci: fix shim overlay binary path (workspace target-dir)
  .github/workflows/build-shim-overlay.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

fix(runtime-rs): serialize sandbox.start() and reclaim IFF_PERSIST taps
  src/runtime-rs/crates/resource/src/manager.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/network/endpoint/veth_endpoint.rs
  src/runtime-rs/crates/resource/src/network/network_pair.rs
  src/runtime-rs/crates/resource/src/network/utils/link/create.rs
  src/runtime-rs/crates/resource/src/network/utils/link/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

fix(runtime-rs): fix8 — start_kill QEMU without holding wait lock
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
Owners: @kata-containers/rust

fix(runtime-rs): fix9 — PDEATHSIG + non-blocking stop for large TDX teardown
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

fix(runtime-rs): fix10 — OS-thread QEMU reaper for non-blocking stop
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

config: add ARM CCA QEMU simulation config
  src/runtime/Makefile
  src/runtime/arch/arm64-options.mk
  src/runtime/config/configuration-qemu-cca-sim.toml.in
Owners: @kata-containers/golang, @kata-containers/arch-aarch64

fix(runtime-rs): fix11 — timed QMP connect + start-fail OS reap
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

dragonball: Add VIRTIO_F_ACCESS_PLATFORM for TDX virtio devices
  src/dragonball/crates/dbs_virtio_devices/src/balloon.rs
  src/dragonball/crates/dbs_virtio_devices/src/block/device.rs
  src/dragonball/crates/dbs_virtio_devices/src/fs/device.rs
  src/dragonball/crates/dbs_virtio_devices/src/fs/handler.rs
  src/dragonball/crates/dbs_virtio_devices/src/mem.rs
  src/dragonball/crates/dbs_virtio_devices/src/net.rs
  src/dragonball/crates/dbs_virtio_devices/src/vhost/vhost_kern/net.rs
  src/dragonball/crates/dbs_virtio_devices/src/vsock/device.rs
  src/dragonball/crates/dbs_virtio_devices/src/vsock/mod.rs
  src/dragonball/src/device_manager/balloon_dev_mgr.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/device_manager/mem_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/net_dev_mgr.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
Owners: @kata-containers/dragonball

dragonball: Add handler for VcpuExit of type Hypercall for TDX
  src/dragonball/src/error.rs
  src/dragonball/src/vcpu/aarch64.rs
  src/dragonball/src/vcpu/mod.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vcpu/x86_64.rs
  src/dragonball/src/vm/x86_64.rs
Owners: @kata-containers/dragonball, @kata-containers/arch-aarch64, @kata-containers/arch-amd64

versions: build: Re-add experimental Arm CCA support
  .github/workflows/build-kata-static-tarball-arm64.yaml
  src/runtime/Makefile
  src/runtime/arch/arm64-options.mk
  src/runtime/config/configuration-qemu-cca.toml.in
  tests/gha-run-k8s-common.sh
  tests/hypervisor_helpers.sh
  tests/integration/kubernetes/confidential_common.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/local-build/kata-release-tarball-inputs.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/kata_config_version
  tools/packaging/static-build/ovmf/build-ovmf.sh
  tools/packaging/static-build/ovmf/build.sh
  versions.yaml
Owners: @kata-containers/arch-aarch64, @kata-containers/golang, @kata-containers/tests, @kata-containers/kata-deploy, @kata-containers/kernel, @kata-containers/packaging, @kata-containers/release, @kata-containers/ci

build: key CoCo caches on consumed content
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-s390x, @kata-containers/kata-deploy

kata-deploy: converge job-mode CRI stage across restart-induced retries
  tools/packaging/kata-deploy/binary/src/main.rs
  tools/packaging/kata-deploy/binary/src/runtime/containerd.rs
  tools/packaging/kata-deploy/binary/src/runtime/crio.rs
  tools/packaging/kata-deploy/binary/src/runtime/lifecycle.rs
  tools/packaging/kata-deploy/binary/src/runtime/manager.rs
  tools/packaging/kata-deploy/binary/src/utils/system.rs
  tools/packaging/kata-deploy/binary/src/utils/systemd.rs
Owners: @kata-containers/kata-deploy

kata-deploy: confirm the CRI runtime loaded the kata configuration
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/binary/src/k8s/client.rs
  tools/packaging/kata-deploy/binary/src/main.rs
  tools/packaging/kata-deploy/binary/src/runtime/containerd.rs
  tools/packaging/kata-deploy/binary/src/runtime/crio.rs
  tools/packaging/kata-deploy/binary/src/runtime/lifecycle.rs
Owners: @kata-containers/kata-deploy

kata-deploy: claim a node before installing onto it
  docs/helm-configuration.md
  tools/packaging/kata-deploy/binary/src/main.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy-cleanup-job.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/kata-deploy

runtime-rs: Report container resource cleanup failures
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
Owners: @kata-containers/rust

runtime-rs: Track hotplugged devices per container
  src/runtime-rs/crates/resource/src/manager.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
Owners: @kata-containers/rust

runtime-rs: Detach hotplugged devices during container cleanup
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
Owners: @kata-containers/rust

runtime-rs: Support idempotent VFIO hot-unplug
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Retain shared devices until final detach
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
Owners: @kata-containers/rust

kata-deploy: render the TEE key advertisement from the chart
  tests/functional/kata-deploy/kata-deploy-tee-keys.bats
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/k8s/client.rs
  tools/packaging/kata-deploy/binary/src/k8s/mod.rs
  tools/packaging/kata-deploy/binary/src/k8s/nfd.rs
  tools/packaging/kata-deploy/binary/src/k8s/runtimeclasses.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/node-feature-rules.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/node-feature-rules/x86_64-tee-keys.yaml
Owners: @kata-containers/tests, @kata-containers/kata-deploy, @kata-containers/arch-amd64

required-tests: Set runtime-rs k8s e2e tests as required on s390x
  .github/workflows/ci.yaml
  tools/testing/gatekeeper/required-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs/QEMU: pass block sources by fd
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_blk_modern.rs
  src/runtime-rs/crates/hypervisor/src/qemu/block_source.rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs/EROFS: pass VMDK extents by fd
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

runtime-rs: preserve QEMU block read-only mode
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: create QEMU runtime dir before QMP
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs/QEMU: raise memlock for rootless VFIO
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

tests: cover runtime-rs QEMU sandboxing
  tests/integration/kubernetes/k8s-qemu-rootless-sandbox.bats
Owners: @kata-containers/tests

runtime-rs: roll back partial rootless setup
  src/runtime-rs/crates/runtimes/src/manager.rs
Owners: @kata-containers/rust

runtime: fix rootless CopyFile guest paths
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/fs_share_linux_test.go
Owners: @kata-containers/golang

runtime-rs: test QEMU seccomp arguments
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: match BPF JIT diagnostics
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: fix rootless CopyFile paths
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/rust

tests: cover rootless QEMU block sources
  tests/integration/kubernetes/k8s-qemu-rootless-sandbox.bats
Owners: @kata-containers/tests

runtime-rs: clean up rootless runtime directory
  src/runtime-rs/crates/hypervisor/src/utils.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

tests: extend QEMU rootless seccomp bats test
  tests/integration/kubernetes/k8s-qemu-rootless-sandbox.bats
Owners: @kata-containers/tests

runtime-rs/QEMU: pass VFIO devices by fd
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

tests: exercise rootless QEMU with a GPU
  tests/integration/kubernetes/k8s-qemu-rootless-sandbox.bats
Owners: @kata-containers/tests

runtime-rs: fail closed on QEMU credentials
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
Owners: @kata-containers/rust

docs: document where the job-mode dispatcher runs
  docs/helm-configuration.md
Owners: @kata-containers/documentation

tests: cover dispatcher placement in job mode
  tests/functional/kata-deploy/kata-deploy-scheduling.bats
Owners: @kata-containers/tests

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
