Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runk: print log to stdout
  src/tools/runk/src/main.rs
Owners: @kata-containers/rust

[WIP]runtime: Add Arm CCA confidential Guest Support
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/hypervisor_linux_arm64.go
  src/runtime/virtcontainers/qemu_arm64.go
Owners: @kata-containers/golang, @kata-containers/arch-aarch64

tests: Add kubernetes stability test
  tests/stability/kubernetes_stability.sh
  tests/stability/runtimeclass_workloads/stability-test.yaml
Owners: @kata-containers/tests

genpolicy: ignore Role resource
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/rust

docs: add content about how to pull large image
  docs/how-to/how-to-pull-images-in-guest-with-kata.md
Owners: @kata-containers/documentation

tests:k8s: add tests for pull images in the guest using trusted storage
  tests/integration/kubernetes/confidential_common.sh
  tests/integration/kubernetes/k8s-guest-pull-image.bats
  tests/integration/kubernetes/runtimeclass_workloads/confidential/trusted-storage.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/pod-guest-pull-in-trusted-storage.yaml.in
Owners: @kata-containers/tests

tests:k8s: add tests for guest pull with configured timeout
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

agent:cdh: Rename sealed_secret API namespace to confidential_data_hub
  src/agent/src/cdh.rs
  src/libs/protocols/build.rs
  src/libs/protocols/protos/confidential_data_hub.proto
  src/libs/protocols/src/lib.rs
Owners: @kata-containers/agent, @kata-containers/rust

agent:cdh: Introduces secure_mount API in cdh
  src/agent/src/cdh.rs
  src/agent/src/image.rs
  src/agent/src/rpc.rs
  src/libs/protocols/protos/confidential_data_hub.proto
Owners: @kata-containers/agent, @kata-containers/rust

version: update the version of coco-guest-components
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: update error message in pulling image encrypted tests
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
Owners: @kata-containers/tests

agent:README: add secure_image_storage_integrity to agent's README
  src/agent/README.md
Owners: @kata-containers/agent

tests: skip test trusted storage in qemu-coco-dev
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

Revert "ci: add reset_runtime to cleanup"
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

tests: Ensure exec_host() consistently captures command output
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

Revert "tests: Disable k8s file volume test"
  tests/integration/kubernetes/k8s-file-volume.bats
Owners: @kata-containers/tests

ci: nydus: Treat the snapshotter as a dependency
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

agent: Handle EINVAL error when umounting container rootfs
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

runtime: Files are not synced between host and guest VMs
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/golang

osbuilder: fix typo in ubuntu rootfs depends
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
Owners: @kata-containers/builder

runk: Add update sub-command
  src/tools/runk/Cargo.toml
  src/tools/runk/libcontainer/src/container.rs
  src/tools/runk/src/commands/mod.rs
  src/tools/runk/src/commands/update.rs
  src/tools/runk/src/main.rs
Owners: @kata-containers/rust

tools: install luks-encrypt-storage script by guest-components
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/scripts/init_trusted_storage.sh
  tools/packaging/static-build/coco-guest-components/build-static-coco-guest-components.sh
Owners: @kata-containers/builder, @kata-containers/packaging

kata-deploy: improve kata-deploy script
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

runtime: Add specific error message for gRPC request timeouts
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/golang

tests: update error message with guest pulling image timeout
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

genpolicy: add bind mounts for image volumes
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/src/cronjob.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/mount_and_storage.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/registry_containerd.rs
  src/tools/genpolicy/src/replica_set.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/settings.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
  tests/integration/kubernetes/k8s-policy-deployment.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-deployment.yaml
Owners: @kata-containers/rust, @kata-containers/tests

Revert "version: bump trustee version"
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gha: Add k8s stability Kata CoCo GHA workflow
  .github/workflows/ci-coco-stability.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  tests/stability/gha-stability-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

ci: k8s: Replace nginx alpine images
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-rc.yaml
  tests/integration/kubernetes/runtimeclass_workloads/lifecycle-events.yaml
  tests/integration/kubernetes/runtimeclass_workloads/nginx-deployment.yaml
  tests/integration/kubernetes/runtimeclass_workloads/replication-controller.yaml
Owners: @kata-containers/tests

ci: stdio: Fix typo on getting the containerd version
  tests/integration/stdio/gha-run.sh
Owners: @kata-containers/tests

ci: stdio: Properly start running the test
  .github/workflows/basic-ci-amd64.yaml
Owners: @kata-containers/arch-amd64

kata-deploy: Use runtime_path for containerd
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: Use shim's absolute path for crio's runtime_path
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: Stop linking binaries to /usr/local/bin
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

ci: stdio: Cosmetically fix dir name
  tests/integration/stdio/gha-run.sh
Owners: @kata-containers/tests

ci: stdio: Don't use bats to run a shell script
  tests/integration/stdio/gha-run.sh
Owners: @kata-containers/tests

tests/k8s: check and save kbs.key
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

ci: Ensure the KBS resources are created
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

building kata-based superprotocol image for tdx+h100 (#1)
  .github/workflows/build-superprotocol-qemu-amd64.yaml
  sp-build.sh
  tools/osbuilder/image-builder/image_builder.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/osbuilder/rootfs-builder/ubuntu/rootfs_lib.sh
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/01-netplan.yaml
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/check-config-files.service
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/check-config-files.sh
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/check-config-files.timer
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/fstab
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/install_nvidia_drivers.sh
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/k8s-infra.yaml
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/nvidia-persistenced.service
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/postbuild.sh
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/rke.sh
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/state_disk_mount.service
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/state_disk_mount.sh
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/tdx-attest.conf
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/configs/fragments/x86_64/acpi.conf
  tools/packaging/kernel/configs/fragments/x86_64/superprotocol.conf
  tools/packaging/kernel/patches/6.9.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/shell, @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/kernel, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

changes in k8s-infra - increase longhorn storage overprovisioning, change gpu-operator helm repo, disable argocd-image-updater
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/k8s-infra.yaml
Owners: @kata-containers/builder

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
