Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

tests: more k8s-exec-rejected debug output
  tests/integration/kubernetes/k8s-exec-rejected.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-exec-rejected.yaml
Owners: @kata-containers/tests

tests: more k8s-exec-rejected debug output
  tests/integration/kubernetes/k8s-exec-rejected.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-exec-rejected.yaml
Owners: @kata-containers/tests

metrics: removing taints and affinity requirements that broken iperf3
  tests/metrics/network/iperf3_kubernetes/runtimeclass_workloads/iperf3-daemonset.yaml
  tests/metrics/network/iperf3_kubernetes/runtimeclass_workloads/iperf3-deployment.yaml
  tests/metrics/network/iperf3_kubernetes/runtimeclass_workloads/iperf3-service.yaml
Owners: @kata-containers/tests

metrics: Fix iperf parallel bandwidth limit
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
Owners: @kata-containers/tests

metrics: Fix iperf parallel bandwidth limit
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
Owners: @kata-containers/tests

metrics: prevent iperf from creating an empty results file
  tests/metrics/network/iperf3_kubernetes/k8s-network-metrics-iperf3.sh
Owners: @kata-containers/tests

docs: add agent policy how-to doc
  docs/how-to/README.md
  docs/how-to/how-to-use-the-kata-agent-policy.md
Owners: @kata-containers/documentation

tools: Stop building / shipping log-parser-rs
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci

tools: Stop building / shipping log-parser-rs
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci

Revert "runtime: confidential: Do not set the max_vcpu to cpu"
  src/runtime/virtcontainers/hypervisor_config_linux.go
Owners: @kata-containers/golang

Revert "runtime: confidential: Do not set the max_vcpu to cpu"
  src/runtime/virtcontainers/hypervisor_config_linux.go
Owners: @kata-containers/golang

osbuilder: add pkg bash for alpine
  tools/osbuilder/rootfs-builder/alpine/config.sh
Owners: @kata-containers/builder

osbuilder: add pkg bash for alpine
  tools/osbuilder/rootfs-builder/alpine/config.sh
Owners: @kata-containers/builder

gha: fix artefacts build on ppc64le
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/publish-kata-deploy-payload-ppc64le.yaml
Owners: @kata-containers/arch-ppc64le

gha: fix artefacts build on ppc64le
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/publish-kata-deploy-payload-ppc64le.yaml
Owners: @kata-containers/arch-ppc64le

agent: runtime: add the Agent Policy feature
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/Makefile
  src/agent/src/main.rs
  src/agent/src/policy.rs
  src/agent/src/rpc.rs
  src/kata-opa/allow-all.rego
  src/kata-opa/kata-opa.service.in
  src/libs/protocols/protos/agent.proto
  src/runtime/pkg/katautils/create.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/agent.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/mock_agent.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent.pb.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/pkg/mock/mock.go
  tools/osbuilder/rootfs-builder/cbl-mariner/config.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  versions.yaml
Owners: @kata-containers/agent, @kata-containers/rust, @kata-containers/golang, @kata-containers/builder, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

agent: Allow overriding AGENT_POLICY build time option
  src/agent/Makefile
Owners: @kata-containers/agent

dragonball: init dbs-pci lib with pci bus & pci conf
  src/dragonball/.gitignore
  src/dragonball/README.md
  src/dragonball/src/dbs_pci/Cargo.toml
  src/dragonball/src/dbs_pci/README.md
  src/dragonball/src/dbs_pci/src/bus.rs
  src/dragonball/src/dbs_pci/src/configuration.rs
  src/dragonball/src/dbs_pci/src/device.rs
  src/dragonball/src/dbs_pci/src/lib.rs
Owners: @kata-containers/dragonball

dragonball: init dbs-pci lib with pci bus & pci conf
  src/dragonball/.gitignore
  src/dragonball/README.md
  src/dragonball/src/dbs_pci/Cargo.toml
  src/dragonball/src/dbs_pci/README.md
  src/dragonball/src/dbs_pci/src/bus.rs
  src/dragonball/src/dbs_pci/src/configuration.rs
  src/dragonball/src/dbs_pci/src/device.rs
  src/dragonball/src/dbs_pci/src/lib.rs
Owners: @kata-containers/dragonball

mount: support checking multiple kinds of block device driver
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/mount_linux_test.go
Owners: @kata-containers/golang

mount: support checking multiple kinds of block device driver
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/mount_linux_test.go
Owners: @kata-containers/golang

dragonball: metrics support for upcall client
  src/dragonball/src/dbs_upcall/Cargo.toml
  src/dragonball/src/dbs_upcall/src/lib.rs
  src/dragonball/src/metric.rs
  src/dragonball/src/vm/mod.rs
Owners: @kata-containers/dragonball

DON'T MERGE:GHA: enable static check on arm64
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: use pathBuf only for x86
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

libs:logging: Fix logger
  src/libs/logging/src/lib.rs
Owners: @kata-containers/rust

libs:logging: Fix logger
  src/libs/logging/src/lib.rs
Owners: @kata-containers/rust

libs: protection: x86_64: drop root requirement for querying
  src/libs/kata-sys-util/src/protection.rs
Owners: @kata-containers/rust

libs: protection: x86_64: drop root requirement for querying
  src/libs/kata-sys-util/src/protection.rs
Owners: @kata-containers/rust

kata-ctl: Remove root requirement for "env"
  src/tools/kata-ctl/src/ops/env_ops.rs
Owners: @kata-containers/rust

kata-ctl: Remove root requirement for "env"
  src/tools/kata-ctl/src/ops/env_ops.rs
Owners: @kata-containers/rust

runtime-rs: Introduce Capability of HybridVsockSupport.
  src/libs/kata-types/src/capabilities.rs
Owners: @kata-containers/rust

runtime-rs: Introduce Capability of HybridVsockSupport.
  src/libs/kata-types/src/capabilities.rs
Owners: @kata-containers/rust

runtime-rs: add Capability of HybridVsockSupport for Hypervisor.
  src/runtime-rs/crates/hypervisor/src/ch/inner.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
Owners: @kata-containers/rust

runtime-rs: Introduce prepare_vm_socket_config to VirtSandbox.
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Introduce prepare_vm_socket_config to VirtSandbox.
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: add Capability of HybridVsockSupport for Hypervisor.
  src/runtime-rs/crates/hypervisor/src/ch/inner.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
Owners: @kata-containers/rust

runtime-rs: bring support for legacy vsock device.
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: bring support for legacy vsock device.
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

image-builder: fix incorrect part start position
  tools/osbuilder/image-builder/image_builder.sh
Owners: @kata-containers/builder

image-builder: fix incorrect part start position
  tools/osbuilder/image-builder/image_builder.sh
Owners: @kata-containers/builder
