Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

runtime-rs: Implement block-encrypted emptyDir volumes
  Cargo.lock
  src/libs/kata-types/src/config/mod.rs
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/types.rs
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_inline.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_standalone.rs
  src/runtime-rs/crates/resource/src/share_fs/virtio_fs_share_mount.rs
  src/runtime-rs/crates/resource/src/volume/encrypted_emptydir_volume.rs
  src/runtime-rs/crates/resource/src/volume/ephemeral_volume.rs
  src/runtime-rs/crates/resource/src/volume/local_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
  src/tools/kata-ctl/Cargo.lock
Owners: @kata-containers/rust

tests: Remove no-trusted-storage NIM test duplicates
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee-no-trusted-storage.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee-no-trusted-storage.yaml.in
Owners: @kata-containers/tests

genpolicy/tests: Enable block-encrypted emptyDir support in runtime-rs
  src/tools/genpolicy/drop-in-examples/20-runtime-rs-drop-in.json
  tests/integration/kubernetes/k8s-trusted-ephemeral-data-storage.bats
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

runtime-rs: Add emptydir_mode to runtime-rs TOML templates
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-remote.toml.in
Owners: @kata-containers/rust

hypervisor/qemu: Fix erroneous ch_config reference in QEMU memory alignment
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: Add RUNTIME_ALLOW_MOUNTS to RuntimeInfo
  src/runtime-rs/crates/shim/src/bin/main.rs
Owners: @kata-containers/rust

runtime-rs: Add BlockDeviceFormat enum to support more block formats
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_blk.rs
Owners: @kata-containers/rust

runtime-rs: Add RUNTIME_ALLOW_MOUNTS to RuntimeInfo
  src/runtime-rs/crates/shim/src/bin/main.rs
Owners: @kata-containers/rust

runtime-rs: Avoid share-rw on readonly virtio-scsi/blk devices
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

agent: Register MultiLayerErofsHandler and process multiple EROFS
  src/agent/src/storage/mod.rs
  src/agent/src/storage/multi_layer_erofs.rs
Owners: @kata-containers/agent

qemu: Enable VMDK block format support
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/packaging

test: improve process verification and robustness in kill test
  tests/integration/kubernetes/k8s-kill-all-process-in-container.bats
Owners: @kata-containers/tests

ci: erofs: Bump containerd to v2.3
  .github/workflows/run-kata-coco-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

docs: Add how-to guide for using fsmerged EROFS rootfs with Kata
  docs/how-to/README.md
  docs/how-to/how-to-use-erofs-snapshotter-with-kata.md
  tests/spellcheck/kata-dictionary.txt
Owners: @kata-containers/documentation, @kata-containers/tests

ci: just debug
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
Owners: @kata-containers/kata-deploy

runtime-rs: Add BlockDeviceFormat enum to support more block formats
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_blk.rs
Owners: @kata-containers/rust

runtime-rs: Set read_only and force_share for VMDK descripter
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

runtime-rs: Add erofs rootfs handling logic in handler_rootfs
  src/runtime-rs/crates/resource/src/rootfs/mod.rs
Owners: @kata-containers/rust

agent: Refactor multi-layer EROFS handling with unified flow
  src/agent/src/storage/mod.rs
Owners: @kata-containers/agent

ci: enable erofs tests with runtime-rs
  .github/workflows/run-kata-coco-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

agent: Add virtio-scsi for multilayer erofs storage handler
  src/agent/src/storage/multi_layer_erofs.rs
Owners: @kata-containers/agent

agent: Add support for EROFS rootfs handling in kata-agent
  src/agent/src/storage/multi_layer_erofs.rs
Owners: @kata-containers/agent

runtime-rs: Add support for handling vmdk hotplugging with scsi
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

runtime-rs: Change Rootfs::get_storage return type
  src/runtime-rs/crates/resource/src/rootfs/block_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/mod.rs
  src/runtime-rs/crates/resource/src/rootfs/nydus_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/share_fs_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/virtual_volume.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

tests: Update expectation for no-layer-image test case
  tests/integration/kubernetes/k8s-empty-image.bats
Owners: @kata-containers/tests

runtime-rs: Add format argument to hotplug_block_device method
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Add support for erofs rootfs with multi-layer
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

kata-deploy: Complete containerd config for erofs snapshotter
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
Owners: @kata-containers/kata-deploy

runtime-rs: Add format argument to hotplug_block_device method
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Change Rootfs::get_storage return type
  src/runtime-rs/crates/resource/src/rootfs/block_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/mod.rs
  src/runtime-rs/crates/resource/src/rootfs/nydus_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/share_fs_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/virtual_volume.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

required-tests: Remove sev-snp, qemu-snp CIs as required
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

runtime-rs: Add support for erofs rootfs with multi-layer
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

agent: Refactor multi-layer EROFS handling with unified flow
  src/agent/src/storage/mod.rs
Owners: @kata-containers/agent

agent: Register MultiLayerErofsHandler and process multiple EROFS
  src/agent/src/storage/mod.rs
  src/agent/src/storage/multi_layer_erofs.rs
Owners: @kata-containers/agent

runtime-rs: Add support for handling vmdk hotplugging with scsi
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

agent: Add support for EROFS rootfs handling in kata-agent
  src/agent/src/storage/multi_layer_erofs.rs
Owners: @kata-containers/agent

kata-deploy: Complete containerd config for erofs snapshotter
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
Owners: @kata-containers/kata-deploy

agent: Add virtio-scsi for multilayer erofs storage handler
  src/agent/src/storage/multi_layer_erofs.rs
Owners: @kata-containers/agent

runtime-rs: Enforce read-only and shared access for RO block devices
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

ci: erofs: Bump containerd to v2.3
  .github/workflows/run-kata-coco-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci
