Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

tests: Add machine learning README
  tests/metrics/README.md
  tests/metrics/machine_learning/README.md
Owners: @kata-containers/documentation

tests: common: Move a few utility functions to common.bash
  tests/common.bash
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

tests: common: Move a few utility functions to common.bash
  tests/common.bash
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

tests: metrics: Move metrics specific function to metrics gha-run.sh
  tests/common.bash
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

tests: metrics: Move metrics specific function to metrics gha-run.sh
  tests/common.bash
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

gha: ci: Add cri-containerd tests skeleton
  .github/workflows/ci.yaml
  .github/workflows/run-cri-containerd-tests.yaml
  tests/integration/cri-containerd/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

gha: ci: Add cri-containerd tests skeleton
  .github/workflows/ci.yaml
  .github/workflows/run-cri-containerd-tests.yaml
  tests/integration/cri-containerd/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

metrics: Enable blogbench test
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

metrics: Enable blogbench test
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

checkmetrics: Add blogbench read value for clh
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
Owners: none

checkmetrics: Add blogbench read value for clh
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
Owners: none

metrics: Add double quotes to variables
  tests/metrics/storage/blogbench.sh
Owners: @kata-containers/shell

checkmetrics: Add blogbench write value for clh
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
Owners: none

checkmetrics: Add blogbench write value for qemu
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric8.toml
Owners: none

metrics: Add double quotes to variables
  tests/metrics/storage/blogbench.sh
Owners: @kata-containers/shell

metrics: Update blogbench Dockerfile
  tests/metrics/storage/blogbench.sh
  tests/metrics/storage/blogbench_dockerfile/Dockerfile
Owners: @kata-containers/shell, @kata-containers/docker

metrics: Update blogbench Dockerfile
  tests/metrics/storage/blogbench.sh
  tests/metrics/storage/blogbench_dockerfile/Dockerfile
Owners: @kata-containers/shell, @kata-containers/docker

checkmetrics: Add blogbench write value for qemu
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric8.toml
Owners: none

checkmetrics: Add blogbench write value for clh
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
Owners: none

checkmetrics: Add blogbench read value for qemu
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric8.toml
  tests/metrics/storage/blogbench.sh
Owners: @kata-containers/shell

checkmetrics: Add blogbench read value for qemu
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric8.toml
  tests/metrics/storage/blogbench.sh
Owners: @kata-containers/shell

metrics: Fix metrics ts generator to treat numbers as decimals
  tests/metrics/lib/json.bash
Owners: @kata-containers/shell

metrics: Fix metrics ts generator to treat numbers as decimals
  tests/metrics/lib/json.bash
Owners: @kata-containers/shell

ci: cri-containerd: Ensure deps are installed
  .github/workflows/run-cri-containerd-tests.yaml
  tests/integration/cri-containerd/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

ci: cri-containerd: Ensure deps are installed
  .github/workflows/run-cri-containerd-tests.yaml
  tests/integration/cri-containerd/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

ci: cri-containerd: Export GOPATH
  .github/workflows/run-cri-containerd-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: cri-containerd: Add LTS / Active versions for containerd
  .github/workflows/run-cri-containerd-tests.yaml
  versions.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

ci: cri-containerd: Add LTS / Active versions for containerd
  .github/workflows/run-cri-containerd-tests.yaml
  versions.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

ci: cri-containerd: Export GOPATH
  .github/workflows/run-cri-containerd-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: Remove trailing whitespace from go source files
  src/runtime/vendor/gopkg.in/yaml.v2/readerc.go
  src/runtime/vendor/gopkg.in/yaml.v3/apic.go
  src/runtime/vendor/gopkg.in/yaml.v3/readerc.go
  src/runtime/vendor/gopkg.in/yaml.v3/writerc.go
  src/runtime/vendor/gopkg.in/yaml.v3/yaml.go
  src/runtime/vendor/gopkg.in/yaml.v3/yamlprivateh.go
  src/tools/log-parser/vendor/gopkg.in/yaml.v2/readerc.go
  src/tools/log-parser/vendor/gopkg.in/yaml.v3/apic.go
  src/tools/log-parser/vendor/gopkg.in/yaml.v3/readerc.go
  src/tools/log-parser/vendor/gopkg.in/yaml.v3/writerc.go
  src/tools/log-parser/vendor/gopkg.in/yaml.v3/yaml.go
  src/tools/log-parser/vendor/gopkg.in/yaml.v3/yamlprivateh.go
  tests/metrics/cmd/checkmetrics/vendor/gopkg.in/yaml.v3/apic.go
  tests/metrics/cmd/checkmetrics/vendor/gopkg.in/yaml.v3/readerc.go
  tests/metrics/cmd/checkmetrics/vendor/gopkg.in/yaml.v3/writerc.go
  tests/metrics/cmd/checkmetrics/vendor/gopkg.in/yaml.v3/yaml.go
  tests/metrics/cmd/checkmetrics/vendor/gopkg.in/yaml.v3/yamlprivateh.go
Owners: @kata-containers/runtime, @kata-containers/tools

runtime-rs: Remove trailing whitespace from Rust source files
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/runtime

docs: Replace obsolete TOML syntax for containerd config examples
  docs/how-to/containerd-kata.md
  docs/how-to/how-to-use-kata-containers-with-firecracker.md
  docs/how-to/privileged.md
  docs/use-cases/using-Intel-QAT-and-kata.md
Owners: @kata-containers/documentation

docs: Add note about `version = 2` syntax for containerd config
  docs/how-to/containerd-kata.md
  docs/how-to/how-to-use-kata-containers-with-firecracker.md
  docs/how-to/privileged.md
Owners: @kata-containers/documentation

static-checks: Make cargo clippy pass.
  src/libs/kata-sys-util/src/cpu.rs
  src/libs/kata-sys-util/src/lib.rs
Owners: none

kata-ctl: Remove cpu related functions from kata-ctl
  src/tools/kata-ctl/src/arch/s390x/mod.rs
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/tools

kata-sys-util: Move CPU info functions
  src/libs/kata-sys-util/Cargo.toml
  src/libs/kata-sys-util/src/cpu.rs
  src/libs/kata-sys-util/src/lib.rs
Owners: none

kata-sys-util: Move CPU info functions
  src/libs/kata-sys-util/Cargo.toml
  src/libs/kata-sys-util/src/cpu.rs
  src/libs/kata-sys-util/src/lib.rs
Owners: none

kata-ctl: Remove all utility functions to get platform protection
  src/libs/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/src/arch/aarch64/mod.rs
  src/tools/kata-ctl/src/arch/powerpc64le/mod.rs
  src/tools/kata-ctl/src/arch/s390x/mod.rs
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/ops/env_ops.rs
Owners: @kata-containers/tools

static-checks: Make cargo clippy pass.
  src/libs/kata-sys-util/src/cpu.rs
  src/libs/kata-sys-util/src/lib.rs
Owners: none

kata-sys-util: Move utilities to get platform protection
  src/libs/kata-sys-util/src/lib.rs
  src/libs/kata-sys-util/src/protection.rs
Owners: none

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
