Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CI: Add dedicated expected error message for runtime-rs
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

CI: match capitalized pull image error exactly
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

runtime-rs: Support initdata within NonProtection scenarios
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

DO NOT MERGE: Skip long test(s)
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

runtime-rs: test block device aio with native set
  src/runtime-rs/config/configuration-qemu-runtime-rs-coco-dev.toml.in
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: Adjust VSOCK timeouts for IBM SEL
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
Owners: @kata-containers/rust

build: Add darwin support to arch_to_golang
  tests/common.bash
Owners: @kata-containers/tests

workflows: Switch workflows to use install_go.sh
  .github/workflows/darwin-tests.yaml
  .github/workflows/docs-url-alive-check.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Make install_go.sh more portable
  tests/install_go.sh
Owners: @kata-containers/tests

runtime-rs: Support initdata within NonProtection scenarios
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Change the initdata device driver with block_device_driver
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

versions: Bump golang to 1.24.6
  src/runtime/go.mod
  src/tools/csi-kata-directvolume/go.mod
  tools/testing/kata-webhook/go.mod
  versions.yaml
Owners: @kata-containers/golang, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

Map stdin to /dev/null for non-interactive exec
  src/agent/rustjail/src/process.rs
Owners: @kata-containers/agent

Revert "versions: update kernel-confidential to Linux v6.16.1"
  tools/packaging/kernel/configs/fragments/common/confidential_containers/cryptsetup.conf
  tools/packaging/kernel/configs/fragments/common/hotplug.conf
  tools/packaging/kernel/configs/fragments/s390/confidential/fips.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/configs/fragments/x86_64/confidential/fips.conf
  tools/packaging/kernel/configs/fragments/x86_64/crypto.conf
  tools/packaging/kernel/configs/fragments/x86_64/tdx/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.16.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/arch-amd64, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime: Fix non constant Errorf formatting
  src/runtime/pkg/containerd-shim-v2/errors.go
  src/runtime/virtcontainers/remote.go
  src/tools/csi-kata-directvolume/pkg/utils/safe_formater.go
  src/tools/csi-kata-directvolume/pkg/utils/utils.go
Owners: @kata-containers/golang

gpu: Add more debugging to CI/CD
  tests/integration/kubernetes/k8s-nvidia-nim.bats
Owners: @kata-containers/tests

versions: image / initrd: Bump to alpine 3.22
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

kata-deploy: Bump image to use alpine 3.22
  tools/packaging/kata-deploy/Dockerfile
Owners: @kata-containers/kata-deploy

kata-deploy: tools: tests: Use zstd instead of xz
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-riscv64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/publish-kata-deploy-payload.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/release.yaml
  ci/README.md
  docs/how-to/how-to-run-kata-containers-with-SE-VMs.md
  tests/common.bash
  tools/osbuilder/rootfs-builder/alpine/Dockerfile.in
  tools/osbuilder/rootfs-builder/cbl-mariner/Dockerfile.in
  tools/osbuilder/rootfs-builder/debian/Dockerfile.in
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/packaging/guest-image/build_se_image.sh
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-merge-builds.sh
  tools/packaging/release/release.sh
  utils/kata-manager.sh
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-s390x, @kata-containers/tests, @kata-containers/documentation, @kata-containers/builder, @kata-containers/packaging, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/utils

rootfs-builder: Bump alpine to 3.22
  tools/osbuilder/rootfs-builder/alpine/Dockerfile.in
Owners: @kata-containers/builder

local-build: Enfore USE_CACHE=no
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

local-build: Fix shim-v2 no cache build with measured rootfs
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

SQUASH
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/utils/utils.go
Owners: @kata-containers/golang

runtime: Enable init_data annotation
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime/config/configuration-remote.toml.in
Owners: @kata-containers/rust, @kata-containers/golang

fix up add runtimeclass
  src/runtime-rs/config/configuration-qemu-runtime-rs-coco-dev.toml.in
Owners: @kata-containers/rust

local-build: Enforce USE_CACHE=no
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

policy: allow neighbors with reachable state
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/tests/policy/testdata/addarpneighbors/testcases.json
Owners: @kata-containers/rust

network: preseed default-gateway neighbor
  src/runtime/virtcontainers/network.go
  src/runtime/virtcontainers/network_linux.go
Owners: @kata-containers/golang

runtime-rs: config: add disable_selinux and selinux_label fields
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

runtime-rs: sandbox: read selinux_label from OCI spec and pass to preparevm
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: add selinux support for ch - read and add selinux label in preparevm - add selinux label before spawn ch
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs: sandbox: read selinux_label from OCI spec and pass to preparevm
  src/runtime-rs/crates/hypervisor/src/lib.rs
Owners: @kata-containers/rust

runtime-rs: hypervisor: add selinux_label parameter stubs to CH, Dragonball, Firecracker, and Remote
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/ch/mod.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/mod.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
  src/runtime-rs/crates/hypervisor/src/remote/mod.rs
Owners: @kata-containers/rust

runtime-rs: hypervisor: set SELinux label for virtiofsd process I set the SELinux label for containerd, and virtiofsd successfully inherited this label.
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: add selinux support for firecracker - read and add selinux label in preparevm - add selinux label before spawn fc
  src/runtime-rs/crates/hypervisor/src/firecracker/inner.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs: hypervisor: set SELinux label for qemu I set the SELinux label for qemu.
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

ci.ocp: Allow to set operator/caa commits
  ci/openshift-ci/peer-pods-azure.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Allow to set/provide PP_IMAGE_ID
  ci/openshift-ci/peer-pods-azure.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Log more details on failure
  ci/openshift-ci/peer-pods-azure.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Allow to set CAA_IMAGE
  ci/openshift-ci/peer-pods-azure.sh
Owners: @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
