Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

build: Allow users to define AGENT_POLICY
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

build: Allow users to specificy EXTRA_PKGS
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

runtime-rs: Add PCIe topology mgmt for Root Port and Switch Port
  src/runtime-rs/crates/hypervisor/src/device/topology.rs
Owners: @kata-containers/rust

runtime-rs: handle useless Device match arms in dragonball vmm case
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/rust

runtime-rs: Handle PortDevice devices when invoke start_vm with Qemu
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: Introduce device type of PordDevice in device manager
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/port_device.rs
  src/runtime-rs/crates/hypervisor/src/device/mod.rs
Owners: @kata-containers/rust

runtime-rs: Prepare pcie port devices before start sandbox
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Introduce PortDevice in resource manager in sandbox
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
Owners: @kata-containers/rust

runtime-rs: Introduce pcie root port and switch port in qemu-rs cmdline.
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

virtiofsd: Update to v1.13.1
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: Remove CDI annotations for outer runtime
  src/runtime/pkg/device/config/config.go
Owners: @kata-containers/golang

gpu: Add CDI parsing for Sandbox as well
  src/runtime/pkg/containerd-shim-v2/create.go
Owners: @kata-containers/golang

gpu: Remove unneeded parsing of CDI devices
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

gpu: Handle VFIO devices with DevicePlugin and CDI
  src/runtime/virtcontainers/container.go
Owners: @kata-containers/golang

gpu: Update creation permissions
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
Owners: @kata-containers/builder

kernel: Add KERNEL_DEBUG_ENABLED to build scripts
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/common/debug.conf
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/kernel, @kata-containers/packaging

shellcheck: Rewrite check if buildx is supported
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/kata-deploy

shellcheck: Improve kata-deploy-binaries ...
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/kata-deploy

shellcheck: Update kata-deploy-binaries.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

runtime: Add Path for kata-deploy
  src/runtime/data/kata-collect-data.sh.in
Owners: @kata-containers/golang

runtime: execute using abs path
  src/runtime/data/kata-collect-data.sh.in
Owners: @kata-containers/golang

ci: Extend basic s390x tests
  .github/workflows/basic-ci-s390x.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-cri-containerd-tests-s390x.yaml
  tools/testing/gatekeeper/required-tests.yaml
Owners: @kata-containers/arch-s390x, @kata-containers/action-admins, @kata-containers/ci

genpolicy: Add container_id & related policy container data to state.
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/tests/main.rs
  src/tools/genpolicy/tests/testdata/execprocess/testcases.json
  src/tools/genpolicy/tests/testdata/state/createcontainer/pod.yaml
  src/tools/genpolicy/tests/testdata/state/createcontainer/testcases.json
  src/tools/genpolicy/tests/testdata/state/execprocess/pod.yaml
  src/tools/genpolicy/tests/testdata/state/execprocess/testcases.json
Owners: @kata-containers/rust

runtime: add support for io.katacontainers.config.runtime.cc_init_data
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/pkg/types/types.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_amd64_test.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_arm64.go
  src/runtime/virtcontainers/qemu_arm64_test.go
  src/runtime/virtcontainers/qemu_ppc64le.go
  src/runtime/virtcontainers/qemu_ppc64le_test.go
  src/runtime/virtcontainers/qemu_s390x.go
  src/runtime/virtcontainers/qemu_s390x_test.go
  src/runtime/virtcontainers/qemu_test.go
Owners: @kata-containers/golang, @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

build: Allow users to build the go, rust, or both runtimes
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

ci.ocp: Add peer-pods setup script
  ci/openshift-ci/README.md
  ci/openshift-ci/peer-pods-azure.sh
Owners: @kata-containers/ci, @kata-containers/tests

kata-deploy: Modify imports after they are defined
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: Avoid removing containerd config when backup exists
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: Quotate the shims variable
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: Modify containerd config atomically
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

versions: update rust to 1.86.0
  rust-toolchain.toml
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: cargo update for agent and protocols
  src/agent/Cargo.lock
  src/libs/Cargo.lock
Owners: @kata-containers/agent, @kata-containers/rust

agent: use thread-safe bool for rpc
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

versions: remove casting and fix Arc declaration
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

versions: update async-trait and ttrpc-codegen
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/libs/protocols/Cargo.toml
Owners: @kata-containers/agent, @kata-containers/rust

agent: use feature flag 'guest-pull' for dead code
  src/agent/src/cdh.rs
Owners: @kata-containers/agent

ci: demote CoCo non-TEE to non-required from gatekeeper
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

genpolicy: support arbitrary resources with -c
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/utils.rs
  src/tools/genpolicy/tests/main.rs
Owners: @kata-containers/rust

genpolicy: refactor policy test workdir setup
  src/tools/genpolicy/tests/policy/main.rs
Owners: @kata-containers/rust

genpolicy: move policy enforcement integration test to separate folder
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/copyfile/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/copyfile/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/generate_name/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/generate_name/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/network_namespace/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/network_namespace/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/sysctls/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/sysctls/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createsandbox/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createsandbox/testcases.json
  src/tools/genpolicy/tests/policy/testdata/execprocess/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/execprocess/testcases.json
  src/tools/genpolicy/tests/policy/testdata/updateinterface/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/updateinterface/testcases.json
  src/tools/genpolicy/tests/policy/testdata/updateroutes/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/updateroutes/testcases.json
Owners: @kata-containers/rust
