Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

rootfs: delete systemd units/files from rootfs.sh
  tools/osbuilder/image-builder/image_builder.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

rootfs: print the path to files being deleted
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

rootfs: delete links to deleted files
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

tests: Introduce retry_kubectl_apply() for trusted storage
  tests/integration/kubernetes/k8s-guest-pull-image.bats
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

runtime: skip empty Guest console output lines
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

release: Bump version to 3.13.0
  VERSION
  tools/packaging/kata-deploy/helm-chart/kata-deploy/Chart.yaml
Owners: @kata-containers/release, @kata-containers/kata-deploy

gpu: Fix rootfs build
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
Owners: @kata-containers/builder

runtime: Add proper IOMMUFD parsing
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

qemu: Add command line for IOMMUFD
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
Owners: @kata-containers/golang

virtiofsd: Update ubuntu to 22.04 for gnu target
  tools/packaging/static-build/virtiofsd/gnu/Dockerfile
Owners: @kata-containers/packaging

doc: Add Helm Chart entry
  docs/install/README.md
Owners: @kata-containers/documentation

ci: Unify on $GH_PR_NUMBER environment variable
  .github/workflows/gatekeeper.yaml
  .github/workflows/run-k8s-tests-on-amd64.yaml
  .github/workflows/run-k8s-tests-on-ppc64le.yaml
  .github/workflows/run-k8s-tests-on-zvsi.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-garm.yaml
  tests/integration/kubernetes/confidential_common.sh
  tools/testing/gatekeeper/jobs.py
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/tests

runtime-rs: Update `ttrpc` to 0.8.3
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/runtimes/common/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/service/Cargo.toml
  src/runtime-rs/crates/service/src/manager.rs
  src/runtime-rs/crates/shim/Cargo.toml
Owners: @kata-containers/rust

network: Add support for vlan
  src/runtime/virtcontainers/endpoint.go
  src/runtime/virtcontainers/network_linux.go
  src/runtime/virtcontainers/persist/api/network.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/vlan_endpoint.go
  src/runtime/virtcontainers/vlan_endpoint_test.go
Owners: @kata-containers/golang

update docs for guest CreateContainer hook
  docs/design/hooks-handling.md
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-sev.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-remote.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
Owners: @kata-containers/documentation, @kata-containers/rust, @kata-containers/golang

fix: register guest create_container hook
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/agent, @kata-containers/rust

agent: mounts: Mount configfs into the container
  src/agent/README.md
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/mount.rs
  src/agent/src/config.rs
  src/agent/src/main.rs
Owners: @kata-containers/agent

Completion file shouldn't have a shebang
  src/runtime/data/completions/bash/kata-runtime
Owners: @kata-containers/golang

gpu: Add tarball build arm64
  .github/workflows/build-kata-static-tarball-nvidia-gpu-arm64.yaml
  .github/workflows/ci.yaml
Owners: @kata-containers/arch-aarch64, @kata-containers/action-admins, @kata-containers/ci

gpu: Add rootfs target amd64
  .github/workflows/build-kata-static-tarball-amd64.yaml
Owners: @kata-containers/arch-amd64

gpu: Add rootfs initrd build for arm64
  .github/workflows/build-kata-static-tarball-arm64.yaml
Owners: @kata-containers/arch-aarch64

kernel: config: Add CONFIG_VIRTIO_BALLOON to virtio.conf
  tools/packaging/kernel/configs/fragments/common/virtio.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

runtime-rs: db: Change config enable_balloon_f_reporting
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/mod.rs
Owners: @kata-containers/rust

runtime-rs: Add reclaim_guest_freed_memory qemu support
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Add reclaim_guest_freed_memory cloud-hypervisor support
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
  src/runtime-rs/crates/hypervisor/ch-config/src/convert.rs
Owners: @kata-containers/rust

virtiofsd: Enable build for RISC-V
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/virtiofsd/build.sh
  tools/packaging/static-build/virtiofsd/gnu/Dockerfile
Owners: @kata-containers/packaging

agent: move policy module into separate crate
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/policy/Cargo.toml
  src/agent/policy/src/lib.rs
  src/agent/policy/src/policy.rs
  src/agent/src/main.rs
  src/agent/src/policy.rs
Owners: @kata-containers/agent

policy: check the linux network namespace
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/tests/main.rs
  src/tools/genpolicy/tests/testdata/createcontainer/network_namespace/pod.yaml
  src/tools/genpolicy/tests/testdata/createcontainer/network_namespace/testcases.json
Owners: @kata-containers/rust

policy: use agent policy crate in genpolicy test
  src/tools/genpolicy/Cargo.lock
  src/tools/genpolicy/Cargo.toml
  src/tools/genpolicy/tests/main.rs
Owners: @kata-containers/rust

genpolicy: expose create as library
  src/tools/genpolicy/src/lib.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/utils.rs
Owners: @kata-containers/rust

Revert "gpu: Add rootfs target amd64/arm64"
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64

gpu: Add kernel dep for the non coco use-case
  tools/packaging/kata-deploy/local-build/Makefile
Owners: @kata-containers/kata-deploy

ci: Make Azure region configurable
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

libs/kata-types: Remove config enable_swap
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/tests/test_config.rs
  src/libs/kata-types/tests/texture/configuration-anno-0.toml
  src/libs/kata-types/tests/texture/configuration-anno-1.toml
  src/runtime-rs/tests/texture/configuration-qemu.toml
Owners: @kata-containers/rust

ci: Retry on failure of Create AKS cluster
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

fixup: Tweak timeout value and roll out to other workflows
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

deps: Update ttrpc to v0.8.4
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/libs/Cargo.lock
  src/libs/protocols/Cargo.toml
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/agent/Cargo.toml
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/runtimes/common/Cargo.toml
  src/runtime-rs/crates/service/Cargo.toml
  src/tools/agent-ctl/Cargo.lock
  src/tools/agent-ctl/Cargo.toml
  src/tools/genpolicy/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
Owners: @kata-containers/agent, @kata-containers/rust

ci: Retry on failure of Create AKS cluster
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: Switch to github-hosted arm runner
  .github/actionlint.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/release-arm64.yaml
Owners: @kata-containers/arch-aarch64

gpu: Fix arm64 kernel build
  tools/packaging/kernel/configs/fragments/gpu/nvidia.arm64.conf.in
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/arch-aarch64, @kata-containers/kernel
