Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

arm64: Do not use DAX with the rootfs image
  src/runtime-rs/crates/hypervisor/src/kernel_param.rs
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/qemu_arm64.go
  tools/osbuilder/image-builder/image_builder.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/rust, @kata-containers/golang, @kata-containers/arch-aarch64, @kata-containers/builder, @kata-containers/kata-deploy

fix: address Copilot review comments on emptyDir subPath handling
  src/runtime/pkg/katautils/create.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/mount_test.go
Owners: @kata-containers/golang

tests: add k8s emptyDir subPath regression test
  tests/integration/kubernetes/k8s-empty-dirs.bats
  tests/integration/kubernetes/runtimeclass_workloads/pod-empty-dir-subpath.yaml
Owners: @kata-containers/tests

fix(policy): support emptyDir volumeMount.subPath in genpolicy
  src/tools/genpolicy/src/mount_and_storage.rs
  tests/integration/kubernetes/runtimeclass_workloads/pod-empty-dir-subpath.yaml
Owners: @kata-containers/rust, @kata-containers/tests

fix(policy): align emptyDir mount type with subPath behavior in Kata
  src/tools/genpolicy/src/mount_and_storage.rs
Owners: @kata-containers/rust

versions: Bump openssl-src
  Cargo.lock
Owners: none

genpolicy: Bump openssl-src
  src/tools/genpolicy/Cargo.lock
Owners: none

arm64: Do not use DAX with the rootfs image
  src/runtime-rs/crates/hypervisor/src/kernel_param.rs
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/qemu_arm64.go
  tools/osbuilder/image-builder/image_builder.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/rust, @kata-containers/golang, @kata-containers/arch-aarch64, @kata-containers/builder, @kata-containers/kata-deploy

versions: Add specific nvidia kernel version
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

kernel: bump to v6.18.x (LTS)
  tools/packaging/kernel/configs/fragments/arm64/crypto.conf
  tools/packaging/kernel/configs/fragments/common/crypto.conf
  tools/packaging/kernel/configs/fragments/common/netfilter.conf
  tools/packaging/kernel/configs/fragments/common/signing/module_signing.conf
  tools/packaging/kernel/configs/fragments/s390/crypto.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/configs/fragments/x86_64/crypto.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.18.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/arch-aarch64, @kata-containers/kernel, @kata-containers/arch-amd64, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

ci.ocp: Add notes about where to get other podvm images
  ci/openshift-ci/peer-pods-azure.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Update cleanup.sh to cope with helm deployment
  ci/openshift-ci/cleanup.sh
Owners: @kata-containers/ci, @kata-containers/tests

genpolicy: Bump openssl-src
  src/tools/genpolicy/Cargo.lock
Owners: none

versions: Bump openssl-src
  Cargo.lock
Owners: none

kernel: bugfix install yq
  tools/packaging/static-build/kernel/Dockerfile
  tools/packaging/static-build/kernel/install_yq.sh
Owners: @kata-containers/packaging

gpu: versions.yaml nvidia driver pinning
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: Remove building of Headers
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

gpu: Add NVIDA modules to build-kernel.sh
  tools/packaging/kernel/build-kernel.sh
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: build_image.sh use versions.yaml
  tools/packaging/guest-image/build_image.sh
Owners: @kata-containers/packaging

kernel: bump kata_config_version
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

versions: nvidia: Bump kernel to the latest LTS
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: nvidia_chroot.sh update decoupling
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

workflows: nvidia: Adjust to kernel / roots build decouple
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  src/agent/Cargo.lock
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/agent

gpu: deploy modules for kernel build
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

versions: bump Trustee and guest-components
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

agent-ctl: bump image-rs version
  src/tools/agent-ctl/Cargo.lock
  src/tools/agent-ctl/Cargo.toml
Owners: none

kernel: bugfix install yq
  tools/packaging/static-build/kernel/Dockerfile
  tools/packaging/static-build/kernel/install_yq.sh
Owners: @kata-containers/packaging

gpu: versions.yaml nvidia driver pinning
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: Remove building of Headers
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

gpu: Add NVIDA modules to build-kernel.sh
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

gpu: deploy modules for kernel build
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

gpu: rootfs update decoupling
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: build_image.sh use versions.yaml
  tools/packaging/guest-image/build_image.sh
Owners: @kata-containers/packaging

versions: nvidia: Bump kernel to the latest LTS
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

workflows: nvidia: Adjust to kernel / roots build decouple
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64

kernel: bump kata_config_version
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

runtime: nvidia: Disable NVDIMM
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
Owners: @kata-containers/golang

kernel: bump kata_config_version
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

gpu: Add NVIDA modules to build-kernel.sh
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

kernel: bugfix install yq
  tools/packaging/static-build/kernel/Dockerfile
  tools/packaging/static-build/kernel/install_yq.sh
Owners: @kata-containers/packaging

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
