Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

versions: Update the rust toolchain to 1.66.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

protocols: Fix needless_borrow warnings
  src/libs/protocols/build.rs
Owners: none

protocols: Fix needless_borrow warnings
  src/libs/protocols/build.rs
Owners: none

runtime/Makefile: Get some bits happy on darwin
  ci/install_yq.sh
  src/runtime/Makefile
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/runtime

runtime/Makefile: Get some bits happy on darwin
  ci/install_yq.sh
  src/runtime/Makefile
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/runtime

logging: Fix needless_borrow warnings
  src/libs/logging/src/file_rotate.rs
Owners: none

protocols: Fix unnecessary_cast warnings
  src/libs/protocols/src/trans.rs
Owners: none

protocols: Fix unnecessary_cast warnings
  src/libs/protocols/src/trans.rs
Owners: none

logging: Fix needless_borrow warnings
  src/libs/logging/src/file_rotate.rs
Owners: none

safe-path: Fix needless_borrow warnings
  src/libs/safe-path/src/pinned_path_buf.rs
  src/libs/safe-path/src/scoped_dir_builder.rs
  src/libs/safe-path/src/scoped_path_resolver.rs
Owners: none

kata-sys-util: Fix "match-like-matches-macro" warning
  src/libs/kata-sys-util/src/validate.rs
Owners: none

safe-path: Fix needless_borrow warnings
  src/libs/safe-path/src/pinned_path_buf.rs
  src/libs/safe-path/src/scoped_dir_builder.rs
  src/libs/safe-path/src/scoped_path_resolver.rs
Owners: none

kata-types: Fix needless_borrow warnings
  src/libs/kata-types/src/config/drop_in.rs
  src/libs/kata-types/tests/test_config.rs
Owners: none

kata-types: Fix unnecessary_cast warnings
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: none

kata-types: Fix unnecessary_cast warnings
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: none

kata-sys-util: Fix unnecessary_cast warnings
  src/libs/kata-sys-util/src/mount.rs
Owners: none

kata-sys-util: Fix needless_borrow warnings
  src/libs/kata-sys-util/src/fs.rs
  src/libs/kata-sys-util/src/mount.rs
  src/libs/kata-sys-util/src/numa.rs
Owners: none

logging: Allow clippy::type-complexity warning
  src/libs/logging/src/lib.rs
Owners: none

kata-sys-util: Fix unnecessary_cast warnings
  src/libs/kata-sys-util/src/mount.rs
Owners: none

kata-sys-util: Fix "match-like-matches-macro" warning
  src/libs/kata-sys-util/src/validate.rs
Owners: none

kata-sys-util: Fix needless_borrow warnings
  src/libs/kata-sys-util/src/fs.rs
  src/libs/kata-sys-util/src/mount.rs
  src/libs/kata-sys-util/src/numa.rs
Owners: none

logging: Allow clippy::type-complexity warning
  src/libs/logging/src/lib.rs
Owners: none

kata-types: Fix needless_borrow warnings
  src/libs/kata-types/src/config/drop_in.rs
  src/libs/kata-types/tests/test_config.rs
Owners: none

rustjail: Fix needless_borrow warnings
  src/agent/rustjail/src/mount.rs
Owners: @kata-containers/agent

rustjail: Fix needless_borrow warnings
  src/agent/rustjail/src/mount.rs
Owners: @kata-containers/agent

rustjail: Fix unnecessary_cast warnings
  src/agent/rustjail/src/seccomp.rs
Owners: @kata-containers/agent

rustjail: Fix unnecessary_cast warnings
  src/agent/rustjail/src/seccomp.rs
Owners: @kata-containers/agent

agent: Fix needless_borrow warnings
  src/agent/src/device.rs
  src/agent/src/mount.rs
  src/agent/src/namespace.rs
  src/agent/src/netlink.rs
  src/agent/src/network.rs
  src/agent/src/sandbox.rs
  src/agent/src/watcher.rs
Owners: @kata-containers/agent

agent: Fix needless_borrow warnings
  src/agent/src/device.rs
  src/agent/src/mount.rs
  src/agent/src/namespace.rs
  src/agent/src/netlink.rs
  src/agent/src/network.rs
  src/agent/src/sandbox.rs
  src/agent/src/watcher.rs
Owners: @kata-containers/agent

agent: Fix explicit_auto_deref warnings
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: Fix explicit_auto_deref warnings
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: Allow clippy::question_mark warning in Namespace{}
  src/agent/src/namespace.rs
Owners: @kata-containers/agent

agent: Allow clippy::question_mark warning in Namespace{}
  src/agent/src/namespace.rs
Owners: @kata-containers/agent

versions: Update the rust toolchain to 1.66.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

protocols: Fix needless_borrow warnings
  src/libs/protocols/build.rs
Owners: none

protocols: Fix unnecessary_cast warnings
  src/libs/protocols/src/trans.rs
Owners: none

logging: Fix needless_borrow warnings
  src/libs/logging/src/file_rotate.rs
Owners: none

logging: Allow clippy::type-complexity warning
  src/libs/logging/src/lib.rs
Owners: none

kata-sys-util: Fix needless_borrow warnings
  src/libs/kata-sys-util/src/fs.rs
  src/libs/kata-sys-util/src/mount.rs
  src/libs/kata-sys-util/src/numa.rs
Owners: none

kata-sys-util: Fix unnecessary_cast warnings
  src/libs/kata-sys-util/src/mount.rs
Owners: none
