Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

nvidia: rootfs: pick up CDI driver libs from usr/lib in the layout split
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
Owners: @kata-containers/builder

kata-types: disallow sandbox bind mounts from annotations
  src/libs/kata-types/src/annotations/mod.rs
Owners: @kata-containers/rust

runtime-rs: add Cloud Hypervisor VM template support
  src/libs/kata-types/src/config/hypervisor/ch.rs
  src/runtime-rs/config/configuration-clh-azure-runtime-rs.toml.in
  src/runtime-rs/config/configuration-clh-runtime-rs.toml.in
  src/runtime-rs/crates/hypervisor/ch-config/src/ch_api.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/convert.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/errors.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/ch/mod.rs
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
  src/runtime-rs/crates/runtimes/virt_container/src/factory/template.rs
  src/runtime-rs/crates/runtimes/virt_container/src/factory/vm.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

tests: add support for runtime-rs VM templating
  .github/workflows/run-k8s-tests-on-free-runner.yaml
  tests/integration/kubernetes/k8s-vm-templating.bats
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

runtimes: remove config_path sandbox annotation override
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/libs/kata-types/src/annotations/mod.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime/README.md
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
Owners: @kata-containers/documentation, @kata-containers/rust, @kata-containers/golang

runtimes: reject unshipped KATA_CONF_FILE paths
  Cargo.lock
  docs/how-to/containerd-kata.md
  docs/how-to/how-to-use-kata-containers-with-firecracker.md
  src/libs/kata-types/src/annotations/mod.rs
  src/runtime-rs/crates/runtimes/Cargo.toml
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime/README.md
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/containerd-shim-v2/create_test.go
Owners: @kata-containers/documentation, @kata-containers/rust, @kata-containers/golang

release: Bump version to 4.0.0
  VERSION
  tools/packaging/kata-deploy/helm-chart/kata-deploy/Chart.yaml
Owners: @kata-containers/release, @kata-containers/kata-deploy

cargo: correct rstest entry in Cargo.lock
  Cargo.lock
Owners: none

agent/srm: add scratch, handle-binding, and network-phase verifiers (Stage 5)
  src/agent/security-reference-monitor/src/handle_binding.rs
  src/agent/security-reference-monitor/src/lib.rs
  src/agent/security-reference-monitor/src/network_phase.rs
  src/agent/security-reference-monitor/src/scratch.rs
Owners: @kata-containers/agent

agent: enforce encrypted scratch by effective mode (FR-5)
  src/agent/src/storage/block_handler.rs
Owners: @kata-containers/agent

agent: bind storage mounts to the checked destination handle (FR-4B)
  src/agent/src/storage/mod.rs
Owners: @kata-containers/agent

agent: freeze network post-start and disable debug/diagnostics in strict (FR-14, FR-7)
  src/agent/src/features.rs
  src/agent/src/main.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

kata-deploy: drop cross-build orchestration from local-build
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

utils.mk: drop cross-compilation Rust linker selection
  utils.mk
Owners: @kata-containers/build

kernel: drop cross-compilation build support
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/kata_config_version
  tools/packaging/static-build/kernel/Dockerfile
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kernel, @kata-containers/packaging

docs: drop cross-build instructions for SE boot image
  docs/how-to/how-to-run-kata-containers-with-SE-VMs.md
Owners: @kata-containers/documentation

static-build: drop cross-build container handling
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/agent/build.sh
  tools/packaging/static-build/busybox/build.sh
  tools/packaging/static-build/coco-guest-components/build.sh
  tools/packaging/static-build/pause-image/build.sh
  tools/packaging/static-build/shim-v2/build.sh
  tools/packaging/static-build/tools/build.sh
  tools/packaging/static-build/virtiofsd/build.sh
Owners: @kata-containers/packaging

qemu: drop cross-compilation build support
  tools/packaging/scripts/configure-hypervisor.sh
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/qemu/build-base-qemu.sh
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

kata-ctl: drop cross-rs cross-build tooling
  src/tools/kata-ctl/Cross.toml
  src/tools/kata-ctl/README.md
Owners: @kata-containers/documentation

osbuilder: drop cross-compilation rootfs/image support
  tools/osbuilder/image-builder/image_builder.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
  tools/osbuilder/scripts/lib.sh
Owners: @kata-containers/builder

ci: drop cross-compilation from install_libseccomp.sh
  ci/install_libseccomp.sh
Owners: @kata-containers/ci, @kata-containers/tests

runtime-rs: share block storage source mapping
  src/runtime-rs/crates/resource/src/block_device.rs
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/rootfs/block_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

agent/srm: add fault-injection and property/fuzz tests over the lifecycle (FR-15)
  src/agent/security-reference-monitor/tests/fault_injection.rs
Owners: @kata-containers/agent

agent/policy: emit structured rule-attributable decision objects on denial (FR-8)
  src/agent/policy/src/decision.rs
  src/agent/policy/src/lib.rs
  src/agent/policy/src/policy.rs
Owners: @kata-containers/agent

srm: add TLA+ model of the lifecycle with model-checked safety properties (FR-15)
  src/agent/security-reference-monitor/formal/.gitignore
  src/agent/security-reference-monitor/formal/README.md
  src/agent/security-reference-monitor/formal/SRM.cfg
  src/agent/security-reference-monitor/formal/SRM.tla
  src/agent/security-reference-monitor/formal/run-tlc.sh
Owners: @kata-containers/agent

tests: Support GENPOLICY_SETTINGS_DIR with drop-in-examples
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

tests: disable tests that are not supported yet in our fork
  .github/workflows/ci.yaml
  .github/workflows/static-checks-self-hosted.yaml
  tests/integration/cri-containerd/integration-tests.sh
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
  tests/integration/kubernetes/runtimeclass_workloads/pod-sandbox-vcpus-allocation.yaml
  tests/integration/nydus/nydus-sandbox.yaml
  tools/testing/gatekeeper/required-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

kernel: Fix FUSE crash with host emptyDir
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.18.x/0002-virtio-fs-use-sync-release-for-submounts.patch
Owners: @kata-containers/kernel

tests: k8s: verify the sandbox processes share the pod cgroup
  tests/integration/kubernetes/k8s-sandbox-cgroup-placement.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

runtime-go/rs: Set `disable_guest_empty_dir = true` by default
  src/runtime-rs/Makefile
  src/runtime/Makefile
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/fs_share_linux_test.go
Owners: @kata-containers/rust, @kata-containers/golang

runtime-go/rs: Reconcile hugepage emptyDirs and disable_guest_empty_dir
  src/libs/kata-sys-util/src/k8s.rs
  src/runtime-rs/crates/resource/src/volume/encrypted_emptydir_volume.rs
  src/runtime/pkg/katautils/create.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/mount_linux_test.go
Owners: @kata-containers/rust, @kata-containers/golang

ci: switch default branch to msft-preview
  .github/workflows/build-kubectl-image.yaml
  .github/workflows/ci-on-push.yaml
  .github/workflows/codeql.yml
  .github/workflows/commit-message-check.yaml
  .github/workflows/docs.yaml
  .github/workflows/gatekeeper.yaml
  .github/workflows/osv-scanner-pr.yaml
  .github/workflows/osv-scanner-scheduled.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/push-oras-tarball-cache.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/static-checks.yaml
  SECURITY.md
  tests/spellcheck/kata-dictionary.txt
  tools/testing/gatekeeper/skips.py
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x, @kata-containers/documentation, @kata-containers/tests

node-builder: add initial node-builder recipes
  .gitignore
  src/runtime-rs/arch/aarch64-options.mk
  tools/osbuilder/.gitignore
  tools/osbuilder/Makefile
  tools/osbuilder/README.md
  tools/osbuilder/igvm-builder/azure-linux/config.sh
  tools/osbuilder/igvm-builder/azure-linux/igvm_lib.sh
  tools/osbuilder/igvm-builder/igvm_builder.sh
  tools/osbuilder/node-builder/azure-linux/Makefile
  tools/osbuilder/node-builder/azure-linux/README.md
  tools/osbuilder/node-builder/azure-linux/clean.sh
  tools/osbuilder/node-builder/azure-linux/common.sh
  tools/osbuilder/node-builder/azure-linux/package_build.sh
  tools/osbuilder/node-builder/azure-linux/package_install.sh
  tools/osbuilder/node-builder/azure-linux/package_tools_install.sh
  tools/osbuilder/node-builder/azure-linux/uvm_build.sh
  tools/osbuilder/node-builder/azure-linux/uvm_install.sh
Owners: @kata-containers/arch-aarch64, @kata-containers/builder

runtime-rs: remove disable_guest_empty_dir config
  src/libs/kata-sys-util/src/k8s.rs
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/runtime.rs
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

webhook: enforce minimum memory limit
  tools/testing/kata-webhook/deploy/webhook.yaml
  tools/testing/kata-webhook/main.go
Owners: @kata-containers/golang

genpolicy: Assume `disable_guest_empty_dir = true`
  src/runtime/virtcontainers/fs_share_linux.go
  src/tools/genpolicy/src/mount_and_storage.rs
Owners: @kata-containers/golang, @kata-containers/rust

runtime-rs: special case emptyDirs with peer pods
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/volume/local_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

AGENTS.md: add documentation for agent
  AGENTS.md
  tests/spellcheck/kata-dictionary.txt
Owners: @kata-containers/documentation, @kata-containers/tests

runtime: Allow VirtioMem hotplug into template VM-based sandboxes
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/golang

runtime: Rework template path to work with static_default configs
  src/runtime/cmd/kata-runtime/factory.go
  src/runtime/pkg/katautils/create.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/factory/factory_linux.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang
