Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

tests: k8s: clarify the need to use containerd.sock
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

common: Add share fs information for dragonball
  tests/common.bash
Owners: @kata-containers/tests

genpolicy: add link to allow_user() active issue
  src/tools/genpolicy/rules.rego
Owners: none

genpolicy: add support for runAsUser
  src/tools/genpolicy/src/containerd.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/rust

tests: k8s-security-context auto-generated policy
  tests/integration/kubernetes/k8s-security-context.bats
Owners: @kata-containers/tests

tests: k8s: SecurityContext.runAsUser policy test
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-pod.yaml
Owners: @kata-containers/tests

osbuilder: Bump Fedora to 40
  tools/osbuilder/image-builder/Dockerfile
Owners: @kata-containers/builder

agent: Enable kata-cc-rustls-tls in image-rs
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/Makefile
  tools/packaging/static-build/agent/Dockerfile
Owners: @kata-containers/agent, @kata-containers/packaging

tests: Add guest-pull encrypted image tests
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

tests/k8s: Fix assert_logs_contain
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

agent: add ocicrypt config
  src/agent/src/main.rs
Owners: @kata-containers/agent

tests/k8s: Skip measured rootfs test
  tests/integration/kubernetes/k8s-measured-rootfs.bats
Owners: @kata-containers/tests

agent: set the security_validate flag for image-rs based on agent config
  src/agent/src/image.rs
Owners: @kata-containers/agent

runtime: Disable signature verification in config
  src/runtime/Makefile
Owners: @kata-containers/golang

docs: Update cri installion guide url in containerd documentation
  docs/how-to/containerd-kata.md
Owners: @kata-containers/documentation

docs: Update runtime v2 containerd url information
  docs/how-to/containerd-kata.md
Owners: @kata-containers/documentation

genpolicy: Support cpath for mount sources
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/rust

gha: enable policy testing on TDX
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-policy-pvc.bats
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

gha: export user/password for auth registry tests on s390x
  .github/workflows/run-k8s-tests-on-zvsi.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: delint the s390x workflow
  .github/workflows/run-k8s-tests-on-zvsi.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime: Files are not synced between host and guest VMs
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/golang

docs: Update devmapper docs
  docs/design/architecture/storage.md
Owners: @kata-containers/documentation

tests: Add guest-pull auth registry tests
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

agent: config: Add config option to provide auth for guest-pull
  src/agent/README.md
  src/agent/src/config.rs
Owners: @kata-containers/agent

test/k8s: Fix up node logging typo
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
  tests/integration/kubernetes/k8s-liveness-probes.bats
  tests/integration/kubernetes/k8s-sealed-secret.bats
Owners: @kata-containers/tests

agent: image: Set image-rs auth config
  src/agent/src/image.rs
Owners: @kata-containers/agent

agent: doc: Fix ordering of options
  src/agent/README.md
Owners: @kata-containers/agent

tests: k8s: container.exec_commands policy tests
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-pod.yaml
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

genpolicy: container.exec_commands args validation
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  tests/integration/kubernetes/k8s-policy-pod.bats
Owners: @kata-containers/rust, @kata-containers/tests

tests: fix ps command in k8s-security-context
  tests/integration/kubernetes/k8s-security-context.bats
  tests/integration/kubernetes/runtimeclass_workloads/pod-security-context.yaml
Owners: @kata-containers/tests

runtime: provide protection for shared pointer
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/golang

docs: Add reminder to update features.rs when adding new feature
  src/agent/Cargo.toml
Owners: @kata-containers/agent

gha: enable autogenerated policy testing on SEV
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-policy-pvc.bats
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

release: Bump VERSION to 3.7.0
  VERSION
Owners: @kata-containers/release

metric: Upgrade blogbench to 1.2
  tests/metrics/storage/blogbench_dockerfile/Dockerfile
Owners: @kata-containers/tests

gha: enable autogenerated policy testing on SEV-SNP
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-policy-pvc.bats
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

network: Implement hotplug for physical endpoints
  src/runtime/virtcontainers/endpoint.go
  src/runtime/virtcontainers/ipvlan_endpoint.go
  src/runtime/virtcontainers/macvlan_endpoint.go
  src/runtime/virtcontainers/macvtap_endpoint.go
  src/runtime/virtcontainers/network_linux.go
  src/runtime/virtcontainers/physical_endpoint.go
  src/runtime/virtcontainers/physical_endpoint_test.go
  src/runtime/virtcontainers/tap_endpoint.go
  src/runtime/virtcontainers/tuntap_endpoint.go
  src/runtime/virtcontainers/veth_endpoint.go
  src/runtime/virtcontainers/vhostuser_endpoint.go
  src/runtime/virtcontainers/vhostuser_endpoint_test.go
Owners: @kata-containers/golang

vfio: use driver_override field for device binding.
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/virtcontainers/physical_endpoint.go
Owners: @kata-containers/golang

network: Implement network hotunplug for physical endpoints
  src/runtime/pkg/device/api/interface.go
  src/runtime/pkg/device/manager/manager.go
  src/runtime/virtcontainers/endpoint.go
  src/runtime/virtcontainers/ipvlan_endpoint.go
  src/runtime/virtcontainers/macvlan_endpoint.go
  src/runtime/virtcontainers/macvtap_endpoint.go
  src/runtime/virtcontainers/network_linux.go
  src/runtime/virtcontainers/physical_endpoint.go
  src/runtime/virtcontainers/physical_endpoint_test.go
  src/runtime/virtcontainers/tap_endpoint.go
  src/runtime/virtcontainers/tuntap_endpoint.go
  src/runtime/virtcontainers/veth_endpoint.go
  src/runtime/virtcontainers/vhostuser_endpoint.go
  src/runtime/virtcontainers/vhostuser_endpoint_test.go
Owners: @kata-containers/golang

vfio: Introduce function to get vfio dev path
  src/runtime/pkg/device/drivers/vfio.go
Owners: @kata-containers/golang

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
