Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

guest image: abandon PULL_TYPE env
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/agent/build-static-agent.sh
  tools/packaging/static-build/agent/build.sh
Owners: @kata-containers/builder, @kata-containers/packaging, @kata-containers/kata-deploy

agent: update the processes hashmap to use exec_id as primary key
  src/agent/rustjail/src/container.rs
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
Owners: @kata-containers/agent

runtime: fix go test case
  src/runtime/cmd/kata-runtime/kata-check_amd64_test.go
Owners: @kata-containers/arch-amd64

runtime: refactor hypervisor devices cgroup creation
  src/runtime/pkg/resourcecontrol/cgroups.go
Owners: @kata-containers/golang

genpolicy: remove redundant group check
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/rust

genpolicy: push down warning about missing passwd file
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/rust

runtime-rs: Reduce the number of duplicate log entries being printed
  src/runtime-rs/crates/agent/src/kata/mod.rs
  src/runtime-rs/crates/agent/src/log_forwarder.rs
  src/runtime-rs/crates/agent/src/sock/hybrid_vsock.rs
  src/runtime-rs/crates/agent/src/sock/mod.rs
  src/runtime-rs/crates/agent/src/sock/remote.rs
  src/runtime-rs/crates/agent/src/sock/vsock.rs
Owners: @kata-containers/rust

ci: Disable run-containerd-sandboxapi
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/basic-ci-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-s390x

ci: Enable cri-containerd-tests for arm64
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/basic-ci-s390x.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-cri-containerd-tests.yaml
  tests/integration/cri-containerd/gha-run.sh
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/arch-amd64, @kata-containers/arch-s390x, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

genpolicy: compare additionalGIDs as sets
  src/tools/genpolicy/rules.rego
Owners: none

kata-monitor: bump golang version in Dockerfile
  tools/packaging/kata-monitor/Dockerfile
Owners: @kata-containers/packaging

switchboard: update guest-components to new commit
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

libs: Bump `ttrpc-codegen` and `protobuf`
  src/libs/Cargo.lock
  src/libs/protocols/Cargo.toml
Owners: @kata-containers/rust

agent: Remove casting and fix Arc declaration
  src/agent/src/cdh.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: Upgrade `ttrpc-codegen` to 0.5.0
  src/agent/Cargo.lock
Owners: @kata-containers/agent

chore(deps): update guest-components
  tools/packaging/static-build/coco-guest-components/Dockerfile
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

initdata: delete coco_as token section in initdata
  tests/integration/kubernetes/k8s-initdata.bats
Owners: @kata-containers/tests

dragonball: Remove a useless dead_code attribute
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/connection.rs
Owners: @kata-containers/dragonball

runtime-rs: Reduce the number of duplicate log entries being printed
  src/runtime-rs/crates/agent/src/kata/mod.rs
  src/runtime-rs/crates/agent/src/log_forwarder.rs
  src/runtime-rs/crates/agent/src/sock/hybrid_vsock.rs
  src/runtime-rs/crates/agent/src/sock/mod.rs
  src/runtime-rs/crates/agent/src/sock/remote.rs
  src/runtime-rs/crates/agent/src/sock/vsock.rs
Owners: @kata-containers/rust

genpolicy: ignore groups with same name as user
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/gid/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/gid/testcases.json
Owners: @kata-containers/rust

tests/coco: Add e2e testing for nebula vpn
  tests/integration/kubernetes/k8s-confidential-vpn.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

genpolicy: don't parse /etc/passwd in a loop
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/rust

runtime-rs: Log error instead of format
  src/runtime-rs/crates/resource/src/share_fs/sandbox_bind_mounts.rs
Owners: @kata-containers/rust

genpolicy: enable storage checks
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/mount_and_storage.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/rust

genpolicy: test framework: enable config map usage
  src/tools/genpolicy/tests/policy/main.rs
Owners: @kata-containers/rust

genpolicy: tests: update testcases for execprocess
  src/tools/genpolicy/tests/policy/testdata/state/execprocess/testcases.json
Owners: none

genpolicy: add test for container images having volumes
  src/tools/genpolicy/.gitignore
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/container_image/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/container_image/testcases.json
Owners: @kata-containers/rust

genpolicy: add rules for image_guest_pull storage
  src/tools/genpolicy/rules.rego
Owners: none

genpolicy: tests: add test for config_map volumes
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/config_map.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/testcases.json
Owners: @kata-containers/rust

genpolicy: tests: update test for emptydir volumes
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/emptydir/testcases.json
Owners: @kata-containers/rust

tests: integration: fix cpath
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

workflows: Remove docker hub registry publishing
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/release.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x, @kata-containers/action-admins, @kata-containers/ci

runtime-rs: Fix clippy `manual_inspect`
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/fc_api.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner_hypervisor.rs
  src/runtime-rs/crates/resource/src/cdi_devices/container_device.rs
  src/runtime-rs/crates/resource/src/share_fs/sandbox_bind_mounts.rs
Owners: @kata-containers/rust

agent: Fix clippy `unnecessary_map_or`
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

agent: Fix clippy `precedence`
  src/agent/src/pci.rs
Owners: @kata-containers/agent

versions: Bump rust to 1.85.1
  rust-toolchain.toml
  src/agent/Cargo.toml
  versions.yaml
Owners: @kata-containers/agent, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime-rs: Fix clippy `needless_return`
  src/runtime-rs/crates/resource/src/rootfs/nydus_rootfs.rs
Owners: @kata-containers/rust

agent: Fix clippy `single_match`
  src/agent/src/image.rs
  src/agent/src/sandbox.rs
Owners: @kata-containers/agent

agent: Fix clippy `question_mark`
  src/agent/rustjail/src/cgroups/fs/mod.rs
Owners: @kata-containers/agent

agent: Fix clippy `partialeq_to_none`
  src/agent/src/sandbox.rs
Owners: @kata-containers/agent

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
