Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

gpu: Kernel Param Measured Rootfs
  src/runtime/Makefile
Owners: @kata-containers/golang

gpu: Handle root_hash.txt correctly
  src/runtime/Makefile
  tools/osbuilder/image-builder/image_builder.sh
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/shim-v2/build.sh
  versions.yaml
Owners: @kata-containers/golang, @kata-containers/builder, @kata-containers/packaging, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: Cleanup Makefile
  src/runtime/Makefile
Owners: @kata-containers/golang

gpu: TDX kernel param cleanup
  src/runtime/Makefile
Owners: @kata-containers/golang

Update tools/osbuilder/image-builder/image_builder.sh
  tools/osbuilder/image-builder/image_builder.sh
Owners: @kata-containers/builder

Update tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

versions: Bump experimental {tdx,snp} QEMU
  tools/packaging/qemu/patches/tag_patches/gpu-snp-20251119/no_patches.txt
  tools/packaging/qemu/patches/tag_patches/gpu-tdx-20251119/no_patches.txt
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: nvidia: Reduce requested memory
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
Owners: @kata-containers/tests

runtimeclasses: Drastically reduce podOverhead for GPU
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu-snp.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu-tdx.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
Owners: @kata-containers/kata-deploy

do-not-merge: test
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
Owners: @kata-containers/tests

kata-deploy: nfd: Patch TEE runtimeclasses when needed
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: nfd: Patch TEE runtimeclasses when needed
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

ci: enable security policy for openvpn test
  tests/integration/kubernetes/k8s-openvpn.bats
Owners: @kata-containers/tests

policy: Use mount path instead of volume name
  src/tools/genpolicy/src/mount_and_storage.rs
Owners: @kata-containers/rust

policy: support UDP based Service types
  src/tools/genpolicy/genpolicy-settings.json
Owners: none

kata-deploy: Fix binary find install_tools_helper
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

gpu: TDX kernel param cleanup
  src/runtime/Makefile
Owners: @kata-containers/golang

runtimeclasses: Fix nvidia-gpu podOverhead
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
Owners: @kata-containers/kata-deploy

runtime-rs: Fix non-primitive cast
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

rutime-rs: Add a dedicated configuration for qemu-rs with tdx
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
Owners: @kata-containers/rust

agent: allow disabling detect_initdata_device
  src/agent/Cargo.toml
  src/agent/Makefile
  src/agent/src/initdata.rs
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/agent/build-static-agent.sh
  tools/packaging/static-build/agent/build.sh
Owners: @kata-containers/agent, @kata-containers/kata-deploy, @kata-containers/packaging

runtime-rs: Add configurable TDX items when make build
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

runtime-rs: support measured rootfs within Makefile
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

rutime-rs: Add a dedicated configuration for qemu-rs with sev-snp
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
Owners: @kata-containers/rust

runtime-rs: Add configurable SEV-SNP items in Makefile
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

tests: Enable stability tests for runtime-rs
  .github/workflows/basic-ci-amd64.yaml
Owners: @kata-containers/arch-amd64

tests: Enable run-nerdctl-tests for qemu-runtime-rs
  .github/workflows/basic-ci-amd64.yaml
Owners: @kata-containers/arch-amd64

tests: Enable stability tests for qemu-runtime-rs on nontee
  .github/workflows/run-kata-coco-stability-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: fix QMP 'mq' parameter type in netdev_add to boolean
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

tests: Enable nydus tests for qemu-runtime-rs
  .github/workflows/basic-ci-amd64.yaml
Owners: @kata-containers/arch-amd64

tests: nvidia: cc: Add attestation test
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/pod-attestable-gpu.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/pod-attestable.yaml.in
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

qemu: Enable NUMA support
  tools/packaging/scripts/configure-hypervisor.sh
  tools/packaging/static-build/qemu/Dockerfile
Owners: @kata-containers/packaging

shellcheck: build-base-qemu.sh is clean
  tools/packaging/static-build/qemu/build-base-qemu.sh
Owners: @kata-containers/packaging

shellcheck: build-qemu.sh is clean
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

qemu: Update tools/packaging/static-build/qemu/build-qemu.sh
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

shellcheckk: Fix [] [[]] SC2166
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/packaging

runtimes: annotations: Fix kernel param handling
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime/pkg/oci/utils.go
Owners: @kata-containers/rust, @kata-containers/golang

CI: readding SNP as required
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

runtimes: config: Do NOT have commented fields
  src/libs/kata-types/src/config/default.rs
  src/libs/kata-types/src/config/hypervisor/ch.rs
  src/libs/kata-types/src/config/hypervisor/dragonball.rs
  src/libs/kata-types/src/config/hypervisor/firecracker.rs
  src/libs/kata-types/src/config/hypervisor/qemu.rs
  src/libs/kata-types/src/config/hypervisor/remote.rs
  src/libs/mem-agent/src/compact.rs
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
  src/runtime/Makefile
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-cca.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-remote.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  tests/integration/cri-containerd/integration-tests.sh
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/rust, @kata-containers/golang, @kata-containers/tests, @kata-containers/kata-deploy, @kata-containers/packaging

tests: Enable stability tests for runtime-rs
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
