Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

tools: Add support for caching Kernel artefacts
  tools/packaging/kernel/kata_config_version
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/cache_components_main.sh
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kernel, @kata-containers/packaging

tools: Add support for caching shim v2 artefacts
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/cache_components_main.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/packaging

tools: Add support for caching VirtioFS artefacts
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/cache_components_main.sh
  tools/packaging/static-build/virtiofsd/build.sh
Owners: @kata-containers/packaging

tools: Add support for caching Nydus artefacts
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

tools: Add support for caching RootFS artefacts
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

tools: Add support for caching Nydus artefacts
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

tools: Add support for caching QEMU artefacts
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/cache_components_main.sh
  tools/packaging/static-build/qemu/build-base-qemu.sh
Owners: @kata-containers/packaging

tools: Add support for caching VirtioFS artefacts
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/cache_components_main.sh
  tools/packaging/static-build/virtiofsd/build.sh
Owners: @kata-containers/packaging

tools: Add support for caching shim v2 artefacts
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/cache_components_main.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/packaging

tools: Add support for caching Kernel artefacts
  tools/packaging/kernel/kata_config_version
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/cache_components_main.sh
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kernel, @kata-containers/packaging

tools: Add support for caching QEMU artefacts
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/cache_components_main.sh
  tools/packaging/static-build/qemu/build-base-qemu.sh
Owners: @kata-containers/packaging

fix: vcpu can not pin to physical cpu
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/resourcecontrol/utils_linux.go
Owners: @kata-containers/runtime

packaging: fix sev kernel caching
  tools/packaging/static-build/cache_components.sh
Owners: @kata-containers/packaging

local-build: Use cached Firecracker when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached QEMU when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached RootFS when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached Nydus when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached QEMU when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached shim v2 when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached shim v2 when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached VirtioFS when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached Nydus when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached Kernel when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached Kernel when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

packaging: Adapt `get_last_modification()`
  tools/packaging/scripts/lib.sh
Owners: @kata-containers/packaging

local-build: Use cached Firecracker when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached VirtioFS when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached Cloud Hypervisor when possible
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached Cloud Hypervisor when possible
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Use cached RootFS when possible
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

packaging: Adapt `get_last_modification()`
  tools/packaging/scripts/lib.sh
Owners: @kata-containers/packaging

kata-deploy: Remove temporary directory after creating tarball
  tools/packaging/kata-deploy/local-build/kata-deploy-merge-builds.sh
Owners: @kata-containers/packaging

workflows: kata-deploy-push: Remove unneeded tools from runner
  .github/workflows/kata-deploy-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: add missing artifacts on payload-after-push
  .github/workflows/payload-after-push-amd64.yaml
  .github/workflows/payload-after-push-arm64.yaml
  .github/workflows/payload-after-push-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: add missing artifacts on payload-after-push
  .github/workflows/payload-after-push-amd64.yaml
  .github/workflows/payload-after-push-arm64.yaml
  .github/workflows/payload-after-push-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-deploy: fix install failing to chmod runtime-rs/bin/*
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

kata-deploy: fix install failing to chmod runtime-rs/bin/*
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

utils: informed pre-check about only_kata
  utils/kata-manager.sh
Owners: @kata-containers/shell

utils: informed pre-check about only_kata
  utils/kata-manager.sh
Owners: @kata-containers/shell

utils: renamed only_kata to skip_containerd
  utils/kata-manager.sh
Owners: @kata-containers/shell
