Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

rustjail: add tests for parse_mount_table
  src/agent/rustjail/src/lib.rs
  src/agent/rustjail/src/mount.rs
Owners: @kata-containers/agent

rustjail: add tests for parse_mount_table
  src/agent/rustjail/src/lib.rs
  src/agent/rustjail/src/mount.rs
Owners: @kata-containers/agent

runtime:Add VM templating support for kata with Cloud Hypervisor
  src/runtime/config/configuration-clh.toml.in
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/factory/template/template.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/vm.go
Owners: @kata-containers/runtime

clh:Add support for resize a memory zone
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/runtime

utils: Define DefaultRateLimiterRefillTimeMilliSecs
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/utils/utils.go
Owners: @kata-containers/runtime

utils: Move FC's function to revert bytes to utils
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/fc_test.go
  src/runtime/virtcontainers/utils/utils.go
  src/runtime/virtcontainers/utils/utils_test.go
Owners: @kata-containers/runtime

config: Add NetRateLimiter* to Cloud Hypervisor
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
Owners: @kata-containers/runtime

hypervisor: Add network bandwidth and operations rate limiters
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/hypervisor.go
Owners: @kata-containers/runtime

utils: Define DefaultRateLimiterRefillTimeMilliSecs
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/utils/utils.go
Owners: @kata-containers/runtime

hypervisor: Add network bandwidth and operations rate limiters
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/hypervisor.go
Owners: @kata-containers/runtime

utils: Move FC's function to revert bytes to utils
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/fc_test.go
  src/runtime/virtcontainers/utils/utils.go
  src/runtime/virtcontainers/utils/utils_test.go
Owners: @kata-containers/runtime

config: Add NetRateLimiter* to Cloud Hypervisor
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
Owners: @kata-containers/runtime

clh: Implement the Network RateLimiter logic
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/runtime

clh: Implement the Network RateLimiter logic
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/runtime

hypervisor: Add disk bandwidth and operations rate limiters
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/hypervisor.go
Owners: @kata-containers/runtime

hypervisor: Add disk bandwidth and operations rate limiters
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/hypervisor.go
Owners: @kata-containers/runtime

config: Add DiskRateLimiter* to Cloud Hypervisor
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
Owners: @kata-containers/runtime

config: Add DiskRateLimiter* to Cloud Hypervisor
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
Owners: @kata-containers/runtime

clh: Implement the Disk RateLimiter logic
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Implement the Disk RateLimiter logic
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Cloud Hypervisor has a built-in Rate Limiter
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Cloud Hypervisor has a built-in Rate Limiter
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Expose net rate limiter config
  src/runtime/config/configuration-clh.toml.in
Owners: @kata-containers/runtime

clh: Expose net rate limiter config
  src/runtime/config/configuration-clh.toml.in
Owners: @kata-containers/runtime

clh: Expose disk rate limiter config
  src/runtime/config/configuration-clh.toml.in
Owners: @kata-containers/runtime

clh: Expose disk rate limiter config
  src/runtime/config/configuration-clh.toml.in
Owners: @kata-containers/runtime

agent-ctl: Fix abstract socket connections
  src/tools/agent-ctl/src/client.rs
Owners: @kata-containers/tools

agent-ctl: Fix abstract socket connections
  src/tools/agent-ctl/src/client.rs
Owners: @kata-containers/tools

docs: Use VM term in agent-ctl doc
  src/tools/agent-ctl/README.md
Owners: @kata-containers/tools

docs: Use VM term in agent-ctl doc
  src/tools/agent-ctl/README.md
Owners: @kata-containers/tools

docs: Add VSOCK localhost example for agent-ctl
  src/tools/agent-ctl/README.md
Owners: @kata-containers/tools

docs: Add VSOCK localhost example for agent-ctl
  src/tools/agent-ctl/README.md
Owners: @kata-containers/tools

versions: change qemu tdx url and tag
  tools/packaging/qemu/patches/tag_patches/SPR-BKC-QEMU-v2.2/no_patches.txt
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: change qemu tdx url and tag
  tools/packaging/qemu/patches/tag_patches/SPR-BKC-QEMU-v2.2/no_patches.txt
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

docs: Direct-assigned volume design
  docs/design/README.md
  docs/design/direct-blk-device-assignment.md
Owners: @kata-containers/documentation

docs: Direct-assigned volume design
  docs/design/README.md
  docs/design/direct-blk-device-assignment.md
Owners: @kata-containers/documentation

pass EXTRA_PKGS env
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

AmdSev: add to kata-config, make pathway
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
  tools/packaging/static-build/ovmf/build-ovmf.sh
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runk: set BinaryName for runk for containerd
  src/tools/runk/README.md
Owners: @kata-containers/tools

runk: set BinaryName for runk for containerd
  src/tools/runk/README.md
Owners: @kata-containers/tools

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
