Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

local-build: Add support to build OVMF for TDX
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

govmm: Set "sept-ve-disable=on"
  src/runtime/pkg/govmm/qemu/qemu.go
Owners: @kata-containers/runtime

cache: Allow specifying the QEMU_FLAVOUR
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

govmm: Directly pass the firmware using -bios with TDX
  src/runtime/pkg/govmm/qemu/qemu.go
Owners: @kata-containers/runtime

local-build: Add support to build OVMF for TDX
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

gha: Build and ship the Kernel for TDX
  .github/workflows/build-kata-static-tarball-amd64.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

local-build: Add support to build Kernel for TDX
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

cache: Add a space to ease the reading of the kernel flavours
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

gha: Build and ship the OVMF for TDX
  .github/workflows/build-kata-static-tarball-amd64.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

cache: Fix typos
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

versions: Move Kernel TDX to its own experimental entry
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

cache: Fix typos
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

local-build: Avoid code duplication building the kernel
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

packaging: Add get_ovmf_image_name() helper
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/ovmf/build.sh
Owners: @kata-containers/packaging

cache: Document kernel-tdx-experimental
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

cache: Add ability to cache OVMF
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

cache: Add ability to cache OVMF
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

versions: Bump OVMF for TDX
  tools/packaging/static-build/ovmf/Dockerfile
  tools/packaging/static-build/ovmf/build-ovmf.sh
  tools/packaging/static-build/ovmf/build.sh
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

cache: Allow specifying the QEMU_FLAVOUR
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

virtcontainers: Drop check for the `tdx` CPU flag
  src/runtime/virtcontainers/hypervisor_linux_amd64.go
Owners: @kata-containers/runtime

local-build: Avoid code duplication building the kernel
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

cache: Add a space to ease the reading of the kernel flavours
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

gha: Build and ship the OVMF for TDX
  .github/workflows/build-kata-static-tarball-amd64.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime/qemu: Drop "kvm-type=tdx"
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

virtcontainers: Also check /sys/firmwares/tdx for TDX
  src/runtime/virtcontainers/hypervisor_linux_amd64.go
Owners: @kata-containers/runtime

local-build: Add support to build QEMU for TDX
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Add support to build Kernel for TDX
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

local-build: Add support to build QEMU for TDX
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

runtime/qemu: Drop "kvm-type=tdx"
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

versions: Update Kernel TDX version
  tools/packaging/kernel/configs/fragments/x86_64/tdx/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/5.19-TDX-v2.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

cache: Document kernel-tdx-experimental
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

gha: Build and ship the Kernel for TDX
  .github/workflows/build-kata-static-tarball-amd64.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-deploy: Ship kata-qemu-tdx runtimeClass
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

gha: ci-on-push: Run tests on TDX
  .github/workflows/ci-on-push.yaml
  .github/workflows/run-k8s-tests-on-tdx.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

config: Add configuration for QEMU TDX
  src/runtime/Makefile
  src/runtime/arch/amd64-options.mk
  src/runtime/config/configuration-qemu-tdx.toml.in
Owners: @kata-containers/runtime

config: Add configuration for QEMU TDX
  src/runtime/Makefile
  src/runtime/arch/amd64-options.mk
  src/runtime/config/configuration-qemu-tdx.toml.in
Owners: @kata-containers/runtime

kata-deploy: Ship kata-qemu-tdx runtimeClass
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

gha: ci-on-push: Run tests on TDX
  .github/workflows/ci-on-push.yaml
  .github/workflows/run-k8s-tests-on-tdx.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: payload-after-push: Temp disable multi-arch payload
  .github/workflows/payload-after-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: enable nerdctl cni plugin
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/manager.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/network/mod.rs
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
  src/runtime-rs/crates/resource/src/network/utils/netns.rs
  src/runtime-rs/crates/runtimes/Cargo.toml
  src/runtime-rs/crates/runtimes/common/src/lib.rs
  src/runtime-rs/crates/runtimes/common/src/sandbox.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/runtime

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
