Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

ci: Fix GH throttling in run-nerdctl-tests
  .github/workflows/basic-ci-amd64.yaml
Owners: @kata-containers/arch-amd64

agent: upgrade the netlink related crates
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/src/netlink.rs
Owners: @kata-containers/agent

agent: refactor the code of update routes/interfaces
  src/agent/src/netlink.rs
Owners: @kata-containers/agent

agent: add the route flags support when adding routes
  src/agent/src/netlink.rs
Owners: @kata-containers/agent

versions: Use jammy for x86_64 confidential initrd
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

Revert "gha: Build and ship SEV OVMF"
  .github/workflows/build-kata-static-tarball-amd64.yaml
Owners: @kata-containers/arch-amd64

build: Drop redundant ARCH override
  src/agent/Makefile
  src/runtime-rs/Makefile
  src/tools/agent-ctl/Makefile
  src/tools/genpolicy/Makefile
  src/tools/runk/Makefile
  src/tools/trace-forwarder/Makefile
Owners: @kata-containers/agent, @kata-containers/rust, @kata-containers/build

ci: Run k8s tests on arm64
  .github/actionlint.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-on-arm64.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-aarch64

ci: k8s: arm: Skip "Running within memory constraints" test
  tests/integration/kubernetes/k8s-memory.bats
Owners: @kata-containers/tests

ci: k8s: arm: Skip "Pod quota" test
  tests/integration/kubernetes/k8s-pod-quota.bats
Owners: @kata-containers/tests

ci: k8s: arm: Skip "Check the number vcpus are ..." test
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
Owners: @kata-containers/tests

runtime: support SizeLimit for tmpfs emptyDir volume Adding support for limiting tmps volumes according to the 'SizeLimit field Signed-off-by: Gilad Sid <gsid@redhat.com>
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
Owners: @kata-containers/golang

workflows: Refactor publish workflows
  .github/workflows/ci-weekly.yaml
  .github/workflows/ci.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-ppc64le.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/publish-kata-deploy-payload.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

workflows: Add build-checks to manual CI
  .github/workflows/ci-devel.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: Add codeql config
  .github/workflows/codeql.yml
Owners: @kata-containers/action-admins, @kata-containers/ci

tools: fix rootfs-builder when using dracut in a ubuntu host os
  tools/osbuilder/.gitignore
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

gpu: IOMMUFD provide proper ID
  src/runtime/pkg/device/drivers/utils.go
Owners: @kata-containers/golang

runtime-rs: extend SEV/SEV-SNP detection by including a details struct
  src/libs/kata-sys-util/src/protection.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/convert.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs: parse SEV-SNP related config file settings
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

runtime-rs: support ProtectionDevice in qemu-rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: add implementation of ProtectionDevice
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/protection_device.rs
  src/runtime-rs/crates/hypervisor/src/device/mod.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/rust

runtime-rs: handle ProtectionDevice in resource manager and sandbox
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

build: Add riscv mapping for common.bash
  tests/common.bash
Owners: @kata-containers/tests

build: Add riscv64 to utils.mk
  utils.mk
Owners: @kata-containers/build

build: Reorganize target selection
  tests/install_rust.sh
Owners: @kata-containers/tests

agent: Fix non-guest-pull build
  src/agent/src/cdh.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

genpolicy: fail when layer can't be processed
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/registry_containerd.rs
Owners: @kata-containers/rust

runtime: add cause to CDI errors
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

ci: Enable partial components build-check on riscv
  .github/workflows/build-checks-preview-riscv64.yaml
  .github/workflows/static-checks-self-hosted.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

genpolicy: add get_process_fields to CronJob
  src/tools/genpolicy/src/cronjob.rs
Owners: @kata-containers/rust

runtime-rs: add implementation of ProtectionDevice
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/protection_device.rs
  src/runtime-rs/crates/hypervisor/src/device/mod.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/rust

runtime-rs: extend SEV/SEV-SNP detection by including a details struct
  src/libs/kata-sys-util/src/protection.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/convert.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs: parse SEV-SNP related config file settings
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

runtime-rs: handle ProtectionDevice in resource manager and sandbox
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: support ProtectionDevice in qemu-rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

kata-types: Fix bugs related to annotations in kata-types
  src/libs/kata-types/tests/test_config.rs
Owners: @kata-containers/rust

runtime-rs: Simplify iommu group base name extraction from symlink
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
Owners: @kata-containers/rust

virtcontainers: Add CCW device to endpoint
  src/libs/protocols/protos/types.proto
  src/runtime/virtcontainers/endpoint.go
  src/runtime/virtcontainers/ipvlan_endpoint.go
  src/runtime/virtcontainers/macvlan_endpoint.go
  src/runtime/virtcontainers/macvtap_endpoint.go
  src/runtime/virtcontainers/physical_endpoint.go
  src/runtime/virtcontainers/pkg/agent/protocols/types.pb.go
  src/runtime/virtcontainers/tap_endpoint.go
  src/runtime/virtcontainers/tuntap_endpoint.go
  src/runtime/virtcontainers/types/ccw.go
  src/runtime/virtcontainers/types/ccw_test.go
  src/runtime/virtcontainers/veth_endpoint.go
  src/runtime/virtcontainers/vfio_endpoint.go
  src/runtime/virtcontainers/vhostuser_endpoint.go
Owners: @kata-containers/rust, @kata-containers/golang

proto: Rename Interface.pciPath to devicePath
  src/agent/src/rpc.rs
  src/libs/protocols/protos/types.proto
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/types.rs
  src/runtime-rs/crates/resource/src/network/network_info/network_info_from_dan.rs
  src/runtime-rs/crates/resource/src/network/network_info/network_info_from_link.rs
  src/runtime/virtcontainers/network.go
  src/runtime/virtcontainers/pkg/agent/protocols/types.pb.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/agent, @kata-containers/rust, @kata-containers/golang

agent: Update QEMU URL
  src/agent/src/ccw.rs
Owners: @kata-containers/agent

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
