Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

runtime: fix up disable_netns handling
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

CC: Support s390x for target cc-payload in Makefile
  tools/packaging/kata-deploy/local-build/Makefile
Owners: @kata-containers/packaging

virtcontainers: Fix misspelling in error message
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

virtcontainers: Fix misspelling in error message
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

vendor: revendor netlink to get latest
  src/runtime/go.mod
  src/runtime/go.sum
  src/runtime/vendor/github.com/vishvananda/netlink/addr_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/filter.go
  src/runtime/vendor/github.com/vishvananda/netlink/filter_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/handle_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/link.go
  src/runtime/vendor/github.com/vishvananda/netlink/link_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/nl/tc_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/proc_event_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/route.go
  src/runtime/vendor/github.com/vishvananda/netlink/route_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/rule.go
  src/runtime/vendor/github.com/vishvananda/netlink/rule_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/xfrm_policy_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/xfrm_state_linux.go
  src/runtime/vendor/modules.txt
Owners: @kata-containers/runtime

vendor: revendor netlink to get latest
  src/runtime/go.mod
  src/runtime/go.sum
  src/runtime/vendor/github.com/vishvananda/netlink/addr_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/filter.go
  src/runtime/vendor/github.com/vishvananda/netlink/filter_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/handle_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/link.go
  src/runtime/vendor/github.com/vishvananda/netlink/link_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/nl/tc_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/proc_event_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/route.go
  src/runtime/vendor/github.com/vishvananda/netlink/route_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/rule.go
  src/runtime/vendor/github.com/vishvananda/netlink/rule_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/xfrm_policy_linux.go
  src/runtime/vendor/github.com/vishvananda/netlink/xfrm_state_linux.go
  src/runtime/vendor/modules.txt
Owners: @kata-containers/runtime

resource-control: add helper function for setting CPU affinity
  src/runtime/pkg/resourcecontrol/utils_darwin.go
  src/runtime/pkg/resourcecontrol/utils_linux.go
Owners: @kata-containers/runtime

virtcontainers: use resource control for setting CPU affinity
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

virtcontainers: use resource control for setting CPU affinity
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

resource-control: add helper function for setting CPU affinity
  src/runtime/pkg/resourcecontrol/utils_darwin.go
  src/runtime/pkg/resourcecontrol/utils_linux.go
Owners: @kata-containers/runtime

versions: Update attestation-agent to 017d534bbe899d410e4f35d9f8daa5c17db5e8f6
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: bump td-shim version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: fix up disable_netns handling
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

runtime-rs: add missing config section for share-fs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-dragonball.toml.in
Owners: @kata-containers/runtime

runtime-rs: add missing config section for share-fs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-dragonball.toml.in
Owners: @kata-containers/runtime

runtime-rs: change cache mode
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: none

runtime-rs: change cache mode
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: none

versions: Update TD-Shim version to v0.3.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

build: Update image-rs to v0.3.0
  src/agent/Cargo.lock
  src/agent/Cargo.toml
Owners: @kata-containers/agent

versions: Bump attestation-agent to v0.3.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: vCPUs pinning is sandbox specific, not hypervisor
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

runtime: vCPUs pinning is sandbox specific, not hypervisor
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

virtcontainers: resourcecontrol: Add skeleton for Darwin
  src/runtime/pkg/resourcecontrol/cgroups_darwin.go
  src/runtime/pkg/resourcecontrol/controller.go
  src/runtime/pkg/resourcecontrol/utils.go
  src/runtime/pkg/resourcecontrol/utils_linux.go
Owners: @kata-containers/runtime

virtcontainers: resourcecontrol: Add skeleton for Darwin
  src/runtime/pkg/resourcecontrol/cgroups_darwin.go
  src/runtime/pkg/resourcecontrol/controller.go
  src/runtime/pkg/resourcecontrol/utils.go
  src/runtime/pkg/resourcecontrol/utils_linux.go
Owners: @kata-containers/runtime

virtcontainers: Add a Network API skeleton for Darwin
  src/runtime/virtcontainers/network_darwin.go
Owners: @kata-containers/runtime

virtcontainers: Add a Network API skeleton for Darwin
  src/runtime/virtcontainers/network_darwin.go
Owners: @kata-containers/runtime

runtime: Use git rev-parse for the kata-monitor tag
  src/runtime/Makefile
Owners: @kata-containers/runtime

runtime: Use git rev-parse for the kata-monitor tag
  src/runtime/Makefile
Owners: @kata-containers/runtime

virtcontainers: Split the factory package into Linux and Darwin bits
  src/runtime/virtcontainers/factory/factory.go
  src/runtime/virtcontainers/factory/factory_darwin.go
  src/runtime/virtcontainers/factory/factory_linux.go
  src/runtime/virtcontainers/factory/template/template.go
  src/runtime/virtcontainers/factory/template/template_darwin.go
  src/runtime/virtcontainers/factory/template/template_linux.go
Owners: @kata-containers/runtime

virtcontainers: Split the factory package into Linux and Darwin bits
  src/runtime/virtcontainers/factory/factory.go
  src/runtime/virtcontainers/factory/factory_darwin.go
  src/runtime/virtcontainers/factory/factory_linux.go
  src/runtime/virtcontainers/factory/template/template.go
  src/runtime/virtcontainers/factory/template/template_darwin.go
  src/runtime/virtcontainers/factory/template/template_linux.go
Owners: @kata-containers/runtime

dependency: update cgroups-rs
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/libs/kata-sys-util/Cargo.toml
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/cgroups/mod.rs
  src/tools/runk/Cargo.lock
  src/tools/runk/libcontainer/Cargo.toml
  src/tools/runk/libcontainer/src/utils.rs
Owners: @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools

dependency: update cgroups-rs
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/libs/kata-sys-util/Cargo.toml
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/cgroups/mod.rs
  src/tools/runk/Cargo.lock
  src/tools/runk/libcontainer/Cargo.toml
  src/tools/runk/libcontainer/src/utils.rs
Owners: @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools

runtime: paas enablevhostuserstore annotation to hypervisor config
  src/runtime/pkg/oci/utils.go
Owners: @kata-containers/runtime

runtime: paas enablevhostuserstore annotation to hypervisor config
  src/runtime/pkg/oci/utils.go
Owners: @kata-containers/runtime

virtcontainers: split out Linux parts from mount
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/mount_darwin.go
  src/runtime/virtcontainers/mount_linux.go
  src/runtime/virtcontainers/mount_linux_test.go
  src/runtime/virtcontainers/mount_test.go
Owners: @kata-containers/runtime

virtcontainers: split out Linux parts from mount
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/mount_darwin.go
  src/runtime/virtcontainers/mount_linux.go
  src/runtime/virtcontainers/mount_linux_test.go
  src/runtime/virtcontainers/mount_test.go
Owners: @kata-containers/runtime

kata-ctl: Have function to get cpu details to run on specific arch
  src/tools/kata-ctl/src/arch/s390x/mod.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/tools

kata-ctl: Allow certain constants to go unused
  src/tools/kata-ctl/src/arch/aarch64/mod.rs
  src/tools/kata-ctl/src/check.rs
Owners: @kata-containers/tools

kata-ctl: Have function to get cpu details to run on specific arch
  src/tools/kata-ctl/src/arch/s390x/mod.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/tools

kata-ctl: Allow certain constants to go unused
  src/tools/kata-ctl/src/arch/aarch64/mod.rs
  src/tools/kata-ctl/src/check.rs
Owners: @kata-containers/tools

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
