Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runtime-rs: add support kata/multi-containers sharing one vfio volume.
  src/runtime-rs/crates/resource/src/volume/direct_volumes/vfio_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

runtime-rs: add support kata/multi-containers sharing one vfio volume.
  src/runtime-rs/crates/resource/src/volume/direct_volumes/vfio_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

runtime-rs: enhancement of vfio volume.
  src/runtime-rs/crates/resource/src/volume/direct_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/vfio_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

runtime-rs: enhancement of spdk volume.
  src/runtime-rs/crates/resource/src/volume/direct_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/spdk_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

runtime-rs: Enhancing DirectVolMount Handling for current Infra.
  src/runtime-rs/crates/resource/src/volume/direct_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/rawblock_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

runtime-rs: enhancement of spdk volume.
  src/runtime-rs/crates/resource/src/volume/direct_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/spdk_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

runtime-rs: Enhancing DirectVolMount Handling for current Infra.
  src/runtime-rs/crates/resource/src/volume/direct_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/rawblock_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

runtime-rs: enhancement of vfio volume.
  src/runtime-rs/crates/resource/src/volume/direct_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/vfio_volume.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

build: Install rust config files to runtime-rs directory
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

runtime-rs: Remove the golang config paths
  src/libs/kata-types/src/config/default.rs
Owners: @kata-containers/rust

runtime-rs: Remove the golang config paths
  src/libs/kata-types/src/config/default.rs
Owners: @kata-containers/rust

build: Install rust config files to runtime-rs directory
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

runtime-rs: Update list of config paths to check
  src/libs/kata-types/src/config/default.rs
Owners: @kata-containers/rust

runtime-rs: Update list of config paths to check
  src/libs/kata-types/src/config/default.rs
Owners: @kata-containers/rust

kernel: measured rootfs as argument to build-kernel.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/kata_config_version
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/kernel, @kata-containers/packaging

kernel: measured rootfs as argument to build-kernel.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/kata_config_version
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/kernel, @kata-containers/packaging

kernel: ensure initramfs exist when measured rootfs
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

tests/k8s: add set_node() to lib.sh
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

tests/k8s: add assert_logs_contain() to lib.sh
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

tests/k8s: add assert_logs_contain() to lib.sh
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

kernel: moved measured rootfs logic to its builder
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

tests/k8s: add new_pod_config() to lib.sh
  tests/integration/kubernetes/lib.sh
  tests/integration/kubernetes/runtimeclass_workloads/pod-config.yaml.in
Owners: @kata-containers/tests

tests/k8s: add utilities functions for the tests
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

shim-v2: moved measured rootfs logic to its builder
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

shim-v2: moved measured rootfs logic to its builder
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

tests/k8s: add setup common
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

kernel: ensure initramfs exist when measured rootfs
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

shim-v2: ensure root hash exist when measured rootfs
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/packaging

tests/k8s: add set_node() to lib.sh
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

runtime(-rs): add clean-generated-files target
  src/runtime-rs/Makefile
  src/runtime/Makefile
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/rust, @kata-containers/golang, @kata-containers/packaging

tests/k8s: add set_metadata_annotation() to lib.sh
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

runtime(-rs): add clean-generated-files target
  src/runtime-rs/Makefile
  src/runtime/Makefile
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/rust, @kata-containers/golang, @kata-containers/packaging

initramfs: re-wrote devices checking on init.sh
  tools/packaging/static-build/initramfs/init.sh
Owners: @kata-containers/packaging

initramfs: re-wrote devices checking on init.sh
  tools/packaging/static-build/initramfs/init.sh
Owners: @kata-containers/packaging

tests/k8s: add setup common
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

tests/k8s: add utilities functions for the tests
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

shim-v2: ensure root hash exist when measured rootfs
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/packaging

tests/k8s: add new_pod_config() to lib.sh
  tests/integration/kubernetes/lib.sh
  tests/integration/kubernetes/runtimeclass_workloads/pod-config.yaml.in
Owners: @kata-containers/tests

kernel: moved measured rootfs logic to its builder
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

tests/k8s: add set_metadata_annotation() to lib.sh
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
