Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

kata-deploy: Rely on the configured config path
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

dragonball: add device info support for aarch64
  src/dragonball/src/device_manager/mod.rs
Owners: none

dragonball: add device info support for aarch64
  src/dragonball/src/device_manager/mod.rs
Owners: none

dragonball: add legacy device support for aarch64
  src/dragonball/src/device_manager/legacy.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
  src/dragonball/src/vm/aarch64.rs
Owners: none

dragonball: add legacy device support for aarch64
  src/dragonball/src/device_manager/legacy.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
  src/dragonball/src/vm/aarch64.rs
Owners: none

docs: add Dragonball to hypervisors
  docs/hypervisors.md
Owners: @kata-containers/documentation

docs: add Dragonball to hypervisors
  docs/hypervisors.md
Owners: @kata-containers/documentation

Pass vhost-user-blk device to container
  src/runtime/virtcontainers/container.go
Owners: @kata-containers/runtime

dragonball: use const string for legacy device type
  src/dragonball/src/device_manager/legacy.rs
  src/dragonball/src/device_manager/mod.rs
Owners: none

dragonball: use const string for legacy device type
  src/dragonball/src/device_manager/legacy.rs
  src/dragonball/src/device_manager/mod.rs
Owners: none

dragonball: fix dependency unused warning
  src/dragonball/src/vm/mod.rs
Owners: none

dragonball: fix dependency unused warning
  src/dragonball/src/vm/mod.rs
Owners: none

kernel: Deduplicate code used for building TEE kernels
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

kernel: Deduplicate code used for building TEE kernels
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

kernel: Allow passing the URL to download the tarball
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

kernel: Allow passing the URL to download the tarball
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

kernel: Allow passing the URL to download the tarball
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

kernel: Deduplicate code used for building TEE kernels
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

packaging: Allow building a TDX capable kernel
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

packaging: Use the $BUILD_SUFFIX when renaming the qemu binary
  tools/packaging/static-build/scripts/qemu-build-post.sh
Owners: @kata-containers/packaging

packaging: Use the $BUILD_SUFFIX when renaming the qemu binary
  tools/packaging/static-build/scripts/qemu-build-post.sh
Owners: @kata-containers/packaging

packaging: Use the $BUILD_SUFFIX when renaming the qemu binary
  tools/packaging/static-build/scripts/qemu-build-post.sh
Owners: @kata-containers/packaging

versions: Update Cloud Hypervisor to v25.0
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api_default.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/CpusConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/DefaultApi.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/FsConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PmemConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmCoredumpData.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_cpus_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_fs_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_pmem_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_coredump_data.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update Cloud Hypervisor to v25.0
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api_default.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/CpusConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/DefaultApi.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/FsConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PmemConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmCoredumpData.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_cpus_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_fs_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_pmem_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_coredump_data.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

packaging: Add a "-" in the dir name if $BUILD_DIR is available
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/qemu/build-static-qemu-experimental.sh
Owners: @kata-containers/packaging

packaging: Add a "-" in the dir name if $BUILD_DIR is available
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/qemu/build-static-qemu-experimental.sh
Owners: @kata-containers/packaging

packaging: Add a "-" in the dir name if $BUILD_DIR is available
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/qemu/build-static-qemu-experimental.sh
Owners: @kata-containers/packaging

packaging: Allow building a TDX capable QEMU
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/qemu/build-static-qemu-cc.sh
Owners: @kata-containers/packaging

action: extend commit message line limit to 150 bytes
  .github/workflows/commit-message-check.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

versions: Update Cloud Hypervisor to v25.0
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api_default.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/CpusConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/DefaultApi.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/FsConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PmemConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmCoredumpData.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_cpus_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_fs_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_pmem_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_coredump_data.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

clh: Don't crash if no network device is set by the upper layer
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Don't crash if no network device is set by the upper layer
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

Fix URL to Kata GitHub repository
  tools/packaging/kata-deploy/README.md
Owners: @kata-containers/packaging

clh: Don't crash if no network device is set by the upper layer
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

cgroups: remove unnecessary get_paths()
  src/agent/rustjail/src/cgroups/fs/mod.rs
Owners: @kata-containers/agent

cgroups: remove unnecessary get_paths()
  src/agent/rustjail/src/cgroups/fs/mod.rs
Owners: @kata-containers/agent

libs: update configuration and annotations
  src/libs/Cargo.lock
  src/libs/kata-types/Cargo.toml
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/runtime.rs
  src/libs/kata-types/tests/test_config.rs
  src/libs/kata-types/tests/texture/configuration-anno-0.toml
  src/libs/kata-types/tests/texture/configuration-anno-1.toml
  src/libs/logging/Cargo.toml
Owners: none

libs: update configuration and annotations
  src/libs/Cargo.lock
  src/libs/kata-types/Cargo.toml
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/runtime.rs
  src/libs/kata-types/tests/test_config.rs
  src/libs/kata-types/tests/texture/configuration-anno-0.toml
  src/libs/kata-types/tests/texture/configuration-anno-1.toml
  src/libs/logging/Cargo.toml
Owners: none

runtime-rs: Cargo lock for fix version problem
  src/runtime-rs/Cargo.lock
Owners: @kata-containers/runtime

runtime-rs: Cargo lock for fix version problem
  src/runtime-rs/Cargo.lock
Owners: @kata-containers/runtime

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
