Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

kernel: fix intel GPU fragment
  tools/packaging/kernel/configs/fragments/gpu/intel.conf
  tools/packaging/kernel/configs/fragments/gpu/intel.x86_64.conf.in
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel, @kata-containers/arch-amd64

fix: route from link not taking netmask into account
  src/runtime-rs/crates/resource/src/network/network_info/network_info_from_link.rs
Owners: @kata-containers/rust

runtime-rs: make block hotplug idempotent after QMP timeout
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime: never place two vCPU threads on the same host CPU
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
Owners: @kata-containers/golang

docs: explain the vCPUs that end up without a CPU of their own
  docs/design/vcpu-threads-pinning.md
  docs/how-to/how-to-use-numa-with-kata.md
Owners: @kata-containers/documentation

runtime: say what a huge page backed guest needs reserved
  docs/how-to/how-to-use-numa-with-kata.md
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_test.go
Owners: @kata-containers/documentation, @kata-containers/golang

docs: describe both vCPU placement modes with NUMA
  docs/design/vcpu-threads-pinning.md
  docs/how-to/how-to-use-numa-with-kata.md
Owners: @kata-containers/documentation

runtime: pin the vCPU threads that fit, mask the rest
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
Owners: @kata-containers/golang

runtime: keep a huge page backed VM at default_memory
  docs/how-to/how-to-use-numa-with-kata.md
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
Owners: @kata-containers/documentation, @kata-containers/golang

runtime-rs: keep a huge page backed VM at default_memory
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/crates/resource/src/cpu_mem/initial_size.rs
Owners: @kata-containers/rust

runtime: pin what fits without a guest NUMA topology too
  docs/design/vcpu-threads-pinning.md
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
Owners: @kata-containers/documentation, @kata-containers/golang

tests: cover vCPU threads sharing host CPUs
  tests/integration/kubernetes/k8s-nvidia-numa.bats
  tests/integration/kubernetes/lib.sh
  tests/integration/kubernetes/numa-pinning-check.sh
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
Owners: @kata-containers/tests

runtime: let a huge page backed container use the pages it reserved
  docs/how-to/how-to-use-numa-with-kata.md
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/kata_agent_test.go
Owners: @kata-containers/documentation, @kata-containers/golang

runtime-rs: let a huge page backed container use the pages it reserved
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

runtime-rs: detect QEMU/QMP bring-up failure promptly
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

docs: clarify distribution validation warning
  docs/helm-configuration.md
Owners: @kata-containers/documentation

kata-deploy: refuse to configure a runtime the chart was not set up for
  docs/helm-configuration.md
  tests/functional/kata-deploy/kata-deploy-distribution.bats
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/binary/src/main.rs
  tools/packaging/kata-deploy/binary/src/runtime/manager.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

versions: Update Cloud Hypervisor to v53.0
  Cargo.lock
  docs/design/virtualization.md
  src/runtime-rs/crates/hypervisor/ch-config/Cargo.toml
  versions.yaml
Owners: @kata-containers/documentation, @kata-containers/rust, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

packaging: Select supported Cloud Hypervisor features
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/cloud-hypervisor/build-static-clh.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

tests: nvidia: use smaller NIM model
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-1b-instruct-runtime-rs.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-1b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-1b-instruct.yaml.in
Owners: @kata-containers/tests

tests: sanitize NIM instruct startupProbe budgets
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-runtime-rs.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
Owners: @kata-containers/tests

tests: nvidia: retry failed NIM startup
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-1b-instruct-runtime-rs.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-1b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-1b-instruct.yaml.in
Owners: @kata-containers/tests

test(agent): check sealed secret failure through Kubernetes
  tests/integration/kubernetes/k8s-sealed-secret.bats
Owners: @kata-containers/tests

fixup! node-builder: add initial node-builder recipes
  tools/osbuilder/node-builder/azure-linux/common.sh
  tools/osbuilder/node-builder/azure-linux/package_build.sh
Owners: @kata-containers/builder

fixup! node-builder: add initial node-builder recipes
  tools/osbuilder/node-builder/azure-linux/package_build.sh
Owners: @kata-containers/builder

fixup! ci: switch default branch to msft-preview
  .github/workflows/commit-message-check.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

fixup! node-builder: add initial node-builder recipes
  tools/osbuilder/node-builder/azure-linux/package_build.sh
Owners: @kata-containers/builder

fixup! ci: switch default branch to msft-preview
  .github/workflows/build-kubectl-image.yaml
  .github/workflows/ci-on-push.yaml
  .github/workflows/codeql.yml
  .github/workflows/commit-message-check.yaml
  .github/workflows/docs.yaml
  .github/workflows/osv-scanner-pr.yaml
  .github/workflows/osv-scanner-scheduled.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/push-oras-tarball-cache.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/static-checks.yaml
  tools/testing/gatekeeper/skips.py
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

agent/rustjail: Fix double close on pipes
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

fixup! runtime-rs: apply resource management patches
  src/runtime-rs/config/configuration-clh-azure-runtime-rs.toml.in
Owners: @kata-containers/rust

libs: fix mem-agent startup lock panic
  src/libs/mem-agent/src/agent.rs
  src/libs/mem-agent/src/compact.rs
  src/libs/mem-agent/src/memcg.rs
Owners: @kata-containers/rust

fix(agent): Fix copying dangling symlinks
  src/agent/src/watcher.rs
Owners: @kata-containers/agent

genpolicy: don't match image pull storages to mounts
  src/tools/genpolicy/rules.rego
Owners: none

runtime: keep guest sandbox paths fixed
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/sandbox_test.go
Owners: @kata-containers/golang

runtime-rs: create QEMU runtime dir before QMP
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

tests: extend QEMU rootless seccomp bats test
  tests/integration/kubernetes/k8s-qemu-rootless-sandbox.bats
Owners: @kata-containers/tests

runtime-rs: fix rootless CopyFile paths
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/rust

runtime: fix rootless CopyFile guest paths
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/fs_share_linux_test.go
Owners: @kata-containers/golang

runtime-rs: keep guest sandbox paths fixed
  src/libs/kata-types/src/mount.rs
  src/runtime-rs/crates/resource/src/share_fs/virtio_fs_share_mount.rs
  src/runtime-rs/crates/resource/src/volume/ephemeral_volume.rs
  src/runtime-rs/crates/resource/src/volume/shm_volume.rs
Owners: @kata-containers/rust

runtime-rs: clarify rootless path prefixing
  src/libs/kata-types/src/lib.rs
  src/libs/kata-types/src/mount.rs
  src/runtime-rs/crates/hypervisor/src/ch/utils.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
  src/runtime-rs/crates/persist/src/lib.rs
  src/runtime-rs/crates/resource/src/coco_data/initdata.rs
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/virtual_volume.rs
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/virtio_fs_share_mount.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
Owners: @kata-containers/rust

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
