Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

kata-deploy: Oxidize the script
  Cargo.toml
  tools/packaging/kata-deploy/.dockerignore
  tools/packaging/kata-deploy/Dockerfile.rust
  tools/packaging/kata-deploy/binary/Cargo.lock
  tools/packaging/kata-deploy/binary/Cargo.toml
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/artifacts/mod.rs
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/binary/src/k8s/client.rs
  tools/packaging/kata-deploy/binary/src/k8s/mod.rs
  tools/packaging/kata-deploy/binary/src/k8s/nfd.rs
  tools/packaging/kata-deploy/binary/src/k8s/runtimeclasses.rs
  tools/packaging/kata-deploy/binary/src/main.rs
  tools/packaging/kata-deploy/binary/src/runtime/containerd.rs
  tools/packaging/kata-deploy/binary/src/runtime/crio.rs
  tools/packaging/kata-deploy/binary/src/runtime/lifecycle.rs
  tools/packaging/kata-deploy/binary/src/runtime/manager.rs
  tools/packaging/kata-deploy/binary/src/runtime/mod.rs
  tools/packaging/kata-deploy/binary/src/utils/mod.rs
  tools/packaging/kata-deploy/binary/src/utils/system.rs
  tools/packaging/kata-deploy/binary/src/utils/toml.rs
  tools/packaging/kata-deploy/binary/src/utils/yaml.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
Owners: @kata-containers/kata-deploy

kata-deploy: helm: Adapt to the rust binary
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/post-delete-job.yaml
Owners: @kata-containers/kata-deploy

runtime: nvidia: Use cold-plug by default
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
Owners: @kata-containers/golang

runtime: nvidia: Align static_sandbox_resource_mgmt
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
Owners: @kata-containers/golang

versions: Bump experimental {tdx,snp} QEMU
  tools/packaging/qemu/patches/tag_patches/gpu-snp-20251217/no_patches.txt
  tools/packaging/qemu/patches/tag_patches/gpu-tdx-20251217/no_patches.txt
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

kernel: bump to v6.18.x (LTS)
  tools/packaging/kernel/configs/fragments/common/crypto.conf
  tools/packaging/kernel/configs/fragments/common/netfilter.conf
  tools/packaging/kernel/configs/fragments/common/signing/module_signing.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.18.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

kernel: switch from legacy iptables to nftables
  tools/packaging/kernel/configs/fragments/common/netfilter.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
Owners: @kata-containers/kernel

ppc64le: Introduce its own nightly tests
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/ci-nightly-ppc64le.yaml
  .github/workflows/ci.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/release.yaml
  .github/workflows/static-checks-self-hosted.yaml
Owners: @kata-containers/arch-ppc64le, @kata-containers/action-admins, @kata-containers/ci

runtime: nvidia: Align static_sandbox_resource_mgmt
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
Owners: @kata-containers/golang

runtime: nvidia: Use cold-plug by default
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
Owners: @kata-containers/golang

dragonball: Use unique name for vhost path
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/block.rs
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/fs.rs
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/net.rs
Owners: @kata-containers/dragonball

runtime-rs: Reduce output log and increase log level
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

tests: Add missing bin env at the head of bats
  tests/integration/kubernetes/k8s-qos-pods.bats
  tests/integration/kubernetes/k8s-seccomp.bats
Owners: @kata-containers/tests

tests: Correct the teardown_common in cpu-ns.bats
  tests/integration/kubernetes/k8s-cpu-ns.bats
Owners: @kata-containers/tests

tests: Introduce measure_node_time to get test case end time
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

tests: Make pod_name a global variable
  tests/integration/kubernetes/k8s-job.bats
Owners: @kata-containers/tests

tests: delete policy_settings_dir only for first test case
  tests/integration/kubernetes/k8s-policy-deployment-sc.bats
  tests/integration/kubernetes/k8s-policy-deployment.bats
Owners: @kata-containers/tests

versions: Bump experimental {tdx,snp} QEMU
  tools/packaging/qemu/patches/tag_patches/gpu-snp-20251217/no_patches.txt
  tools/packaging/qemu/patches/tag_patches/gpu-tdx-20251217/no_patches.txt
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: nvidia: Update images, probes and timeouts
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

tests: nvidia: Use secret for NGC API key
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

dragonball: Use unique name for vhost path
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/block.rs
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/fs.rs
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/net.rs
Owners: @kata-containers/dragonball

tests: cc: add test with SNP reference values
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/k8s-confidential-attestation.bats
Owners: @kata-containers/tests

versions: update lvm2 to v2_03_38
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update helm to v4.0.4
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update cryptsetup to v2.8.1
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update pause image to 3.10.1
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update gperf to 3.3
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update virtiofsd to v1.13.3
  tools/packaging/static-build/virtiofsd/musl/Dockerfile
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update libseccomp to 2.6.0
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: cc: add test with SNP reference values
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/k8s-confidential-attestation.bats
Owners: @kata-containers/tests

versions: update lvm2 to v2_03_38
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update virtiofsd to v1.13.3
  tools/packaging/static-build/virtiofsd/musl/Dockerfile
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update gperf to 3.3
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update pause image to 3.10.1
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update helm to v4.0.4
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update libseccomp to 2.6.0
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update cryptsetup to v2.8.1
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

vsock-exporter: Fix clippy::io_other_error issue
  src/agent/vsock-exporter/src/lib.rs
Owners: @kata-containers/agent

trace-forwarder: Fix clippy::io_other_error issue
  src/tools/trace-forwarder/src/handler.rs
  src/tools/trace-forwarder/src/tracer.rs
Owners: @kata-containers/rust

dragonball: Fix clippy::io_other_error issue
  src/dragonball/dbs_legacy_devices/src/serial.rs
  src/dragonball/dbs_virtio_devices/src/block/device.rs
  src/dragonball/dbs_virtio_devices/src/device.rs
  src/dragonball/src/device_manager/mem_dev_mgr.rs
  src/dragonball/src/device_manager/memory_region_handler.rs
Owners: @kata-containers/dragonball
