Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

ci: cache: Enforce tag length limit
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

kata-agent: update env PCIDEVICE_<prefix>_<resource-name>_INFO
  src/agent/src/device.rs
Owners: @kata-containers/agent

runtime: Enable connection to Quote Generation Service (QGS)
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/golang, @kata-containers/arch-amd64

runtime-rs: Remove obsoleted dial_timeout config
  src/libs/Cargo.lock
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
Owners: @kata-containers/rust

agent-ctl: Refactor CopyFile handler
  src/tools/agent-ctl/src/client.rs
  src/tools/agent-ctl/src/types.rs
  src/tools/agent-ctl/src/utils.rs
Owners: @kata-containers/rust

runtime-rs: Adjust indentation in ifneq statements within Makefile.
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

metrics: Fix minvalue for boot time
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
Owners: @kata-containers/tests

tests: kbs: Fix rust installation
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

tests: kbs: Enable cli installation also on CentOS
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

versions: trustee: Bump version to 6adb8383309cbb7
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: kbs: Don't assume /tmp/trustee exists in the machine
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

gha: Enable install kbs and coco components for TDX
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

tests: kbs: Add more info for the TDX deployment
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

tests: attestation: tdx: Skip test for now
  tests/integration/kubernetes/k8s-confidential-attestation.bats
Owners: @kata-containers/tests

tests/k8s: skip custom DNS tests on confidential jobs
  tests/integration/kubernetes/k8s-custom-dns.bats
Owners: @kata-containers/tests

tests/k8s: disable "fail-fast" behavior by default
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

agent: collect PCI address mapping for both vfio-pci-gk and vfio-pci device
  src/agent/src/device.rs
Owners: @kata-containers/agent

runtime-rs: add an option dbg_monitor_socket for HMP support
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
Owners: @kata-containers/rust

runtime-rs: add QMP params suppport in cmdline
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

test
  .github/workflows/PR-wip-checks.yaml
  .github/workflows/add-issues-to-project.yaml
  .github/workflows/add-pr-sizing-label.yaml
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/build-checks.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/cargo-deny-runner.yaml
  .github/workflows/ci-nightly-s390x.yaml
  .github/workflows/ci-nightly.yaml
  .github/workflows/ci-on-push.yaml
  .github/workflows/ci.yaml
  .github/workflows/commit-message-check.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/docs-url-alive-check.yaml
  .github/workflows/move-issues-to-in-progress.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-ppc64le.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/run-cri-containerd-tests-ppc64le.yaml
  .github/workflows/run-cri-containerd-tests-s390x.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-k8s-tests-on-garm.yaml
  .github/workflows/run-k8s-tests-on-ppc64le.yaml
  .github/workflows/run-k8s-tests-on-zvsi.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
  .github/workflows/run-kata-monitor-tests.yaml
  .github/workflows/run-metrics.yaml
  .github/workflows/run-runk-tests.yaml
  .github/workflows/stale.yaml
  .github/workflows/static-checks-self-hosted.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

tests: kata-deploy: Show output of passing tests
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/tests

tests: Add the possibility to deploy k0s / rke2
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

tests: kata-deploy: Show more logs in the setup()
  tests/functional/kata-deploy/kata-deploy.bats
Owners: @kata-containers/tests

gha: Only do preventive cleanups for baremetal
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

kata-cleanup: Add k0s kustomization
  tools/packaging/kata-deploy/kata-cleanup/overlays/k0s/kustomization.yaml
  tools/packaging/kata-deploy/kata-cleanup/overlays/k0s/mount_k0s_conf.yaml
Owners: @kata-containers/kata-deploy

tests: k8s: Allow passing "all" to run all the tests
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

kata-deploy: Fix k0s deployment
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

tests: kata-deploy: Adjust timeout
  tests/functional/kata-deploy/kata-deploy.bats
Owners: @kata-containers/tests

tests: kata-deploy: Run the tests from "${repo_root_dir}"
  tests/functional/kata-deploy/kata-deploy.bats
Owners: @kata-containers/tests

qemu: Add CDI device handling for any container type
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

gpu: reintroduce pcie_root_port and add pcie_switch_port
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/device/manager/manager.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

runtime: Added missing error propagation
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/golang

runtime: Added missing error checking
  src/runtime/pkg/resourcecontrol/cgroups.go
Owners: @kata-containers/golang

runtime: Explicitly ignoring errors
  src/runtime/cmd/kata-monitor/main.go
  src/runtime/cmd/kata-runtime/factory.go
  src/runtime/cmd/kata-runtime/kata-exec.go
  src/runtime/cmd/kata-runtime/kata-iptables.go
  src/runtime/cmd/kata-runtime/kata-policy.go
  src/runtime/pkg/containerd-shim-v2/service.go
  src/runtime/pkg/containerd-shim-v2/shim_management.go
  src/runtime/pkg/containerd-shim-v2/stream.go
  src/runtime/pkg/device/drivers/block.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/device/drivers/vhost_user_blk.go
  src/runtime/pkg/device/drivers/vhost_user_fs.go
  src/runtime/pkg/device/drivers/vhost_user_net.go
  src/runtime/pkg/device/drivers/vhost_user_scsi.go
  src/runtime/pkg/katautils/katatrace/tracing.go
  src/runtime/pkg/signals/signals.go
  src/runtime/virtcontainers/api.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/factory/cache/cache.go
  src/runtime/virtcontainers/factory/direct/direct.go
  src/runtime/virtcontainers/factory/factory_linux.go
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/monitor.go
  src/runtime/virtcontainers/mount_linux.go
  src/runtime/virtcontainers/pkg/mock/mock.go
  src/runtime/virtcontainers/pkg/rootless/rootless_linux.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/stratovirt.go
  src/runtime/virtcontainers/virtiofsd.go
  src/runtime/virtcontainers/vm.go
Owners: @kata-containers/golang

Agent: Add grpctls proxy API endpoints
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/grpc_tls_keys/.gitignore
  src/agent/grpc_tls_keys/cert.ext
  src/agent/grpc_tls_keys/gen_key_cert.sh
  src/agent/src/config.rs
  src/agent/src/main.rs
  src/agent/src/rpc.rs
  src/agent/src/rpc/rpctls.rs
  src/agent/src/sandbox.rs
  src/agent/src/secrets.rs
  src/libs/Cargo.lock
  src/libs/protocols/Cargo.toml
  src/libs/protocols/build.rs
  src/libs/protocols/secprotos/google/protobuf/descriptor.proto
  src/libs/protocols/secprotos/google/protobuf/empty.proto
  src/libs/protocols/secprotos/google/protobuf/wrappers.proto
  src/libs/protocols/secprotos/health.proto
  src/libs/protocols/secprotos/oci.proto
  src/libs/protocols/secprotos/secagent.proto
  src/libs/protocols/secprotos/types.proto
  src/libs/protocols/src/grpctls/.gitignore
  src/tools/agent-ctl/Cargo.lock
  src/tools/agent-ctl/src/client.rs
Owners: @kata-containers/agent, @kata-containers/rust

agent: Fix lint and format errors in source code
  src/agent/src/rpc/rpctls.rs
  src/agent/src/secrets.rs
  src/libs/protocols/secprotos/oci.proto
  src/tools/agent-ctl/src/client.rs
Owners: @kata-containers/agent, @kata-containers/rust

vfio: Fix hotpunplug
  src/runtime/pkg/device/drivers/vfio.go
Owners: @kata-containers/golang

docs: Format the threat-model to 80 chars
  docs/threat-model/threat-model.md
Owners: @kata-containers/documentation

ci: ovmf without sudo
  tools/packaging/static-build/ovmf/build.sh
Owners: @kata-containers/packaging

ci: guest-components wihout sudo
  tools/packaging/static-build/coco-guest-components/Dockerfile
  tools/packaging/static-build/coco-guest-components/build-static-coco-guest-components.sh
  tools/packaging/static-build/coco-guest-components/build.sh
Owners: @kata-containers/packaging

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
