Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

tests: list the current k8s pods
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

tests: list the current k8s pods
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

packaging: Fix indentation of build static stratovirt
  tools/packaging/static-build/stratovirt/build-static-stratovirt.sh
Owners: @kata-containers/packaging

packaging: Fix indentation of build static stratovirt
  tools/packaging/static-build/stratovirt/build-static-stratovirt.sh
Owners: @kata-containers/packaging

runtime-rs: add simple Persist implementation for Qemu
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
Owners: @kata-containers/rust

runtime-rs: add default rootfs type for qemu
  src/libs/kata-types/src/config/default.rs
  src/libs/kata-types/src/config/hypervisor/qemu.rs
Owners: @kata-containers/rust

runtime-rs: add default rootfs type for qemu
  src/libs/kata-types/src/config/default.rs
  src/libs/kata-types/src/config/hypervisor/qemu.rs
Owners: @kata-containers/rust

runtime-rs: add simple Persist implementation for Qemu
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
Owners: @kata-containers/rust

tests: Add check images as part of the install dependencies for stability tests
  tests/stability/gha-run.sh
Owners: @kata-containers/tests

tests: Remove check images function from stressng test
  tests/stability/gha-run.sh
  tests/stability/stressng.sh
Owners: @kata-containers/tests

tests: Add check images as part of install dependencies
  tests/stability/gha-run.sh
Owners: @kata-containers/tests

tests: Add check images as part of install dependencies
  tests/stability/gha-run.sh
Owners: @kata-containers/tests

tests: Remove check images function from stressng test
  tests/stability/stressng.sh
Owners: @kata-containers/tests

tests: Remove check images function from stressng test
  tests/stability/stressng.sh
Owners: @kata-containers/tests

sev: required shim changes for sev pre-attestation
  src/runtime/Makefile
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/protocols/simple-kbs/keybroker.pb.go
  src/runtime/protocols/simple-kbs/keybroker.proto
  src/runtime/protocols/simple-kbs/keybroker_grpc.pb.go
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/mock_hypervisor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/stratovirt.go
Owners: @kata-containers/golang, @kata-containers/arch-amd64

kernel: update some configs based on kernel 6.5 and 6.6
  tools/packaging/kernel/configs/fragments/common/base.conf
  tools/packaging/kernel/configs/fragments/common/fs.conf
  tools/packaging/kernel/configs/fragments/common/lsm.conf
  tools/packaging/kernel/configs/fragments/common/netfilter.conf
  tools/packaging/kernel/configs/fragments/common/network.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
Owners: @kata-containers/kernel

kernel: update some configs based on kernel 6.5 and 6.6
  tools/packaging/kernel/configs/fragments/common/base.conf
  tools/packaging/kernel/configs/fragments/common/fs.conf
  tools/packaging/kernel/configs/fragments/common/lsm.conf
  tools/packaging/kernel/configs/fragments/common/netfilter.conf
  tools/packaging/kernel/configs/fragments/common/network.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
Owners: @kata-containers/kernel

build-kernel: Fix typo 'terball' -> 'tarball'
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

build: Add "confidential" kernel
  .github/workflows/build-kata-static-tarball-amd64.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/x86_64/confidential/sev.conf
  tools/packaging/kernel/configs/fragments/x86_64/confidential/snp.conf
  tools/packaging/kernel/configs/fragments/x86_64/confidential/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.7.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/kata-deploy, @kata-containers/kernel, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

build: Add "confidential" kernel
  .github/workflows/build-kata-static-tarball-amd64.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/x86_64/confidential/sev.conf
  tools/packaging/kernel/configs/fragments/x86_64/confidential/snp.conf
  tools/packaging/kernel/configs/fragments/x86_64/confidential/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.7.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/kata-deploy, @kata-containers/kernel, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

build: Get rid of QEMU experimental
  tools/packaging/static-build/qemu/build-static-qemu-experimental.sh
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

build-kernel: Fix typo 'terball' -> 'tarball'
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

packaging: qemu: Simplify "--disable-virtiofsd" logic
  tools/packaging/qemu/patches/8.1.x/no_patches.txt
  tools/packaging/qemu/patches/tag_patches/tdx-qemu-upstream-2023.9.21-v8.1.0/no_patches.txt
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/qemu, @kata-containers/packaging

packaging: qemu: Simplify "--disable-virtiofsd" logic
  tools/packaging/qemu/patches/8.1.x/no_patches.txt
  tools/packaging/qemu/patches/tag_patches/tdx-qemu-upstream-2023.9.21-v8.1.0/no_patches.txt
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/qemu, @kata-containers/packaging

build: Get rid of QEMU experimental
  tools/packaging/static-build/qemu/build-static-qemu-experimental.sh
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update runc version
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Update runc version
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime: agent: verify the agent policy hash
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/src/main.rs
  src/agent/src/policy.rs
  src/agent/src/sev.rs
  src/agent/src/tdx.rs
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_amd64_test.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_arm64.go
  src/runtime/virtcontainers/qemu_arm64_test.go
  src/runtime/virtcontainers/qemu_ppc64le.go
  src/runtime/virtcontainers/qemu_ppc64le_test.go
  src/runtime/virtcontainers/qemu_s390x.go
  src/runtime/virtcontainers/qemu_s390x_test.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/agent, @kata-containers/golang, @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runtime-rs: Forward events to containerd via ttrpc
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/runtimes/common/src/message.rs
  src/runtime-rs/crates/service/Cargo.toml
  src/runtime-rs/crates/service/src/event.rs
  src/runtime-rs/crates/service/src/lib.rs
  src/runtime-rs/crates/service/src/manager.rs
Owners: @kata-containers/rust

runtime-rs: Forward events to containerd via ttrpc
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/runtimes/common/src/message.rs
  src/runtime-rs/crates/service/Cargo.toml
  src/runtime-rs/crates/service/src/event.rs
  src/runtime-rs/crates/service/src/lib.rs
  src/runtime-rs/crates/service/src/manager.rs
Owners: @kata-containers/rust

CI: make CI work for dragonball to test stability and cri-containerd
  tests/integration/cri-containerd/gha-run.sh
  tests/stability/gha-run.sh
Owners: @kata-containers/tests

CI: make CI work for dragonball to test stability and cri-containerd
  tests/integration/cri-containerd/gha-run.sh
  tests/stability/gha-run.sh
Owners: @kata-containers/tests

CI: bugfix for dragonball when CI running with cri-containerd
  tests/common.bash
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/tests

CI: bugfix for dragonball when CI running with cri-containerd
  tests/common.bash
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/tests

CI: enable test container memory update for dragonball
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/tests

CI: enable test container memory update for dragonball
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/tests

runtime-rs: ch: Add minimal implementation of hypervisor metrics method
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs: ch: Add minimal implementation of hypervisor metrics method
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs: ch: Implement minimal memory hotplug APIs
  src/runtime-rs/crates/hypervisor/src/ch/inner.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs: ch: Implement minimal memory hotplug APIs
  src/runtime-rs/crates/hypervisor/src/ch/inner.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust
