Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

kata-ctl: Add unit tests cases
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/Makefile
  src/tools/kata-ctl/src/version.rs.in
Owners: @kata-containers/tools

kata-ctl: Add unit tests cases
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/Makefile
  src/tools/kata-ctl/src/version.rs.in
Owners: @kata-containers/tools

kata-ctl: Add cpu check
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/check.rs
Owners: @kata-containers/tools

kata-ctl: Make arch test run at compile time
  src/tools/kata-ctl/src/arch/mod.rs
Owners: @kata-containers/tools

kata-ctl: Add cpu check
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/check.rs
Owners: @kata-containers/tools

kata-ctl: add code for framework for arch
  src/tools/kata-ctl/src/arch/aarch64/mod.rs
  src/tools/kata-ctl/src/arch/mod.rs
  src/tools/kata-ctl/src/arch/powerpc64le/mod.rs
  src/tools/kata-ctl/src/arch/s390x/mod.rs
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/tools

kata-ctl: Make arch test run at compile time
  src/tools/kata-ctl/src/arch/mod.rs
Owners: @kata-containers/tools

kata-ctl: Formatting tweaks
  src/tools/kata-ctl/src/main.rs
Owners: @kata-containers/tools

kata-ctl: Lint fixes to allow the branch to be built
  src/tools/kata-ctl/src/main.rs
Owners: @kata-containers/tools

kata-ctl: add code for framework for arch
  src/tools/kata-ctl/src/arch/aarch64/mod.rs
  src/tools/kata-ctl/src/arch/mod.rs
  src/tools/kata-ctl/src/arch/powerpc64le/mod.rs
  src/tools/kata-ctl/src/arch/s390x/mod.rs
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/tools

kata-ctl: Formatting tweaks
  src/tools/kata-ctl/src/main.rs
Owners: @kata-containers/tools

kata-ctl: Lint fixes to allow the branch to be built
  src/tools/kata-ctl/src/main.rs
Owners: @kata-containers/tools

kata-ctl: Don't rely on system ssl libs
  src/tools/kata-ctl/Cargo.toml
Owners: @kata-containers/tools

kata-ctl: implement CLI argument --check-version-only
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/ops/version.rs.in
Owners: @kata-containers/tools

kata-ctl: Don't rely on system ssl libs
  src/tools/kata-ctl/Cargo.toml
Owners: @kata-containers/tools

kata-ctl: implement CLI argument --check-version-only
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/ops/version.rs.in
Owners: @kata-containers/tools

kata-ctl: switch to use clap derive for CLI handling
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/Makefile
  src/tools/kata-ctl/src/arch/mod.rs
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/ops.rs
  src/tools/kata-ctl/src/ops/check_ops.rs
  src/tools/kata-ctl/src/ops/version.rs.in
Owners: @kata-containers/tools

kata-ctl: clippy: Resolve warnings and reformat
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/ops/check_ops.rs
Owners: @kata-containers/tools

kata-ctl: switch to use clap derive for CLI handling
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/Makefile
  src/tools/kata-ctl/src/arch/mod.rs
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/ops.rs
  src/tools/kata-ctl/src/ops/check_ops.rs
  src/tools/kata-ctl/src/ops/version.rs.in
Owners: @kata-containers/tools

kata-ctl: clippy: Resolve warnings and reformat
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/ops/check_ops.rs
Owners: @kata-containers/tools

docs: Reference kata-ctl README
  README.md
Owners: @kata-containers/documentation

docs: Reference kata-ctl README
  README.md
Owners: @kata-containers/documentation

ci: Add dragonball test
  .github/workflows/static-checks.yaml
  src/dragonball/Makefile
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/makefile

ci: Add dragonball test
  .github/workflows/static-checks.yaml
  src/dragonball/Makefile
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/makefile

runtime: Merge fixes
  src/runtime/virtcontainers/qemu_amd64_test.go
Owners: @kata-containers/runtime

Remove duplicated component item in README.md
  README.md
Owners: @kata-containers/documentation

docs: fix a typo in rust-runtime-installation-guide
  docs/install/kata-containers-3.0-rust-runtime-installation-guide.md
Owners: @kata-containers/documentation

docs: fix a typo in rust-runtime-installation-guide
  docs/install/kata-containers-3.0-rust-runtime-installation-guide.md
Owners: @kata-containers/documentation

kata-ctl: docs: Write basic documentation
  src/tools/kata-ctl/README.md
Owners: @kata-containers/tools

kata-ctl: docs: Write basic documentation
  src/tools/kata-ctl/README.md
Owners: @kata-containers/tools

build: Add kata-ctl to tools list
  Makefile
Owners: @kata-containers/makefile

build: Add kata-ctl to tools list
  Makefile
Owners: @kata-containers/makefile

Dragonball: delete redundant comments in blk_dev_mgr
  src/dragonball/src/device_manager/blk_dev_mgr.rs
Owners: none

Dragonball: delete redundant comments in blk_dev_mgr
  src/dragonball/src/device_manager/blk_dev_mgr.rs
Owners: none

ci: skip s390x for dragonball.
  src/dragonball/Makefile
Owners: @kata-containers/makefile

ci: skip s390x for dragonball.
  src/dragonball/Makefile
Owners: @kata-containers/makefile

dragonball: enhance dragonball ci
  .github/workflows/static-checks.yaml
  src/dragonball/Makefile
  utils.mk
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/makefile

dragonball: enhance dragonball ci
  .github/workflows/static-checks.yaml
  src/dragonball/Makefile
  utils.mk
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/makefile

dragonball: fix clippy warning for aarch64
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/vcpu/aarch64.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vm/aarch64.rs
Owners: none

dragonball: fix clippy warning for aarch64
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/vcpu/aarch64.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vm/aarch64.rs
Owners: none

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
