Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

rustjail: Add tests for hook_grpc_to_oci
  src/agent/rustjail/src/lib.rs
Owners: @kata-containers/agent

vendor: Update url for governance.md
  src/runtime/vendor/google.golang.org/grpc/CONTRIBUTING.md
  src/runtime/vendor/google.golang.org/grpc/GOVERNANCE.md
  src/runtime/vendor/google.golang.org/grpc/MAINTAINERS.md
Owners: @kata-containers/runtime

runtime: Don't use fixed /tmp/mountPoint path
  src/runtime/virtcontainers/kata_agent_test.go
Owners: @kata-containers/runtime

runtime: Don't use fixed /tmp/mountPoint path
  src/runtime/virtcontainers/kata_agent_test.go
Owners: @kata-containers/runtime

runtime: Make SetupOCIConfigFile clean up after itself
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/containerd-shim-v2/delete_test.go
  src/runtime/pkg/containerd-shim-v2/service_test.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/create_test.go
Owners: @kata-containers/runtime

runtime: Make SetupOCIConfigFile clean up after itself
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/containerd-shim-v2/delete_test.go
  src/runtime/pkg/containerd-shim-v2/service_test.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/create_test.go
Owners: @kata-containers/runtime

runtime: Clean up mock hook logs in tests
  src/runtime/pkg/katautils/hook_test.go
Owners: @kata-containers/runtime

runtime: Clean up mock hook logs in tests
  src/runtime/pkg/katautils/hook_test.go
Owners: @kata-containers/runtime

runtime: Make bind mount tests better clean up after themselves
  src/runtime/virtcontainers/mount_test.go
Owners: @kata-containers/runtime

runtime: Make bind mount tests better clean up after themselves
  src/runtime/virtcontainers/mount_test.go
Owners: @kata-containers/runtime

runtime: Move mockfs control global into mockfs.go
  src/runtime/virtcontainers/persist/fs/mockfs.go
  src/runtime/virtcontainers/persist/fs/mockfs_test.go
  src/runtime/virtcontainers/persist/manager.go
  src/runtime/virtcontainers/persist/manager_test.go
  src/runtime/virtcontainers/virtcontainers_test.go
Owners: @kata-containers/runtime

runtime: Don't abuse MockStorageRootPath() for factory tests
  src/runtime/virtcontainers/factory/cache/cache_test.go
  src/runtime/virtcontainers/factory/direct/direct_test.go
  src/runtime/virtcontainers/factory/factory_test.go
  src/runtime/virtcontainers/factory/template/template_test.go
  src/runtime/virtcontainers/persist/fs/mockfs.go
Owners: @kata-containers/runtime

runtime: Move mockfs control global into mockfs.go
  src/runtime/virtcontainers/persist/fs/mockfs.go
  src/runtime/virtcontainers/persist/fs/mockfs_test.go
  src/runtime/virtcontainers/persist/manager.go
  src/runtime/virtcontainers/persist/manager_test.go
  src/runtime/virtcontainers/virtcontainers_test.go
Owners: @kata-containers/runtime

runtime: Export StoragePathSuffix
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/persist/fs/fs.go
Owners: @kata-containers/runtime

runtime: Don't abuse MockStorageRootPath() for factory tests
  src/runtime/virtcontainers/factory/cache/cache_test.go
  src/runtime/virtcontainers/factory/direct/direct_test.go
  src/runtime/virtcontainers/factory/factory_test.go
  src/runtime/virtcontainers/factory/template/template_test.go
  src/runtime/virtcontainers/persist/fs/mockfs.go
Owners: @kata-containers/runtime

runtime: Export StoragePathSuffix
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/persist/fs/fs.go
Owners: @kata-containers/runtime

runtime: Let MockFSInit create a mock fs driver at any path
  src/runtime/virtcontainers/persist/fs/fs_test.go
  src/runtime/virtcontainers/persist/fs/mockfs.go
  src/runtime/virtcontainers/persist/fs/mockfs_test.go
Owners: @kata-containers/runtime

runtime: Let MockFSInit create a mock fs driver at any path
  src/runtime/virtcontainers/persist/fs/fs_test.go
  src/runtime/virtcontainers/persist/fs/mockfs.go
  src/runtime/virtcontainers/persist/fs/mockfs_test.go
Owners: @kata-containers/runtime

runtime: Allock mockfs storage to be placed in any directory
  src/runtime/virtcontainers/persist/fs/mockfs.go
  src/runtime/virtcontainers/persist/fs/mockfs_test.go
  src/runtime/virtcontainers/virtcontainers_test.go
Owners: @kata-containers/runtime

runtime: Allock mockfs storage to be placed in any directory
  src/runtime/virtcontainers/persist/fs/mockfs.go
  src/runtime/virtcontainers/persist/fs/mockfs_test.go
  src/runtime/virtcontainers/virtcontainers_test.go
Owners: @kata-containers/runtime

agent: modify the type of swappiness to u64
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/rustjail/src/lib.rs
  src/libs/oci/src/lib.rs
  src/tools/agent-ctl/src/utils.rs
Owners: @kata-containers/agent, @kata-containers/tools

agent: modify the type of swappiness to u64
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/rustjail/src/lib.rs
  src/libs/oci/src/lib.rs
  src/tools/agent-ctl/src/utils.rs
Owners: @kata-containers/agent, @kata-containers/tools

rustjail: Add tests for hooks_grpc_to_oci
  src/agent/rustjail/src/lib.rs
Owners: @kata-containers/agent

rustjail: Add tests for hooks_grpc_to_oci
  src/agent/rustjail/src/lib.rs
Owners: @kata-containers/agent

CCv0: Test TDX internal CI build
  src/agent/Cargo.toml
  src/agent/src/image_rpc.rs
Owners: @kata-containers/agent

agent: add tests for create_logger_task function
  src/agent/src/main.rs
  src/agent/src/mount.rs
  src/agent/src/test_utils.rs
Owners: @kata-containers/agent

agent: add tests for create_logger_task function
  src/agent/src/main.rs
  src/agent/src/mount.rs
  src/agent/src/test_utils.rs
Owners: @kata-containers/agent

runtime: add runtime loglevel config in the configuration.toml
  src/runtime/config/configuration-acrn.toml.in
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
Owners: @kata-containers/runtime

rustjail: Add tests for mount_grpc_to_oci
  src/agent/rustjail/src/lib.rs
Owners: @kata-containers/agent

rustjail: Add tests for mount_grpc_to_oci
  src/agent/rustjail/src/lib.rs
Owners: @kata-containers/agent

packaging: Fix clh build from source fall-back
  tools/packaging/static-build/cloud-hypervisor/build-static-clh.sh
Owners: @kata-containers/packaging

packaging: Fix clh build from source fall-back
  tools/packaging/static-build/cloud-hypervisor/build-static-clh.sh
Owners: @kata-containers/packaging

tools: fix typo in clh directory name
  tools/packaging/static-build/cloud-hypervisor/build-static-clh.sh
Owners: @kata-containers/packaging

tools: fix typo in clh directory name
  tools/packaging/static-build/cloud-hypervisor/build-static-clh.sh
Owners: @kata-containers/packaging

docs: remove pc machine type supports
  docs/design/virtualization.md
Owners: @kata-containers/documentation

docs: remove pc machine type supports
  docs/design/virtualization.md
Owners: @kata-containers/documentation

proto: fsGroup support for direct-assigned volume
  src/libs/protocols/protos/agent.proto
  src/libs/protocols/protos/types.proto
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/types.pb.go
Owners: @kata-containers/runtime

tools/packaging/kata-deploy: Copy install_yq.sh in a dedicated script
  .github/workflows/release.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-copy-yq-installer.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/packaging

versions: Bump firecracker to v0.23.4
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

kata-monitor: update the hrefs in the debug/pprof index page
  src/runtime/pkg/kata-monitor/pprof.go
  src/runtime/pkg/kata-monitor/pprof_test.go
Owners: @kata-containers/runtime
