Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

Revert "govmm: Directly pass the firmware using -bios with TDX"
  src/runtime/pkg/govmm/qemu/qemu.go
Owners: @kata-containers/runtime

Revert "govmm: Set "sept-ve-disable=on""
  src/runtime/pkg/govmm/qemu/qemu.go
Owners: @kata-containers/runtime

Revert "runtime/qemu: Drop "kvm-type=tdx""
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

Revert "virtcontainers: Drop check for the `tdx` CPU flag"
  src/runtime/virtcontainers/hypervisor_linux_amd64.go
Owners: @kata-containers/runtime

Partially revert "versions: Bump OVMF for TDX"
  tools/packaging/static-build/ovmf/build-ovmf.sh
  tools/packaging/static-build/ovmf/build.sh
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

Revert "versions: Update Kernel TDX version"
  tools/packaging/kernel/configs/fragments/x86_64/tdx/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/5.19-TDX-v2.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

Revert "versions: Move Kernel TDX to its own experimental entry"
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

agent: update tokio dependency
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/rustjail/Cargo.toml
  src/agent/src/signal.rs
  src/agent/vsock-exporter/Cargo.toml
Owners: @kata-containers/agent

runk: update tokio dependency
  src/tools/runk/Cargo.lock
  src/tools/runk/Cargo.toml
Owners: @kata-containers/tools

runtime-rs: update tokio dependency
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/agent/Cargo.toml
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/runtimes/Cargo.toml
  src/runtime-rs/crates/runtimes/common/Cargo.toml
  src/runtime-rs/crates/runtimes/linux_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/wasm_container/Cargo.toml
  src/runtime-rs/crates/service/Cargo.toml
  src/runtime-rs/crates/shim-ctl/Cargo.toml
  src/runtime-rs/crates/shim/Cargo.toml
Owners: @kata-containers/runtime

docs: Update container network model url
  src/runtime/virtcontainers/README.md
Owners: @kata-containers/runtime

docs: Update container network model url
  src/runtime/virtcontainers/README.md
Owners: @kata-containers/runtime

Chain ID instead of diff ID for layer name input
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/agent, @kata-containers/tools

Add tar-overlay storage to each container policy
  src/agent/samples/policy/yaml/configmap/pod1.yaml
  src/agent/samples/policy/yaml/configmap/pod2.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

runtime: make debug console work with sandbox_cgroup_only
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

runtime: make debug console work with sandbox_cgroup_only
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

Revert "versions: Update QEMU TDX version"
  tools/packaging/qemu/patches/tag_patches/ad4c7f529a279685da84297773b4ec8080153c2d-plus-TDX-v1.3/no_patches.txt
  tools/packaging/scripts/configure-hypervisor.sh
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/packaging, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

Revert "versions: Move QEMU TDX to its own experimental entry"
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

Compare Policy and Input storages
  src/agent/samples/policy/test-input/pod-persistent-volumes-busybox.json
  src/agent/samples/policy/test-input/pod-persistent-volumes-pause.json
  src/agent/samples/policy/yaml/configmap/pod1.yaml
  src/agent/samples/policy/yaml/configmap/pod2.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

Bump version to 2.4.1-apple-007
  VERSION
Owners: @kata-containers/release

set default memory to 512M
  src/runtime/Makefile
Owners: @kata-containers/runtime

Storage policy improvements
  src/agent/samples/policy/test-input/cm2-busybox.json
  src/agent/samples/policy/test-input/cm2-pause.json
  src/agent/samples/policy/yaml/configmap/pod1.yaml
  src/agent/samples/policy/yaml/configmap/pod2.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/infra.rs
Owners: @kata-containers/agent, @kata-containers/tools

Add security policy support for K8s imagePullPolicy
  src/agent/samples/policy/yaml/pod/pod-demo-build.yaml
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/agent, @kata-containers/tools

Add demo pod spec for custom container image
  src/agent/samples/policy/yaml/pod/pod-demo-build.yaml
Owners: @kata-containers/agent

Speed up demo by using smaller container image
  src/agent/samples/policy/yaml/pod/pod-demo-build.yaml
  src/agent/samples/policy/yaml/pod/pod-demo.yaml
Owners: @kata-containers/agent

Use demo branch
  src/tools/genpolicy/Cargo.lock
  src/tools/genpolicy/Cargo.toml
Owners: @kata-containers/tools

Use RUST_LOG=info to show image pull progress
  src/tools/genpolicy/src/config_maps.rs
  src/tools/genpolicy/src/infra.rs
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/utils.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/tools

release: Kata Containers 3.2.0-alpha1
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.2.0-alpha1
  VERSION
Owners: @kata-containers/release

runtime: use enable_vcpus_pinning from toml
  src/runtime/pkg/oci/utils.go
Owners: @kata-containers/runtime

resource-control: fix setting CPU affinities on Linux
  src/runtime/pkg/resourcecontrol/utils_linux.go
Owners: @kata-containers/runtime

release: Adapt kata-deploy for 3.1.2
  tools/packaging/kata-deploy/kata-cleanup/base/kata-cleanup.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
Owners: @kata-containers/packaging

release: Kata Containers 3.1.2
  VERSION
Owners: @kata-containers/release

tools: Fix arch bug
  tools/packaging/static-build/firecracker/build-static-firecracker.sh
Owners: @kata-containers/packaging

tools: Fix arch bug
  tools/packaging/static-build/firecracker/build-static-firecracker.sh
Owners: @kata-containers/packaging

runtime-rs: change some fields from String to PathBuf
  src/libs/shim-interface/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/mod.rs
Owners: @kata-containers/runtime

cache: Fix OVMF caching
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

cache: Fix OVMF caching
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

gha: payload-after-push: Pass secrets down
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/payload-after-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: payload-after-push: Pass secrets down
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/payload-after-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci
