Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

runtime-rs: Refactor mount options handling and add utility functions
  src/runtime-rs/crates/resource/src/volume/block_emptydir_volume.rs
  src/runtime-rs/crates/resource/src/volume/block_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/rawblock_volume.rs
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

qemu/machine: add GB300 NVL dry-run fixture and test
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/gb300_nvl_2gpu.args
Owners: @kata-containers/rust

qemu/machine: Phase 4 -- multi-RC NIC groups, all Grace 1-4 tests pass
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_4_gpu_and_nic.args
Owners: @kata-containers/rust

qemu/machine: Phase 5 -- vCMDQ and vEGM, all Grace tests pass
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
Owners: @kata-containers/rust

qemu/machine: ARCHITECTURE.md Phase 4+5 status + auto mode note
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

qemu/machine: Phase 6 -- PlatformProbe, switch-port, inner.rs integration
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
Owners: @kata-containers/rust

agent: move kbs:// scheme out of get_cdh_resource() helper
  src/agent/src/confidential_data_hub/mod.rs
  src/agent/src/device/vfio_device_handler.rs
Owners: @kata-containers/agent

qemu/machine/fixtures: normalize memory-backend-file option order
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_6_vegm_1_per_socket.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_7_vegm_2_per_socket.args
Owners: @kata-containers/rust

hypervisor/qemu: add typed machine module
  src/runtime-rs/crates/hypervisor/src/qemu/machine/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/pseries.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/q35.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/s390x.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/virt.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
Owners: @kata-containers/rust, @kata-containers/arch-s390x

hypervisor/qemu: add CoCo SEV-SNP + GPU fixture from production capture
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_coco_snp_single_gpu.args
Owners: @kata-containers/rust

hypervisor/qemu: add Q35 fixture, platform parity, and planned fixtures
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_vanilla_kata_x86.args
Owners: @kata-containers/rust

hypervisor/qemu: note seccomp sandbox as Phase 3 consideration
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

hypervisor/qemu: add CpuConfig/CpuModel with attestation rationale
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
Owners: @kata-containers/rust

qemu/machine: address review comments on fixtures and ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_coco_snp_single_gpu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_vanilla_kata_x86.args
Owners: @kata-containers/rust

hypervisor/qemu: implement Phase 1 constructors and topology builder
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/q35.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
Owners: @kata-containers/rust

hypervisor/qemu: move Grace virt defaults out of build into test helper
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
Owners: @kata-containers/rust

hypervisor/qemu: document machine-centric architecture
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

hypervisor/qemu: document #13270 (4+ Blackwell GPU GPA cap) in known issues
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

hypervisor/qemu: address Phase 0 review comments
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/virt.rs
Owners: @kata-containers/rust

docs: backtick technical terms in ARCHITECTURE.md for spellcheck
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

qemu/machine: fix highmem_mmio_size doc and Makefile claim
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/virt.rs
Owners: @kata-containers/rust

qemu/machine/tests: document Phase 4/5 placeholder test bodies
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
Owners: @kata-containers/rust

hypervisor/qemu: add golden test harness for platform generation
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/pseries.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/q35.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/s390x.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/virt.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_1_single_gpu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_2_four_gpus_1_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_3_four_gpus_2_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_4_gpu_and_nic.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_5_vcmdq.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_6_vegm_1_per_socket.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_7_vegm_2_per_socket.args
Owners: @kata-containers/rust, @kata-containers/arch-s390x

hypervisor/qemu: implement Platform::to_qemu_args (Phase 2)
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
Owners: @kata-containers/rust

qemu/machine/tests: implement Q35 fixture tests
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_coco_snp_single_gpu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_vanilla_kata_x86.args
Owners: @kata-containers/rust

qemu/machine: capture TDX production topology — 8 GPUs + 4 NVSwitches
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_coco_tdx_8gpu_4nvswitch.args
Owners: @kata-containers/rust

qemu/machine/fixtures: correct Grace fixture field ordering
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_1_single_gpu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_2_four_gpus_1_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_3_four_gpus_2_per_smmu.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_5_vcmdq.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_6_vegm_1_per_socket.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/grace_7_vegm_2_per_socket.args
Owners: @kata-containers/rust

qemu/machine: emit EGM backend options in canonical order
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
Owners: @kata-containers/rust

qemu/machine: add GB300 NVL dry-run fixture and test
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/gb300_nvl_2gpu.args
Owners: @kata-containers/rust

qemu/machine: fix apply_q35_defaults slot/chassis/bus_nr for multi-GPU
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
Owners: @kata-containers/rust

hypervisor/qemu: add Q35 vanilla kata fixture from production capture
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
Owners: @kata-containers/rust

hypervisor/qemu: fix hotplug -> cold-plug in Q35 fixture and docs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
Owners: @kata-containers/rust

docs: backtick technical terms added by the Phase 0-3 sweep
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

qemu/machine: add vanilla Q35 GPU+NVSwitch fixture (non-CoCo HGX H100)
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_coco_tdx_8gpu_4nvswitch.args
  src/runtime-rs/crates/hypervisor/tests/fixtures/qemu/q35_vanilla_8gpu_4nvswitch.args
Owners: @kata-containers/rust

qemu/machine: implement Q35 emission and apply_q35_defaults
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
Owners: @kata-containers/rust

qemu/machine: Phase 0-3 sweep — rename, visibility, ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/q35.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
Owners: @kata-containers/rust

qemu/machine: extend data model for Q35 CoCo and NUMA SHM
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/q35.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
Owners: @kata-containers/rust

qemu/machine: Phase 5 -- vCMDQ and vEGM, all Grace tests pass
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
Owners: @kata-containers/rust

qemu/machine: ARCHITECTURE.md Phase 4+5 status + auto mode note
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
Owners: @kata-containers/rust

qemu/machine: Phase 6 -- PlatformProbe, switch-port, inner.rs integration
  src/runtime-rs/crates/hypervisor/src/qemu/ARCHITECTURE.md
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/platform.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/probe.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/tests.rs
  src/runtime-rs/crates/hypervisor/src/qemu/machine/topology.rs
Owners: @kata-containers/rust
