Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

packaging: Bump the kata config kernel version
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

packaging: Use the cached kernel modules
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Use the cached kernel modules
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

runtime-rs: Exclude hypervisors plugins except QEMU for s390x
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Use Persist::restore() of QEMU for VirtSandbox
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Exclude hypervisors plugins except QEMU for s390x
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Use Persist::restore() of QEMU for VirtSandbox
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

ci: aks: switch from eastus2 to eastus region
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

ci: aks: switch from eastus2 to eastus region
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

tests: pull image as a test dependency for kata monitor
  tests/functional/kata-monitor/gha-run.sh
  tests/functional/kata-monitor/kata-monitor-tests.sh
Owners: @kata-containers/tests

gha: k8s: Add cloud-hypervisor (runtime-rs) support
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: k8s: Add cloud-hypervisor (runtime-rs) support
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: Allow compilation for s390x
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

runtime-rs: Allow compilation for s390x
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

packaging: Fix pushing artefacts to the registry
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Fix pushing artefacts to the registry
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Fix typo to get the extra_tarballs path
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Fix typo to get the extra_tarballs path
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Fix kernel confidential name
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Fix kernel confidential name
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Remove trailing whitespace from extra_tarballs arg
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Remove trailing whitespace from extra_tarballs arg
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Pass the kernel flavour to get_kernel_modules_dir
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

packaging: Pass the kernel flavour to get_kernel_modules_dir
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

runtime: Add confidential kernel to the makefile
  src/runtime/Makefile
Owners: @kata-containers/golang

runtime: Add confidential kernel to the makefile
  src/runtime/Makefile
Owners: @kata-containers/golang

runtime: tdx: config: Use the confidential kernel
  src/runtime/config/configuration-qemu-tdx.toml.in
Owners: @kata-containers/golang

runtime: tdx: config: Use the confidential kernel
  src/runtime/config/configuration-qemu-tdx.toml.in
Owners: @kata-containers/golang

tests: k8s: Enable tests for cloud hypervisor runtime-rs
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-cpu-ns.bats
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
  tests/integration/kubernetes/k8s-scale-nginx.bats
Owners: @kata-containers/tests

tests: k8s: Enable tests for cloud hypervisor runtime-rs
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-cpu-ns.bats
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
  tests/integration/kubernetes/k8s-scale-nginx.bats
Owners: @kata-containers/tests

gha: delete azure RG only if it exists
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

gha: delete azure RG only if it exists
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

logging: Correct stdout redirection for kata-ctl log output
  src/libs/logging/src/lib.rs
Owners: @kata-containers/rust

runtime: snp: config: Use the confidential kernel
  src/runtime/config/configuration-qemu-snp.toml.in
Owners: @kata-containers/golang

runtime: sev: config: Use the confidential kernel
  src/runtime/config/configuration-qemu-sev.toml.in
Owners: @kata-containers/golang

runtime: sev: config: Use the confidential kernel
  src/runtime/config/configuration-qemu-sev.toml.in
Owners: @kata-containers/golang

runtime: snp: config: Use the confidential kernel
  src/runtime/config/configuration-qemu-snp.toml.in
Owners: @kata-containers/golang

runtime: makefile: remove TDX specific kernel references
  src/runtime/Makefile
Owners: @kata-containers/golang

runtime: makefile: remove TDX specific kernel references
  src/runtime/Makefile
Owners: @kata-containers/golang

runtime: makefile: remove SNP specific kernel references
  src/runtime/Makefile
Owners: @kata-containers/golang

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
