Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

protocol: remove mapping definitions
  src/libs/protocols/hack/update-generated-proto.sh
Owners: @kata-containers/shell

protocol: breaking lines to improve readability
  src/libs/protocols/hack/update-generated-proto.sh
Owners: @kata-containers/shell

protocol: remove unused PROTO_FILE env
  src/libs/protocols/hack/update-generated-proto.sh
Owners: @kata-containers/shell

tests: delete k8s deployment at the test's end
  tests/integration/kubernetes/k8s-pod-quota.bats
Owners: none

tests: delete k8s deployment at the test's end
  tests/integration/kubernetes/k8s-pod-quota.bats
Owners: none

tests: use unique test name
  tests/integration/kubernetes/k8s-kill-all-process-in-container.bats
Owners: none

tests: use unique test name
  tests/integration/kubernetes/k8s-kill-all-process-in-container.bats
Owners: none

protocols: add support sealed_secret
  src/libs/protocols/Cargo.toml
  src/libs/protocols/build.rs
  src/libs/protocols/protos/sealed_secret.proto
  src/libs/protocols/src/lib.rs
Owners: none

kata-agent: use default filemode for block device when it is set to 0
  src/agent/rustjail/src/lib.rs
Owners: @kata-containers/agent

agent: rootfs: add sealed-secret in Makefile
  src/agent/Makefile
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/agent, @kata-containers/builder, @kata-containers/packaging

agent: launch confidential-data-hub
  src/agent/Cargo.toml
  src/agent/src/image_rpc.rs
  src/agent/src/main.rs
Owners: @kata-containers/agent

osbuilder: add confidential-data-hub in rootfs
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

shimv2: fix io stream close TOCTOU race
  src/runtime/pkg/containerd-shim-v2/stream.go
Owners: @kata-containers/runtime

gha: Avoid "fail-fast" in tests that are known to be flaky
  .github/workflows/run-cri-containerd-tests.yaml
  .github/workflows/run-metrics.yaml
  .github/workflows/run-nydus-tests.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: Avoid "fail-fast" in tests that are known to be flaky
  .github/workflows/run-cri-containerd-tests.yaml
  .github/workflows/run-metrics.yaml
  .github/workflows/run-nydus-tests.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

github: add workflow for publishing runtime-payload for ppc64le
  .github/workflows/cc-payload-ppc64le.yaml
  .github/workflows/cc-payload.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-deploy: use docker buildx to cross build cc-shim-v2 and runtime-payload image for ppc64le
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
Owners: @kata-containers/packaging

agent: simplify storage device by removing StorageDeviceObject
  src/agent/src/sandbox.rs
  src/agent/src/storage/bind_watcher_handler.rs
  src/agent/src/storage/block_handler.rs
  src/agent/src/storage/ephemeral_handler.rs
  src/agent/src/storage/fs_handler.rs
  src/agent/src/storage/local_handler.rs
  src/agent/src/storage/mod.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent

agent: simplify storage device by removing StorageDeviceObject
  src/agent/src/sandbox.rs
  src/agent/src/storage/bind_watcher_handler.rs
  src/agent/src/storage/block_handler.rs
  src/agent/src/storage/ephemeral_handler.rs
  src/agent/src/storage/fs_handler.rs
  src/agent/src/storage/local_handler.rs
  src/agent/src/storage/mod.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent

runtime-rs: check peer close in log_forwarder
  src/runtime-rs/crates/agent/src/log_forwarder.rs
Owners: @kata-containers/runtime

runtime-rs: check peer close in log_forwarder
  src/runtime-rs/crates/agent/src/log_forwarder.rs
Owners: @kata-containers/runtime

agent: use function from kata-sys-utils to reduce code
  src/agent/src/mount.rs
Owners: @kata-containers/agent

tests: Add k8s-ro-volume test
  tests/integration/kubernetes/k8s-ro-volume.bats
  tests/integration/kubernetes/ro-volume-exp.sh
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/shell

agent: simplify the way to manage storage object
  src/agent/src/mount.rs
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent

agent: switch to new storage subsystem
  src/agent/src/device.rs
  src/agent/src/mount.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: refine storage related code a bit
  src/agent/src/mount.rs
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
  src/libs/kata-sys-util/src/mount.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent

sys-util: support more mount flags in parse_mount_options()
  src/agent/src/mount.rs
  src/agent/src/namespace.rs
  src/libs/kata-sys-util/src/mount.rs
Owners: @kata-containers/agent

types: add more mount related constants
  src/agent/src/mount.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent

kata-types: introduce StorageDevice and StorageHandlerManager
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent

agent: use create_mount_destination() from kata-sys-util
  src/agent/src/mount.rs
Owners: @kata-containers/agent

agent: simplify storage device by removing StorageDeviceObject
  src/agent/src/sandbox.rs
  src/agent/src/storage/bind_watcher_handler.rs
  src/agent/src/storage/block_handler.rs
  src/agent/src/storage/ephemeral_handler.rs
  src/agent/src/storage/fs_handler.rs
  src/agent/src/storage/local_handler.rs
  src/agent/src/storage/mod.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent

agent: move storage device related code into dedicated files
  src/agent/src/main.rs
  src/agent/src/mount.rs
  src/agent/src/rpc.rs
  src/agent/src/storage/bind_watcher_handler.rs
  src/agent/src/storage/block_handler.rs
  src/agent/src/storage/ephemeral_handler.rs
  src/agent/src/storage/fs_handler.rs
  src/agent/src/storage/local_handler.rs
  src/agent/src/storage/mod.rs
Owners: @kata-containers/agent

versions: tdx: Update QEMU to v7.2 + TDX v1.10
  tools/packaging/qemu/patches/tag_patches/b67b00e6b4c7831a3f5bc684bc0df7a9bfd1bd56-plus-TDX-v1.10/no_patches.txt
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: tdx: Update QEMU to v7.2 + TDX v1.10
  tools/packaging/qemu/patches/tag_patches/b67b00e6b4c7831a3f5bc684bc0df7a9bfd1bd56-plus-TDX-v1.10/no_patches.txt
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: tdx: Update Kernel to 6.2 + TDX
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/configs/fragments/x86_64/tdx/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.2-TDX-v1.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: tdx: Update TDVF to the "edk2-stable202302"
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: tdx: Update Kernel to 6.2 + TDX
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/configs/fragments/x86_64/tdx/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.2-TDX-v1.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: tdx: Update TDVF to the "edk2-stable202302"
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

qemu: tdx: Adapt to the TDX 1.5 stack
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/govmm/qemu/qemu_test.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
Owners: @kata-containers/runtime

local-build: Remove $HOME/.docker/buildx/activity/default
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
