Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

runtime-rs: refactor merging metadata within image_pull
  src/runtime-rs/crates/resource/src/rootfs/virtual_volume.rs
Owners: @kata-containers/rust

kata-type: Relax Mandatory source Field Check in Guest-Pull Mode
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/rust

gha: Remove path restriction for Zizmor workflow
  .github/workflows/zizmor.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gpu: NVRC static build
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
Owners: @kata-containers/builder

tests/k8s: call teardown_common in k8s-parallel.bats
  tests/integration/kubernetes/k8s-parallel.bats
Owners: @kata-containers/tests

tests/k8s: call teardown_common in k8s-sandbox-vcpus-allocation.bats
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
Owners: @kata-containers/tests

tests/k8s: call teardown_common in k8s-credentials-secrets.bats
  tests/integration/kubernetes/k8s-credentials-secrets.bats
Owners: @kata-containers/tests

tests/k8s: add handler for Job in set_node()
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

gha: remove ci env
  .github/workflows/cleanup-resources.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

wip
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
  tests/stability/gha-stability-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

mem-agent: Update to kata-20250627
  src/agent/Cargo.toml
  src/agent/src/config.rs
  src/agent/src/rpc.rs
  src/mem-agent/.gitignore
  src/mem-agent/Cargo.lock
  src/mem-agent/Cargo.toml
  src/mem-agent/Makefile
  src/mem-agent/example/Cargo.lock
  src/mem-agent/example/Cargo.toml
  src/mem-agent/example/build.rs
  src/mem-agent/example/ctl.rs
  src/mem-agent/example/protocols/mod.rs
  src/mem-agent/example/protocols/protos/google/protobuf/empty.proto
  src/mem-agent/example/protocols/protos/google/protobuf/timestamp.proto
  src/mem-agent/example/protocols/protos/mem-agent.proto
  src/mem-agent/example/share/misc.rs
  src/mem-agent/example/share/mod.rs
  src/mem-agent/example/share/option.rs
  src/mem-agent/example/share/rpc.rs
  src/mem-agent/example/srv.rs
  src/mem-agent/src/agent.rs
  src/mem-agent/src/cgroup.rs
  src/mem-agent/src/compact.rs
  src/mem-agent/src/lib.rs
  src/mem-agent/src/memcg.rs
  src/mem-agent/src/mglru.rs
  src/mem-agent/src/misc.rs
  src/mem-agent/src/psi.rs
Owners: @kata-containers/agent, @kata-containers/build, @kata-containers/rust

ci: Remove atty group
  .github/dependabot.yml
Owners: none

versions: Bump slog-term to 2.9.1
  src/dragonball/Cargo.lock
  src/libs/Cargo.lock
  src/libs/logging/Cargo.toml
  src/runtime-rs/Cargo.lock
  src/tools/agent-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/trace-forwarder/Cargo.lock
Owners: @kata-containers/dragonball, @kata-containers/rust

mem-agent: Remove structopts crate
  src/mem-agent/example/Cargo.lock
  src/mem-agent/example/Cargo.toml
  src/mem-agent/example/ctl.rs
  src/mem-agent/example/share/option.rs
  src/mem-agent/example/srv.rs
Owners: @kata-containers/rust

agent: fix the issue of parent writer pipe fd leak
  src/agent/rustjail/src/process.rs
Owners: @kata-containers/agent

Fix: golang information lost when compiling runtime(go)
  src/runtime/Makefile
Owners: @kata-containers/golang

runtime: rollback failing container creation
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

runtime-rs: Bump nix to matching version
  src/runtime-rs/Cargo.lock
  src/runtime-rs/Cargo.toml
Owners: @kata-containers/rust

versions: Bump idna crate to >= 1.0.4
  src/runtime-rs/Cargo.lock
  src/runtime-rs/Cargo.toml
  src/tools/genpolicy/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
Owners: @kata-containers/rust

kata-sys-utils: Do cargo check codes and reduce warnings
  src/libs/kata-sys-util/src/k8s.rs
  src/libs/kata-sys-util/src/numa.rs
  src/libs/kata-sys-util/src/pcilibs/devices.rs
  src/libs/kata-sys-util/src/pcilibs/pci_manager.rs
Owners: @kata-containers/rust

kata-types: Do cargo check and reduce warnings
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/agent.rs
  src/libs/kata-types/src/config/hypervisor/dragonball.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/src/config/mod.rs
  src/libs/kata-types/src/initdata.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/rust

protocols: Do cargo format to make codes clean
  src/libs/protocols/src/trans.rs
Owners: @kata-containers/rust

safe-path: Do cargo check and reduce warnings
  src/libs/safe-path/src/pinned_path_buf.rs
Owners: @kata-containers/rust

shim-interface: Do cargo check and reduce warnings
  src/libs/shim-interface/src/lib.rs
Owners: @kata-containers/rust

kata-ctl: Update expected test failure message
  src/tools/kata-ctl/src/check.rs
Owners: @kata-containers/rust

gpu: Update runtimeClasses for correct podoverhead
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu-snp.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu-tdx.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu.yaml
Owners: @kata-containers/kata-deploy

workflows: adopting azure/setup-kubectl
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
  tests/stability/gha-stability-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

workflows/coco-stability: increase run tests timeout
  .github/workflows/run-kata-coco-stability-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kernel: Bump to v6.12.36
  tools/packaging/kernel/kata_config_version
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tools: port the dragonball kernel patch to 6.12.x
  tools/packaging/kernel/patches/6.12.x/dragonball-experimental/0001-upcall-establish-upcall-server.patch
  tools/packaging/kernel/patches/6.12.x/dragonball-experimental/0002-upcall-introduce-device-manager-upcall-service.patch
  tools/packaging/kernel/patches/6.12.x/dragonball-experimental/0003-upcall-add-cpu-hotplug-hot-unplug-into-device-manage.patch
  tools/packaging/kernel/patches/6.12.x/dragonball-experimental/0004-upcall-add-virtio-mmio-hotplug-hot-unplug-into-devic.patch
  tools/packaging/kernel/patches/6.12.x/dragonball-experimental/0005-upcall-dragonball-devmgr-suppots-cpu-hotplug-on-arm6.patch
  tools/packaging/kernel/patches/6.12.x/dragonball-experimental/0006-msi-control-msi-irq-number-activated.patch
  tools/packaging/kernel/patches/6.12.x/dragonball-experimental/0007-smp-update-bringup_nonboot_cpus-parameters.patch
  tools/packaging/kernel/patches/6.12.x/dragonball-experimental/0008-upcall-add-pci-hotplug-hot-unplug-support.patch
Owners: @kata-containers/kernel

tests: runtimeclasses: Adjust gpu runtimeclasses
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
Owners: @kata-containers/kata-deploy

runtime-rs: add initdata annotation for remote hypervisor
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
Owners: @kata-containers/rust

versions: bump opa 1.5.1 -> 1.6.0
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

ci: cache: Tag agent-ctl cache
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

docs: Update link to CRI proto file
  docs/design/virtualization.md
Owners: @kata-containers/documentation

kata-deploy: Removing SEV from kata-deploy
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-sev.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

tests: Removing testing framework for SEV
  tests/integration/kubernetes/confidential_common.sh
  tests/integration/kubernetes/k8s-policy-pvc.bats
  tests/integration/kubernetes/setup.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

runtime: Removing runtime logic for SEV
  .github/workflows/run-kata-coco-tests.yaml
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-sev.toml.in
  src/runtime/pkg/sev/README.md
  src/runtime/pkg/sev/kbs/kbs.go
  src/runtime/pkg/sev/ovmf.go
  src/runtime/pkg/sev/sev.go
  src/runtime/pkg/sev/sev_test.go
  src/runtime/pkg/sev/testdata/README.md
  src/runtime/pkg/sev/testdata/ovmf_suffix.bin
  src/runtime/pkg/sev/vcpu_sigs.go
  src/runtime/pkg/sev/vcpu_sigs_test.go
  src/runtime/pkg/sev/vmsa.go
  src/runtime/virtcontainers/hypervisor_linux_amd64.go
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/golang, @kata-containers/arch-amd64

kernel: Removing SEV kernel packages
  .github/actionlint.yaml
  tools/packaging/kernel/configs/fragments/x86_64/confidential/sev.conf
  tools/packaging/kernel/configs/fragments/x86_64/sev/sev.conf
  tools/packaging/kernel/kata_config_version
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/kernel, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

safe-path: Do cargo check and reduce warnings
  src/libs/safe-path/src/pinned_path_buf.rs
Owners: @kata-containers/rust
