Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

runtime-rs: fix the issue of delete cgroup failed
  src/runtime-rs/crates/resource/src/cgroups/mod.rs
Owners: @kata-containers/rust

runtime-rs: Add more fields in VfioDevice to express vfio devices
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
Owners: @kata-containers/rust

runtime-rs: Introduce qemu-rs vfio device hotplug handler
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Get available port node in the PCIe topology
  src/runtime-rs/crates/hypervisor/src/device/topology.rs
Owners: @kata-containers/rust

runtime-rs: Handle port allocation in PCIe topology for vfio devices
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
Owners: @kata-containers/rust

runtime-rs: Increase QMP read timeout to mitigate failures
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

genpolicy: test framework: enable config map usage This patch improves the test framework for the genpolicy tool by enabling the use of config maps.
  src/tools/genpolicy/tests/policy/main.rs
Owners: @kata-containers/rust

genpolicy: tests: add test for config_map volumes
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/config_map.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/config_map/testcases.json
Owners: @kata-containers/rust

genpolicy: tests: update test for emptydir volumes
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/emptydir/testcases.json
Owners: @kata-containers/rust

genpolicy: Update rules.rego for container image storage
  src/tools/genpolicy/rules.rego
Owners: none

genpolicy: add test for container images having volumes
  src/tools/genpolicy/.gitignore
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/container_image/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/container_image/testcases.json
Owners: @kata-containers/rust

tests/k8s: apply shellcheck tips to confidential_kbs.sh
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

tests/k8s: add `set -e` to confidential_ksh.sh
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

tests/k8s: fix shellcheck SC2154 in confidential_kbs.sh
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

tests/k8s: fix shellcheck SC1091 in confidential_kbs.sh
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

guest image: abandon PULL_TYPE env
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/agent/build-static-agent.sh
  tools/packaging/static-build/agent/build.sh
Owners: @kata-containers/builder, @kata-containers/packaging, @kata-containers/kata-deploy

agent: add agent.image_pull_timeout parameter
  src/agent/README.md
  src/agent/src/confidential_data_hub/mod.rs
  src/agent/src/config.rs
Owners: @kata-containers/agent

image-pull: move guest pull abilities to Confidential Data Hub
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/Makefile
  src/agent/src/confidential_data_hub/image.rs
  src/agent/src/confidential_data_hub/mod.rs
  src/agent/src/config.rs
  src/agent/src/device/vfio_device_handler.rs
  src/agent/src/features.rs
  src/agent/src/image.rs
  src/agent/src/main.rs
  src/agent/src/rpc.rs
  src/agent/src/storage/image_pull_handler.rs
  src/agent/src/storage/mod.rs
  src/libs/protocols/protos/confidential_data_hub.proto
  tools/packaging/static-build/coco-guest-components/build-static-coco-guest-components.sh
Owners: @kata-containers/agent, @kata-containers/rust, @kata-containers/packaging

test: test
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: update negative test log assertions
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
  tests/integration/kubernetes/k8s-guest-pull-image-signature.bats
  tests/integration/kubernetes/k8s-initdata.bats
Owners: @kata-containers/tests

docs: update guest pull document
  docs/design/arch-images/guest-image-management-architecture.png
  docs/design/arch-images/guest-image-management-details.png
  docs/design/kata-guest-image-management-design.md
Owners: @kata-containers/documentation

runtime-rs: fix vfio pci address domain 0001 problem
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
Owners: @kata-containers/rust

runtime: Make csi-directvolume-kata works well with runtime
  src/runtime/pkg/resourcecontrol/utils.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/golang

versions: Bump rust to 1.85.1
  rust-toolchain.toml
  src/agent/Cargo.toml
  versions.yaml
Owners: @kata-containers/agent, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime-rs: Enables block device and disable virtio-fs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: Support cold plug of block devices via virtio-blk for Qemu
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

agent: Fix clippy `single_match`
  src/agent/src/image.rs
  src/agent/src/sandbox.rs
Owners: @kata-containers/agent

agent: Fix clippy `manual_inspect`
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/mount.rs
  src/agent/src/storage/mod.rs
Owners: @kata-containers/agent

runtime-rs: Implement serializable SocketAddress with kebab-case
  src/runtime-rs/crates/hypervisor/src/utils.rs
Owners: @kata-containers/rust

runtime-rs: Introduce 'tdx-guest' object and its builder for TDX CVMs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Introduce Tdx Protection Device and add it into cmdline
  src/runtime-rs/crates/hypervisor/src/device/driver/protection_device.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

kata-types: Enable configurable QGS port for TD attestation
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

kata-sys-util: Enhance TDX detection logic with kvm_intel param check
  src/libs/kata-sys-util/src/protection.rs
Owners: @kata-containers/rust

runtime-rs: Prepare Tdx protection device in start sandbox
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

kernel: Improve eBPF and networking options
  tools/packaging/kernel/configs/fragments/common/cgroup.conf
  tools/packaging/kernel/configs/fragments/common/crypto.conf
  tools/packaging/kernel/configs/fragments/common/ebpf.conf
  tools/packaging/kernel/configs/fragments/common/netfilter.conf
  tools/packaging/kernel/configs/fragments/common/network.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

kernel: support `CONFIG_TMPFS_XATTR=y`
  tools/packaging/kernel/configs/fragments/common/fs.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

runtime: reduce unnecessary loading of virtio-scsi
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

dragonball: vsock: support single descriptor
  src/dragonball/dbs_virtio_devices/src/vsock/mod.rs
  src/dragonball/dbs_virtio_devices/src/vsock/packet.rs
Owners: @kata-containers/dragonball

kernel: drop outdated erofs patches for 6.1.y kernels
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.1.x/0001-erofs-get-rid-of-erofs_inode_datablocks.patch
  tools/packaging/kernel/patches/6.1.x/0001-erofs-support-flattened-block-device-for-multi-blob-.patch
  tools/packaging/kernel/patches/6.1.x/0002-erofs-get-rid-of-z_erofs_do_map_blocks-forward-decla.patch
  tools/packaging/kernel/patches/6.1.x/0003-erofs-avoid-hardcoded-blocksize-for-subpage-block-su.patch
  tools/packaging/kernel/patches/6.1.x/0004-erofs-set-block-size-to-the-on-disk-block-size.patch
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tools.kata-webhook: Add support for only-filter
  tools/testing/kata-webhook/main.go
  tools/testing/kata-webhook/main_test.go
Owners: @kata-containers/golang
