Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

agent: cgroups: deal with systemd cgroup in 'get_mounts'
  src/agent/rustjail/src/cgroups/fs/mod.rs
Owners: @kata-containers/agent

doc: Fix typo
  docs/how-to/ccv0.sh
Owners: @kata-containers/documentation

snap: Don't build cloud-hypevisor on ppc64le
  snap/snapcraft.yaml
Owners: @kata-containers/release

snap: Don't build cloud-hypevisor on ppc64le
  snap/snapcraft.yaml
Owners: @kata-containers/release

config: fc: Don't expose disable_block_device_use
  src/runtime/config/configuration-fc.toml.in
  src/runtime/pkg/katautils/config.go
Owners: @kata-containers/runtime

config: fc: Don't expose disable_block_device_use
  src/runtime/config/configuration-fc.toml.in
  src/runtime/pkg/katautils/config.go
Owners: @kata-containers/runtime

config: qemu: Fix disable_block_device_use comments
  src/runtime/config/configuration-qemu.toml.in
Owners: @kata-containers/runtime

config: qemu: Fix disable_block_device_use comments
  src/runtime/config/configuration-qemu.toml.in
Owners: @kata-containers/runtime

agent: Don't attempt to create directories for hugepage configuration
  src/agent/src/mount.rs
Owners: @kata-containers/agent

agent: Don't attempt to create directories for hugepage configuration
  src/agent/src/mount.rs
Owners: @kata-containers/agent

agent: Verify that we allocated as many hugepages as we need
  src/agent/src/mount.rs
Owners: @kata-containers/agent

agent: Verify that we allocated as many hugepages as we need
  src/agent/src/mount.rs
Owners: @kata-containers/agent

Revert "hypervisors: Confidential Guests do not support Device hotplug"
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_ppc64le.go
Owners: @kata-containers/runtime

Revert "hypervisors: Confidential Guests do not support Device hotplug"
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_ppc64le.go
Owners: @kata-containers/runtime

runtime: Build golang components with extra security options
  src/runtime/Makefile
Owners: @kata-containers/runtime

runtime: Build golang components with extra security options
  src/runtime/Makefile
Owners: @kata-containers/runtime

clh: introduce createVirtiofsDaemon()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: introduce createVirtiofsDaemon()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: introduce setupVirtiofsDaemon()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: introduce setupVirtiofsDaemon()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: introduce stopVirtiofsDaemon()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: introduce stopVirtiofsDaemon()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: introduce loadVirtiofsDaemon()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: introduce loadVirtiofsDaemon()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: introduce supportsSharedFS()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: introduce supportsSharedFS()
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Adding a volume is not supported without SharedFS
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Adding a volume is not supported without SharedFS
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Don't use SharedFS with Confidential Guests
  src/runtime/config/configuration-clh.toml.in
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: Don't use SharedFS with Confidential Guests
  src/runtime/config/configuration-clh.toml.in
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

runtime: Add cc compatibility to refactor
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/runtime

clh: stop virtofsd if clh fails to boot up the vm
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: stop virtofsd if clh fails to boot up the vm
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

clh: stop virtofsd if clh fails to boot up the vm
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

versions: Upgrade to Cloud Hypervisor v22.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Upgrade to Cloud Hypervisor v22.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: augment kata-runtime CLI to support direct-assigned volume
  src/runtime/cmd/kata-runtime/kata-volume.go
  src/runtime/cmd/kata-runtime/main.go
Owners: @kata-containers/runtime

runtime: augment kata-runtime CLI to support direct-assigned volume
  src/runtime/cmd/kata-runtime/kata-volume.go
  src/runtime/cmd/kata-runtime/main.go
Owners: @kata-containers/runtime

runtime: persist direct volume mount info
  src/runtime/pkg/direct-volume/utils.go
  src/runtime/pkg/direct-volume/utils_test.go
Owners: @kata-containers/runtime

runtime: persist direct volume mount info
  src/runtime/pkg/direct-volume/utils.go
  src/runtime/pkg/direct-volume/utils_test.go
Owners: @kata-containers/runtime
