Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

ci: Move `run-monitor` to free runner
  .github/workflows/run-kata-monitor-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Move `run-runk` to free runner
  .github/workflows/run-runk-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Run `build-checks-depending-on-kvm` for free
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Use `ubuntu-22.04` instead of `ubuntu-latest`
  .github/workflows/PR-wip-checks.yaml
  .github/workflows/add-issues-to-project.yaml
  .github/workflows/add-pr-sizing-label.yaml
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/cargo-deny-runner.yaml
  .github/workflows/ci.yaml
  .github/workflows/cleanup-resources.yaml
  .github/workflows/commit-message-check.yaml
  .github/workflows/kata-runtime-classes-sync.yaml
  .github/workflows/move-issues-to-in-progress.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/publish-kata-deploy-payload-amd64.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
  .github/workflows/stale.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-amd64

agent: avoid policy.txt log without debug enabled
  src/agent/src/policy.rs
Owners: @kata-containers/agent

genpolicy: add priorityClassName as a field in PodSpec interface
  src/tools/genpolicy/src/pod.rs
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-pod.yaml
  tests/integration/kubernetes/runtimeclass_workloads/k8s-priority-class.yaml
  tests/integration/kubernetes/setup.sh
Owners: @kata-containers/rust, @kata-containers/tests

agent: image-rs: check xattrs for image unpacking
  src/agent/Cargo.toml
Owners: @kata-containers/agent

dragonball: Introduce `riscv64` cpu fdt
  src/dragonball/src/dbs_boot/src/lib.rs
  src/dragonball/src/dbs_boot/src/riscv64/fdt.rs
  src/dragonball/src/dbs_boot/src/riscv64/fdt_utils.rs
  src/dragonball/src/dbs_boot/src/riscv64/mod.rs
Owners: @kata-containers/dragonball

metrics: Remove unused variable in oneDNN benchmark
  tests/metrics/machine_learning/onednn.sh
Owners: @kata-containers/tests

dragonball: Introduce `riscv64` layout
  src/dragonball/src/dbs_boot/src/riscv64/layout.rs
  src/dragonball/src/dbs_boot/src/riscv64/mod.rs
Owners: @kata-containers/dragonball

Create build-superprotocol-sign-mrenclave.yaml
  .github/workflows/build-superprotocol-sign-mrenclave.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

versions: Update firecracker version to 1.8.0
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime: Failed to clean up sandbox resource when deleting Pod
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

agent-ctl: Refactor CopyFile handler
  src/tools/agent-ctl/src/client.rs
  src/tools/agent-ctl/src/types.rs
  src/tools/agent-ctl/src/utils.rs
Owners: @kata-containers/rust

kata-deploy: Add a $dest_dir var
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: helm: Stop mounting /opt/kata
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

tests: Add functional test for testing agent APIS using agent-ctl
  .github/workflows/basic-ci-amd64.yaml
  tests/functional/test-agent-apis/gha-run.sh
  tests/functional/test-agent-apis/run-agent-api-tests.sh
  tests/functional/test-agent-apis/setup_common.sh
  tests/functional/test-agent-apis/test-agent-apis.bats
Owners: @kata-containers/arch-amd64, @kata-containers/tests

versions: guest-components: Bump to 02af65abc984f9
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

agent: Update image-rs to 02af65abc
  src/agent/Cargo.lock
  src/agent/Cargo.toml
Owners: @kata-containers/agent

tests: Enable k8s soak stability test for Kata CoCo CI
  tests/stability/gha-stability-run.sh
Owners: @kata-containers/tests

gha: Increase time to run Kata CoCo stability tests
  .github/workflows/run-kata-coco-stability-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-deploy: helm: Add INSTALLATION_PREFIX option
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

Revert "CI: Add tests for stdio"
  .github/workflows/basic-ci-amd64.yaml
  tests/integration/stdio/stdio-tests.sh
Owners: @kata-containers/arch-amd64, @kata-containers/tests

kata-types:mount: support registering multiple IDs to a single handler
  src/agent/src/storage/mod.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent, @kata-containers/rust

agent:storage: Refactor storage handler registration
  src/agent/src/storage/bind_watcher_handler.rs
  src/agent/src/storage/block_handler.rs
  src/agent/src/storage/ephemeral_handler.rs
  src/agent/src/storage/fs_handler.rs
  src/agent/src/storage/image_pull_handler.rs
  src/agent/src/storage/local_handler.rs
  src/agent/src/storage/mod.rs
Owners: @kata-containers/agent

tests: Enable KBS deployment for qemu-coco-dev on s390x
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

gha: Add necessary steps for KBS enablement
  .github/workflows/run-k8s-tests-on-zvsi.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

metrics: Remove metrics report for Kata Containers
  tests/metrics/README.md
  tests/metrics/report/README.md
  tests/metrics/report/grabdata.sh
  tests/metrics/report/makereport.sh
  tests/metrics/report/report_dockerfile/Dockerfile
  tests/metrics/report/report_dockerfile/dut-details.R
  tests/metrics/report/report_dockerfile/fio-reads.R
  tests/metrics/report/report_dockerfile/fio-writes.R
  tests/metrics/report/report_dockerfile/footprint-density.R
  tests/metrics/report/report_dockerfile/genreport.sh
  tests/metrics/report/report_dockerfile/html.Rmd
  tests/metrics/report/report_dockerfile/lifecycle-time.R
  tests/metrics/report/report_dockerfile/mem-in-cont.R
  tests/metrics/report/report_dockerfile/memory-footprint.R
  tests/metrics/report/report_dockerfile/metrics_report.Rmd
  tests/metrics/report/report_dockerfile/network-cpu.R
Owners: @kata-containers/tests

agent:cdh: Initialize CDH client as a global asynchronous instance
  src/agent/src/cdh.rs
Owners: @kata-containers/agent

agent:cdh: Refactor cdh client methods for better integration
  src/agent/src/cdh.rs
Owners: @kata-containers/agent

agent:cdh: switch to the new method for initializing cdh client
  src/agent/src/main.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent:cdh: introduce a function to check initialization of cdh client
  src/agent/src/cdh.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

tests/k8s: fix wait for pods on deploy-kata action
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

Reapply "ci: make cleanup_kata_deploy really simple"
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

Reapply "kata-deploy: Add Helm Chart" (partially)
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

helm: Add a post-delete hook
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/post-delete-job.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

ci: Pass --debug to helm
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

kata-deploy: Add reset_cri_runtime()
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

Reapply "ci: Use helm to deploy kata-deploy" (partially)
  tests/common.bash
  tests/integration/kubernetes/gha-run.sh
  versions.yaml
Owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci

ci: Properly export node and node_start_time vars
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests
