Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

build: Add artifacts to .gitignore
  .gitignore
Owners: none

ci: Run a nightly job using the kata-deploy rust
  .github/workflows/ci-nightly-rust.yaml
  .github/workflows/ci.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/publish-kata-deploy-payload.yaml
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/kata-deploy

kata-deploy: Oxidize the script
  Cargo.toml
  tools/packaging/kata-deploy/.dockerignore
  tools/packaging/kata-deploy/Dockerfile.rust
  tools/packaging/kata-deploy/binary/.cargo/config.toml
  tools/packaging/kata-deploy/binary/Cargo.lock
  tools/packaging/kata-deploy/binary/Cargo.toml
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/artifacts/mod.rs
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/binary/src/k8s/client.rs
  tools/packaging/kata-deploy/binary/src/k8s/mod.rs
  tools/packaging/kata-deploy/binary/src/k8s/nfd.rs
  tools/packaging/kata-deploy/binary/src/k8s/runtimeclasses.rs
  tools/packaging/kata-deploy/binary/src/main.rs
  tools/packaging/kata-deploy/binary/src/runtime/containerd.rs
  tools/packaging/kata-deploy/binary/src/runtime/crio.rs
  tools/packaging/kata-deploy/binary/src/runtime/lifecycle.rs
  tools/packaging/kata-deploy/binary/src/runtime/manager.rs
  tools/packaging/kata-deploy/binary/src/runtime/mod.rs
  tools/packaging/kata-deploy/binary/src/utils/mod.rs
  tools/packaging/kata-deploy/binary/src/utils/system.rs
  tools/packaging/kata-deploy/binary/src/utils/toml.rs
  tools/packaging/kata-deploy/binary/src/utils/yaml.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
Owners: @kata-containers/kata-deploy

kata-deploy: helm: Adapt to the rust binary
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/post-delete-job.yaml
Owners: @kata-containers/kata-deploy

workflows: payload: Remove unneeded stuff from the runner
  .github/workflows/publish-kata-deploy-payload.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

helm: runtimeclasses: Match the kata-deploy rust deployment
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
Owners: @kata-containers/kata-deploy

do-not-merge: Manually trigger the oxidized kata-runtime workflow
  .github/workflows/ci.yaml
  .github/workflows/publish-kata-deploy-payload.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: Adapt to using kata-tools
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-coco-tests.yaml
  tests/common.bash
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

kata-ctl: Add tests and fix experimental features formatting
  src/runtime-rs/README.md
  src/tools/kata-ctl/README.md
  src/tools/kata-ctl/src/ops/env_ops.rs
Owners: @kata-containers/rust, @kata-containers/documentation

Fix VFIO hot/cold plug configuration handling
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/tests/texture/configuration-anno-0.toml
  src/libs/kata-types/tests/texture/configuration-anno-1.toml
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
  src/runtime-rs/crates/hypervisor/src/device/topology.rs
  src/runtime-rs/tests/texture/configuration-qemu.toml
Owners: @kata-containers/rust

build: Switch all the docker images to quay.io
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/packaging/kata-debug/Dockerfile
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-monitor/Dockerfile
  tools/packaging/static-build/busybox/Dockerfile
  tools/packaging/static-build/coco-guest-components/Dockerfile
  tools/packaging/static-build/codegen/Dockerfile
  tools/packaging/static-build/initramfs/Dockerfile
  tools/packaging/static-build/kernel/Dockerfile
  tools/packaging/static-build/ovmf/Dockerfile
  tools/packaging/static-build/pause-image/Dockerfile
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/shim-v2/Dockerfile
  tools/packaging/static-build/tools/Dockerfile
  tools/packaging/static-build/virtiofsd/gnu/Dockerfile
  tools/packaging/static-build/virtiofsd/musl/Dockerfile
Owners: @kata-containers/builder, @kata-containers/packaging, @kata-containers/kata-deploy

agent: Ensure MS_REMOUNT is respected
  src/agent/src/mount.rs
Owners: @kata-containers/agent

kata-deploy: sa: Fix permissions for patching nodefeaturerules
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
Owners: @kata-containers/kata-deploy

Error out on config error
  src/runtime-rs/crates/hypervisor/src/device/topology.rs
  src/runtime-rs/tests/texture/configuration-qemu.toml
Owners: @kata-containers/rust

gatekeeper: Make s390x e2e tests required again
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

docs: Add Kata Containers development workflow guide
  docs/Development-Workflow-Guide.md
Owners: @kata-containers/documentation

gatekeeper: Make s390x e2e tests required again
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

kata-deploy: sa: Fix permissions for patching nodefeaturerules
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
Owners: @kata-containers/kata-deploy

runtime: fix QMP hello timeout handling
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

genpolicy: support fsGroup setting in pod security context
  src/tools/genpolicy/src/cronjob.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/mount_and_storage.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/replica_set.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/security_context/fsgroup/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/security_context/fsgroup/testcases.json
Owners: @kata-containers/rust

packaging: Add ORAS cache for gperf and busybox tarballs
  ci/install_libseccomp.sh
  tools/packaging/scripts/download-with-oras-cache.sh
  tools/packaging/scripts/lib.sh
  tools/packaging/scripts/populate-oras-tarball-cache.sh
  tools/packaging/static-build/agent/Dockerfile
  tools/packaging/static-build/agent/build.sh
  tools/packaging/static-build/busybox/Dockerfile
  tools/packaging/static-build/busybox/build-static-busybox.sh
  tools/packaging/static-build/tools/Dockerfile
  tools/packaging/static-build/tools/build.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/packaging

docs: update virtiofs cache mode
  src/runtime/config/configuration-qemu-cca.toml.in
Owners: @kata-containers/golang

packaging: Add ORAS cache for gperf and busybox tarballs
  ci/install_libseccomp.sh
  tools/packaging/scripts/download-with-oras-cache.sh
  tools/packaging/scripts/lib.sh
  tools/packaging/scripts/populate-oras-tarball-cache.sh
  tools/packaging/static-build/agent/Dockerfile
  tools/packaging/static-build/agent/build.sh
  tools/packaging/static-build/busybox/Dockerfile
  tools/packaging/static-build/busybox/build-static-busybox.sh
  tools/packaging/static-build/tools/Dockerfile
  tools/packaging/static-build/tools/build.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/packaging

tests: added consistency check for Cargo.toml and features.rs
  tests/static-checks.sh
Owners: @kata-containers/tests

tests: added more error checks and info msg
  tests/static-checks.sh
Owners: @kata-containers/tests

tests: fixed some broken parsing in Cargo.toml
  tests/static-checks.sh
Owners: @kata-containers/tests

runtime-rs: Make runtime-rs a package
  src/runtime-rs/Cargo.lock
  src/runtime-rs/Cargo.toml
  src/runtime-rs/crates/runtimes/Cargo.toml
Owners: @kata-containers/rust

runtime-rs: Change TARGET_PATH to root workspace
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

runtime-rs: Refactor feature propagation
  src/runtime-rs/crates/runtimes/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
Owners: @kata-containers/rust

dragonball: Fix false use statement on aarch64
  src/dragonball/dbs_pci/src/virtio_pci.rs
Owners: @kata-containers/dragonball

dragonball: Allow missing_docs for dummy MMIODeviceInfo
  src/dragonball/dbs_boot/src/aarch64/mod.rs
Owners: @kata-containers/arch-aarch64

dragonball: Add missing test module attribute
  src/dragonball/dbs_utils/src/net/tap.rs
Owners: @kata-containers/dragonball

ci: Install cmake before building runtime-rs
  tools/packaging/static-build/shim-v2/Dockerfile
Owners: @kata-containers/packaging

runtime-rs: Remove lockfile
  src/runtime-rs/Cargo.lock
Owners: @kata-containers/rust

build: Move runtime-rs to root workspace
  Cargo.lock
  Cargo.toml
  src/runtime-rs/Cargo.toml
Owners: @kata-containers/rust

runtime-rs: Block Rootfs Mount Options During Storage Object Creation
  src/runtime-rs/crates/resource/src/rootfs/block_rootfs.rs
Owners: @kata-containers/rust

runtime-rs: Remove lockfile
  src/runtime-rs/Cargo.lock
Owners: @kata-containers/rust

ci: Install cmake before building runtime-rs
  tools/packaging/static-build/shim-v2/Dockerfile
Owners: @kata-containers/packaging

dragonball: Allow missing_docs for dummy MMIODeviceInfo
  src/dragonball/dbs_boot/src/aarch64/mod.rs
Owners: @kata-containers/arch-aarch64

dragonball: Add missing test module attribute
  src/dragonball/dbs_utils/src/net/tap.rs
Owners: @kata-containers/dragonball

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
