Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

fix(fmt): fix cargo fmt to pass static check
  src/runtime-rs/crates/runtimes/src/shim_mgmt/handlers.rs
Owners: @kata-containers/runtime

runtime-rs: workaround Dragonball compilation problem
  src/dragonball/Cargo.lock
Owners: none

runtime-rs: workaround Dragonball compilation problem
  src/dragonball/Cargo.lock
Owners: none

runtime-rs: workaround Dragonball compilation problem
  src/dragonball/Cargo.lock
Owners: none

versions: bump containerd version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: bump containerd version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update golangci-lint
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update golangci-lint
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

TEST: versions: Dry-run for Cloud Hypervisor upgrade
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api_default.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/MemoryConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/TpmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_memory_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_tpm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: force kill sandbox if agent is dead
  src/runtime/pkg/containerd-shim-v2/wait.go
  src/runtime/virtcontainers/agent.go
  src/runtime/virtcontainers/interfaces.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/mock_agent.go
  src/runtime/virtcontainers/pkg/vcmock/sandbox.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

golang: Stop using io/ioutils
  src/runtime/cmd/kata-runtime/kata-iptables.go
  src/runtime/pkg/containerd-shim-v2/shim_management.go
  src/runtime/pkg/direct-volume/utils.go
  src/runtime/pkg/govmm/qemu/image.go
  src/runtime/pkg/govmm/qemu/qemu_test.go
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/utils/shimclient/shim_management_client.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/nydusd.go
  src/tools/log-parser/hexbytes.go
  src/tools/log-parser/hexbytes_test.go
  src/tools/log-parser/main_test.go
  src/tools/log-parser/parse_test.go
  src/tools/log-parser/utils_test.go
Owners: @kata-containers/runtime, @kata-containers/tools

golang: Stop using io/ioutils
  src/runtime/cmd/kata-runtime/kata-iptables.go
  src/runtime/pkg/containerd-shim-v2/shim_management.go
  src/runtime/pkg/direct-volume/utils.go
  src/runtime/pkg/govmm/qemu/image.go
  src/runtime/pkg/govmm/qemu/qemu_test.go
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/utils/shimclient/shim_management_client.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/nydusd.go
  src/tools/log-parser/hexbytes.go
  src/tools/log-parser/hexbytes_test.go
  src/tools/log-parser/main_test.go
  src/tools/log-parser/parse_test.go
  src/tools/log-parser/utils_test.go
Owners: @kata-containers/runtime, @kata-containers/tools

runtime: Fix gofmt issues
  src/runtime/cmd/kata-runtime/kata-check.go
  src/runtime/cmd/kata-runtime/kata-check_amd64.go
  src/runtime/pkg/govmm/vmm_arm64.go
  src/runtime/pkg/katatestutils/constraints.go
  src/runtime/pkg/katatestutils/constraints_api.go
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/types/types_test.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/fc_metrics.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/hypervisor_ppc64le.go
  src/runtime/virtcontainers/network.go
  src/runtime/virtcontainers/network_linux.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/oci.pb.go
  src/runtime/virtcontainers/utils/utils.go
  src/runtime/virtcontainers/utils/utils_linux.go
  src/runtime/virtcontainers/vhostuser_endpoint.go
  src/tools/log-parser/check.go
  src/tools/log-parser/logentry.go
Owners: @kata-containers/runtime, @kata-containers/tools

runtime: Fix gofmt issues
  src/runtime/cmd/kata-runtime/kata-check.go
  src/runtime/cmd/kata-runtime/kata-check_amd64.go
  src/runtime/pkg/govmm/vmm_arm64.go
  src/runtime/pkg/katatestutils/constraints.go
  src/runtime/pkg/katatestutils/constraints_api.go
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/types/types_test.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/fc_metrics.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/hypervisor_ppc64le.go
  src/runtime/virtcontainers/network.go
  src/runtime/virtcontainers/network_linux.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/oci.pb.go
  src/runtime/virtcontainers/utils/utils.go
  src/runtime/virtcontainers/utils/utils_linux.go
  src/runtime/virtcontainers/vhostuser_endpoint.go
  src/tools/log-parser/check.go
  src/tools/log-parser/logentry.go
Owners: @kata-containers/runtime, @kata-containers/tools

log-parser: Simplify check
  src/tools/log-parser/parse.go
Owners: @kata-containers/tools

log-parser: Simplify check
  src/tools/log-parser/parse.go
Owners: @kata-containers/tools

docs: update doc "Setup swap device in guest kernel"
  docs/how-to/how-to-setup-swap-devices-in-guest-kernel.md
Owners: @kata-containers/documentation

docs: update doc "Setup swap device in guest kernel"
  docs/how-to/how-to-setup-swap-devices-in-guest-kernel.md
Owners: @kata-containers/documentation

versions: Update Kubernetes to its latest release
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update to the latest critools release
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update CRI-O to its release-1.25 branch
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update runc to its latest release
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update conmon to its latest release
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Upgrade to Cloud Hypervisor v28.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Upgrade to Cloud Hypervisor v28.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: clh: Re-generate the client code
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api_default.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/MemoryConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/TpmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_memory_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_tpm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
Owners: @kata-containers/runtime

runtime: clh: Re-generate the client code
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api_default.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/MemoryConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/TpmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_memory_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_tpm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
Owners: @kata-containers/runtime

versions: update ovmf to edk2-stable202208 for x86 and sev
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

agent: fix Cargo.lock after merge
  src/agent/Cargo.lock
Owners: @kata-containers/agent

runtime: fix go.sum merge errors
  src/runtime/go.mod
  src/runtime/go.sum
Owners: @kata-containers/runtime

DO NOT MERGE
  docs/how-to/containerd-kata.md
Owners: @kata-containers/documentation

utils: Add utility function to fetch the kernel version.
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/tools

utils: Add utility function to fetch the kernel version.
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/tools

runtime: Support virtiofs queue size for qemu and make it configurable
  src/runtime/Makefile
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
Owners: @kata-containers/runtime

runtime: Support virtiofs queue size for qemu and make it configurable
  src/runtime/Makefile
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
Owners: @kata-containers/runtime

versions: update nydusd version
  src/runtime/virtcontainers/nydusd.go
  src/runtime/virtcontainers/nydusd_test.go
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: update nydusd version
  src/runtime/virtcontainers/nydusd.go
  src/runtime/virtcontainers/nydusd_test.go
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

Update NVIDIA-GPU-passthrough-and-Kata.md
  docs/use-cases/NVIDIA-GPU-passthrough-and-Kata.md
Owners: @kata-containers/documentation

make sure nvidia toolkit hook shell is executable
  docs/use-cases/NVIDIA-GPU-passthrough-and-Kata.md
Owners: @kata-containers/documentation

docs: update doc "NVIDIA-GPU-passthrough-and-Kata"
  docs/use-cases/NVIDIA-GPU-passthrough-and-Kata.md
Owners: @kata-containers/documentation

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
