Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

static-checks: Fix SC2155 warning lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2086 style lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2292 style lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2248 style lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2250 style lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2181 style lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2002 and SC2162 lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2046 warning lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2206 warning lint
  tests/static-checks.sh
Owners: @kata-containers/tests

runtime-rs: Handle direct block device volume as coco trusted store
  src/runtime-rs/crates/resource/src/volume/block_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/rawblock_volume.rs
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

agent: Handle direct block device volume as coco trusted store
  src/agent/src/rpc.rs
  src/agent/src/storage/block_handler.rs
Owners: @kata-containers/agent

agent: add_storages: Set TRUSTED_IMAGE_STORAGE_DEVICE as the first storage
  src/agent/src/storage/mod.rs
Owners: @kata-containers/agent

runtime: make SNP IDBlock configurable
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/golang, @kata-containers/arch-amd64

static-checks: Fix SC2207 warning lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2034 warning lint
  tests/static-checks.sh
Owners: @kata-containers/tests

static-checks: Fix SC2128 warning lint
  tests/static-checks.sh
Owners: @kata-containers/tests

runtime-rs: Add SE configuration
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
Owners: @kata-containers/rust

runtime-rs: Add new runtimeClass qemu-se-runtime-rs
  tests/common.bash
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-se-runtime-rs.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/tests, @kata-containers/kata-deploy

runtime: Remove console=ttysclp0 for s390x
  src/runtime/virtcontainers/qemu_s390x.go
Owners: @kata-containers/arch-s390x

CI: cri-containerd: upgrade the LTS / Active versions for containerd
  .github/workflows/basic-ci-amd64.yaml
  tests/integration/cri-containerd/integration-tests.sh
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/tests, @kata-containers/release, @kata-containers/ci

agent: fix permisssion according to runc
  src/agent/rustjail/src/mount.rs
Owners: @kata-containers/agent

qemu: Disable features/devices per default
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/packaging

qemu: Update get_qemu_image_name
  tools/packaging/scripts/lib.sh
Owners: @kata-containers/packaging

tests: kata-deploy: Re-add tests, now using github runners
  .github/workflows/ci.yaml
  .github/workflows/run-kata-deploy-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: kata-deploy: microk8s: Re-work installation
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

shellcheck: tests: Fix gha-run-k8s-common.sh warnings
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

shellcheck: tests: k8s: Fix gha-run.sh warnings
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

shellcheck: kata-deploy: Fix warnings
  tests/functional/kata-deploy/gha-run.sh
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/tests

tests: kata-deploy: Run installation with only one VMM
  .github/workflows/run-kata-deploy-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

shellcheck: fix configure-hypervisor.sh
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/packaging

shellcheck: fix build-base-qemu.sh
  tools/packaging/static-build/qemu/build-base-qemu.sh
Owners: @kata-containers/packaging

shellcheck: fix build-qemu.sh
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

shellcheck: Fix build-static-qemu-e....
  tools/packaging/static-build/qemu/build-static-qemu-experimental.sh
Owners: @kata-containers/packaging

shellcheck: Fix build-static-qemu.sh
  tools/packaging/static-build/qemu/build-static-qemu.sh
Owners: @kata-containers/packaging

libs: Change kv of get_agent_kernel_params to BTreeMap
  src/libs/kata-types/src/config/mod.rs
Owners: @kata-containers/rust

runtime-rs: Drop s390x target predicates
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/kernel_param.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Restrict cloud-hypervisor feature
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
Owners: @kata-containers/rust

tests: k8s: Export all the default env vars on gha-run.sh
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

workflows: shellcheck: Expand vendor ignore
  .github/workflows/shellcheck.yaml
  .github/workflows/shellcheck_required.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Add coco required tests
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
