Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

clh: arm: Use static_sandbox_resource_mgmt=true
  src/runtime/Makefile
  src/runtime/arch/amd64-options.mk
  src/runtime/arch/arm64-options.mk
  src/runtime/config/configuration-clh.toml.in
Owners: @kata-containers/runtime

ci: static-checks: Move "sudo make test" to the new test matrix
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: nydus: Update nydus tests
  tests/integration/nydus/nydus_tests.sh
  tests/integration/nydus/nydusd-config.json
  tests/integration/nydus/snapshotter-config.toml
Owners: @kata-containers/shell

clh:arm64: use arm AMBA uart for hypervisor debug
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

tests: install_go: Remove tests repo dependency
  tests/install_go.sh
Owners: @kata-containers/shell

tests/vfio: Gather debug info and disable tdp_mmu
  tests/functional/vfio/vfio_fedora_vm_wrapper.sh
Owners: @kata-containers/shell

ci: nerdctl: Use a smaller / cheaper VM instance
  .github/workflows/run-nerdctl-tests-on-garm.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: nydus: Add uid / namespace to the nydus container / sandbox
  tests/integration/nydus/nydus-container.yaml
  tests/integration/nydus/nydus-sandbox.yaml
Owners: none

tests/vfio: Capture journal from vm
  tests/functional/vfio/vfio_fedora_vm_wrapper.sh
Owners: @kata-containers/shell

ci: cache: Pass the exposed env vars to the kata-deploy binaries in docker
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

runtime-rs: Ensure static-checks-build is a dep of `make test`
  src/runtime-rs/Makefile
Owners: @kata-containers/runtime

ci: docker: Use a smaller / cheaper VM instance
  .github/workflows/run-docker-tests-on-garm.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

protocol: remove gogoprotobuff tests
  src/libs/protocols/protos/csi.proto
  src/libs/protocols/protos/health.proto
  src/libs/protocols/protos/oci.proto
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/csi.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/csipb_test.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/health.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/healthpb_test.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/oci.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/ocipb_test.go
Owners: @kata-containers/runtime

runtime: Check config for supported CLH (cold|hot)_plug_vfio values
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/runtime

tests/vfio: Bump VM image to Fedora 38
  tests/functional/vfio/vfio_fedora_vm_wrapper.sh
Owners: @kata-containers/shell

ci: Add first letter of the K8S_TEST_HOST_TYPE to resource group name
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/shell

runtime: clh: Add hot_plug_vfio entry to config
  src/runtime/config/configuration-clh.toml.in
Owners: @kata-containers/runtime

runtime: Add test cases for checkPCIeConfig
  src/runtime/pkg/katautils/create_test.go
Owners: @kata-containers/runtime

tests: fix kernel and initrd annotations
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/setup.sh
Owners: @kata-containers/shell

tests/vfio: Give commands 30s to execute
  tests/functional/vfio/run.sh
Owners: @kata-containers/shell

tests: Move functions from kata_arch script here
  tests/common.bash
Owners: @kata-containers/shell

ci: static-checks: Clean up static-checks job
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime: support kernel params including spaces
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/hypervisor_test.go
Owners: @kata-containers/runtime

ci: k8s: Temporarily disable tests that require a bigger VM instance
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/shell

ci: cache: Fix ovmf-sev cache
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

tests/vfio: Configure a value for 'hot_plug_vfio' for both vmms
  tests/functional/vfio/run.sh
Owners: @kata-containers/shell

ci: cache: Use the cached artefacts from ORAS
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

kata-deploy: Generate latest_{artefact,image_builder} files
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

ci: cache: Remove the script used to cache artefacts on Jenkins
  tools/packaging/static-build/cache_components_main.sh
Owners: @kata-containers/packaging

metrics: Add parallel bandwidth limit for qemu
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric8.toml
Owners: none

ci: cache: Export env vars needed to use ORAS
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: nydus: Populate run()
  tests/integration/nydus/gha-run.sh
Owners: @kata-containers/shell

tests: Move install_rust.sh from the tests repo
  tests/install_rust.sh
Owners: @kata-containers/shell

ci: Create clusters in individual resource groups
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/shell

ci: cache: For consistency, read all used env vars
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

nydus: Temporarily skip tests on dragonball
  tests/integration/nydus/nydus_tests.sh
Owners: @kata-containers/shell

ci: kata-deploy: Expland tests to run on k0s / rke2
  tests/functional/kata-deploy/kata-deploy.bats
Owners: none

ci: static-checks: Move "make test" to the new test matrix
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

static-build: Fix arch error on nydus build
  tools/packaging/static-build/nydus/build.sh
Owners: @kata-containers/packaging

kata-ctl: Ensure GENERATED_CODE is a dep of `make test`
  src/tools/kata-ctl/Makefile
Owners: @kata-containers/tools
