Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

runtime-rs: ch: Remove erroneous "virtio-blk-mmio" check
  src/libs/kata-types/src/config/hypervisor/ch.rs
Owners: none

chore(cargo): update cargo lock
  src/agent/Cargo.lock
  src/runtime-rs/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
Owners: @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools

metrics: Fix spelling warnings
  tests/metrics/README.md
Owners: @kata-containers/documentation

ci: crio: Pass `-y` to apt
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/shell

versions: migrate out of k8s.gcr.io
  tests/integration/kubernetes/tests_common.sh
  tools/packaging/kata-deploy/examples/test-deploy-kata-clh.yaml
  tools/packaging/kata-deploy/examples/test-deploy-kata-dragonball.yaml
  tools/packaging/kata-deploy/examples/test-deploy-kata-fc.yaml
  tools/packaging/kata-deploy/examples/test-deploy-kata-qemu.yaml
  tools/packaging/kata-deploy/examples/test-deploy-runc.yaml
Owners: @kata-containers/shell, @kata-containers/packaging

metrics: Use jq tool to pretty-print json metrics output
  tests/metrics/lib/json.bash
Owners: @kata-containers/shell

gha: Add containerd stability tests to ci yaml
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Add placeholder for tracing tests
  .github/workflows/ci.yaml
  .github/workflows/run-tracing-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: arm64: Ensure the builder is arm64-builder
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/release-arm64.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Create a function to install docker
  tests/common.bash
  tests/integration/docker/gha-run.sh
Owners: @kata-containers/shell

ci: Add placeholder for runk tests
  .github/workflows/ci.yaml
  .github/workflows/run-runk-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Move tracing tests here
  tests/functional/tracing/configure_tracing_for_kata.sh
  tests/functional/tracing/gha-run.sh
  tests/functional/tracing/test-agent-shutdown.sh
  tests/functional/tracing/tracing-test.sh
Owners: @kata-containers/shell

ci: Port runk tests to this repo
  tests/integration/runk/gha-run.sh
  tests/integration/runk/runk-tests.sh
Owners: @kata-containers/shell

gha: Add stability tests workflow for gha
  .github/workflows/run-containerd-stability-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: ch: Enable feature
  src/runtime-rs/crates/hypervisor/README.md
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
Owners: @kata-containers/runtime

gha: Add stability gha run script
  tests/stability/gha-run.sh
Owners: @kata-containers/shell

runtime-rs: ch: Detect Intel TDX version
  src/libs/Cargo.lock
  src/libs/kata-sys-util/Cargo.toml
  src/libs/kata-sys-util/src/protection.rs
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/hypervisor/ch-config/src/convert.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/runtime

runtime: fix freeze when kata connection to agent fails at first
  src/runtime/virtcontainers/pkg/agent/protocols/client/client.go
Owners: @kata-containers/runtime

runtime: Fix k8 configmap/secrets update propagation with limitations when filesystem sharing is disabled. (#91)
  src/agent/src/rpc.rs
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/agent, @kata-containers/runtime

gha: ci: Revert tracing test PR to unbreak CI
  .github/workflows/ci.yaml
  .github/workflows/run-tracing-tests.yaml
  tests/common.bash
  tests/functional/tracing/configure_tracing_for_kata.sh
  tests/functional/tracing/gha-run.sh
  tests/functional/tracing/test-agent-shutdown.sh
  tests/functional/tracing/tracing-test.sh
  tests/integration/docker/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

gha: ci: Revert tracing test PR to unbreak CI
  .github/workflows/ci.yaml
  .github/workflows/run-tracing-tests.yaml
  tests/common.bash
  tests/functional/tracing/configure_tracing_for_kata.sh
  tests/functional/tracing/gha-run.sh
  tests/functional/tracing/test-agent-shutdown.sh
  tests/functional/tracing/tracing-test.sh
  tests/integration/docker/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

metrics: Fix static-checks error for markdown reference
  tests/metrics/storage/README.md
Owners: @kata-containers/documentation

ci: action: Make "Build kata-static" an action
  .github/actions/build-kata-static-assets/action.yaml
Owners: none

do-not-merge: Test actionising our workflows
  .github/workflows/test-build-kata-static-assets.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

do-not-merge: ci: Temporarily disable AKS tests
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

do-not-merge: ci: Use pull_request event for the PR tests
  .github/workflows/ci-on-pr.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: combine basic amd64 jobs into a single yaml
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-containerd-stability-tests.yaml
  .github/workflows/run-cri-containerd-tests.yaml
  .github/workflows/run-nydus-tests.yaml
  .github/workflows/run-vfio-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: combine basic amd64 jobs into a single yaml
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-containerd-stability-tests.yaml
  .github/workflows/run-cri-containerd-tests.yaml
  .github/workflows/run-nydus-tests.yaml
  .github/workflows/run-vfio-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: combine coco jobs into a single yaml
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-on-sev.yaml
  .github/workflows/run-k8s-tests-on-snp.yaml
  .github/workflows/run-k8s-tests-on-tdx.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-tdx.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: combine coco jobs into a single yaml
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-on-sev.yaml
  .github/workflows/run-k8s-tests-on-snp.yaml
  .github/workflows/run-k8s-tests-on-tdx.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-tdx.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

config: Enable guestHook for remote hyp
  src/runtime/pkg/katautils/config.go
Owners: @kata-containers/runtime

ci: k8s: set default image for deploy_kata()
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

ci: k8s: configurable deploy kata timeout
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

tests: exec_host() now gets the node name
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/shell

ci: k8s: shellcheck fixes to gha-run.sh
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

ci: k8s: run_tests() for kcli
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

tests: exec_host() now gets the node name
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/shell

kata-deploy: re-format kata-[deploy|cleanup].yaml
  tools/packaging/kata-deploy/kata-cleanup/base/kata-cleanup.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
Owners: @kata-containers/packaging

ci: k8s: shellcheck fixes to gha-run.sh
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

tests: add get_one_kata_node() to tests_common.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/shell
