Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

agent: update openssl and openssl-src dependencies
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/tardev-snapshotter/Cargo.lock
  src/tardev-snapshotter/Cargo.toml
Owners: @kata-containers/agent

metrics: Update memory usage script
  tests/metrics/density/memory_usage.sh
Owners: @kata-containers/shell

metrics: Update memory usage script
  tests/metrics/density/memory_usage.sh
Owners: @kata-containers/shell

runtime: Fix bad merge
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/hypervisor.go
Owners: @kata-containers/runtime

runtime: Ignore cyclomatic complexity
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

agent: Reflect AGENT_CONFIG change
  src/agent/src/image_rpc.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: Update logger
  src/agent/src/image_rpc.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

runtime-rs: Do not scan network if network model is "none"
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
Owners: @kata-containers/runtime

runtime-rs: Do not scan network if network model is "none"
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
Owners: @kata-containers/runtime

policy: common yaml file for dependent test files
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/csi-hostpath-testing.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance2/ingress-multiple-certs-rc.yaml
  src/agent/samples/policy/yaml/service/service-azure-vote-front.yaml
Owners: @kata-containers/agent

dragonball: fix cargo test on aarch64
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/vm/mod.rs
Owners: none

dragonball: fix cargo test on aarch64
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/vm/mod.rs
Owners: none

utils.mk: update BUILD_TYPE argument
  utils.mk
Owners: @kata-containers/makefile

agent: clippy: fix cargo clippy warnings
  src/agent/src/linux_abi.rs
Owners: @kata-containers/agent

agent: Makefile: enable set SECCOMP dynamically
  src/agent/Makefile
Owners: @kata-containers/agent

agent: clippy: fix cargo clippy warnings
  src/agent/src/linux_abi.rs
Owners: @kata-containers/agent

agent: rustjail: update test_mknod_dev
  src/agent/rustjail/src/mount.rs
Owners: @kata-containers/agent

utils.mk: update BUILD_TYPE argument
  utils.mk
Owners: @kata-containers/makefile

agent: rustjail: update test_mknod_dev
  src/agent/rustjail/src/mount.rs
Owners: @kata-containers/agent

agent: Makefile: enable set SECCOMP dynamically
  src/agent/Makefile
Owners: @kata-containers/agent

runtime-rs: Enhancing Device Manager for network endpoints.
  src/libs/Cargo.lock
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_net.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/network/endpoint/endpoints_test.rs
  src/runtime-rs/crates/resource/src/network/endpoint/ipvlan_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/macvlan_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/mod.rs
  src/runtime-rs/crates/resource/src/network/endpoint/physical_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/veth_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/vlan_endpoint.rs
  src/runtime-rs/crates/resource/src/network/mod.rs
  src/runtime-rs/crates/resource/src/network/network_pair.rs
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
Owners: @kata-containers/runtime

runtime-rs: Enhancing Device Manager for network endpoints.
  src/libs/Cargo.lock
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_net.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/network/endpoint/endpoints_test.rs
  src/runtime-rs/crates/resource/src/network/endpoint/ipvlan_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/macvlan_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/mod.rs
  src/runtime-rs/crates/resource/src/network/endpoint/physical_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/veth_endpoint.rs
  src/runtime-rs/crates/resource/src/network/endpoint/vlan_endpoint.rs
  src/runtime-rs/crates/resource/src/network/mod.rs
  src/runtime-rs/crates/resource/src/network/network_pair.rs
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
Owners: @kata-containers/runtime

gha: ci: Gather info about the node / pods
  tests/integration/gha-run.sh
Owners: @kata-containers/shell

gha: ci: Gather info about the node / pods
  tests/integration/gha-run.sh
Owners: @kata-containers/shell

gha: k8s: tdx: Temporarily disable TDX tests
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: k8s: tdx: Temporarily disable TDX tests
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

do-not-merge: Test GARM
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

policy: add sample with stdin: true, tty: true
  src/agent/samples/policy/yaml/pod/pod-same-containers.yaml
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

tests: Add metrics machine learning performance tests
  tests/metrics/machine_learning/tensorflow.sh
Owners: @kata-containers/shell

tests: Add metrics machine learning performance tests
  tests/metrics/machine_learning/tensorflow.sh
Owners: @kata-containers/shell

tests: Add tensorflow Dockerfile
  tests/metrics/machine_learning/tensorflow_dockerfile/Dockerfile
Owners: @kata-containers/docker

tests: Add tensorflow Dockerfile
  tests/metrics/machine_learning/tensorflow_dockerfile/Dockerfile
Owners: @kata-containers/docker

tests: Add Pytorch performance test
  tests/metrics/machine_learning/pytorch.sh
Owners: @kata-containers/shell

tests: Add Pytorch performance test
  tests/metrics/machine_learning/pytorch.sh
Owners: @kata-containers/shell

tests: Add Pytorch Dockerfile
  tests/metrics/machine_learning/pytorch_dockerfile/Dockerfile
Owners: @kata-containers/docker

tests: Add Pytorch Dockerfile
  tests/metrics/machine_learning/pytorch_dockerfile/Dockerfile
Owners: @kata-containers/docker

tests: Add `function` before each function
  tests/common.bash
Owners: @kata-containers/shell

tests: Add `function` before each function
  tests/common.bash
Owners: @kata-containers/shell

policy: update samples for recent $(sandbox-name) change
  src/agent/samples/policy/yaml/kubernetes/conformance/csi-hostpath-testing.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance2/ingress-multiple-certs-rc.yaml
Owners: @kata-containers/agent

tests: Add machine learning README
  tests/metrics/README.md
  tests/metrics/machine_learning/README.md
Owners: @kata-containers/documentation

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
