Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runtime-rs: Add CcwSubChannel to provide devno for CCW devices
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Add devno to DeviceVirtioScsi
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Add devno to DeviceVirtioBlk
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Add devno to VhostVsock
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Add devno to DeviceVirtioSerial
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: fix vfio device name combination issue
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
Owners: @kata-containers/rust

runtime-rs: using the tokio-vsock to replace the UnixStream
  src/runtime-rs/crates/agent/Cargo.toml
  src/runtime-rs/crates/agent/src/sock/mod.rs
  src/runtime-rs/crates/agent/src/sock/vsock.rs
Owners: @kata-containers/rust

runtime-rs: make sandbox vcpu allocation more accurate
  src/runtime-rs/crates/resource/src/cpu_mem/cpu.rs
Owners: @kata-containers/rust

runtime-rs: Introduce vfio device_add and get info methods
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Introduce qemu-rs vfio device hotplug handler.
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Add more info field in VfioDevice to express vfio devices
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
Owners: @kata-containers/rust

Revert "ci: Skip the failing tests in SNP"
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
  tests/integration/kubernetes/k8s-guest-pull-image-signature.bats
Owners: @kata-containers/tests

tests: fix kbs host name and port resolution
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

Revert "ci: Skip the failing tests in SNP"
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
  tests/integration/kubernetes/k8s-guest-pull-image-signature.bats
Owners: @kata-containers/tests

runtime: clh: addNet() logging clean-up
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/golang

genpolicy: avoid regorus warning
  src/tools/genpolicy/rules.rego
Owners: none

protocols: Add the cri api protos
  src/libs/protocols/build.rs
  src/libs/protocols/protos/cri-api/api.proto
  src/libs/protocols/src/lib.rs
  tests/static-checks.sh
Owners: @kata-containers/rust, @kata-containers/tests

sandbox: Add the sandbox api support
  src/libs/shim-interface/src/lib.rs
  src/runtime-rs/crates/resource/src/cgroups/mod.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/common/Cargo.toml
  src/runtime-rs/crates/runtimes/common/src/error.rs
  src/runtime-rs/crates/runtimes/common/src/lib.rs
  src/runtime-rs/crates/runtimes/common/src/sandbox.rs
  src/runtime-rs/crates/runtimes/common/src/types/mod.rs
  src/runtime-rs/crates/runtimes/common/src/types/trans_from_shim.rs
  src/runtime-rs/crates/runtimes/common/src/types/trans_into_shim.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
  src/runtime-rs/crates/service/Cargo.toml
  src/runtime-rs/crates/service/src/lib.rs
  src/runtime-rs/crates/service/src/manager.rs
  src/runtime-rs/crates/service/src/sandbox_service.rs
  src/runtime-rs/crates/service/src/task_service.rs
  src/runtime-rs/crates/shim-ctl/src/main.rs
  src/runtime-rs/crates/shim/src/shim_start.rs
Owners: @kata-containers/rust

ci: Add the sandbox api testcases
  .github/workflows/basic-ci-amd64.yaml
  tests/integration/cri-containerd/integration-tests.sh
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/tests, @kata-containers/release, @kata-containers/ci

kata-deploy: Fix for merge-builds Makefile target
  tools/packaging/kata-deploy/local-build/kata-deploy-merge-builds.sh
Owners: @kata-containers/kata-deploy

kata-deploy: Support containerd config version 3
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

runtime-rs: add tests to exercise floating-point 'default_vcpus'
  src/runtime-rs/crates/resource/src/cpu_mem/cpu.rs
Owners: @kata-containers/rust

runtime-rs: change representation of default_vcpus from i32 to f32
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/drop_in.rs
  src/libs/kata-types/src/config/hypervisor/ch.rs
  src/libs/kata-types/src/config/hypervisor/dragonball.rs
  src/libs/kata-types/src/config/hypervisor/firecracker.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/src/config/hypervisor/qemu.rs
  src/libs/kata-types/tests/test_config.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/convert.rs
  src/runtime-rs/crates/resource/src/cpu_mem/cpu.rs
  src/runtime-rs/crates/resource/src/cpu_mem/initial_size.rs
  src/tools/kata-ctl/src/ops/env_ops.rs
Owners: @kata-containers/rust

agent: fix startup when guest_components_procs is set to none
  src/agent/src/main.rs
Owners: @kata-containers/agent

kata-deploy: Adapt how the containerd version is checked for k0s
  tools/packaging/kata-deploy/kata-deploy/overlays/k0s/mount_k0s_conf.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

workflows: Remove rootfs binary artifacts
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

kata-deploy: Use drop-in files whenever it's possible
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

gha: Unbreak CI and work around workflow limit
  .github/workflows/ci.yaml
  .github/workflows/publish-csi-driver-amd64.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-amd64

policy: use appropriate policy state slice as expected
  src/tools/genpolicy/rules.rego
Owners: none

ci: unbreak: Reallow no-op builds
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

build: Allow dummy builds (for when adding a new target)
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

Revert "ci: unbreak: Reallow no-op builds"
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

versions: update trustee and guest components
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gatekeeper: add run-k8s-tests-on-zvsi(devmapper) to required jobs
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

fix kata-monitor sandbox metrics channel position
  src/runtime/pkg/kata-monitor/metrics.go
Owners: @kata-containers/golang

metrics: Increase minval range for failing tests
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
Owners: @kata-containers/tests

metrics: Increase ranges range for qemu failing tests
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-qemu-kata-metric8.toml
Owners: @kata-containers/tests

runtime: cleanup ro files in PrivatePath
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/golang

runtime-rs: passthrough unix domain socket file from host to container
  src/runtime-rs/crates/agent/src/lib.rs
  src/runtime-rs/crates/agent/src/sock/hybrid_vsock.rs
  src/runtime-rs/crates/agent/src/sock/mod.rs
  src/runtime-rs/crates/agent/src/sock/remote.rs
  src/runtime-rs/crates/agent/src/sock/vsock.rs
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/share_uds.rs
  src/runtime-rs/crates/resource/src/share_fs/utils.rs
  src/runtime-rs/crates/resource/src/share_fs/virtio_fs_share_mount.rs
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

agent: support share unix domain socket between host and container
  src/agent/src/storage/mod.rs
  src/agent/src/storage/uds_handler.rs
  src/libs/kata-types/src/device.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent, @kata-containers/rust

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
