Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

runtime: VMX is migratible in vm factory case
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_amd64_test.go
  src/runtime/virtcontainers/qemu_ppc64le.go
Owners: @kata-containers/runtime

runtime: constify splitIrqChipMachineOptions
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

runtime: constify splitIrqChipMachineOptions
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

versions: Upgrade to Cloud Hypervisor v26.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: clh: Use the new 'payload' interface
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/runtime

runtime: clh: Re-generate the client code
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api_default.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/CmdLineConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/DefaultApi.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/DiskConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/InitramfsConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/KernelConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PayloadConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PlatformConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_cmd_line_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_disk_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_initramfs_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_kernel_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_payload_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_platform_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
Owners: @kata-containers/runtime

ci: Use versions.yaml for the libseccomp
  ci/install_libseccomp.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/scripts/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/builder

ci: Use versions.yaml for the libseccomp
  ci/install_libseccomp.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/scripts/lib.sh
Owners: @kata-containers/ci, @kata-containers/tests, @kata-containers/builder

image: Use guest provided pause image
  src/agent/src/image_rpc.rs
Owners: @kata-containers/agent

agent: Support data_integrity option for trusted storage
  src/agent/src/config.rs
Owners: @kata-containers/agent

agent: initialize trusted storage device
  src/agent/src/rpc.rs
  tools/osbuilder/rootfs-builder/init_trusted_storage.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/agent, @kata-containers/builder

runtime-rs: plug drop-in decoding into config-loading code
  src/libs/kata-types/src/config/drop_in.rs
  src/libs/kata-types/src/config/mod.rs
Owners: none

runtime-rs: plug drop-in decoding into config-loading code
  src/libs/kata-types/src/config/drop_in.rs
  src/libs/kata-types/src/config/mod.rs
Owners: none

runtime-rs: add core toml::Value tree merging
  src/libs/kata-types/src/config/drop_in.rs
Owners: none

runtime-rs: add filesystem-related part of drop-in handling
  src/libs/Cargo.lock
  src/libs/kata-types/Cargo.toml
  src/libs/kata-types/src/config/drop_in.rs
Owners: none

runtime-rs: add filesystem-related part of drop-in handling
  src/libs/Cargo.lock
  src/libs/kata-types/Cargo.toml
  src/libs/kata-types/src/config/drop_in.rs
Owners: none

runtime-rs: add core toml::Value tree merging
  src/libs/kata-types/src/config/drop_in.rs
Owners: none

agent: initialize trusted storage device
  src/agent/src/rpc.rs
  tools/osbuilder/rootfs-builder/init_trusted_storage.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/agent, @kata-containers/builder

agent: Support data_integrity option for trusted storage
  src/agent/src/config.rs
Owners: @kata-containers/agent

image: Use guest provided pause image
  src/agent/src/image_rpc.rs
Owners: @kata-containers/agent

kernel: upgrade guest kernel support to 5.19.2
  snap/snapcraft.yaml
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/common/dax.conf
  tools/packaging/kernel/configs/fragments/s390/network.conf
  tools/packaging/kernel/configs/fragments/x86_64/base.conf
  tools/packaging/kernel/patches/5.19.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/release, @kata-containers/kernel, @kata-containers/ci, @kata-containers/tests

kernel: upgrade guest kernel support to 5.19.2
  snap/snapcraft.yaml
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/common/dax.conf
  tools/packaging/kernel/configs/fragments/s390/network.conf
  tools/packaging/kernel/configs/fragments/x86_64/base.conf
  tools/packaging/kernel/patches/5.19.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/release, @kata-containers/kernel, @kata-containers/ci, @kata-containers/tests

kernel: SEV guest kernel upgrade to 5.19.2
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/x86_64/sev/sev.conf
  tools/packaging/kernel/kata_config_version
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

kernel: fix for set_kmem_limit error
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/rustjail/Cargo.toml
Owners: @kata-containers/agent

kernel: SEV guest kernel upgrade to 5.19.2
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/x86_64/sev/sev.conf
  tools/packaging/kernel/kata_config_version
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

kernel: fix for set_kmem_limit error
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/rustjail/Cargo.toml
Owners: @kata-containers/agent

kata-deploy: allow to build the image without skopeo
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/packaging

runk: add pause/resume commands
  src/agent/Cargo.lock
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/lib.rs
  src/agent/rustjail/src/mount.rs
  src/agent/rustjail/src/seccomp.rs
  src/tools/runk/Cargo.lock
  src/tools/runk/libcontainer/Cargo.toml
  src/tools/runk/libcontainer/src/builder.rs
  src/tools/runk/libcontainer/src/cgroup.rs
  src/tools/runk/libcontainer/src/container.rs
  src/tools/runk/libcontainer/src/status.rs
  src/tools/runk/libcontainer/src/utils.rs
  src/tools/runk/src/commands/delete.rs
  src/tools/runk/src/commands/list.rs
  src/tools/runk/src/commands/mod.rs
  src/tools/runk/src/commands/pause.rs
  src/tools/runk/src/commands/resume.rs
  src/tools/runk/src/commands/start.rs
  src/tools/runk/src/commands/state.rs
  src/tools/runk/src/main.rs
Owners: @kata-containers/agent, @kata-containers/tools

runk: add pause/resume commands
  src/agent/Cargo.lock
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/lib.rs
  src/agent/rustjail/src/mount.rs
  src/agent/rustjail/src/seccomp.rs
  src/tools/runk/Cargo.lock
  src/tools/runk/libcontainer/Cargo.toml
  src/tools/runk/libcontainer/src/builder.rs
  src/tools/runk/libcontainer/src/cgroup.rs
  src/tools/runk/libcontainer/src/container.rs
  src/tools/runk/libcontainer/src/status.rs
  src/tools/runk/libcontainer/src/utils.rs
  src/tools/runk/src/commands/delete.rs
  src/tools/runk/src/commands/list.rs
  src/tools/runk/src/commands/mod.rs
  src/tools/runk/src/commands/pause.rs
  src/tools/runk/src/commands/resume.rs
  src/tools/runk/src/commands/start.rs
  src/tools/runk/src/commands/state.rs
  src/tools/runk/src/main.rs
Owners: @kata-containers/agent, @kata-containers/tools

versions: Update go version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

github-actions: Auto-backporting
  .github/workflows/add-backport-label.yaml
  .github/workflows/auto-backport.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

github-actions: Auto-backporting
  .github/workflows/add-backport-label.yaml
  .github/workflows/auto-backport.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kernel: Add CONFIG_CGROUP_HUGETLB=y as part of the cgroup fragments
  tools/packaging/kernel/configs/fragments/common/cgroup.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

kernel: Add CONFIG_CGROUP_HUGETLB=y as part of the cgroup fragments
  tools/packaging/kernel/configs/fragments/common/cgroup.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

image-build: generate root hash as an separate partition for rootfs
  tools/osbuilder/image-builder/Dockerfile
  tools/osbuilder/image-builder/image_builder.sh
Owners: @kata-containers/builder

kata-deploy: fix threading conflicts
  tools/packaging/kata-deploy/local-build/Makefile
Owners: @kata-containers/packaging

kata-deploy: fix threading conflicts
  tools/packaging/kata-deploy/local-build/Makefile
Owners: @kata-containers/packaging

logging: Replace nix::Error::EINVAL with more descriptive msgs
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/mount.rs
  src/agent/rustjail/src/validator.rs
  src/agent/src/netlink.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

logging: Replace nix::Error::EINVAL with more descriptive msgs
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/mount.rs
  src/agent/rustjail/src/validator.rs
  src/agent/src/netlink.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

runtime-rs: update async-std dependency
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
Owners: @kata-containers/runtime
