Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

policy: avoid reordering YAML fields
  src/tools/genpolicy/src/config_map.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/tools

policy: reduce code duplication
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/tools

runtime: add support for kata overlays
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/manager/manager.go
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
Owners: @kata-containers/runtime

tardev: move constant definitions
  src/tardev-snapshotter/src/snapshotter.rs
Owners: none

tardev: remove TODOS related to ref-counting
  src/tardev-snapshotter/src/snapshotter.rs
Owners: none

tardev: store and relay root hash
  src/tardev-snapshotter/src/snapshotter.rs
Owners: none

tardev: wrap long potentially operations in `spawn_blocking`
  src/tardev-snapshotter/src/snapshotter.rs
Owners: none

agent: use dm-verity if io.katacontainers.fs-opt.root-hash is set
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/src/mount.rs
Owners: @kata-containers/agent

tardev: update oci-distribution and containerd-snapshots to crates.io
  src/tardev-snapshotter/Cargo.lock
  src/tardev-snapshotter/Cargo.toml
Owners: none

policy: avoid reordering YAML fields
  src/tools/genpolicy/src/config_map.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/list.rs
  src/tools/genpolicy/src/no_policy.rs
  src/tools/genpolicy/src/obj_meta.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/replica_set.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/tools

gha: Debug metrics gha
  .github/workflows/run-launchtimes-metrics.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gpu: PCIe topology, consider vhost-user-block in Virt
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/device/manager/manager.go
  src/runtime/pkg/device/manager/utils.go
  src/runtime/pkg/device/manager/utils_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_test.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

gpu: PCIe topology, consider vhost-user-block in Virt
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/device/manager/manager.go
  src/runtime/pkg/device/manager/utils.go
  src/runtime/pkg/device/manager/utils_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_test.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

gpu: Reset cold or hot plug after overriding
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

gpu: Reset cold or hot plug after overriding
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

docs: Update Developer Guide
  docs/Developer-Guide.md
Owners: @kata-containers/documentation

gha: ci-on-push: Run metrics tests
  .github/workflows/ci-on-push.yaml
  .github/workflows/run-launchtimes-metrics.yaml
  tests/metrics/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

runtime-rs: Enhance flexibility of virtio-fs config
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_fs.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs.rs
Owners: @kata-containers/runtime

runtime: Add support for GPUDirect and GPUDirect RDMA PCIe topology
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/monitor.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/nydusd_test.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
  src/runtime/virtcontainers/veth_endpoint_test.go
  src/runtime/virtcontainers/virtiofsd_test.go
  tools/osbuilder/image-builder/image_builder.sh
Owners: @kata-containers/runtime, @kata-containers/builder

gha: Add base branch on SHA on pull requst
  .github/workflows/run-launchtimes-metrics.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: Add base branch on SHA on pull requst
  .github/workflows/run-launchtimes-metrics.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

policy: -s parameter to ignore unsupported fields
  src/tools/genpolicy/Cargo.lock
  src/tools/genpolicy/Cargo.toml
  src/tools/genpolicy/src/config_map.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/list.rs
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/no_policy.rs
  src/tools/genpolicy/src/obj_meta.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/replica_set.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/utils.rs
  src/tools/genpolicy/src/volume.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/tools

policy: new version of container image
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/rc-service.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/stateful-set/web.yaml
Owners: @kata-containers/agent

tests: Add tests lib common script
  tests/metrics/lib/common.bash
Owners: @kata-containers/shell

tests: Add tests lib common script
  tests/metrics/lib/common.bash
Owners: @kata-containers/shell

policy: add pod spec collected from webhook
  src/agent/samples/policy/yaml/webhook/webhook-pod1.yaml
  src/tools/genpolicy/src/infra.rs
  src/tools/genpolicy/src/volume.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: additional info for missing input files
  src/tools/genpolicy/src/infra.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/tools

policy: better handling of projected volume mounts
  src/tools/genpolicy/src/infra.rs
Owners: @kata-containers/tools

tardev: remove mount_tar.sh, no longer used
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

policy: update pod-one-container.yaml
  src/agent/samples/policy/test-input/pod-one-container-busybox.json
  src/agent/samples/policy/test-input/pod-one-container-pause.json
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/tools/genpolicy/data.json
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: fix lowerdir for multiple layers images
  src/agent/samples/policy/test-input/pod-three-containers-azure-acoustics.json
  src/agent/samples/policy/test-input/pod-three-containers-busybox.json
  src/agent/samples/policy/test-input/pod-three-containers-pause.json
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

SQUASH
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/internal/multierror/multierror.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/internal/validation/k8s/objectmeta.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/internal/validation/k8s/validation.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/internal/validation/validate.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/cache_test_unix.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/cache_test_windows.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/container-edits_unix.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/container-edits_windows.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/spec_linux.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/spec_other.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/version.go
  src/runtime/vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/parser/parser.go
  src/runtime/vendor/github.com/opencontainers/runtime-tools/validate/capabilities/validate.go
  src/runtime/vendor/github.com/opencontainers/runtime-tools/validate/capabilities/validate_linux.go
  src/runtime/vendor/github.com/opencontainers/runtime-tools/validate/capabilities/validate_unsupported.go
  src/runtime/vendor/golang.org/x/mod/LICENSE
  src/runtime/vendor/golang.org/x/mod/PATENTS
  src/runtime/vendor/golang.org/x/mod/semver/semver.go
  src/runtime/vendor/golang.org/x/sys/unix/asm_bsd_ppc64.s
  src/runtime/vendor/golang.org/x/sys/unix/syscall_openbsd_libc.go
  src/runtime/vendor/golang.org/x/sys/unix/syscall_openbsd_ppc64.go
  src/runtime/vendor/golang.org/x/sys/unix/syscall_openbsd_riscv64.go
  src/runtime/vendor/golang.org/x/sys/unix/zerrors_openbsd_ppc64.go
  src/runtime/vendor/golang.org/x/sys/unix/zerrors_openbsd_riscv64.go
  src/runtime/vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.s
  src/runtime/vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.s
  src/runtime/vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.s
  src/runtime/vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.s
  src/runtime/vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  src/runtime/vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.s
  src/runtime/vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  src/runtime/vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.s
  src/runtime/vendor/golang.org/x/sys/unix/zsysctl_openbsd_ppc64.go
  src/runtime/vendor/golang.org/x/sys/unix/zsysctl_openbsd_riscv64.go
  src/runtime/vendor/golang.org/x/sys/unix/zsysnum_openbsd_ppc64.go
  src/runtime/vendor/golang.org/x/sys/unix/zsysnum_openbsd_riscv64.go
  src/runtime/vendor/golang.org/x/sys/unix/ztypes_openbsd_ppc64.go
  src/runtime/vendor/golang.org/x/sys/unix/ztypes_openbsd_riscv64.go
Owners: @kata-containers/runtime

runtime-rs: change block index to 0
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
Owners: @kata-containers/runtime

virtiofsd: Stop using deprecated `-f` option
  src/runtime/virtcontainers/virtiofsd.go
  src/runtime/virtcontainers/virtiofsd_test.go
Owners: @kata-containers/runtime

virtiofsd: Stop using deprecated `-f` option
  src/runtime/virtcontainers/virtiofsd.go
  src/runtime/virtcontainers/virtiofsd_test.go
Owners: @kata-containers/runtime

SQUASH
  .github/workflows/ci-on-push.yaml
  .github/workflows/run-launchtimes-metrics.yaml
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_test.go
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/runtime

SQUASH
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_fs.rs
Owners: @kata-containers/runtime

SQUASH
  docs/Developer-Guide.md
Owners: @kata-containers/documentation

SQUASH
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/runtime

virtiofsd: Drop `-o no_posix_lock`
  src/runtime/virtcontainers/virtiofsd.go
  src/runtime/virtcontainers/virtiofsd_test.go
Owners: @kata-containers/runtime

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
