Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runtime-rs: protect EROFS volumes with dm-verity
  src/runtime-rs/crates/resource/src/volume/erofs_volume.rs
Owners: @kata-containers/rust

runtime-rs: share the sandbox resolv.conf and hostname
  src/agent/src/rpc.rs
  src/runtime-rs/crates/resource/src/manager.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
  src/runtime-rs/crates/resource/src/volume/sandbox_file_volume.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/agent, @kata-containers/rust

genpolicy: support runtime-rs volumes without copy_file
  src/tools/genpolicy/drop-in-examples/30-erofs-volumes-drop-in.json
  src/tools/genpolicy/drop-in-examples/README.md
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/cronjob.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/mount_and_storage.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/replica_set.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/settings.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/erofs/config_map.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/erofs/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/erofs/settings-patch.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/erofs/testcases.json
Owners: @kata-containers/documentation, @kata-containers/rust

tests: exercise volumes without copy_file on the erofs dm-verity legs
  .github/workflows/run-kata-coco-tests.yaml
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/k8s-configmap.bats
  tests/integration/kubernetes/k8s-credentials-secrets.bats
  tests/integration/kubernetes/k8s-hosts.bats
  tests/integration/kubernetes/k8s-inotify.bats
  tests/integration/kubernetes/k8s-rootless-vmm.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/configmap-script.yaml
  tests/integration/kubernetes/runtimeclass_workloads/pod-configmap-script.yaml
  tests/integration/kubernetes/runtimeclass_workloads/pod-erofs-dmverity-probe.yaml
  tests/integration/kubernetes/runtimeclass_workloads/pod-hosts.yaml
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

nvgpu: accept a complete driver source tarball as driver.url
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kata-deploy, @kata-containers/kernel

nvgpu: keep the cache suffix out of the driver package version
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kata-deploy, @kata-containers/kernel

genpolicy: centralize container role classifier
  src/tools/genpolicy/rules.rego
Owners: none

nvgpu: build and ship every component the GPU runtime classes require
  tools/packaging/kata-deploy/local-build/Makefile
Owners: @kata-containers/kata-deploy

agent: rename policy log_eval_input
  Cargo.lock
  src/agent/policy/Cargo.toml
  src/agent/policy/src/policy.rs
Owners: @kata-containers/agent

genpolicy: name the missing Secret or ConfigMap for an absent env source
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/tests/generate/main.rs
  src/tools/genpolicy/tests/generate/testdata/pod_with_config_map_env_from.yaml
  src/tools/genpolicy/tests/generate/testdata/pod_with_secret_env_from.yaml
Owners: @kata-containers/rust

agent: log warning for allow_failures policy bypass
  src/agent/policy/src/policy.rs
Owners: @kata-containers/agent

agent: policy skip_log_to_file filter
  src/agent/policy/src/policy.rs
Owners: @kata-containers/agent

agent: send rego policy debug prints to slog
  src/agent/policy/src/policy.rs
Owners: @kata-containers/agent

genpolicy: verify guest-pulled image references
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/image_guest_pull_source/pinned/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/image_guest_pull_source/pinned/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/image_guest_pull_source/unpinned/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/image_guest_pull_source/unpinned/testcases.json
Owners: @kata-containers/rust

runtime: rework logic for obtaining online logical CPU count
  Cargo.lock
  src/libs/kata-types/Cargo.toml
  src/libs/kata-types/src/annotations/mod.rs
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
Owners: @kata-containers/rust, @kata-containers/golang

tests: fix attestation pod template stdout capture
  tests/integration/kubernetes/runtimeclass_workloads/pod-attestable.yaml.in
Owners: @kata-containers/tests

tests: use kubectl exec for TEE verification
  tests/integration/kubernetes/k8s-confidential.bats
Owners: @kata-containers/tests

tests: Replace dmesg with unprivileged /sys to check SEV
  tests/integration/kubernetes/confidential_common.sh
Owners: @kata-containers/tests

agent: fall back to fsmount when overlay options exceed 4K
  Cargo.lock
  src/agent/Cargo.toml
  src/agent/src/storage/mod.rs
  src/libs/kata-sys-util/src/mount.rs
Owners: @kata-containers/agent, @kata-containers/rust

runtime: support to checkpoint container use criu
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

docs: erofs and nydus require a node that has not used them before
  docs/helm-configuration.md
Owners: @kata-containers/documentation

kata-deploy: detect external NFD by label
  docs/helm-configuration.md
  tests/functional/kata-deploy/kata-deploy-tee-keys.bats
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

docs: describe rootless VMM host access
  docs/.nav.yml
  docs/helm-configuration.md
  docs/how-to/how-to-run-kata-containers-with-SE-VMs.md
  docs/how-to/how-to-run-kata-containers-with-SNP-VMs.md
  docs/how-to/how-to-run-rootless-vmm.md
  tests/spellcheck/kata-dictionary.txt
Owners: @kata-containers/documentation, @kata-containers/tests

tests: cover rootless device provisioning
  tests/functional/kata-deploy/kata-deploy-privileges.bats
  tests/functional/kata-deploy/kata-deploy-rootless-devices.bats
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/tests

kata-deploy: add a rootless Helm option
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

kata-deploy: detect external NFD by label
  docs/helm-configuration.md
  tests/functional/kata-deploy/kata-deploy-tee-keys.bats
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

docs: erofs and nydus require a node that has not used them before
  docs/helm-configuration.md
Owners: @kata-containers/documentation

docs: update release target date to first Tuesday after the 15th
  docs/Release-Process.md
Owners: @kata-containers/documentation

genpolicy: default RemoveContainerRequest := false
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/tests/policy/testdata/state/createcontainer/testcases.json
Owners: none

genpolicy: reject shared p_container
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/state/createcontainer/testcases.json
Owners: @kata-containers/rust

agent: synchronize access to policy state data
  src/agent/policy/src/policy.rs
  src/agent/src/main.rs
  src/agent/src/policy.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

genpolicy: add sandbox_created to policy state
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/tests/policy/testdata/createsandbox/testcases.json
Owners: none

agent: lock policy state for CreateSandboxRequest
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

kata-deploy: restrict containerd pod_annotations to the configuration
  docs/helm-configuration.md
  tests/gha-run-k8s-common.sh
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/binary/src/runtime/containerd.rs
  tools/packaging/kata-deploy/binary/src/utils/toml.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

runtime-rs: stop the health check before stopping the sandbox VM
  src/runtime-rs/crates/runtimes/virt_container/src/health_check.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

genpolicy: type IntOrString fields as Kubernetes does
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
  tests/integration/kubernetes/k8s-policy-rc.bats
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-deployment.yaml
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-rc.yaml
Owners: @kata-containers/rust, @kata-containers/tests

runtime-rs: Reseed guest RNG after VM template restore
  docs/how-to/how-to-use-template-in-runtime-rs.md
  src/runtime-rs/crates/agent/src/kata/agent.rs
  src/runtime-rs/crates/agent/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/documentation, @kata-containers/rust

runtime-rs: Sync guest time after VM template restore
  docs/how-to/how-to-use-template-in-runtime-rs.md
  src/runtime-rs/crates/agent/src/kata/agent.rs
  src/runtime-rs/crates/agent/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/documentation, @kata-containers/rust

kata-webhook: take Go version from root versions.yaml
  tools/testing/kata-webhook/Dockerfile
  tools/testing/kata-webhook/Makefile
  tools/testing/kata-webhook/README.md
Owners: @kata-containers/docker, @kata-containers/build, @kata-containers/documentation

docs: describe rootless VMM host access
  docs/.nav.yml
  docs/helm-configuration.md
  docs/how-to/how-to-run-kata-containers-with-SE-VMs.md
  docs/how-to/how-to-run-kata-containers-with-SNP-VMs.md
  docs/how-to/how-to-run-rootless-vmm.md
  tests/spellcheck/kata-dictionary.txt
Owners: @kata-containers/documentation, @kata-containers/tests

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
