Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

runtime-rs: keep guest-pull paths fixed
  src/runtime-rs/crates/resource/src/rootfs/virtual_volume.rs
Owners: @kata-containers/rust

ci.ocp: Fix selinux handling
  ci/openshift-ci/cluster/deployments/relabel_selinux.yaml
  ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

runtime-rs: align agent timeout docs across all configuration templates
  src/runtime-rs/config/configuration-clh-azure-runtime-rs.toml.in
  src/runtime-rs/config/configuration-clh-runtime-rs.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/config/configuration-openvmm-azure-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
Owners: @kata-containers/rust

remote: ensure correct networking configuration
  src/libs/kata-types/src/config/hypervisor/remote.rs
  src/runtime-rs/config/configuration-remote.toml.in
Owners: @kata-containers/rust

remote: fix start_vm() timeout logic and validate agentSocketPath
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
Owners: @kata-containers/rust

remote: fix RwLock deadlock in wait_vm()
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
  src/runtime-rs/crates/hypervisor/src/remote/mod.rs
Owners: @kata-containers/rust

remote: replace todo!() panics with safe stubs
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
Owners: @kata-containers/rust

remote: fix agent timeouts for remote hypervisor
  src/libs/kata-types/src/config/agent.rs
  src/runtime-rs/config/configuration-remote.toml.in
Owners: @kata-containers/rust

remote: add cri-o annotation key fallbacks for sandbox name/namespace
  src/libs/kata-types/src/annotations/crio.rs
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
Owners: @kata-containers/rust

remote: return shim's own ns path to make NetnsGuard a no-op
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
Owners: @kata-containers/rust

remote: handle stop_vm gracefully when VM is already gone
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
Owners: @kata-containers/rust

tests: nvidia: budget the NIM model load from container start
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-1b-instruct-runtime-rs.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-1b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-1b-instruct.yaml.in
Owners: @kata-containers/tests

runtime: keep reading a process' output after its stdin is closed
  src/runtime/virtcontainers/iostream.go
  src/runtime/virtcontainers/iostream_test.go
Owners: @kata-containers/golang

runtime: let CloseIO() return for a process without stdin
  src/runtime/pkg/containerd-shim-v2/stream.go
  src/runtime/pkg/containerd-shim-v2/stream_test.go
Owners: @kata-containers/golang

runtime-rs: Add measured confidential direct volumes
  docs/design/direct-blk-device-assignment.md
  src/agent/src/initdata.rs
  src/agent/src/rpc.rs
  src/agent/src/storage/block_handler.rs
  src/libs/kata-types/src/mount.rs
  src/libs/protocols/protos/agent.proto
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/lib.rs
  src/runtime-rs/crates/agent/src/types.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_inline.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_nydus.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_standalone.rs
  src/runtime-rs/crates/resource/src/share_fs/virtio_fs_share_mount.rs
  src/runtime-rs/crates/resource/src/volume/block_emptydir_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/mod.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/rawblock_volume.rs
  src/runtime-rs/crates/resource/src/volume/ephemeral_volume.rs
  src/runtime-rs/crates/resource/src/volume/local_volume.rs
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent.pb.go
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/mount_and_storage.rs
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/kata-ctl/src/ops/volume_ops.rs
Owners: @kata-containers/documentation, @kata-containers/agent, @kata-containers/rust, @kata-containers/golang

docs: propose confidential persistent storage
  docs/design/proposals/README.md
  docs/design/proposals/confidential-persistent-storage.md
Owners: @kata-containers/documentation

agent: watcher: share ownership preservation helper
  src/agent/src/watcher.rs
Owners: @kata-containers/agent

runtime-rs: do not await start_mutex in stop()
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: reclaim and reuse IFF_PERSIST taps
  src/runtime-rs/crates/resource/src/network/endpoint/veth_endpoint.rs
  src/runtime-rs/crates/resource/src/network/network_pair.rs
  src/runtime-rs/crates/resource/src/network/utils/link/create.rs
  src/runtime-rs/crates/resource/src/network/utils/link/mod.rs
Owners: @kata-containers/rust

runtime-rs: non-blocking large-guest QEMU teardown
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: fail start when QEMU dies during sandbox bring-up
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

csi: document kata-directvolume configuration
  src/tools/csi-kata-directvolume/README.md
Owners: @kata-containers/documentation

agent: add rustjail tests for cgroup v2 nesting
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/rustjail/src/cgroups/nested.rs
Owners: @kata-containers/agent

agent: attach exec to the init process cgroup
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/rustjail/src/cgroups/mock.rs
  src/agent/rustjail/src/cgroups/mod.rs
  src/agent/rustjail/src/cgroups/nested.rs
  src/agent/rustjail/src/cgroups/systemd/manager.rs
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

tests: check exec joins the init leaf cgroup
  tests/integration/kubernetes/k8s-privileged.bats
  tests/integration/kubernetes/runtimeclass_workloads/pod-cgroup-v2-nesting.yaml
Owners: @kata-containers/tests

agent: remove nested cgroups when destroying a container
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/rustjail/src/cgroups/nested.rs
Owners: @kata-containers/agent

oci: parse CRI-O PodLinuxResources annotation for sandbox sizing
  src/runtime/pkg/oci/utils.go
Owners: @kata-containers/golang

oci: add tests for CRI-O PodLinuxResources sandbox sizing
  src/runtime/pkg/oci/utils_test.go
Owners: @kata-containers/golang

runtime-rs: Wire entropy_source to a Dragonball virtio-rng device
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/vmm_instance.rs
Owners: @kata-containers/rust

dragonball: Add virtio-rng entropy device
  src/dragonball/Cargo.toml
  src/dragonball/crates/dbs_virtio_devices/Cargo.toml
  src/dragonball/crates/dbs_virtio_devices/src/lib.rs
  src/dragonball/crates/dbs_virtio_devices/src/rng.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/rng_dev_mgr.rs
  src/dragonball/src/error.rs
Owners: @kata-containers/dragonball

build: key CoCo caches on consumed content
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

versions: bump guest-components for Ubuntu 26.04 CoCo extension
  docs/design/composable-vm-images.md
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/documentation, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

rootfs: bump guest images and initrds to Ubuntu 26.04
  docs/Developer-Guide.md
  docs/design/composable-vm-images.md
  tools/osbuilder/rootfs-builder/devkit/config.sh
  tools/osbuilder/rootfs-builder/devkit/devkit-add-nvidia-repos.sh
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/osbuilder/rootfs-builder/ubuntu/rootfs_lib.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/documentation, @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

dragonball: Advertise access platform for virtio-rng
  src/dragonball/crates/dbs_virtio_devices/src/rng.rs
  src/dragonball/src/device_manager/rng_dev_mgr.rs
Owners: @kata-containers/dragonball

runtime-rs: Add Dragonball entropy configuration
  src/runtime-rs/config/configuration-dragonball.toml.in
Owners: @kata-containers/rust

runtime-rs: Disable host RNG for confidential guests
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
Owners: @kata-containers/rust

dragonball: Add virtio transport and device snapshot
  Cargo.lock
  src/dragonball/crates/dbs_interrupt/src/manager.rs
  src/dragonball/crates/dbs_virtio_devices/Cargo.toml
  src/dragonball/crates/dbs_virtio_devices/src/block/device.rs
  src/dragonball/crates/dbs_virtio_devices/src/fs/device.rs
  src/dragonball/crates/dbs_virtio_devices/src/lib.rs
  src/dragonball/crates/dbs_virtio_devices/src/mem.rs
  src/dragonball/crates/dbs_virtio_devices/src/mmio/mmio_state.rs
  src/dragonball/crates/dbs_virtio_devices/src/mmio/mmio_v2.rs
  src/dragonball/crates/dbs_virtio_devices/src/net.rs
  src/dragonball/crates/dbs_virtio_devices/src/persist.rs
  src/dragonball/crates/dbs_virtio_devices/src/vhost/vhost_kern/test_utils.rs
  src/dragonball/crates/dbs_virtio_devices/src/vsock/device.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/net_dev_mgr.rs
  src/dragonball/src/device_manager/persist.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
  src/dragonball/src/snapshot/mod.rs
Owners: @kata-containers/dragonball

dragonball: Add guest memory save and restore
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/snapshot/mod.rs
Owners: @kata-containers/dragonball

dragonball: Add microVM save and restore orchestration
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/error.rs
  src/dragonball/src/snapshot/mod.rs
  src/dragonball/src/vm/mod.rs
Owners: @kata-containers/dragonball

dragonball: Add snapshot format and vCPU state
  Cargo.lock
  Cargo.toml
  src/dragonball/Cargo.toml
  src/dragonball/Makefile
  src/dragonball/crates/dbs_snapshot/Cargo.toml
  src/dragonball/crates/dbs_snapshot/src/lib.rs
  src/dragonball/src/lib.rs
  src/dragonball/src/snapshot/mod.rs
  src/dragonball/src/vcpu/aarch64.rs
  src/dragonball/src/vcpu/mod.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vcpu/x86_64.rs
Owners: @kata-containers/dragonball, @kata-containers/arch-aarch64, @kata-containers/arch-amd64
