Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

runtime-rs: Add rprivate and rw options for memory emptyDir mounts
  src/runtime-rs/crates/resource/src/volume/ephemeral_volume.rs
Owners: @kata-containers/rust

runtime-rs: Introduce disable_guest_empty_dir flag
  src/libs/kata-sys-util/src/k8s.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

runtime-rs: Add 'local' volume to support k8s emptyDir
  src/runtime-rs/crates/resource/src/volume/mod.rs
Owners: @kata-containers/rust

tests: enable the cpu hotplug test for dragonball etc
  tests/integration/kubernetes/k8s-cpu-ns.bats
Owners: @kata-containers/tests

tests: disable the cpu hotplug test for coco dev runtime
  tests/integration/kubernetes/k8s-cpu-ns.bats
Owners: @kata-containers/tests

runtime-rs: disable the default static resource management
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

kata-deploy: Add missing runtimeClasses
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
Owners: @kata-containers/kata-deploy

tests: guest-pull: Fix names
  .github/workflows/run-containerd-guest-pull-stability-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "tests: Do not enable NFD on s390x"
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

docs: Update devmapper containerd plugin name
  docs/how-to/how-to-use-kata-containers-with-firecracker.md
Owners: @kata-containers/documentation

Revert "tests: Do not enable NFD on s390x"
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

tests: disable the cpu hotplug test for coco dev runtime
  tests/integration/kubernetes/k8s-cpu-ns.bats
Owners: @kata-containers/tests

runtime-rs: disable the default static resource management
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

tests: enable the cpu hotplug test for dragonball etc
  tests/integration/kubernetes/k8s-cpu-ns.bats
Owners: @kata-containers/tests

agent/tests: Skip test if error is EACCES (permission denied)
  src/agent/src/netlink.rs
Owners: @kata-containers/agent

agent/tests: Skip if kernel module is not found
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent/tests: Skip RNG reseeding test on restricted environments
  src/agent/src/random.rs
Owners: @kata-containers/agent

GHA: Run runtime tests on self-hosted runners for P/Z
  .github/workflows/build-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

agent/tests: Use detected filesystem for baremounted points
  src/agent/src/mount.rs
Owners: @kata-containers/agent

agent/tests: Handle error messages differetnly based on root filesystem
  src/agent/src/mount.rs
Owners: @kata-containers/agent

tests: guest-pull: Fix names
  .github/workflows/run-containerd-guest-pull-stability-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: gpu: Add SNP GPU job
  .github/actionlint.yaml
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  src/runtime/Makefile
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-cuda-vectoradd.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu-snp.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/golang, @kata-containers/tests, @kata-containers/kata-deploy

docs: Update devmapper containerd plugin name
  docs/how-to/how-to-use-kata-containers-with-firecracker.md
Owners: @kata-containers/documentation

kata-deploy: Add missing runtimeClasses
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
Owners: @kata-containers/kata-deploy

kata-deploy: Add per arch ALLOWED_HYPERVISOR_ANNOTATIONS
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: scripts: Add helper functions to avoid duplicated items
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: scripts: Ensure we don't add duplicated values
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

ci: Onboard another NVIDIA machine
  .github/actionlint.yaml
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

ci: Onboard another NVIDIA machine
  .github/actionlint.yaml
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

shim: Support device cold plug with Kubernetes
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/containerd-shim-v2/delete.go
  src/runtime/pkg/containerd-shim-v2/devices.go
  src/runtime/pkg/containerd-shim-v2/service.go
  src/runtime/pkg/containerd-shim-v2/wait.go
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
Owners: @kata-containers/golang

runtime-rs: enable pselect6 syscall for dragonball seccomp
  src/runtime-rs/crates/hypervisor/src/dragonball/seccomp.rs
Owners: @kata-containers/rust

runtime-rs: remove hardcoding of SEV physical address reduction
  src/runtime-rs/crates/hypervisor/src/device/driver/protection_device.rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: get SEV params using CPUID and store them in SevSnpDetails
  src/libs/kata-sys-util/src/protection.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/convert.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs: enable pselect6 syscall for dragonball seccomp
  src/runtime-rs/crates/hypervisor/src/dragonball/seccomp.rs
Owners: @kata-containers/rust

runtime-rs: fix the issue of hot-unplug memory smaller
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

kata-deploy: Allow the CDI annotation for CC GPU cases
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

tests: nvidia: cc: Enable NIMs tests
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

tests: nvidia: cc: Run CUDA vectorAdd tests on CC mode
  src/runtime/Makefile
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-cuda-vectoradd.yaml.in
Owners: @kata-containers/golang, @kata-containers/tests

runtimeclasses: nvidia: Bump TEE podOverhead
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu-snp.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-nvidia-gpu-tdx.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
Owners: @kata-containers/kata-deploy

gatekeeper: Adjust the nvidia gpu test name
  tools/testing/gatekeeper/required-tests.yaml
Owners: none
