Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

tests: make k8s-block-volume more robust
  tests/integration/kubernetes/k8s-block-volume.bats
Owners: @kata-containers/tests

fixup! move initdata-processor into workspace
  Cargo.lock
  Cargo.toml
  src/agent/Cargo.toml
  src/agent/initdata-processor/Cargo.toml
Owners: @kata-containers/agent

fixup! Enhancements for Makefile and initdata-processor.service
  src/agent/initdata-processor/Makefile
  src/agent/initdata-processor/systemd-services/initdata-processor.service
Owners: @kata-containers/agent

fixup! Add document
  src/agent/initdata-processor/README.md
Owners: @kata-containers/agent

ci: increase stale issues workflow frequency
  .github/workflows/stale_issues.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

packaging: pass GitHub token for yq/oras image installs
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-riscv64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  ci/install_yq.sh
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-deploy/local-build/dockerbuild/install_oras.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/static-build/kernel/Dockerfile
  tools/packaging/static-build/kernel/build.sh
  tools/packaging/static-build/kernel/install_yq.sh
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-s390x, @kata-containers/tests, @kata-containers/kata-deploy, @kata-containers/packaging

packaging: centralize APT CI tuning (retries, mirrors)
  tools/packaging/.gitignore
  tools/packaging/docker/apt-ci-tune.sh
  tools/packaging/kata-debug/Dockerfile
  tools/packaging/kata-debug/kata-debug-build-and-upload-payload.sh
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/local-build/.gitignore
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-copy-yq-installer.sh
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/agent/Dockerfile
  tools/packaging/static-build/agent/build.sh
  tools/packaging/static-build/coco-guest-components/Dockerfile
  tools/packaging/static-build/coco-guest-components/build.sh
  tools/packaging/static-build/kernel/Dockerfile
  tools/packaging/static-build/kernel/build.sh
  tools/packaging/static-build/ovmf/Dockerfile
  tools/packaging/static-build/ovmf/build.sh
  tools/packaging/static-build/pause-image/Dockerfile
  tools/packaging/static-build/pause-image/build.sh
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/qemu/build-base-qemu.sh
  tools/packaging/static-build/shim-v2/Dockerfile
  tools/packaging/static-build/shim-v2/build.sh
  tools/packaging/static-build/tools/Dockerfile
  tools/packaging/static-build/tools/build.sh
  tools/packaging/static-build/virtiofsd/build.sh
  tools/packaging/static-build/virtiofsd/gnu/Dockerfile
Owners: @kata-containers/packaging, @kata-containers/kata-deploy

ci: enforce SLSA provenance for published artifacts
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-s390x

fix(vuln): pin and bump action refs (SEC-171) (#4)
  .github/workflows/govulncheck.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

agent: add GetDiagnosticData RPC with termination log support
  src/agent/src/rpc.rs
  src/kata-opa/allow-all.rego
  src/libs/protocols/protos/agent.proto
  src/runtime/virtcontainers/agent.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/mock_agent.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent_ttrpc.pb.go
  src/runtime/virtcontainers/pkg/mock/mock.go
  tools/packaging/kata-deploy/binary/src/runtime/containerd.rs
Owners: @kata-containers/agent, @kata-containers/rust, @kata-containers/golang, @kata-containers/kata-deploy

genpolicy: policy-gate GetDiagnosticDataRequest
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/rust

tests: add integration tests for termination log via GetDiagnosticData
  tests/integration/kubernetes/k8s-termination-log.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/pod-termination-log-fail.yaml
  tests/integration/kubernetes/runtimeclass_workloads/pod-termination-log-success.yaml
Owners: @kata-containers/tests

runtime-rs: wire GetDiagnosticData for termination logs
  src/runtime-rs/crates/agent/src/kata/agent.rs
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/lib.rs
  src/runtime-rs/crates/agent/src/types.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

WIP: doc: Add maintenance criteria
  docs/Maintenance.md
  docs/README.md
Owners: @kata-containers/documentation

doc: Expand Maintenance.md with comprehensive feature categorization
  docs/Maintenance.md
Owners: @kata-containers/documentation

runtime-rs: enable measured rootfs for qemu-coco-dev-runtime-rs
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  tests/integration/kubernetes/k8s-measured-rootfs.bats
Owners: @kata-containers/rust, @kata-containers/tests

ci: persist vanilla k8s setup across reboots
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

runtime: fix directly-attached volumes when disable_block_device_use
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
Owners: @kata-containers/golang

ci: move erofs host prep into setup_snapshotter_host
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

pod-resources-rs: Add kubelet Pod Resources API client
  .github/workflows/build-checks.yaml
  Cargo.lock
  Cargo.toml
  src/libs/pod-resources-rs/Cargo.toml
  src/libs/pod-resources-rs/proto/pod_resources.proto
  src/libs/pod-resources-rs/src/lib.rs
  src/libs/pod-resources-rs/src/pod_resources/mod.rs
  src/libs/pod-resources-rs/src/pod_resources/v1.rs
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/rust

kata-types: Add pod_resource_api_sock configuration for GPU cold-plug
  src/libs/kata-types/src/config/runtime.rs
  src/tools/agent-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/rust

kata-sys-util: Add PCI helpers for VFIO cold-plug paths
  Cargo.lock
  src/libs/kata-sys-util/Cargo.toml
  src/libs/kata-sys-util/src/pcilibs/devices.rs
  src/libs/kata-sys-util/src/pcilibs/mod.rs
  src/libs/kata-sys-util/src/pcilibs/pci_manager.rs
  src/tools/kata-ctl/Cargo.lock
Owners: @kata-containers/rust

runtime-rs: Bump QMP timeouts for VFIO cold-plug
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Wire VFIO cold-plug into QEMU inner
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: Improve vsock connect with spawn_blocking and backoff
  src/runtime-rs/crates/agent/src/sock/vsock.rs
Owners: @kata-containers/rust

runtime-rs: Add BlockDeviceModern driver
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_blk_modern.rs
  src/runtime-rs/crates/hypervisor/src/device/mod.rs
Owners: @kata-containers/rust

runtime-rs: Add PCIe topology cold-plug port management
  src/runtime-rs/crates/hypervisor/src/device/driver/port_device.rs
  src/runtime-rs/crates/hypervisor/src/device/topology.rs
Owners: @kata-containers/rust

dragonball: Adapt VFIO DMA calls to vfio-ioctls 0.6 API
  Cargo.lock
  Cargo.toml
  src/dragonball/dbs_pci/src/vfio.rs
  src/dragonball/src/device_manager/vfio_dev_mgr/mod.rs
Owners: @kata-containers/dragonball

runtime-rs: Add QEMU VFIO command-line parameter structs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Wire modern device types into device config and manager
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/mod.rs
Owners: @kata-containers/rust

runtime-rs: Add VFIO modern device driver
  Cargo.lock
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio_device/core.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio_device/device.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio_device/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/topology.rs
Owners: @kata-containers/rust

runtime-rs: Add Pod Resources CDI discovery in sandbox
  Cargo.lock
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
  src/tools/kata-ctl/Cargo.lock
Owners: @kata-containers/rust

runtime-rs: Wire BlockDeviceModern into rawblock volume and container
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/rawblock_volume.rs
  src/runtime-rs/crates/resource/src/volume/utils.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

agent: Update VFIO device handling for GPU cold-plug
  src/agent/src/device/mod.rs
  src/agent/src/device/vfio_device_handler.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

runtime-rs: Add configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/Makefile
  src/runtime-rs/arch/x86_64-options.mk
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
Owners: @kata-containers/rust, @kata-containers/arch-amd64

runtime-rs: Add configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
Owners: @kata-containers/rust

runtime-rs: Add resource manager VFIO modern handling and CDI wiring
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
  src/runtime-rs/crates/resource/src/cdi_devices/container_device.rs
  src/runtime-rs/crates/resource/src/cdi_devices/mod.rs
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
Owners: @kata-containers/rust

kata-deploy: Add qemu-nvidia-gpu-snp-runtime-rs shim
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/binary/src/utils/system.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/try-kata-nvidia-gpu.values.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

kata-deploy: Add qemu-nvidia-gpu-runtime-rs shim
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/binary/src/utils/system.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/try-kata-nvidia-gpu.values.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

runtime-rs: Add configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
  Cargo.lock
  src/libs/pod-resources-rs/Cargo.toml
  src/libs/pod-resources-rs/src/lib.rs
  src/runtime-rs/Makefile
  src/runtime-rs/arch/x86_64-options.mk
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
Owners: @kata-containers/rust, @kata-containers/arch-amd64
