Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runtime-rs: honor default_vcpus pod annotation (re-apply after setup_config)
  src/runtime-rs/crates/runtimes/src/manager.rs
Owners: @kata-containers/rust

build(qemu): activate --without-default-devices with complete allowlist
  tools/packaging/scripts/configure-hypervisor.sh
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

build(qemu): restore invalid-option reporting in configure-hypervisor.sh
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/packaging

build(qemu): hash only configure-hypervisor.sh for the builder image tag
  tools/packaging/scripts/lib.sh
Owners: @kata-containers/packaging

build(qemu): drop --disable-avx512bw conflicting with the later enable
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/packaging

build(qemu): drop --disable-vmdk contradicting the EROFS re-enable
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/packaging

agent: honor agent.debug_console_shell for the debug console
  src/agent/src/config.rs
  src/agent/src/console.rs
Owners: @kata-containers/agent

kata-deploy: add a devkit debug flag with per-shim RuntimeClasses
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

kata-types: emit agent.debug_console_shell on the guest cmdline
  src/libs/kata-types/src/config/agent.rs
  src/libs/kata-types/src/config/mod.rs
Owners: @kata-containers/rust

packaging: add generic devkit debug guest extension image
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  tools/osbuilder/rootfs-builder/devkit/devkit-apk.sh
  tools/osbuilder/rootfs-builder/devkit/devkit-enter.sh
  tools/osbuilder/rootfs-builder/devkit/devkit-init.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests/k8s: exercise the devkit debug console
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-devkit-debug-console.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

EXPERIMENT: devkit - switch Alpine base to Ubuntu (noble)
  tests/integration/kubernetes/k8s-devkit-debug-console.bats
  tools/osbuilder/rootfs-builder/devkit/devkit-apt.sh
  tools/osbuilder/rootfs-builder/devkit/devkit-init.sh
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/tests, @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci

runtime-rs: validate net model with host net pods
  src/libs/kata-types/src/config/runtime.rs
  src/runtime-rs/config/configuration-clh-azure-runtime-rs.toml.in
  src/runtime-rs/config/configuration-clh-runtime-rs.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
  src/runtime/config/configuration-clh-azure.toml.in
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-cpu.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-remote.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
Owners: @kata-containers/rust, @kata-containers/golang

agent: honor agent.debug_console_shell for the debug console
  src/agent/src/config.rs
  src/agent/src/console.rs
Owners: @kata-containers/agent

packaging: add generic devkit debug guest extension image
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  tools/osbuilder/rootfs-builder/devkit/Dockerfile.in
  tools/osbuilder/rootfs-builder/devkit/config.sh
  tools/osbuilder/rootfs-builder/devkit/devkit-add-nvidia-repos.sh
  tools/osbuilder/rootfs-builder/devkit/devkit-enter.sh
  tools/osbuilder/rootfs-builder/devkit/devkit-init.sh
  tools/osbuilder/rootfs-builder/devkit/rootfs_lib.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/builder, @kata-containers/kata-deploy

kata-deploy: add a devkit debug flag with per-shim RuntimeClasses
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

kata-types: emit agent.debug_console_shell on the guest cmdline
  src/libs/kata-types/src/config/agent.rs
  src/libs/kata-types/src/config/mod.rs
Owners: @kata-containers/rust

kata-deploy: Do not ship virtiofsd when using shared_fs=none
  tools/packaging/kata-deploy/shim-components.json
Owners: @kata-containers/kata-deploy

tests/k8s: exercise the devkit debug console
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-devkit-debug-console.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

nvidia-gpu: chisel NVIDIA libs from sandboxutils-filelist.json
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
Owners: @kata-containers/builder, @kata-containers/kata-deploy

agent: Release sandbox lock before blocking stats read
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/rustjail/src/cgroups/mock.rs
  src/agent/rustjail/src/cgroups/mod.rs
  src/agent/rustjail/src/cgroups/systemd/manager.rs
  src/agent/rustjail/src/container.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

kernel: add KVM fragments to guest configs
  tools/packaging/kernel/configs/fragments/common/kvm.conf
  tools/packaging/kernel/configs/fragments/x86_64/kvm.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel, @kata-containers/arch-amd64

tests: add QEMU rootless seccomp bats test
  tests/integration/kubernetes/k8s-qemu-rootless-sandbox.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

runtime: clean up rootless runtime directory
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/virtcontainers/pkg/rootless/rootless.go
  src/runtime/virtcontainers/pkg/rootless/rootless_test.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

runtime-rs: test QEMU seccomp arguments
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: preserve QEMU block read-only mode
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: roll back partial rootless setup
  src/runtime-rs/crates/runtimes/src/manager.rs
Owners: @kata-containers/rust

runtime-rs: clean up rootless runtime directory
  src/runtime-rs/crates/hypervisor/src/utils.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: match BPF JIT diagnostics
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: fail closed on QEMU credentials
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
Owners: @kata-containers/rust

tests: cover runtime-rs QEMU sandboxing
  tests/integration/kubernetes/k8s-qemu-rootless-sandbox.bats
Owners: @kata-containers/tests

runtime: fix rootless CopyFile guest paths
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/fs_share_linux_test.go
Owners: @kata-containers/golang

runtime-rs: create QEMU runtime dir before QMP
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

tests: extend QEMU rootless seccomp bats test
  tests/integration/kubernetes/k8s-qemu-rootless-sandbox.bats
Owners: @kata-containers/tests

runtime-rs: fix rootless CopyFile paths
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/rust

fix: create direct volume mountpoints under rw
  src/runtime-rs/crates/resource/src/volume/direct_volumes/spdk_volume.rs
  src/runtime-rs/crates/resource/src/volume/direct_volumes/vfio_volume.rs
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

test: cover read-only direct volume shared paths
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

kata-deploy: start nydus-snapshotter at boot on RKE2/k3s
  tools/packaging/kata-deploy/nydus-snapshotter/nydus-snapshotter.service
Owners: @kata-containers/kata-deploy

genpolicy: BL-7 native policy-fragment declaration & composition (Jiri Feature A)
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/settings.rs
Owners: @kata-containers/rust

security-reference-monitor: verify SCITT CCF-profile inclusion proofs (BL-6)
  Cargo.lock
  src/agent/security-reference-monitor/Cargo.toml
  src/agent/security-reference-monitor/src/ccf.rs
  src/agent/security-reference-monitor/src/fragments.rs
  src/agent/security-reference-monitor/src/lib.rs
Owners: @kata-containers/agent

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
