Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

UT: fix compile error in unit tests
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
Owners: none

Dragonball: change error name and fix compile error
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/virtio_net_dev_mgr.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
  src/dragonball/src/lib.rs
  src/dragonball/src/vm/mod.rs
  src/dragonball/src/vm/x86_64.rs
Owners: none

dragonball: add virtio-fs device support
  src/dragonball/Cargo.toml
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/device_manager/memory_region_handler.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
Owners: none

UT: fix compile error in unit tests
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
Owners: none

dragonball: add virtio-blk device support
  src/dragonball/Cargo.toml
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
Owners: none

fs: change vhostuser and virtio into const
  src/dragonball/src/device_manager/fs_dev_mgr.rs
Owners: none

downtime: add downtime support
  src/dragonball/src/api/v1/instance_info.rs
  src/dragonball/src/vm/mod.rs
Owners: none

refractor: remove redundant by_id
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/event_manager.rs
  src/dragonball/src/vmm.rs
Owners: none

refractor: remove redundant by_id
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/event_manager.rs
  src/dragonball/src/vmm.rs
Owners: none

vfio: add vfio as TODO
  src/dragonball/src/device_manager/mod.rs
Owners: none

cpu_topo: add handle_cpu_topology function
  src/dragonball/src/api/v1/vmm_action.rs
Owners: none

dragonball: add virtio-net device support
  src/dragonball/Cargo.toml
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/virtio_net_dev_mgr.rs
  src/dragonball/src/error.rs
Owners: none

dragonball: add virtio-net device support
  src/dragonball/Cargo.toml
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/virtio_net_dev_mgr.rs
  src/dragonball/src/error.rs
Owners: none

downtime: add downtime support
  src/dragonball/src/api/v1/instance_info.rs
  src/dragonball/src/vm/mod.rs
Owners: none

fmt: do cargo fmt and add a dependency for blk_dev
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/vcpu/aarch64.rs
Owners: none

hotplug: add room for other hotplug solution
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vm/mod.rs
Owners: none

fs: change vhostuser and virtio into const
  src/dragonball/src/device_manager/fs_dev_mgr.rs
Owners: none

config: remove ht_enabled
  src/dragonball/src/vm/mod.rs
Owners: none

hotplug: add room for other hotplug solution
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vm/mod.rs
Owners: none

dragonball: update vsock dependency
  src/dragonball/src/api/v1/mod.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
Owners: none

memory: remove reserve_memory_bytes
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/vm/mod.rs
  src/dragonball/src/vm/x86_64.rs
Owners: none

dragonball: update vsock dependency
  src/dragonball/src/api/v1/mod.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
Owners: none

Dragonball: change error name and fix compile error
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/fs_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/virtio_net_dev_mgr.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
  src/dragonball/src/lib.rs
  src/dragonball/src/vm/mod.rs
  src/dragonball/src/vm/x86_64.rs
Owners: none

cpu_topo: add handle_cpu_topology function
  src/dragonball/src/api/v1/vmm_action.rs
Owners: none

dragonball: add virtio-blk device support
  src/dragonball/Cargo.toml
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
Owners: none

vfio: add vfio as TODO
  src/dragonball/src/device_manager/mod.rs
Owners: none

docs: delete CRI containerd plugin statement
  docs/how-to/README.md
  docs/how-to/how-to-set-prometheus-in-k8s.md
  docs/how-to/how-to-use-k8s-with-containerd-and-kata.md
  docs/how-to/privileged.md
  docs/how-to/run-kata-with-k8s.md
Owners: @kata-containers/documentation

docs: delete CRI containerd plugin statement
  docs/how-to/README.md
  docs/how-to/how-to-set-prometheus-in-k8s.md
  docs/how-to/how-to-use-k8s-with-containerd-and-kata.md
  docs/how-to/privileged.md
  docs/how-to/run-kata-with-k8s.md
Owners: @kata-containers/documentation

kata-deploy: Get back to the original kata-deploy.sh
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

build: save lines for repository_owner check
  .github/workflows/docs-url-alive-check.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

build: Mark git repos as safe for build
  tools/packaging/static-build/cloud-hypervisor/build-static-clh.sh
Owners: @kata-containers/packaging

build: Mark git repos as safe for build
  tools/packaging/static-build/cloud-hypervisor/build-static-clh.sh
Owners: @kata-containers/packaging

docs: Update URL links for containerd documentation
  docs/how-to/containerd-kata.md
Owners: @kata-containers/documentation

docs: Update URL links for containerd documentation
  docs/how-to/containerd-kata.md
Owners: @kata-containers/documentation

build: save lines for repository_owner check
  .github/workflows/docs-url-alive-check.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

build: save lines for repository_owner check
  .github/workflows/docs-url-alive-check.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-deploy-cc: Introduce the new kata-deploy for CC
  tools/packaging/kata-deploy-cc/Dockerfile
  tools/packaging/kata-deploy-cc/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

kata-deploy: Pass the config path to CRI-O
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

kata-deploy: Pass the config path to CRI-O
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

kata-deploy: Rely on the configured config path
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging
