Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

Revert "WIP: Mount layer devices"
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/device/manager/manager.go
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/fs_share.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/runtime

Revert "runtime: tell the agent that dm-verity is enabled"
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/runtime

Revert "WIP: Add support for layer devices on sandboxes"
  src/agent/mount_tar.sh
  src/agent/src/mount.rs
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/agent, @kata-containers/runtime

tardev: update how options are passed to containerd
  src/tardev-snapshotter/src/snapshotter.rs
Owners: none

Revert "agent: runtime: tardev: use host-provided dm-verity root hash"
  src/agent/src/mount.rs
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/tardev-snapshotter/src/snapshotter.rs
Owners: @kata-containers/agent, @kata-containers/runtime

gpu: Update Kernel Config
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/gpu/nvidia.conf.in
Owners: @kata-containers/kernel

gpu: Update Kernel Config
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/gpu/nvidia.conf.in
Owners: @kata-containers/kernel

gpu: Add Arm64 Kernel Settings
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/gpu/nvidia.arm64.conf.in
  tools/packaging/kernel/configs/fragments/gpu/nvidia.x86_64.conf.in
Owners: @kata-containers/packaging, @kata-containers/kernel

gpu: Update kernel building to the latest changes
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/gpu/nvidia.conf
Owners: @kata-containers/packaging, @kata-containers/kernel

gpu: Add CC relates configs
  tools/packaging/kernel/configs/fragments/gpu/nvidia.arm64.conf.in
  tools/packaging/kernel/configs/fragments/gpu/nvidia.x86_64.conf.in
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

gpu: Add Arm64 Kernel Settings
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/gpu/nvidia.arm64.conf.in
  tools/packaging/kernel/configs/fragments/gpu/nvidia.x86_64.conf.in
Owners: @kata-containers/packaging, @kata-containers/kernel

gpu: Update kernel building to the latest changes
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/gpu/nvidia.conf
Owners: @kata-containers/packaging, @kata-containers/kernel

gpu: Add CC relates configs
  tools/packaging/kernel/configs/fragments/gpu/nvidia.arm64.conf.in
  tools/packaging/kernel/configs/fragments/gpu/nvidia.x86_64.conf.in
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

gpu: Add config to TOML
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/monitor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
  src/runtime/virtcontainers/veth_endpoint_test.go
  src/runtime/virtcontainers/virtiofsd_test.go
  tools/osbuilder/image-builder/image_builder.sh
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/runtime, @kata-containers/builder, @kata-containers/packaging

vfio: Rearrange the bus assignemnt
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

vfio: Added annotation for hot(cold) plug
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

gpu: Add config to TOML
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/monitor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
  src/runtime/virtcontainers/veth_endpoint_test.go
  src/runtime/virtcontainers/virtiofsd_test.go
  tools/osbuilder/image-builder/image_builder.sh
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/runtime, @kata-containers/builder, @kata-containers/packaging

vfio: Cleanup of Cold and Hot Plug
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/documentation/api/1.0/api.md
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

gpu: Moved the PCIe configs to drivers
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/nydusd_test.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

vfio: Rearrange the bus assignemnt
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

vfio: Cleanup of Cold and Hot Plug
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/documentation/api/1.0/api.md
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

vfio: Added annotation for hot(cold) plug
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

gpu: Add config settings tests for hot-plug
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/virtcontainers/documentation/api/1.0/api.md
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

gpu: Add config settings tests for hot-plug
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/virtcontainers/documentation/api/1.0/api.md
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

runtime: Add support for GPUDirect and GPUDirect RDMA PCIe topology
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/device/drivers/vfio_test.go
  src/runtime/pkg/device/manager/manager_test.go
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/monitor.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/nydusd_test.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_arch_base_test.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
  src/runtime/virtcontainers/veth_endpoint_test.go
  src/runtime/virtcontainers/virtiofsd_test.go
  tools/osbuilder/image-builder/image_builder.sh
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/runtime, @kata-containers/builder, @kata-containers/packaging

gpu: Moved the PCIe configs to drivers
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/pkg/containerd-shim-v2/create_test.go
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/nydusd_test.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

runtime: Add support for GPUDirect and GPUDirect RDMA PCIe topology
  src/runtime/cmd/kata-runtime/kata-env.go
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/drivers/utils.go
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/pkg/device/drivers/vfio_test.go
  src/runtime/pkg/device/manager/manager_test.go
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/monitor.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/nydusd_test.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_arch_base_test.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
  src/runtime/virtcontainers/veth_endpoint_test.go
  src/runtime/virtcontainers/virtiofsd_test.go
  tools/osbuilder/image-builder/image_builder.sh
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/runtime, @kata-containers/builder, @kata-containers/packaging

gpu: Various fixes for virt machine type
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

gpu: Various fixes for virt machine type
  src/runtime/pkg/device/drivers/vfio.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

policy: add frontend-controller.yaml from k8s
  src/agent/samples/policy/yaml/kubernetes/unsupported-image/frontend-controller.yaml
Owners: @kata-containers/agent

docs: Update Developer Guide
  docs/Developer-Guide.md
Owners: @kata-containers/documentation

docs: Update Developer Guide
  docs/Developer-Guide.md
Owners: @kata-containers/documentation

policy: add node_ds.yaml sample file from k8s
  src/agent/samples/policy/yaml/kubernetes/incomplete-init/node_ds.yaml
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/volume.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: allow creation of node_ds.yaml containers
  src/agent/samples/policy/yaml/kubernetes/incomplete-init/node_ds.yaml
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/infra.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: pick up recent rules.rego changes
  src/agent/samples/policy/yaml/configmap/pod-cm1.yaml
  src/agent/samples/policy/yaml/configmap/pod-cm2.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/conformance-e2e.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/etcd-statefulset.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/netexecrc.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/job.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/multi-resource-yaml.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/rc-service.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/valid-pod.yaml
  src/agent/samples/policy/yaml/kubernetes/incomplete-init/cassandra-statefulset.yaml
  src/agent/samples/policy/yaml/kubernetes/incomplete-init/cockroachdb-statefulset.yaml
  src/agent/samples/policy/yaml/kubernetes/incomplete-init/controller.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/replica-set/replica-busy.yaml
  src/agent/samples/policy/yaml/secrets/azure-file-secrets.yaml
  src/agent/samples/policy/yaml/stateful-set/web.yaml
Owners: @kata-containers/agent

gha: ci-on-push: Run metrics tests
  .github/workflows/ci-on-push.yaml
  .github/workflows/run-launchtimes-metrics.yaml
  tests/metrics/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

gha: ci-on-push: Run metrics tests
  .github/workflows/ci-on-push.yaml
  .github/workflows/run-launchtimes-metrics.yaml
  tests/metrics/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

policy: clean-up
  src/tools/genpolicy/src/infra.rs
Owners: @kata-containers/tools

policy: fix allow_array()
  src/agent/samples/policy/yaml/configmap/pod-cm1.yaml
  src/agent/samples/policy/yaml/configmap/pod-cm2.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/conformance-e2e.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/etcd-statefulset.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/netexecrc.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/job.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/multi-resource-yaml.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/rc-service.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/valid-pod.yaml
  src/agent/samples/policy/yaml/kubernetes/incomplete-init/cassandra-statefulset.yaml
  src/agent/samples/policy/yaml/kubernetes/incomplete-init/cockroachdb-statefulset.yaml
  src/agent/samples/policy/yaml/kubernetes/incomplete-init/controller.yaml
  src/agent/samples/policy/yaml/kubernetes/incomplete-init/node_ds.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/replica-set/replica-busy.yaml
  src/agent/samples/policy/yaml/secrets/azure-file-secrets.yaml
  src/agent/samples/policy/yaml/stateful-set/web.yaml
  src/tools/genpolicy/rules.rego
Owners: @kata-containers/agent, @kata-containers/tools

policy: avoid changing the order of Pod fields
  src/tools/genpolicy/src/config_map.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/list.rs
  src/tools/genpolicy/src/no_policy.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/replica_set.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/tools

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
