Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

gha: payload-after-push: Pass registry / repo as inputs
  .github/workflows/payload-after-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: publish-kata-deploy-payload: Improve registry login
  .github/workflows/ci-on-push.yaml
  .github/workflows/publish-kata-deploy-payload-amd64.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

local-build: build-and-upload-payload is not quay.io specific
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
Owners: @kata-containers/packaging

gha: ci-on-push: Adapt chained jobs to workflow_run
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/ci-on-push.yaml
  .github/workflows/publish-kata-deploy-payload-amd64.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: ci-on-push: Adapt chained jobs to workflow_run
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/ci-on-push.yaml
  .github/workflows/publish-kata-deploy-payload-amd64.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: ci-on-push: Adjust to using workflow_run
  .github/workflows/ci-on-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

local-build: build-and-upload-payload is not quay.io specific
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
Owners: @kata-containers/packaging

gha: build-kata-static-tarball: Only push to registry after merge
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/payload-after-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: build-kata-static-tarball: Only push to registry after merge
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/payload-after-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: Add the ability to also test Dragonball
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/shell

gha: Add the ability to also test Dragonball
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/shell

gha: aks: Use D4s_v5 instance
  .github/workflows/create-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: aks: Use D4s_v5 instance
  .github/workflows/create-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-manager: Fix install kata error
  utils/kata-manager.sh
Owners: @kata-containers/shell

gha: Add SNP components to the cc-payload workflows
  .github/workflows/cc-payload-after-push-amd64.yaml
  .github/workflows/cc-payload-amd64.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: k8s-on-aks: Fix cluster name
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: k8s-on-aks: Fix cluster name
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime: Use static resource in remote hypervisor
  src/runtime/config/configuration-remote.toml.in
Owners: @kata-containers/runtime

runtime-rs/virtio-fs: add support extra handler for cache mode.
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/runtime

runtime-rs/virtio-fs: add support extra handler for cache mode.
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/runtime

CC: Revive removed runtime config for IBM SE
  src/runtime/Makefile
Owners: @kata-containers/runtime

gha: k8s-on-aks: Set {create,delete}_aks as steps
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: k8s-on-aks: Set {create,delete}_aks as steps
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: k8s-on-aks: Fix cluster name"
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: k8s-on-aks: Fix cluster name"
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: ci-on-push: Adapt chained jobs to workflow_run"
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/ci-on-push.yaml
  .github/workflows/publish-kata-deploy-payload-amd64.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: ci-on-push: Adapt chained jobs to workflow_run"
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/ci-on-push.yaml
  .github/workflows/publish-kata-deploy-payload-amd64.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: ci-on-push: Adjust to using workflow_run"
  .github/workflows/ci-on-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: ci-on-push: Adjust to using workflow_run"
  .github/workflows/ci-on-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: ci-on-push: Depend on Commit Message Check"
  .github/workflows/ci-on-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: ci-on-push: Depend on Commit Message Check"
  .github/workflows/ci-on-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: ci-on-push: Only run on `main` branch
  .github/workflows/ci-on-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: ci-on-push: Only run on `main` branch
  .github/workflows/ci-on-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime: add support for Hyper-V
  src/runtime/pkg/resourcecontrol/cgroups.go
Owners: @kata-containers/runtime

osbuilder: Add support for CBL-Mariner
  tools/osbuilder/README.md
  tools/osbuilder/rootfs-builder/cbl-mariner/Dockerfile.in
  tools/osbuilder/rootfs-builder/cbl-mariner/config.sh
  tools/osbuilder/rootfs-builder/cbl-mariner/rootfs_lib.sh
Owners: @kata-containers/builder

CODEOWNERS: Add initial codeowners file (#7)
  .github/CODEOWNERS
Owners: none

Relax the StartVM timeout
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

gha: k8s-on-aks: {create,delete} AKS must be a coded-in step
  .github/workflows/create-aks.yaml
  .github/workflows/delete-aks.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: k8s-on-aks: {create,delete} AKS must be a coded-in step
  .github/workflows/create-aks.yaml
  .github/workflows/delete-aks.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

versions: Upgrade to Cloud Hypervisor v31.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests
