Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

Revert "gatekeeper: Unrequire NVIDIA GPU test"
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

tests: export target_branch="${branch}"
  tests/common.bash
Owners: @kata-containers/tests

gha: k8s: reject unsupported KATA_HYPERVISOR values
  tests/hypervisor_helpers.sh
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

runtime-rs: preserve ccw address for modern block devices
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_blk_modern.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

agent: handle encrypted ephemeral storage for CCW block devices
  src/agent/src/storage/block_handler.rs
Owners: @kata-containers/agent

runtime-rs: don't modify initdata from annotation
  src/libs/kata-types/src/initdata.rs
Owners: @kata-containers/rust

runtime-rs: use proper temp dirs in initdata tests
  src/runtime-rs/crates/resource/src/coco_data/initdata_block.rs
Owners: @kata-containers/rust

genpolicy: include test binaries in make target build
  src/tools/genpolicy/Makefile
Owners: @kata-containers/build

test: skip CDH resource test for qemu-se without reference values
  tests/integration/kubernetes/k8s-confidential-attestation.bats
Owners: @kata-containers/tests

runtime-rs: mask systemd-networkd.socket
  src/runtime-rs/crates/hypervisor/src/kernel_param.rs
Owners: @kata-containers/rust

runtime-rs: Move KATA_PATH creation from sb_storage_path() to MgmtServer
  src/libs/shim-interface/src/lib.rs
  src/runtime-rs/crates/runtimes/src/shim_mgmt/server.rs
Owners: @kata-containers/rust

kata-ctl: Fix failures when kata-ctl exec with short id
  src/libs/shim-interface/src/lib.rs
Owners: @kata-containers/rust

libs: Fix shim-interface tests after removing create_dir_all
  src/libs/shim-interface/src/lib.rs
Owners: @kata-containers/rust

agent: use rtnetlink to add ARP neighbour
  src/agent/src/netlink.rs
Owners: @kata-containers/agent

dragonball: fix typo in VsockEpollListener doc
  src/dragonball/dbs_virtio_devices/src/vsock/mod.rs
Owners: @kata-containers/dragonball

osbuilder: Remove tests
  tools/osbuilder/Makefile
  tools/osbuilder/tests/README.md
  tools/osbuilder/tests/test_config.sh
  tools/osbuilder/tests/test_images.sh
Owners: @kata-containers/builder

agent-ctl: Move into root workspace
  Cargo.lock
  Cargo.toml
  deny.toml
  src/tools/agent-ctl/Cargo.lock
  src/tools/agent-ctl/Cargo.toml
  src/tools/agent-ctl/Makefile
Owners: @kata-containers/build

kata-deploy: fix binary location for agent-ctl
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

helm-chart: add priorityClassName to prevent kata-deploy eviction
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

runtime-rs: Extract block device storage source info logic
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

shim: Add backoff retry to ingress qdisc creation to avoid race condition
  src/runtime-rs/crates/resource/src/network/network_model/tc_filter_model.rs
  src/runtime/virtcontainers/network_linux.go
Owners: @kata-containers/rust, @kata-containers/golang

doc: Expand Maintenance.md with comprehensive feature categorization
  docs/Maintenance.md
Owners: @kata-containers/documentation

WIP: doc: Add maintenance criteria
  docs/Maintenance.md
  docs/README.md
Owners: @kata-containers/documentation

genpolicy: add --lock-digests flag
  src/tools/genpolicy/src/utils.rs
Owners: @kata-containers/rust

genpolicy: propagate image digests
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/registry_containerd.rs
Owners: @kata-containers/rust

genpolicy: emit digests back into input resources
  src/tools/genpolicy/src/cronjob.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/replica_set.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/rust

genpolicy: add image reference rules to policy
  src/tools/genpolicy/rules.rego
Owners: none

genpolicy: wip: add tests for --locked-digests
  src/tools/genpolicy/tests/policy/main.rs
Owners: @kata-containers/rust

runtime/fc: track real firecracker PID instead of jailer PID
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/fc_test.go
Owners: @kata-containers/golang

runtime-rs: virtio-fs: plumb virtio_fs_queue_size to qemu/CH
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs.rs
Owners: @kata-containers/rust

runtime-rs: ch: source virtio-fs queue size from toml
  src/runtime-rs/config/configuration-clh-runtime-rs.toml.in
  src/runtime-rs/crates/hypervisor/src/ch/inner_device.rs
Owners: @kata-containers/rust

fix: update check-markdown heading test expectations
  tests/cmd/check-markdown/heading_test.go
Owners: @kata-containers/golang

tests/agent-ctl: Add debug
  tests/functional/kata-agent-apis/setup_common.sh
Owners: @kata-containers/tests

agent-ctl: Fix CLH virtio-fs queue size configuration
  src/tools/agent-ctl/src/vm/share_fs_utils.rs
Owners: @kata-containers/rust

runtime: fix potential panic in getSelf()
  src/runtime/virtcontainers/pkg/vcmock/utils.go
Owners: @kata-containers/golang

release: Bump version to 3.31.0 Bump VERSION and helm-charts versions.
  VERSION
  tools/packaging/kata-deploy/helm-chart/kata-deploy/Chart.yaml
Owners: @kata-containers/release, @kata-containers/kata-deploy

release: correct .cargo/config.toml reference in generate_vendor.sh
  tools/packaging/release/generate_vendor.sh
Owners: @kata-containers/release

dragonball: Add basic ACPI implementation for TDX boot
  src/dragonball/dbs_acpi/src/fadt.rs
  src/dragonball/dbs_acpi/src/lib.rs
  src/dragonball/dbs_acpi/src/madt.rs
  src/dragonball/dbs_acpi/src/sdt.rs
  src/dragonball/src/vm/x86_64.rs
Owners: @kata-containers/dragonball, @kata-containers/arch-amd64

dragonball: Add implementation for KVM-managed guest memfd
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/vm/mod.rs
  src/dragonball/src/vm/x86_64.rs
Owners: @kata-containers/dragonball, @kata-containers/arch-amd64

instrument: trace post-VM-start agent path and CDI handling
  src/agent/src/device/mod.rs
  src/agent/src/rpc.rs
  src/runtime/cmd/containerd-shim-kata-v2/main.go
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/agent, @kata-containers/golang
