Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

gha: Add stability tests workflow for gha
  .github/workflows/run-containerd-stability-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: Add stability gha run script
  tests/stability/gha-run.sh
Owners: @kata-containers/shell

gha: Add stability gha run script
  tests/stability/gha-run.sh
Owners: @kata-containers/shell

ci: Move tracing tests here
  tests/functional/tracing/configure_tracing_for_kata.sh
  tests/functional/tracing/gha-run.sh
  tests/functional/tracing/test-agent-shutdown.sh
  tests/functional/tracing/tracing-test.sh
Owners: @kata-containers/shell

ci: Move tracing tests here
  tests/functional/tracing/configure_tracing_for_kata.sh
  tests/functional/tracing/gha-run.sh
  tests/functional/tracing/test-agent-shutdown.sh
  tests/functional/tracing/tracing-test.sh
Owners: @kata-containers/shell

ci: Add placeholder for runk tests
  .github/workflows/ci.yaml
  .github/workflows/run-runk-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Add placeholder for runk tests
  .github/workflows/ci.yaml
  .github/workflows/run-runk-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Port runk tests to this repo
  tests/integration/runk/gha-run.sh
  tests/integration/runk/runk-tests.sh
Owners: @kata-containers/shell

ci: Port runk tests to this repo
  tests/integration/runk/gha-run.sh
  tests/integration/runk/runk-tests.sh
Owners: @kata-containers/shell

gha: Create workflow to trigger CI with command
  .github/workflows/ci-on-pr-review.yaml
  .github/workflows/ci-on-push.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: Specify `concurrency` in `ci.yaml`
  .github/workflows/ci-nightly.yaml
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: ch: Enable feature
  src/runtime-rs/crates/hypervisor/README.md
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
Owners: @kata-containers/runtime

runtime-rs: ch: Add a TDX build feature
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/README.md
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/runtime

gha: Add containerd stability tests to ci yaml
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: Add containerd stability tests to ci yaml
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: ch: Enable feature
  src/runtime-rs/crates/hypervisor/README.md
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
Owners: @kata-containers/runtime

runtime-rs: ch: Enable feature
  src/runtime-rs/crates/hypervisor/README.md
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
Owners: @kata-containers/runtime

do-not-merge: check the current state of 3.2 branch
  README.md
Owners: @kata-containers/documentation

gha: Install hunspell for static checks
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: Add pandoc as a dependency for static checks
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

local-build: Fix .docker ownership before build-payload
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
Owners: @kata-containers/packaging

metrics: Enable latency test in gha run script
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

metrics: Add latency benchmark for gha
  .github/workflows/run-metrics.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: crio: Pass `-y` to apt
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/shell

kata-deploy: Add k0s support
  tools/packaging/kata-deploy/README.md
  tools/packaging/kata-deploy/kata-deploy/overlays/k0s/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/overlays/k0s/mount_k0s_conf.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

kata-deploy: Fix CRI-O detection
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/packaging

ci: crio: Enable default capabilities
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/shell

ci: crio: Trail '\r' from exec_host() output
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/shell

metrics: Fix C-Ray documentation
  tests/metrics/cpu/README.md
Owners: @kata-containers/documentation

metrics: Fix metrics README
  tests/metrics/README.md
Owners: @kata-containers/documentation

metrics: Fix spelling warnings
  tests/metrics/README.md
Owners: @kata-containers/documentation

metrics: Fix latency yamls path
  tests/metrics/network/latency_kubernetes/latency-network.sh
Owners: @kata-containers/shell

metrics: Add init_env function to latency test
  tests/metrics/network/latency_kubernetes/latency-network.sh
Owners: @kata-containers/shell

ci: Modify containerd default config
  tests/common.bash
Owners: @kata-containers/shell

ci: Add install_cni_plugins helper
  tests/common.bash
Owners: @kata-containers/shell

ci: Create a generic install_crio function
  tests/common.bash
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/shell

ci: Make install_kata aware of container engines
  tests/common.bash
Owners: @kata-containers/shell

ci: Add placeholder for kata-monitor tests
  .github/workflows/ci.yaml
  .github/workflows/run-kata-monitor-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: kata-monitor: Move tests over
  tests/functional/kata-monitor/gha-run.sh
  tests/functional/kata-monitor/kata-monitor-tests.sh
Owners: @kata-containers/shell

metrics: Add latency value limits for kata CI
  tests/metrics/cmd/checkmetrics/ci_worker/checkmetrics-json-clh-kata-metric8.toml
Owners: none

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
