Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

rootf: Change initrd alpine mirror
  tools/osbuilder/rootfs-builder/alpine/config.sh
Owners: @kata-containers/builder

rootfs: add missing libclang dependency in Ubuntu Dockerfile
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
Owners: @kata-containers/builder

tests: combined pod yaml creation for CoCo tests
  tests/integration/kubernetes/confidential_common.sh
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
  tests/integration/kubernetes/k8s-guest-pull-image-signature.bats
  tests/integration/kubernetes/k8s-guest-pull-image.bats
  tests/integration/kubernetes/k8s-sealed-secret.bats
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

agent: fix make test for kata-agent of dependency anyhow
  src/agent/Makefile
Owners: @kata-containers/agent

agent: Set image-rs image security policy
  src/agent/README.md
  src/agent/src/config.rs
  src/agent/src/image.rs
Owners: @kata-containers/agent

test: Add support for s390x in cosign testing
  tests/integration/kubernetes/k8s-guest-pull-image-signature.bats
Owners: @kata-containers/tests

test: add cosign signature verificaton tests
  tests/integration/kubernetes/k8s-guest-pull-image-signature.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

doc: Update how-to-run-kata-containers-with-SE-VMs.md
  docs/how-to/how-to-run-kata-containers-with-SE-VMs.md
Owners: @kata-containers/documentation

agent: add support to provide default agent policy via env
  src/agent/src/config.rs
  src/agent/src/main.rs
  src/agent/src/policy.rs
  tests/functional/kata-agent-apis/setup_common.sh
Owners: @kata-containers/agent, @kata-containers/tests

gha: Rebase build-secure-image-se atop of latest target branch
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-s390x

local-build: Fix unbound variable for lib_se.sh
  tools/packaging/guest-image/lib_se.sh
Owners: @kata-containers/packaging

kata-deploy: Switch Kubernetes URL
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/action/Dockerfile
Owners: @kata-containers/kata-deploy

ci: kata-deploy: Update kubectil install URL
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

ci: Fix indentation of install libseccomp script
  ci/install_libseccomp.sh
Owners: @kata-containers/ci, @kata-containers/tests

agent-ctl: Add SetPolicy support
  src/tools/agent-ctl/src/client.rs
  src/tools/agent-ctl/src/types.rs
  src/tools/agent-ctl/src/utils.rs
  tests/functional/kata-agent-apis/api-tests/test_set_policy.bats
  tests/functional/kata-agent-apis/setup_common.sh
Owners: @kata-containers/rust, @kata-containers/tests

ci: don't require sudo for yq if already installed
  ci/install_yq.sh
Owners: @kata-containers/ci, @kata-containers/tests

build: Fix compilation failure with Rust v1.80
  docs/Developer-Guide.md
  src/agent/Makefile
  src/libs/kata-sys-util/src/protection.rs
  src/runtime-rs/Makefile
  src/tools/agent-ctl/Makefile
  src/tools/genpolicy/Makefile
  src/tools/kata-ctl/Cross.toml
  src/tools/kata-ctl/src/arch/mod.rs
  src/tools/kata-ctl/src/arch/powerpc64/mod.rs
  src/tools/runk/Makefile
  src/tools/trace-forwarder/Makefile
  tests/common.bash
  tests/install_rust.sh
  tests/kata-arch.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
  tools/osbuilder/scripts/lib.sh
  tools/packaging/scripts/configure-hypervisor.sh
  tools/packaging/static-build/agent/Dockerfile
  tools/packaging/static-build/coco-guest-components/Dockerfile
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/shim-v2/Dockerfile
  tools/packaging/static-build/shim-v2/build.sh
  tools/packaging/static-build/virtiofsd/gnu/Dockerfile
  tools/packaging/static-build/virtiofsd/musl/Dockerfile
  utils.mk
Owners: @kata-containers/documentation, @kata-containers/agent, @kata-containers/rust, @kata-containers/build, @kata-containers/tests, @kata-containers/builder, @kata-containers/packaging

build: Fix time dependency compilation error
  src/agent/Cargo.lock
  src/dragonball/Cargo.lock
  src/dragonball/src/dbs_acpi/Cargo.lock
  src/dragonball/src/dbs_address_space/Cargo.lock
  src/dragonball/src/dbs_allocator/Cargo.lock
  src/dragonball/src/dbs_arch/Cargo.lock
  src/dragonball/src/dbs_boot/Cargo.lock
  src/dragonball/src/dbs_device/Cargo.lock
  src/dragonball/src/dbs_interrupt/Cargo.lock
  src/dragonball/src/dbs_legacy_devices/Cargo.lock
  src/dragonball/src/dbs_tdx/Cargo.lock
  src/dragonball/src/dbs_upcall/Cargo.lock
  src/libs/Cargo.lock
  src/runtime-rs/Cargo.lock
  src/tools/agent-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/runk/Cargo.lock
  src/tools/trace-forwarder/Cargo.lock
Owners: @kata-containers/agent, @kata-containers/dragonball, @kata-containers/rust

shim: Fix memory usage reporting for cgroup v2
  src/runtime/pkg/containerd-shim-v2/metrics.go
Owners: @kata-containers/golang

runtime: Enable ImageName annotation for remote hypervisor
  src/runtime/config/configuration-remote.toml.in
  src/runtime/virtcontainers/remote.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/sandbox_test.go
Owners: @kata-containers/golang

ci: Bump to 22.04
  .github/workflows/build-checks.yaml
  .github/workflows/docs-url-alive-check.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

do-not-merge | test
  .github/workflows/PR-wip-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Bump ubuntu 20.04 runners to 22.04
  .github/workflows/build-checks.yaml
  .github/workflows/docs-url-alive-check.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: handle disabled guest selinux in OCI spec
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

runtime-rs: handle disabled guest selinux in virtiofsd
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_standalone.rs
Owners: @kata-containers/rust

runtime-rs: enable/disable selinux in guest based on disable_guest_selinux
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: parse the disable_guest_selinux config key
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

release: Bump VERSION to 3.9.0
  VERSION
  tools/packaging/kata-deploy/helm-chart/kata-deploy/Chart.yaml
Owners: @kata-containers/release, @kata-containers/kata-deploy

docs: Fix qemu link
  docs/hypervisors.md
Owners: @kata-containers/documentation

acrn: Drop support
  docs/design/architecture_3.0/README.md
  docs/how-to/README.md
  docs/how-to/how-to-set-sandbox-config-kata.md
  docs/how-to/how-to-use-kata-containers-with-acrn.md
  docs/how-to/offline_cpu.sh
  docs/hypervisors.md
  src/libs/kata-types/src/annotations/mod.rs
  src/runtime-rs/Makefile
  src/runtime-rs/crates/hypervisor/src/hypervisor_persist.rs
  src/runtime/Makefile
  src/runtime/arch/amd64-options.mk
  src/runtime/cmd/kata-runtime/kata-check_amd64.go
  src/runtime/cmd/kata-runtime/kata-env_test.go
  src/runtime/config/configuration-acrn.toml.in
  src/runtime/pkg/device/drivers/block.go
  src/runtime/pkg/hypervisors/hypervisor_state.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/acrn_arch_base.go
  src/runtime/virtcontainers/acrn_arch_base_test.go
  src/runtime/virtcontainers/acrn_test.go
  src/runtime/virtcontainers/documentation/api/1.0/api.md
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/hypervisor_linux.go
  src/runtime/virtcontainers/hypervisor_test.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/persist/api/interface.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/sandbox_test.go
  src/runtime/virtcontainers/types/asset.go
  src/runtime/virtcontainers/types/asset_test.go
  src/runtime/virtcontainers/virtcontainers_test.go
Owners: @kata-containers/documentation, @kata-containers/rust, @kata-containers/golang, @kata-containers/arch-amd64

gha: Increase timeout to run k8s tests on TDX
  .github/workflows/run-kata-coco-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

docs: Fix spell checker
  docs/design/architecture_3.0/README.md
Owners: @kata-containers/documentation

tools.kata-webhook: Specify runtime class using configMap
  tools/testing/kata-webhook/deploy/webhook.yaml
  tools/testing/kata-webhook/webhook-check.sh
Owners: @kata-containers/shell

runtime-rs: extend DeviceVendor with device class
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/rust

runtime-rs: add cdi devices definition and related methods
  src/runtime-rs/crates/resource/src/cdi_devices/container_device.rs
  src/runtime-rs/crates/resource/src/cdi_devices/mod.rs
  src/runtime-rs/crates/resource/src/lib.rs
Owners: @kata-containers/rust

runtime-rs: Introduce cdi devices in container creation
  src/runtime-rs/crates/resource/src/manager.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

wip: prometheus test
  tests/integration/kubernetes/k8s-guest-pull-image.bats
  tests/integration/kubernetes/k8s-policy-hard-coded.bats
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

Revert "tests: k8s-policy-pod: add workaround for #10297"
  tests/integration/kubernetes/k8s-policy-pod.bats
Owners: @kata-containers/tests

tests: temporarily remove agent-policy in annotation for testing
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

[local] Add the dummy module to the kernel to support emissary
  tools/packaging/kernel/configs/fragments/arm64/dummy.conf
  tools/packaging/kernel/configs/fragments/x86_64/dummy.conf
Owners: @kata-containers/arch-aarch64, @kata-containers/arch-amd64

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
