Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

kata-deploy: Add qemu-nvidia-gpu-tdx-runtime-rs shim
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/binary/src/utils/system.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/try-kata-nvidia-gpu.values.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

ci: Add runtime-rs GPU shims to NVIDIA GPU CI workflow
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  tests/hypervisor_helpers.sh
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee-no-trusted-storage.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee-no-trusted-storage.yaml.in
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

versions: Bump rand crate where possible
  Cargo.lock
  Cargo.toml
  src/libs/kata-sys-util/Cargo.toml
  src/libs/kata-sys-util/src/netns.rs
  src/libs/kata-sys-util/src/rand/random_bytes.rs
  src/libs/kata-sys-util/src/rand/uuid.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_vsock.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
  src/runtime-rs/crates/resource/src/network/utils/mod.rs
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
  src/runtime-rs/tests/utils/src/lib.rs
  src/tools/agent-ctl/Cargo.lock
  src/tools/agent-ctl/Cargo.toml
  src/tools/agent-ctl/src/utils.rs
  src/tools/kata-ctl/Cargo.lock
  src/tools/trace-forwarder/Cargo.lock
Owners: @kata-containers/rust

versions: Update nydus-snapshotter to v0.15.15
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: k8s-openvpn: enable kata for init pod
  tests/integration/kubernetes/runtimeclass_workloads/openvpn/pod-openvpn-init-secrets.yaml
Owners: @kata-containers/tests

tests: k8s-openvpn: runtime handler annotations
  tests/integration/kubernetes/setup.sh
Owners: @kata-containers/tests

tests: k8s: fix add_annotations_to_yaml
  tests/integration/kubernetes/setup.sh
Owners: @kata-containers/tests

build: add arm64 tools build (genpolicy only)
  .github/workflows/build-kata-static-tarball-arm64.yaml
  tools/packaging/static-build/tools/Dockerfile
Owners: @kata-containers/arch-aarch64, @kata-containers/packaging

ci: run qemu-coco-dev-runtime-rs tests on arm64
  .github/workflows/ci.yaml
  .github/workflows/run-kata-coco-tests-arm64-k8s.yaml
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-aarch64, @kata-containers/tests

kata-deploy: add arm64 support for qemu-coco-dev shims
  docs/helm-configuration.md
  tests/gha-run-k8s-common.sh
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/try-kata-tee.values.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/kata-deploy

build: add arm64 coco-dev build dependencies
  .github/workflows/build-kata-static-tarball-arm64.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/arch-aarch64, @kata-containers/kata-deploy, @kata-containers/kernel

runtime-rs: Increase reconnect_timeout_ms for confidential VMs
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
Owners: @kata-containers/rust

tests: arm64: Skip tests which do not have a multi-arch image
  tests/integration/kubernetes/k8s-policy-deployment-sc.bats
  tests/integration/kubernetes/k8s-policy-deployment.bats
Owners: @kata-containers/tests

docs: add block volume passthrough design
  docs/design/README.md
  docs/design/block-volume-passthrough-webhook.md
Owners: @kata-containers/documentation

runtime-rs: Add BlockDeviceFormat enum to support more block formats
  src/runtime-rs/crates/hypervisor/src/device/driver/mod.rs
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_blk.rs
Owners: @kata-containers/rust

runtime-rs: Add RUNTIME_ALLOW_MOUNTS to RuntimeInfo
  src/runtime-rs/crates/shim/src/bin/main.rs
Owners: @kata-containers/rust

runtime-rs: Add format argument to hotplug_block_device method
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Change Rootfs::get_storage return type
  src/runtime-rs/crates/resource/src/rootfs/block_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/mod.rs
  src/runtime-rs/crates/resource/src/rootfs/nydus_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/share_fs_rootfs.rs
  src/runtime-rs/crates/resource/src/rootfs/virtual_volume.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

runtime-rs: Enforce read-only and shared access for RO block devices
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

qemu: Enable VMDK block format support
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/packaging

docs: Add how-to guide for using fsmerged EROFS rootfs with Kata
  docs/how-to/README.md
  docs/how-to/how-to-use-erofs-snapshotter-with-kata.md
  tests/spellcheck/kata-dictionary.txt
Owners: @kata-containers/documentation, @kata-containers/tests

agent: Register MultiLayerErofsHandler and process multiple EROFS
  src/agent/src/storage/mod.rs
Owners: @kata-containers/agent

agent: Refactor multi-layer EROFS handling with unified flow
  src/agent/src/storage/mod.rs
  src/agent/src/storage/multi_layer_erofs.rs
Owners: @kata-containers/agent

runtime-rs: Add support for handling vmdk hotplugging with scsi
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

agent: Add support for EROFS rootfs handling in kata-agent
  src/agent/src/storage/multi_layer_erofs.rs
Owners: @kata-containers/agent

kata-deploy: Complete containerd config for erofs snapshotter
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
Owners: @kata-containers/kata-deploy

runtime-rs: Add support for erofs rootfs with multi-layer
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
Owners: @kata-containers/rust

ci: erofs: Bump containerd to v2.3
  .github/workflows/run-kata-coco-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: Avoid share-rw on readonly virtio-scsi/blk devices
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

test: Improve process verification and robustness in kill test
  tests/integration/kubernetes/k8s-kill-all-process-in-container.bats
Owners: @kata-containers/tests

agent: Add virtio-scsi for multilayer erofs storage handler
  src/agent/src/storage/multi_layer_erofs.rs
Owners: @kata-containers/agent

ci: enable erofs tests with runtime-rs
  .github/workflows/run-kata-coco-tests.yaml
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

agent: Kill processes before removing container directory in destroy()
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

tests: Show full kata-deploy pod logs in CI
  tests/functional/kata-deploy/kata-deploy-custom-runtimes.bats
  tests/functional/kata-deploy/kata-deploy.bats
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

ci: erofs: restrict to runtime-rs only
  .github/workflows/run-kata-coco-tests.yaml
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/kata-deploy

runtime-rs: Add erofs rootfs handling logic in handler_rootfs
  src/runtime-rs/crates/resource/src/rootfs/mod.rs
Owners: @kata-containers/rust

tests: Update expectation for no-layer-image test case
  tests/integration/kubernetes/k8s-empty-image.bats
Owners: @kata-containers/tests

kata-ctl: Fix failures when kata-ctl exec with short id
  src/libs/shim-interface/src/lib.rs
Owners: @kata-containers/rust

runtime-rs: Support LUKS encryption for EROFS rwlayer via CDH
  src/agent/src/storage/mod.rs
  src/agent/src/storage/multi_layer_erofs.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
  src/runtime-rs/crates/shim/src/bin/main.rs
  src/runtime-rs/tests/utils/src/lib.rs
Owners: @kata-containers/agent, @kata-containers/rust

runtime-rs: add experimental features documentation
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
Owners: @kata-containers/rust
