Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

runtime-rs: Romve mem_agent from qemu-coco-dev configuration
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
Owners: @kata-containers/rust

runtime-rs: Add dan_conf to allow network devices in host netns for qemu
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
Owners: @kata-containers/rust

tests/confidentials: Remove pointless skip
  tests/integration/kubernetes/k8s-confidential.bats
Owners: @kata-containers/tests

ci: Update TEE scope
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/tests

ci: cache: qemu: Take configure-hypervisor.sh into account
  tools/packaging/scripts/lib.sh
Owners: @kata-containers/packaging

versions: Update rustls-webpki to 0.103.12
  Cargo.lock
  src/tools/agent-ctl/Cargo.lock
Owners: none

kata-deploy: Delete Cargo.lock
  tools/packaging/kata-deploy/binary/Cargo.lock
Owners: @kata-containers/kata-deploy

kata-ctl: Bump reqwest to 0.12
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/ops/exec_ops.rs
  src/tools/kata-ctl/src/ops/volume_ops.rs
Owners: @kata-containers/rust

network: preseed default-gateway neighbor
  src/runtime/virtcontainers/network.go
  src/runtime/virtcontainers/network_darwin.go
  src/runtime/virtcontainers/network_linux.go
  src/runtime/virtcontainers/network_linux_test.go
Owners: @kata-containers/golang

policy: allow neighbors with reachable state
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/tests/policy/testdata/addarpneighbors/testcases.json
Owners: @kata-containers/rust

runtime-rs: Add cdh_api_timeout configuration parameter
  src/libs/kata-types/src/config/agent.rs
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
Owners: @kata-containers/rust

runtime-rs/ch: Fix hang on pod deletion
  src/runtime-rs/crates/hypervisor/ch-config/src/ch_api.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_device.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

runtime-rs/ch: Fix errors on pod deletion
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
Owners: @kata-containers/rust

Revert "ci: k8s: Adjust timeout on free runners"
  .github/workflows/run-k8s-tests-on-free-runner.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

feat: landrun
  .github/workflows/ci.yaml
  .github/workflows/publish-kata-deploy-payload.yaml
  tools/packaging/kernel/configs/fragments/common/lsm.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/kernel

chore: remove unimportant ci
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish-kata-deploy-payload.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci

chore: remove unimportant ci
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/ci.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci

chore: remove unimportant ci
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/cleanup-resources.yaml
  .github/workflows/push-oras-tarball-cache.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
Owners: @kata-containers/arch-aarch64, @kata-containers/action-admins, @kata-containers/ci

chore: remove unimportant ci
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/cleanup-resources.yaml
  .github/workflows/push-oras-tarball-cache.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x, @kata-containers/action-admins, @kata-containers/ci

runtime-rs: Split FC spawn sequence
  src/runtime-rs/crates/hypervisor/src/firecracker/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/mod.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Fix FC spawn with network
  src/runtime-rs/crates/hypervisor/src/firecracker/fc_api.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner_device.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/network/network_pair.rs
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Add FC tests and rename rs-fc to fc-rs
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-on-free-runner.yaml
  docs/design/virtualization.md
  src/runtime-rs/Makefile
  src/runtime-rs/README.md
  src/runtime-rs/config/configuration-fc-rs.toml.in
  src/runtime-rs/crates/hypervisor/src/firecracker/fc_api.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner_device.rs
  tests/common.bash
  tests/integration/cri-containerd/gha-run.sh
  tests/integration/cri-containerd/integration-tests.sh
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-sandbox-cgroup.bats
  tests/integration/nerdctl/gha-run.sh
  tests/stability/gha-run.sh
  tests/stability/scability_test.sh
  tests/stability/soak_parallel_rm.sh
  tests/stability/stressng.sh
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/binary/src/utils/system.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/runtimeclasses.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/documentation, @kata-containers/rust, @kata-containers/tests, @kata-containers/kata-deploy

hypervisor: Enable cloud-hypervisor feature by default
  src/runtime-rs/crates/hypervisor/Cargo.toml
Owners: @kata-containers/rust

ci: k8s-tests: test mariner and runtime-rs
  .github/workflows/run-k8s-tests-on-aks.yaml
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

runtime-rs: Add vCPU thread pinning support
  Cargo.lock
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/runtime.rs
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/cgroups/cgroup_persist.rs
  src/runtime-rs/crates/resource/src/cgroups/mod.rs
  src/runtime-rs/crates/resource/src/cgroups/resource.rs
  src/runtime-rs/crates/resource/src/cgroups/resource_inner.rs
  src/runtime-rs/tests/texture/configuration-qemu.toml
Owners: @kata-containers/rust

dragonball: add KSM support via mem_merge + mem_type config
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/test_utils.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vm/mod.rs
  src/libs/kata-types/src/config/hypervisor/dragonball.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/tests/test_config.rs
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
Owners: @kata-containers/dragonball, @kata-containers/rust

tests: k8s: policy: improve settings selection for runtime-rs hypervisors
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

ci: k8s-tests: test mariner and runtime-rs
  .github/workflows/run-k8s-tests-on-aks.yaml
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/tests_common.sh
  tools/testing/gatekeeper/required-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

tests: k8s: policy: improve settings selection for runtime-rs hypervisors
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

docs: Update kernel modules loading document
  docs/how-to/how-to-load-kernel-modules-with-kata.md
Owners: @kata-containers/documentation

docs: Remove obsolete and update documentation index
  docs/.nav.yml
  docs/use-cases/GPU-passthrough-and-Kata.md
  docs/use-cases/Intel-Discrete-GPU-passthrough-and-Kata.md
  docs/use-cases/Intel-GPU-passthrough-and-Kata.md
Owners: @kata-containers/documentation

docs: Update SPDK vhost-user guide with CSI driver
  docs/use-cases/using-SPDK-vhostuser-and-kata.md
Owners: @kata-containers/documentation

kata-deploy: Remove untested arm64 and qemu-cca shim support
  docs/helm-configuration.md
  tools/packaging/kata-deploy/helm-chart/kata-deploy/try-kata-nvidia-gpu.values.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/try-kata-tee.values.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/kata-deploy

agent: add required features for standalone build
  src/agent/policy/Cargo.toml
Owners: @kata-containers/agent

genpolicy: restrict symlinks in CopyFile
  Cargo.lock
  src/agent/policy/Cargo.toml
  src/agent/policy/src/policy.rs
  src/agent/src/policy.rs
  src/agent/src/rpc.rs
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/copyfile/testcases.json
Owners: @kata-containers/agent, @kata-containers/rust

agent: fix naming for symlinks in CopyFile
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

release: Bump version to 3.29.0
  VERSION
  tools/packaging/kata-deploy/helm-chart/kata-deploy/Chart.yaml
Owners: @kata-containers/release, @kata-containers/kata-deploy

Suppress errors in sourced script
  tools/osbuilder/rootfs-builder/cbl-mariner/config.sh
Owners: @kata-containers/builder

runtime-rs: fix resource leak on container create/start failure
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

ci: remove unmaintained CoCo stability test workflows
  .github/workflows/ci-coco-stability.yaml
  .github/workflows/ci-weekly.yaml
  .github/workflows/run-kata-coco-stability-tests.yaml
  tests/stability/gha-stability-run.sh
  tests/stability/kubernetes_soak_test.sh
  tests/stability/kubernetes_stability.sh
  tests/stability/kubernetes_stressng.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests
