Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

lib: Fix `mismatched_lifetime_syntaxes` issue
  src/libs/kata-types/src/utils/u32_set.rs
Owners: @kata-containers/rust

agent: Fix clippy::io_other_error issue
  src/agent/src/util.rs
Owners: @kata-containers/agent

runtime-rs: Fix clippy::io_other_error issue
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
  src/runtime-rs/crates/resource/src/volume/utils.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/container_io.rs
Owners: @kata-containers/rust

dragonball: Fix `mismatched_lifetime_syntaxes` issue
  src/dragonball/dbs_address_space/src/memory/hybrid.rs
  src/dragonball/dbs_address_space/src/memory/raw_region.rs
  src/dragonball/dbs_pci/src/vfio.rs
  src/dragonball/dbs_pci/src/virtio_pci.rs
  src/dragonball/dbs_virtio_devices/src/mmio/mmio_v2.rs
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/block.rs
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/fs.rs
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/net.rs
  src/dragonball/src/config_manager.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/vm/aarch64.rs
Owners: @kata-containers/dragonball, @kata-containers/arch-aarch64

libs: Fix clippy::io_other_error issue
  src/libs/kata-sys-util/src/device.rs
  src/libs/kata-sys-util/src/fs.rs
  src/libs/kata-sys-util/src/hooks.rs
  src/libs/kata-sys-util/src/lib.rs
  src/libs/kata-types/src/config/agent.rs
  src/libs/kata-types/src/config/drop_in.rs
  src/libs/kata-types/src/config/hypervisor/ch.rs
  src/libs/kata-types/src/config/hypervisor/dragonball.rs
  src/libs/kata-types/src/config/hypervisor/firecracker.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/src/config/hypervisor/qemu.rs
  src/libs/kata-types/src/config/hypervisor/remote.rs
  src/libs/kata-types/src/config/mod.rs
  src/libs/kata-types/src/config/runtime.rs
  src/libs/kata-types/src/config/runtime_vendor.rs
  src/libs/kata-types/src/config/shared_mount.rs
  src/libs/kata-types/src/lib.rs
  src/libs/logging/src/file_rotate.rs
  src/libs/logging/src/lib.rs
  src/libs/protocols/build.rs
  src/libs/safe-path/src/pinned_path_buf.rs
  src/libs/safe-path/src/scoped_dir_builder.rs
  src/libs/safe-path/src/scoped_path_resolver.rs
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

agent: Fix dead_code warning
  src/agent/src/device/block_device_handler.rs
  src/agent/src/storage/block_handler.rs
Owners: @kata-containers/agent

runtime-rs: Prevent doc test issue
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

dragonball: Fix pointer equality check
  src/dragonball/src/vcpu/vcpu_impl.rs
Owners: @kata-containers/dragonball

agent-ctl: Remove unnecessary unwrap
  src/tools/agent-ctl/src/client.rs
Owners: @kata-containers/rust

runtime-rs: Remove dead code
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/resource/src/network/network_pair.rs
Owners: @kata-containers/rust

runtime-rs: Fix char_indices_as_byte_indices
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

dragonball: Avoid manual implementation of ok
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/connection.rs
Owners: @kata-containers/dragonball

dragonball: Remove doc overindentation
  src/dragonball/dbs_address_space/src/memory/hybrid.rs
  src/dragonball/dbs_device/src/device_manager.rs
  src/dragonball/dbs_virtio_devices/src/vsock/csm/connection.rs
Owners: @kata-containers/dragonball

runtime-rs: Fix manual_contains
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Improve map iteration
  src/runtime-rs/crates/resource/src/cpu_mem/cpu.rs
Owners: @kata-containers/rust

genpolicy: Allow dead_code
  src/tools/genpolicy/src/pod_template.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/rust

dragonball: Fix length comparison to zero
  src/dragonball/dbs_pci/src/vfio.rs
Owners: @kata-containers/dragonball

libs: Remove doc overindentation
  src/libs/safe-path/src/scoped_path_resolver.rs
Owners: @kata-containers/rust

lib: Fix missing copyright and license
  src/libs/kata-types/src/config/shared_mount.rs
Owners: @kata-containers/rust

dragonball: Replace manual div_ceil
  src/dragonball/dbs_pci/src/vfio.rs
Owners: @kata-containers/dragonball

dragonball: Remove unnecessary unwrap
  src/dragonball/dbs_virtio_devices/src/vhost/vhost_user/connection.rs
Owners: @kata-containers/dragonball

tests: nvidia: Use secret for NGC API key
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

tests: nvidia: Update images, probes and timeouts
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

kata-deploy: rust: Add list verb for runtimeclasses RBAC
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
Owners: @kata-containers/kata-deploy

ci: erofs: Delete CI for now
  .github/workflows/run-kata-coco-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: Pin Kubernetes to v1.34 due to broken v1.35 deps
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

libs: Introduce skip_if_kvm_unaccessable macro
  Cargo.lock
  src/libs/test-utils/Cargo.toml
  src/libs/test-utils/src/lib.rs
Owners: @kata-containers/rust

nydus-snapshotter: Bump to v0.15.10
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/Dockerfile.rust
  versions.yaml
Owners: @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

nvidia: Bump nvidia-container-toolkit to 1.18.1
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
Owners: @kata-containers/builder

nvidia: Add option to install drivers from NVIDIA repository
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
Owners: @kata-containers/builder

nvidia: Switch default to NVIDIA repository drivers (590)
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

kata-deploy: rust: Add list verb for runtimeclasses RBAC
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
Owners: @kata-containers/kata-deploy

nydus-snapshotter: Bump to v0.15.10
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/Dockerfile.rust
  versions.yaml
Owners: @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

nvidia: cc: Use nydus-snapshotter
  tools/packaging/kata-deploy/helm-chart/kata-deploy/try-kata-nvidia-gpu.values.yaml
Owners: @kata-containers/kata-deploy

tests: remove re-delcared local variable in k8s-empty-dirs.bats
  tests/integration/kubernetes/k8s-empty-dirs.bats
Owners: @kata-containers/tests

tests: nvidia: cc: Use nydus-snapshotter
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

docs: Add mkdocs-material docs generation
  .github/workflows/docs.yaml
  Makefile
  docs/Dockerfile
  docs/assets/favicon.svg
  docs/blog/index.md
  docs/index.md
  docs/misc/Blog-Post-Submission-Guide.md
  docs/misc/Debug-shim-guide.md
  docs/misc/Developer-Guide.md
  docs/misc/Documentation-Requirements.md
  docs/misc/Licensing-strategy.md
  docs/misc/Limitations.md
  docs/misc/Release-Process.md
  docs/misc/Toochain-Guidance.md
  docs/misc/Unit-Test-Advice.md
  docs/misc/Upgrading.md
  docs/misc/code-pr-advice.md
  docs/misc/hypervisors.md
  docs/misc/tracing.md
  docs/requirements.txt
  mkdocs.yml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/build, @kata-containers/documentation

kata-deploy: Fix nydus-snapshotter boolean config in drop-in files
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

nydus-snapshotter: Ensure daemon_mode = "none"
  tools/packaging/kata-deploy/nydus-snapshotter/config-guest-pulling.toml
Owners: @kata-containers/kata-deploy

kata-deploy: Set discard_unpacked_layers=false for nydus-snapshotter
  tools/packaging/kata-deploy/binary/src/artifacts/snapshotters.rs
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy
