Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

Revert "osbuilder: Multistrap Ubuntu"
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
  tools/osbuilder/rootfs-builder/ubuntu/rootfs_lib.sh
  tools/osbuilder/scripts/lib.sh
Owners: @kata-containers/builder

docs: fix markdown issues in how-to-run-docker-with-kata.md
  docs/how-to/how-to-run-docker-with-kata.md
Owners: @kata-containers/documentation

docs: fix markdown issues in how-to-run-docker-with-kata.md
  docs/how-to/how-to-run-docker-with-kata.md
Owners: @kata-containers/documentation

virtcontainers: Run mock hook from build tree rather than system bin dir
  src/runtime/Makefile
  src/runtime/pkg/katautils/hook_test.go
Owners: @kata-containers/runtime

virtcontainers: Run mock hook from build tree rather than system bin dir
  src/runtime/Makefile
  src/runtime/pkg/katautils/hook_test.go
Owners: @kata-containers/runtime

virtcontainers: Remove unused install/uninstall targets
  src/runtime/virtcontainers/Makefile
Owners: @kata-containers/runtime

virtcontainers: Remove unused install/uninstall targets
  src/runtime/virtcontainers/Makefile
Owners: @kata-containers/runtime

runtime: Move mock hook source
  src/runtime/Makefile
  src/runtime/pkg/katautils/hook_test.go
  src/runtime/pkg/katautils/mockhook/.gitignore
  src/runtime/pkg/katautils/mockhook/Makefile
  src/runtime/pkg/katautils/mockhook/hook.go
  src/runtime/virtcontainers/Makefile
Owners: @kata-containers/runtime

runtime: Move mock hook source
  src/runtime/Makefile
  src/runtime/pkg/katautils/hook_test.go
  src/runtime/pkg/katautils/mockhook/.gitignore
  src/runtime/pkg/katautils/mockhook/Makefile
  src/runtime/pkg/katautils/mockhook/hook.go
  src/runtime/virtcontainers/Makefile
Owners: @kata-containers/runtime

CCv0: Fix merge error
  src/agent/src/rpc.rs
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
Owners: @kata-containers/agent, @kata-containers/builder

docs: Remove VPP documentation
  docs/README.md
  docs/use-cases/using-vpp-and-kata.md
Owners: @kata-containers/documentation

docs: Remove VPP documentation
  docs/README.md
  docs/use-cases/using-vpp-and-kata.md
Owners: @kata-containers/documentation

docs: Update vcpu handling document
  docs/design/vcpu-handling.md
Owners: @kata-containers/documentation

docs: Update vcpu handling document
  docs/design/vcpu-handling.md
Owners: @kata-containers/documentation

tools/osbuilder: build rootfs with ubuntu
  tools/osbuilder/dockerfiles/QAT/Dockerfile
Owners: @kata-containers/builder

tools/osbuilder: build image using pull request code
  tools/osbuilder/dockerfiles/QAT/run.sh
Owners: @kata-containers/builder

tools/packaging/kata-deploy/local-build: Add build to gitignore
  tools/packaging/kata-deploy/local-build/.gitignore
Owners: @kata-containers/packaging

packaging: Eliminate TTY_OPT and NO_TTY variables in kata-deploy
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

packaging/kata-deploy/local-build: Don't enforce verbosity
  tools/packaging/kata-deploy/local-build/Makefile
Owners: @kata-containers/packaging

packaging/kata-deploy/local-build: Drop parallel builds
  tools/packaging/kata-deploy/local-build/Makefile
Owners: @kata-containers/packaging

tools/osbuilder: specify a fullpath for multistrap config file
  tools/osbuilder/rootfs-builder/ubuntu/rootfs_lib.sh
Owners: @kata-containers/builder

kernel: fix cve-2022-0847
  tools/packaging/kernel/kata_config_version
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

manager: Create containerd link
  utils/kata-manager.sh
Owners: @kata-containers/shell

manager: Add option to enable component debug
  utils/kata-manager.sh
Owners: @kata-containers/shell

manager: Add options to change self test behaviour
  utils/kata-manager.sh
Owners: @kata-containers/shell

doc: fix filename typo
  tools/packaging/kata-deploy/README.md
Owners: @kata-containers/packaging

virtcontainers: Run mock hook from build tree rather than system bin dir
  src/runtime/Makefile
  src/runtime/pkg/katautils/hook_test.go
Owners: @kata-containers/runtime

runtime-rs: agent implements
  src/libs/kata-types/src/config/agent.rs
  src/libs/kata-types/src/config/mod.rs
  src/runtime-rs/Cargo.lock
  src/runtime-rs/Cargo.toml
  src/runtime-rs/crates/agent/Cargo.toml
  src/runtime-rs/crates/agent/src/kata/agent.rs
  src/runtime-rs/crates/agent/src/kata/mod.rs
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/lib.rs
  src/runtime-rs/crates/agent/src/log_forwarder.rs
  src/runtime-rs/crates/agent/src/sock/hybrid_vsock.rs
  src/runtime-rs/crates/agent/src/sock/mod.rs
  src/runtime-rs/crates/agent/src/sock/vsock.rs
  src/runtime-rs/crates/agent/src/types.rs
Owners: @kata-containers/runtime

osbuilder/qat: use centos as base OS
  tools/osbuilder/dockerfiles/QAT/Dockerfile
Owners: @kata-containers/builder

osbuilder/qat: use centos as base OS
  tools/osbuilder/dockerfiles/QAT/Dockerfile
Owners: @kata-containers/builder

docs: Update k8s documentation
  docs/how-to/run-kata-with-k8s.md
Owners: @kata-containers/documentation

runtime: Add more debug logs for container io stream copy
  src/runtime/pkg/containerd-shim-v2/start.go
  src/runtime/pkg/containerd-shim-v2/stream.go
  src/runtime/pkg/containerd-shim-v2/stream_test.go
  src/runtime/pkg/containerd-shim-v2/wait.go
Owners: @kata-containers/runtime

runtime: Add more debug logs for container io stream copy
  src/runtime/pkg/containerd-shim-v2/start.go
  src/runtime/pkg/containerd-shim-v2/stream.go
  src/runtime/pkg/containerd-shim-v2/stream_test.go
  src/runtime/pkg/containerd-shim-v2/wait.go
Owners: @kata-containers/runtime

runtime-rs: Make macros in agent crate more readable
  src/runtime-rs/crates/agent/src/kata/agent.rs
Owners: @kata-containers/runtime

docs: Update to reflect logging changes
  docs/how-to/ccv0.sh
  docs/how-to/how-to-build-and-test-ccv0.md
Owners: @kata-containers/documentation

packaging: Eliminate TTY_OPT and NO_TTY variables in kata-deploy
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

tools/packaging/kata-deploy/local-build: Add build to gitignore
  .gitignore
  tools/packaging/kata-deploy/local-build/.gitignore
Owners: @kata-containers/packaging

tools/packaging/kata-deploy/local-build: Add build to gitignore
  .gitignore
  tools/packaging/kata-deploy/local-build/.gitignore
Owners: @kata-containers/packaging

packaging: Eliminate TTY_OPT and NO_TTY variables in kata-deploy
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

tools/packaging/kata-deploy: Copy install_yq.sh in a dedicated script
  .github/workflows/release.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-copy-yq-installer.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/packaging

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
