Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

k8s: Add k8s test for attestation agent
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/runtimeclass_workloads/pod-attestable.yaml
Owners: @kata-containers/tests

tests: k8s: k8s-exec.bats auto-generated policy
  tests/integration/kubernetes/k8s-exec.bats
Owners: @kata-containers/tests

clh: initialize clh pid before using it
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/golang

clh: add support for use_legacy_serial option
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/runtime/config/configuration-clh.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/documentation, @kata-containers/golang

policy: Support image sharing integrity information check
  src/tools/genpolicy/rules.rego
Owners: none

kata-types: Introduce implementation for `DmVerityInfo`
  src/agent/Cargo.lock
  src/libs/Cargo.lock
  src/libs/kata-types/Cargo.toml
  src/libs/kata-types/src/dmverity.rs
  src/libs/kata-types/src/lib.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent, @kata-containers/rust

kata-types: Add unit tests for DmVerityInfo
  src/libs/kata-types/src/dmverity.rs
Owners: @kata-containers/rust

runtime: Pass raw block disk image with dm-verity to guest
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/golang

runtime: support overlay multiple lowerdirs
  src/runtime/virtcontainers/fs_share_linux.go
Owners: @kata-containers/golang

agent: introduce DmVerityHandler to support dm-verity volume
  src/agent/src/storage/block_handler.rs
  src/agent/src/storage/dm_verity.rs
  src/agent/src/storage/mod.rs
  src/libs/kata-types/src/lib.rs
  src/libs/kata-types/src/volume.rs
Owners: @kata-containers/agent, @kata-containers/rust

libs|agent: Add dm-verity feature for DmVerityInfo
  src/agent/Cargo.toml
  src/agent/Makefile
  src/agent/src/storage/block_handler.rs
  src/agent/src/storage/mod.rs
  src/libs/Makefile
  src/libs/kata-types/Cargo.toml
  src/libs/kata-types/src/lib.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/agent, @kata-containers/rust

agent: create directories to mount filesystem by overlay
  src/agent/src/storage/fs_handler.rs
  src/libs/kata-sys-util/src/mount.rs
  src/libs/kata-types/src/volume.rs
Owners: @kata-containers/agent, @kata-containers/rust

runtime-rs: make NetnsGuard common for hypervisor and resource.
  src/libs/Cargo.lock
  src/libs/kata-sys-util/Cargo.toml
  src/libs/kata-sys-util/src/lib.rs
  src/libs/kata-sys-util/src/netns.rs
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/network/dan.rs
  src/runtime-rs/crates/resource/src/network/mod.rs
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
  src/runtime-rs/crates/resource/src/network/utils/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/manager.rs
Owners: @kata-containers/rust

runtime-rs: make the code for cleanup fd flags as public method.
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
Owners: @kata-containers/rust

runtime-rs: add a public method to support process entering netns.
  src/runtime-rs/crates/hypervisor/src/utils.rs
Owners: @kata-containers/rust

runtime-rs: add a new netns field in struct QemuInner.
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: add network device handler in start_vm.
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: set network namespace for qemu process and netdev.
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: add network helpers and impl ToQemuParams
  src/runtime-rs/crates/hypervisor/src/device/driver/virtio_net.rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/hypervisor/src/qemu/network.rs
Owners: @kata-containers/rust

runtime-rs: add open_named_tuntap to open a named tuntap device.
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/utils.rs
Owners: @kata-containers/rust

runtime-rs: add network device into Qemu's cmdline
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/network.rs
Owners: @kata-containers/rust

ci.ocp: Ignore selinux setup on non-selinux cluster
  ci/openshift-ci/cluster/deployments/relabel_selinux.yaml
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Allow to re-apply the selinux workaround
  ci/openshift-ci/cluster/deployments/relabel_selinux.yaml
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Wait for all pods to finish the work
  ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Always replace the kata-deploy image in OCP pipeline
  ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Add a workaround to optionally enable skip_mount_home
  ci/openshift-ci/cluster/deployments/workaround-9206-crio-ds.yaml
  ci/openshift-ci/cluster/deployments/workaround-9206-crio.yaml
  ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Turn selinux relabel failures into warnings
  ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Increase the mcp update timeout
  ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Allow to override the kata-deploy image
  ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Add a cleanup script
  ci/openshift-ci/cleanup.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci.ocp: Log the full grepped line rather than the expected msg
  ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

tests: k8s: k8s-pid-ns.bats auto-generated policy
  tests/integration/kubernetes/k8s-pid-ns.bats
Owners: @kata-containers/tests

gha: ensure that self hosted runner is prepared before running the workflow
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/publish-kata-deploy-payload-ppc64le.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/run-cri-containerd-tests-ppc64le.yaml
  .github/workflows/run-k8s-tests-on-ppc64le.yaml
Owners: @kata-containers/arch-ppc64le

kata-agent: CreateContainer Hook
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

kata-agent: Change order of guest hook and bind mount processing
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

osbuilder: Install dependencies with dm-verity in rootfs
  tools/osbuilder/image-builder/image_builder.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/builder, @kata-containers/kata-deploy

kernel: enabling config of dm-verity support in kernel
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/kata_config_version
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kata-deploy, @kata-containers/kernel, @kata-containers/packaging

packaging: support static-build for agent on host sharing
  tools/packaging/static-build/agent/build-static-agent.sh
  tools/packaging/static-build/agent/build.sh
Owners: @kata-containers/packaging

gha: add tests for image sharing
  tests/integration/kubernetes/k8s-host-sharing-image-with-verity.bats
Owners: @kata-containers/tests

qemu: Add CDI device handling for any container type
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/pkg/device/config/config.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
