Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

policy: add policy to conformance-e2e.yaml sample
  src/agent/samples/policy/yaml/configmap/pod-cm1.yaml
  src/agent/samples/policy/yaml/configmap/pod-cm2.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/conformance-e2e.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/job.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/multi-resource-yaml.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-service.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/valid-pod.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/rc-service.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/valid-pod.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/replica-set/replica-busy.yaml
  src/agent/samples/policy/yaml/stateful-set/web.yaml
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/infra.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: add cassandra controller.yaml from k8s
  src/agent/samples/policy/yaml/kubernetes/conformance/controller.yaml
  src/tools/genpolicy/src/config_map.rs
  src/tools/genpolicy/src/pod.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: volumeMounts for ReplicationController
  src/agent/samples/policy/yaml/kubernetes/conformance/controller.yaml
  src/tools/genpolicy/src/replication_controller.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: apply controller.yaml successfully
  src/agent/samples/policy/yaml/configmap/pod-cm1.yaml
  src/agent/samples/policy/yaml/configmap/pod-cm2.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/conformance-e2e.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/controller.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/job.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/multi-resource-yaml.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/rc-service.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/valid-pod.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/replica-set/replica-busy.yaml
  src/agent/samples/policy/yaml/stateful-set/web.yaml
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/replication_controller.rs
Owners: @kata-containers/agent, @kata-containers/tools

agent-ctl: fix the compile error
  src/agent/Cargo.lock
  src/libs/Cargo.lock
  src/libs/kata-sys-util/Cargo.toml
  src/runtime-rs/Cargo.lock
  src/tools/agent-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/runk/Cargo.lock
Owners: @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools

agent-ctl: fix the compile error
  src/agent/Cargo.lock
  src/libs/Cargo.lock
  src/libs/kata-sys-util/Cargo.toml
  src/runtime-rs/Cargo.lock
  src/tools/agent-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/runk/Cargo.lock
Owners: @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools

log-parser: Update log parser link at README
  src/tools/log-parser-rs/README.md
Owners: @kata-containers/tools

log-parser: Update log parser link at README
  src/tools/log-parser-rs/README.md
Owners: @kata-containers/tools

ensure entire ram is available for tmpfs when using staticResourceMgmt
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

release: bump to 2.4.1-apple-010
  VERSION
Owners: @kata-containers/release

fix sandbox config reference
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

set default memory to 256MB
  src/runtime/Makefile
Owners: @kata-containers/runtime

release: bump version to 2.4.1-apple-011
  VERSION
Owners: @kata-containers/release

policy: add k8s cassandra statefulset.yaml sample
  src/agent/samples/policy/yaml/kubernetes/conformance/statefulset.yaml
  src/tools/genpolicy/src/pause_container.rs
  src/tools/genpolicy/src/pod.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: add support for container Capabilities
  src/agent/samples/policy/yaml/kubernetes/conformance/statefulset.yaml
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: add env variable substitution
  src/agent/samples/policy/yaml/kubernetes/conformance/statefulset.yaml
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

packaging: Add cryptsetup support in Guest kernel and rootfs
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/common/confidential_containers/cryptsetup.conf
  tools/packaging/kernel/configs/fragments/x86_64/crypto.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/builder, @kata-containers/packaging, @kata-containers/kernel

packaging: Add cryptsetup support in Guest kernel and rootfs
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/common/confidential_containers/cryptsetup.conf
  tools/packaging/kernel/configs/fragments/x86_64/crypto.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/builder, @kata-containers/packaging, @kata-containers/kernel

image-build: generate root hash as an separate partition for rootfs
  tools/osbuilder/image-builder/Dockerfile
  tools/osbuilder/image-builder/image_builder.sh
Owners: @kata-containers/builder

image-build: generate root hash as an separate partition for rootfs
  tools/osbuilder/image-builder/Dockerfile
  tools/osbuilder/image-builder/image_builder.sh
Owners: @kata-containers/builder

initramfs: Add build script to generate initramfs
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/initramfs/Dockerfile
  tools/packaging/static-build/initramfs/build-initramfs.sh
  tools/packaging/static-build/initramfs/build.sh
  tools/packaging/static-build/initramfs/init.sh
  tools/packaging/static-build/initramfs/initramfs.list
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

initramfs: Add build script to generate initramfs
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/initramfs/Dockerfile
  tools/packaging/static-build/initramfs/build-initramfs.sh
  tools/packaging/static-build/initramfs/build.sh
  tools/packaging/static-build/initramfs/init.sh
  tools/packaging/static-build/initramfs/initramfs.list
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

kata-sys-util: Fix rust compile errors
  src/agent/Cargo.lock
  src/libs/Cargo.lock
  src/libs/kata-sys-util/Cargo.toml
  src/runtime-rs/Cargo.lock
  src/tools/agent-ctl/Cargo.lock
  src/tools/agent-ctl/Cargo.toml
  src/tools/runk/Cargo.lock
Owners: @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools

kernel: Integrate initramfs into Guest kernel
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/common/confidential_containers/initramfs.conf
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kernel, @kata-containers/packaging

kernel: Integrate initramfs into Guest kernel
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/common/confidential_containers/initramfs.conf
  tools/packaging/static-build/kernel/build.sh
Owners: @kata-containers/kernel, @kata-containers/packaging

config: Add root hash value and measure config to kernel params
  src/runtime/Makefile
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/runtime, @kata-containers/packaging

config: Add root hash value and measure config to kernel params
  src/runtime/Makefile
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/runtime, @kata-containers/packaging

packaging: Add rootfs-image-tdx-tarball target
  .github/workflows/build-kata-static-tarball-amd64.yaml
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/packaging

packaging: Add rootfs-image-tdx-tarball target
  .github/workflows/build-kata-static-tarball-amd64.yaml
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/packaging

agent: Update image-rs to v0.6.0
  src/agent/Cargo.lock
  src/agent/Cargo.toml
Owners: @kata-containers/agent

versions: Update td-shim to v0.6.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update attestation-agent to v0.6.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

gha: aks: Fix argument in call to gha-run.sh
  .github/workflows/run-k8s-tests-on-aks.yaml
  tests/integration/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

gha: aks: Fix argument in call to gha-run.sh
  .github/workflows/run-k8s-tests-on-aks.yaml
  tests/integration/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

tests: gha-run: Use correct env variable for repo
  tests/integration/gha-run.sh
Owners: @kata-containers/shell

tests: gha-run: Use correct env variable for repo
  tests/integration/gha-run.sh
Owners: @kata-containers/shell

policy: start statefulset.yaml containers and apps
  src/agent/samples/policy/yaml/configmap/pod-cm1.yaml
  src/agent/samples/policy/yaml/configmap/pod-cm2.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/conformance-e2e.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/controller.yaml
  src/agent/samples/policy/yaml/kubernetes/conformance/statefulset.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/job.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/multi-resource-yaml.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/rc-service.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures2/valid-pod.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/replica-set/replica-busy.yaml
  src/agent/samples/policy/yaml/stateful-set/web.yaml
  src/agent/src/policy.rs
  src/agent/src/rpc.rs
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: add mysql-galera statefulset.yaml from k8s
  src/agent/samples/policy/yaml/kubernetes/conformance/mysql-galera-statefulset.yaml
  src/tools/genpolicy/src/pod.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: test using container image from AKS
  src/agent/samples/policy/yaml/configmap/pod-cm2.yaml
Owners: @kata-containers/agent

runtime: fix vmcache for qemu vm
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/vm.go
Owners: @kata-containers/runtime

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
