Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

runtime-rs: Improve vsock connect with spawn_blocking and backoff
  src/runtime-rs/crates/agent/src/sock/vsock.rs
Owners: @kata-containers/rust

runtime-rs: Add configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/Makefile
  src/runtime-rs/arch/x86_64-options.mk
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
Owners: @kata-containers/rust, @kata-containers/arch-amd64

runtime-rs: Wire VFIO cold-plug into QEMU inner
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

dragonball: Allow guest VM to load tdshim firmware for booting
  Cargo.lock
  src/dragonball/Cargo.toml
  src/dragonball/dbs_address_space/src/layout.rs
  src/dragonball/dbs_address_space/src/region.rs
  src/dragonball/dbs_boot/src/firmware/mod.rs
  src/dragonball/dbs_boot/src/firmware/tdshim/hob.rs
  src/dragonball/dbs_boot/src/firmware/tdshim/mod.rs
  src/dragonball/dbs_boot/src/firmware/tdshim/section.rs
  src/dragonball/dbs_boot/src/lib.rs
  src/dragonball/dbs_boot/src/x86_64/layout.rs
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/api/v1/boot_source.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
  src/dragonball/src/test_utils.rs
  src/dragonball/src/vcpu/aarch64.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vcpu/x86_64.rs
  src/dragonball/src/vm/aarch64.rs
  src/dragonball/src/vm/kernel_config.rs
  src/dragonball/src/vm/mod.rs
  src/dragonball/src/vm/x86_64.rs
Owners: @kata-containers/dragonball, @kata-containers/arch-amd64, @kata-containers/arch-aarch64

workflows: Add concurrency limits
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/basic-ci-s390x.yaml
  .github/workflows/build-checks-preview-riscv64.yaml
  .github/workflows/build-checks.yaml
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-riscv64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/build-kubectl-image.yaml
  .github/workflows/ci-devel.yaml
  .github/workflows/ci-nightly-s390x.yaml
  .github/workflows/ci.yaml
  .github/workflows/cleanup-resources.yaml
  .github/workflows/codeql.yml
  .github/workflows/create-auth-registry-image.yaml
  .github/workflows/docs-url-alive-check.yaml
  .github/workflows/docs.yaml
  .github/workflows/gatekeeper-skipper.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/osv-scanner.yaml
  .github/workflows/publish-kata-deploy-payload.yaml
  .github/workflows/push-oras-tarball-cache.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-ppc64le.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/release.yaml
  .github/workflows/run-cri-containerd-tests.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-k8s-tests-on-arm64.yaml
  .github/workflows/run-k8s-tests-on-free-runner.yaml
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
  .github/workflows/run-k8s-tests-on-ppc64le.yaml
  .github/workflows/run-k8s-tests-on-zvsi.yaml
  .github/workflows/run-kata-coco-tests-arm64-k8s.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests.yaml
  .github/workflows/run-kata-monitor-tests.yaml
  .github/workflows/scorecard.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-s390x, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le

workflows: Fix version on pinned action
  .github/workflows/build-kubectl-image.yaml
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: Bump zizmor to 1.22
  .github/workflows/zizmor.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: Add timeouts
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/build-checks.yaml
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

genpolicy: make FileType::from portable across Darwin
  src/agent/policy/src/policy.rs
Owners: @kata-containers/agent

runtime-rs: Use OsStr empty checks for mount path validation
  src/libs/kata-sys-util/src/mount.rs
Owners: @kata-containers/rust

runtime-rs: Allow unused_unsafe around CPUID for mixed rustc versions
  src/dragonball/dbs_arch/src/x86_64/cpuid/brand_string.rs
  src/dragonball/dbs_arch/src/x86_64/cpuid/common.rs
  src/libs/kata-sys-util/src/protection.rs
Owners: @kata-containers/arch-amd64, @kata-containers/rust

runtime-go: fixes early closed stdout/err on exec w/o stdin option
  src/runtime/virtcontainers/iostream.go
  src/runtime/virtcontainers/iostream_test.go
  tests/integration/kubernetes/k8s-exec-websocket.bats
  tests/integration/kubernetes/k8s-exec.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/k8s-pod-wss.yaml
Owners: @kata-containers/golang, @kata-containers/tests

runtime: fix directly-attached volumes when disable_block_device_use
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
Owners: @kata-containers/golang

runtime-rs: use CPU shares as vCPU fallback when CFS quota unset
  src/runtime-rs/crates/resource/src/cpu_mem/cpu.rs
  src/runtime-rs/crates/resource/src/cpu_mem/initial_size.rs
Owners: @kata-containers/rust

fix: add missing get_sandbox_cpu_shares
  src/libs/kata-types/src/annotations/mod.rs
Owners: @kata-containers/rust

runtime-rs: add netkit endpoint support
  src/runtime-rs/crates/resource/src/network/endpoint/endpoint_persist.rs
  src/runtime-rs/crates/resource/src/network/endpoint/mod.rs
  src/runtime-rs/crates/resource/src/network/endpoint/netkit_endpoint.rs
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
  src/runtime-rs/crates/resource/src/network/utils/link/manager.rs
Owners: @kata-containers/rust

runtime-rs: store netkit mode from InfoData and use it for L3 detection
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
  src/runtime-rs/crates/resource/src/network/utils/link/manager.rs
  src/runtime-rs/crates/resource/src/network/utils/link/mod.rs
Owners: @kata-containers/rust

runtime-rs: gate lightweight hypervisors via Makefile features
  src/runtime-rs/Cargo.toml
  src/runtime-rs/Makefile
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/runtimes/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: feature-gate the QEMU hypervisor driver
  src/runtime-rs/Cargo.toml
  src/runtime-rs/Makefile
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/runtimes/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/factory/vm.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
  src/tools/agent-ctl/Cargo.toml
Owners: @kata-containers/rust

runtime-rs: rename Makefile toggles for external hypervisors
  src/runtime-rs/Makefile
  src/runtime-rs/crates/hypervisor/Cargo.toml
Owners: @kata-containers/rust

makefile: Expand `EXTRA_RUSTFEATURES` correctly
  src/agent/Makefile
Owners: @kata-containers/agent

runtime-rs: Only build tests with relevant features
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

Add backoff retry to ingress qdisc creation to avoid potential race condition
  src/runtime-rs/crates/resource/src/network/network_model/tc_filter_model.rs
  src/runtime/virtcontainers/network_linux.go
Owners: @kata-containers/rust, @kata-containers/golang

runtime-rs: borrow Annotation in get_sizing_info
  src/runtime-rs/crates/resource/src/cpu_mem/initial_size.rs
Owners: @kata-containers/rust

agent: disable ext4 lazy inode init for CDH
  src/agent/src/rpc.rs
  src/agent/src/storage/block_handler.rs
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/runtimeclass_workloads/pod-guest-pull-in-trusted-storage.yaml.in
Owners: @kata-containers/agent, @kata-containers/tests

ci: remove relinking, using rust toolchain action, simplify job
  .github/workflows/build-kata-os.yml
  .gitlab-ci.yml
  src/runtime-rs/Makefile
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/rust

ci: remove build rust shim in upstream jobs
  .github/workflows/build-kata-os.yml
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  src/runtime-rs/Makefile
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/rust

ci: build and package containerd-shim-kata-v2-rs
  .github/workflows/build-kata-os.yml
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .gitlab-ci.yml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-amd64, @kata-containers/arch-aarch64

ci: check for catching warnings
  .gitlab-ci.yml
Owners: none

runtime: add NIC hot-plug/unplug for dynamic network attachment
  src/runtime/pkg/containerd-shim-v2/netlink_watcher.go
  src/runtime/pkg/containerd-shim-v2/netlink_watcher_test.go
  src/runtime/pkg/containerd-shim-v2/start.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/veth_endpoint.go
Owners: @kata-containers/golang

runtime: address review comments on NIC hot-plug
  src/runtime/pkg/containerd-shim-v2/netlink_watcher.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/veth_endpoint.go
Owners: @kata-containers/golang

ci: now using gbi and upstream script to setup rust
  .gitlab-ci.yml
Owners: none

ci: bump compute delivery template
  .gitlab-ci.yml
Owners: none

chore(runtime-rs): apply lint
  src/runtime-rs/crates/resource/src/cpu_mem/initial_size.rs
  src/runtime-rs/crates/resource/src/network/network_model/tc_filter_model.rs
Owners: @kata-containers/rust

runtime-rs: Support LUKS encryption for EROFS rwlayer via CDH
  src/agent/src/storage/mod.rs
  src/agent/src/storage/multi_layer_erofs.rs
  src/runtime-rs/crates/resource/src/rootfs/erofs_rootfs.rs
  src/runtime-rs/crates/shim/src/bin/main.rs
  src/runtime-rs/tests/utils/src/lib.rs
Owners: @kata-containers/agent, @kata-containers/rust

runtime: address second round of review comments
  src/runtime/pkg/containerd-shim-v2/netlink_watcher.go
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/golang

tests: TEMP revert CoCo KBS deployment to kustomize for baseline comparison
  tests/integration/kubernetes/confidential_kbs.sh
  versions.yaml
Owners: @kata-containers/tests, @kata-containers/release, @kata-containers/ci

kata-monitor: fix gRPC name resolver error connecting to containerd
  src/runtime/pkg/kata-monitor/cri.go
Owners: @kata-containers/golang

ci: wire clode-dev as the fork's integration branch
  .github/workflows/build-kata-monitor.yaml
  .github/workflows/pr-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: use make for agent build, generate version.rs
  .github/workflows/pr-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci
