Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

protocols: Add the cri api protos
  src/libs/protocols/build.rs
  src/libs/protocols/protos/cri-api/api.proto
  src/libs/protocols/src/lib.rs
  tests/static-checks.sh
Owners: @kata-containers/rust, @kata-containers/tests

runtime-rs: register the sandbox api service
  src/runtime-rs/crates/service/src/lib.rs
  src/runtime-rs/crates/service/src/manager.rs
  src/runtime-rs/crates/service/src/sandbox_service.rs
Owners: @kata-containers/rust

runtime-rs: only get the containerd id when start container
  src/runtime-rs/crates/shim/src/shim_start.rs
Owners: @kata-containers/rust

CI: a workaround for containerd v2.x e2e test
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/tests

runtime-rs: add the sandbox init for sandbox api
  src/runtime-rs/crates/runtimes/src/manager.rs
Owners: @kata-containers/rust

runtime-rs: fix the issue of missing create sandbox dir
  src/libs/shim-interface/src/lib.rs
Owners: @kata-containers/rust

runtime-rs: add the wait and status method for sandbox api
  src/runtime-rs/crates/runtimes/common/src/sandbox.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: load the cgroup path correctly
  src/runtime-rs/crates/resource/src/cgroups/mod.rs
Owners: @kata-containers/rust

runtime-rs: rustfmt against lib.rs
  src/libs/shim-interface/src/lib.rs
Owners: @kata-containers/rust

ci: Add the sandbox api testcases
  .github/workflows/basic-ci-amd64.yaml
  tests/integration/cri-containerd/integration-tests.sh
  versions.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/tests, @kata-containers/release, @kata-containers/ci

runtime-rs: move the sandbox start from sandbox init function
  src/runtime-rs/crates/runtimes/src/manager.rs
Owners: @kata-containers/rust

runtime-rs: support ProtectionDevice in qemu-rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: handle ProtectionDevice in resource manager and sandbox
  src/runtime-rs/crates/resource/src/lib.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

gpu: Confidential Initrd
  .github/workflows/build-kata-static-tarball-amd64.yaml
Owners: @kata-containers/arch-amd64

gha: Add shellcheck
  .github/workflows/shellcheck.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gpu: Add TDX experimental target for GPUs
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

gpu: Add GPU+SNP QEMU build
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: Add version for QEMU+TDX+SNP
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: qemu-snp-experimental no patches
  tools/packaging/qemu/patches/tag_patches/gpu-snp-20250211/no_patches.txt
Owners: @kata-containers/qemu

policy: use agent policy crate in genpolicy test
  src/tools/genpolicy/Cargo.lock
  src/tools/genpolicy/Cargo.toml
  src/tools/genpolicy/tests/main.rs
Owners: @kata-containers/rust

agent: move policy module into separate crate
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/policy/Cargo.toml
  src/agent/policy/src/lib.rs
  src/agent/policy/src/policy.rs
  src/agent/src/main.rs
  src/agent/src/policy.rs
Owners: @kata-containers/agent

genpolicy: expose create as library
  src/tools/genpolicy/src/lib.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/utils.rs
Owners: @kata-containers/rust

policy: check the linux network namespace
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/tests/main.rs
  src/tools/genpolicy/tests/testdata/createcontainer/network_namespace/pod.yaml
  src/tools/genpolicy/tests/testdata/createcontainer/network_namespace/testcases.json
Owners: @kata-containers/rust

ci: Enable partial components build-check on riscv
  .github/workflows/build-checks-preview-riscv64.yaml
  .github/workflows/static-checks-self-hosted.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

dragonball: Appease clippy
  src/dragonball/src/dbs_allocator/src/interval_tree.rs
  src/dragonball/src/dbs_device/src/device_manager.rs
  src/dragonball/src/dbs_virtio_devices/src/vhost/vhost_kern/net.rs
  src/dragonball/src/dbs_virtio_devices/src/vhost/vhost_user/block.rs
  src/dragonball/src/dbs_virtio_devices/src/vhost/vhost_user/connection.rs
  src/dragonball/src/dbs_virtio_devices/src/vsock/backend/hybrid_stream.rs
Owners: @kata-containers/dragonball

ci: Enable partial components build-check on riscv
  .github/workflows/build-checks-preview-riscv64.yaml
  .github/workflows/static-checks-self-hosted.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

proto: Rename Interface.pciPath to devicePath
  src/agent/src/rpc.rs
  src/libs/protocols/protos/types.proto
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/types.rs
  src/runtime-rs/crates/resource/src/network/network_info/network_info_from_dan.rs
  src/runtime-rs/crates/resource/src/network/network_info/network_info_from_link.rs
  src/runtime/virtcontainers/network.go
  src/runtime/virtcontainers/pkg/agent/protocols/types.pb.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/agent, @kata-containers/rust, @kata-containers/golang

virtcontainers: Fix virtio-net-ccw address format
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

agent: Update QEMU URL
  src/agent/src/ccw.rs
Owners: @kata-containers/agent

virtcontainers: Add CCW device to endpoint
  src/libs/protocols/protos/types.proto
  src/runtime/virtcontainers/endpoint.go
  src/runtime/virtcontainers/ipvlan_endpoint.go
  src/runtime/virtcontainers/macvlan_endpoint.go
  src/runtime/virtcontainers/macvtap_endpoint.go
  src/runtime/virtcontainers/physical_endpoint.go
  src/runtime/virtcontainers/pkg/agent/protocols/types.pb.go
  src/runtime/virtcontainers/tap_endpoint.go
  src/runtime/virtcontainers/tuntap_endpoint.go
  src/runtime/virtcontainers/types/ccw.go
  src/runtime/virtcontainers/types/ccw_test.go
  src/runtime/virtcontainers/veth_endpoint.go
  src/runtime/virtcontainers/vfio_endpoint.go
  src/runtime/virtcontainers/vhostuser_endpoint.go
Owners: @kata-containers/rust, @kata-containers/golang

virtcontainers: Separate PCI/CCW for net devices
  src/runtime/virtcontainers/network.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_s390x.go
Owners: @kata-containers/golang, @kata-containers/arch-s390x

agent: Handle virtio-net-ccw devices separately
  src/agent/src/device/network_device_handler.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

ci: k8s: Bump kcli image version
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

Fix style, fix hardcodes
  .gitignore
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/hardening-vm.sh
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/postbuild.sh
Owners: @kata-containers/builder

gpu: Add proper config for module signing
  tools/packaging/kernel/configs/fragments/gpu/nvidia.x86_64.conf.in
Owners: @kata-containers/arch-amd64

gpu: Add the proper handling in build-kernel.sh
  tools/packaging/kernel/build-kernel.sh
Owners: @kata-containers/kernel

gpu: Update kernel-headers
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

gpu: Update NVIDIA chroot script
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
Owners: @kata-containers/builder

gpu: Add proper KBUILD_SIGN_PIN to entry script
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

gpu: Pass-through KBUILD_SIGN_PIN
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
