Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

kata-deploy: re-prefix the paths the shim's own config sets
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
Owners: @kata-containers/kata-deploy

tests: cover a kata-deploy install outside /opt/kata
  tests/functional/kata-deploy/kata-deploy-installation-prefix.bats
  tests/functional/kata-deploy/kata-deploy-lifecycle.bats
  tests/functional/kata-deploy/lib/helm-deploy.bash
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/tests

tests: increase CPU hotplug retry timeout in k8s-cpu-ns
  tests/integration/kubernetes/k8s-cpu-ns.bats
Owners: @kata-containers/tests

agent: prevent metrics scrapes from starving RPCs
  src/agent/src/metrics.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

required-tests: Make the kata-deploy tests not-required
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

tools: Take the toolchains into account for the tools builder image
  tools/packaging/scripts/lib.sh
Owners: @kata-containers/packaging

tools: Take install_libseccomp.sh into account for the tools builder image
  tools/packaging/scripts/lib.sh
Owners: @kata-containers/packaging

tests: match the custom runtime drop-in to the base config
  tests/functional/kata-deploy/kata-deploy-custom-runtimes.bats
Owners: @kata-containers/tests

tests: give the custom runtime the snapshotter its base config needs
  tests/functional/kata-deploy/kata-deploy-custom-runtimes.bats
Owners: @kata-containers/tests

kata-deploy: load required host modules in job mode
  .github/workflows/run-kata-deploy-tests.yaml
  tests/functional/kata-deploy/kata-deploy-host-modules.bats
  tests/functional/kata-deploy/kata-deploy-lifecycle.bats
  tests/functional/kata-deploy/kata-deploy-privileges.bats
  tests/functional/kata-deploy/lib/helm-deploy.bash
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
  tests/gha-run-k8s-common.sh
  tools/packaging/kata-deploy/binary/src/main.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests, @kata-containers/kata-deploy

kata-deploy: discover NVIDIA GPUs through node-feature-discovery
  docs/helm-configuration.md
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/node-feature-rules-nvidia-gpu.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/try-kata-nvidia-gpu.values.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/documentation, @kata-containers/kata-deploy

tests: cover the NVIDIA GPU NodeFeatureRule
  tests/functional/kata-deploy/kata-deploy-nvidia-gpu-nfd.bats
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/tests

tests: let kubectl do the waiting for kata-monitor's pods
  tests/functional/kata-monitor/kata-monitor.bats
Owners: @kata-containers/tests

ci.ocp: Fix selinux handling
  ci/openshift-ci/cluster/deployments/relabel_selinux.yaml
  ci/openshift-ci/cluster/install_kata.sh
Owners: @kata-containers/ci, @kata-containers/tests

logging: Send human-readable logs to stdout
  src/libs/logging/src/lib.rs
Owners: @kata-containers/rust

kernel: fix intel GPU fragment
  tools/packaging/kernel/configs/fragments/gpu/intel.conf
  tools/packaging/kernel/configs/fragments/gpu/intel.x86_64.conf.in
Owners: @kata-containers/kernel, @kata-containers/arch-amd64

runtime-rs: don't make agent to wait Intel GPU CDI devices
  src/runtime-rs/crates/resource/src/cdi_devices/container_device.rs
  src/runtime-rs/crates/resource/src/cdi_devices/mod.rs
Owners: @kata-containers/rust

kata-deploy: remove the in-tree job dispatcher
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/release-kata-images.yaml
  .github/workflows/static-checks.yaml
  Cargo.lock
  Cargo.toml
  tools/packaging/kata-deploy/Dockerfile.components
  tools/packaging/kata-deploy/job-dispatcher/Cargo.toml
  tools/packaging/kata-deploy/job-dispatcher/Dockerfile
  tools/packaging/kata-deploy/job-dispatcher/src/job.rs
  tools/packaging/kata-deploy/job-dispatcher/src/main.rs
  tools/packaging/kata-deploy/job-dispatcher/src/node_filter.rs
  tools/packaging/kata-deploy/job-dispatcher/src/nodes.rs
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-build-components-tarballs.sh
  tools/packaging/release/release.sh
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/kata-deploy, @kata-containers/release

test(agent-policy): add OPA policy engine test suite
  Cargo.lock
  src/agent/policy/Cargo.toml
  src/agent/policy/src/policy.rs
Owners: @kata-containers/agent

runtime-rs: fix VM console logging
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

dragonball: fix the broken LICENSE and THIRD-PARTY symlinks
  src/dragonball/crates/dbs_address_space/LICENSE
  src/dragonball/crates/dbs_allocator/LICENSE
  src/dragonball/crates/dbs_arch/LICENSE
  src/dragonball/crates/dbs_arch/THIRD-PARTY
  src/dragonball/crates/dbs_boot/LICENSE
  src/dragonball/crates/dbs_boot/THIRD-PARTY
  src/dragonball/crates/dbs_device/LICENSE
  src/dragonball/crates/dbs_interrupt/LICENSE
  src/dragonball/crates/dbs_legacy_devices/LICENSE
  src/dragonball/crates/dbs_legacy_devices/THIRD-PARTY
  src/dragonball/crates/dbs_upcall/LICENSE
  src/dragonball/crates/dbs_utils/LICENSE
  src/dragonball/crates/dbs_utils/THIRD-PARTY
  src/dragonball/crates/dbs_virtio_devices/LICENSE
  src/dragonball/crates/dbs_virtio_devices/THIRD-PARTY
Owners: @kata-containers/dragonball

ci: check that the tracked symbolic links are not broken
  .github/workflows/static-checks.yaml
  ci/check_broken_symlinks.sh
  tools/testing/gatekeeper/required-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

build: Fix pcilibs-rs URL
  Cargo.lock
  Cargo.toml
Owners: none

build: Bump pcilibs-rs to d248714e
  Cargo.lock
  Cargo.toml
Owners: none

static-checks: Add agent features check
  tests/static-checks.sh
Owners: @kata-containers/tests

runtime-rs/QEMU: raise memlock for rootless VFIO
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

tests: exercise rootless QEMU with a GPU
  tests/integration/kubernetes/k8s-qemu-rootless-sandbox.bats
Owners: @kata-containers/tests

runtime-rs/QEMU: pass VFIO devices by fd
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

tests: add retry logic to genpolicy generate tests
  src/tools/genpolicy/tests/generate/main.rs
Owners: @kata-containers/rust

doc: Remove porting section from CONTRIBUTING.MD
  CONTRIBUTING.md
Owners: @kata-containers/documentation

doc: Remove contributor roles from git setup
  CONTRIBUTING.md
Owners: @kata-containers/documentation

docs: Switch contributing examples to kata-containers repo
  CONTRIBUTING.md
Owners: @kata-containers/documentation

doc: Update issue tracking guidance in contributing.md
  CONTRIBUTING.md
Owners: @kata-containers/documentation

doc: Various minor contributing updates
  CONTRIBUTING.md
Owners: @kata-containers/documentation

docs: Remove the vendoring contributing guidelines
  CONTRIBUTING.md
Owners: @kata-containers/documentation

doc: Move the contributing guide from the community repo
  CONTRIBUTING.md
Owners: @kata-containers/documentation

docs: Update outdated CI guidelines
  CONTRIBUTING.md
Owners: @kata-containers/documentation

Runtime-rs: add loongarch64 support
  src/libs/kata-sys-util/src/protection.rs
  src/runtime-rs/Makefile
  src/runtime-rs/arch/loongarch64-options.mk
Owners: @kata-containers/rust

gatekeeper: Make SEV-SNP CI non-required
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

tests: cover how the scheduled reconcile renders
  tests/functional/kata-deploy/kata-deploy-reconcile.bats
  tests/functional/kata-deploy/run-kata-deploy-tests.sh
Owners: @kata-containers/tests
