Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

actions: Move all the checkout actions to v4
  .github/workflows/add-backport-label.yaml
  .github/workflows/add-issues-to-project.yaml
  .github/workflows/add-pr-sizing-label.yaml
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/cargo-deny-runner.yaml
  .github/workflows/ci.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/docs-url-alive-check.yaml
  .github/workflows/kata-runtime-classes-sync.yaml
  .github/workflows/move-issues-to-in-progress.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/publish-kata-deploy-payload-amd64.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-s390x.yaml
  .github/workflows/release.yaml
  .github/workflows/require-pr-porting-labels.yaml
  .github/workflows/run-docker-tests-on-garm.yaml
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-k8s-tests-on-garm.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
  .github/workflows/run-metrics.yaml
  .github/workflows/run-nerdctl-tests-on-garm.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

GHA: downgrade action/checkout to v3 for s390x
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/release-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-deploy: new build-and-push-kata-payload target
  .github/workflows/publish-kata-deploy-payload-amd64.yaml
  .github/workflows/publish-kata-deploy-payload-arm64.yaml
  .github/workflows/publish-kata-deploy-payload-s390x.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-s390x.yaml
  tools/packaging/kata-deploy/local-build/Makefile
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/packaging

dragonball: add conditional compilation for BalloonDeviceMetrics
  src/dragonball/src/metric.rs
Owners: none

dragonball: add conditional compilation for BalloonDeviceMetrics
  src/dragonball/src/metric.rs
Owners: none

runtime-rs: Add default configuration file for clouf-hypervisor
  src/runtime-rs/Makefile
  src/runtime-rs/arch/x86_64-options.mk
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
Owners: @kata-containers/runtime

runtime-rs: Add default configuration file for clouf-hypervisor
  src/runtime-rs/Makefile
  src/runtime-rs/arch/x86_64-options.mk
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
Owners: @kata-containers/runtime

runtime-rs: Make default kernel params as empty
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-dragonball.toml.in
Owners: @kata-containers/runtime

runtime-rs: Make default kernel params as empty
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-dragonball.toml.in
Owners: @kata-containers/runtime

tools: Install the dependencies with dm-verity
  tools/osbuilder/image-builder/image_builder.sh
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/config.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/builder, @kata-containers/packaging

image-builder: fix udev error when using docker to build image
  tools/osbuilder/image-builder/image_builder.sh
Owners: @kata-containers/builder

runtime: Add KataVirtualVolume struct in runtime
  src/runtime/virtcontainers/types/virtual_volume.go
  src/runtime/virtcontainers/types/virtual_volume_test.go
Owners: @kata-containers/runtime

runtime: add functions to create devices in KataVirtualVolume
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/runtime

runtime: extend SharedFile to support mutiple storage devices
  src/runtime/virtcontainers/fs_share.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/runtime

runtime: redefine and add functions to handle VirtualVolume to storage
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/runtime

runtime: support to create VirtualVolume rootfs storages
  src/runtime/pkg/katautils/create.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/runtime

agent: introduce DmVerityHandler to support dm-verity volume
  src/agent/src/storage/block_handler.rs
  src/agent/src/storage/dm_verity.rs
  src/agent/src/storage/mod.rs
  src/libs/kata-types/src/lib.rs
  src/libs/kata-types/src/volume.rs
Owners: @kata-containers/agent

agent: create directories to mount filesystem by overlay
  src/agent/src/storage/fs_handler.rs
  src/libs/kata-sys-util/src/mount.rs
  src/libs/kata-types/src/volume.rs
Owners: @kata-containers/agent

dragonball: fix for non-deterministic builds
  src/dragonball/.gitignore
  src/dragonball/Cargo.lock
Owners: none

fix context error
  src/runtime-rs/crates/resource/src/rootfs/nydus_rootfs.rs
Owners: @kata-containers/runtime

kata-runtime/kata-ctl: Add security details to output
  src/runtime/cmd/kata-runtime/kata-env.go
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/src/ops/env_ops.rs
Owners: @kata-containers/runtime, @kata-containers/tools

kata-runtime/kata-ctl: Add security details to output
  src/runtime/cmd/kata-runtime/kata-env.go
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/src/ops/env_ops.rs
Owners: @kata-containers/runtime, @kata-containers/tools

fix moved value
  src/runtime-rs/crates/resource/src/rootfs/nydus_rootfs.rs
Owners: @kata-containers/runtime

add kernel 5.19 patch for erofs
  .gitignore
  tools/packaging/kernel/patches/5.19.x/0001-support-RAFS-v6-over-virtiofs.patch
  tools/packaging/kernel/patches/5.19.x/0002-support-blobfile-over-virtiofs.patch
  tools/packaging/kernel/patches/5.19.x/0003-introduce-blob_path_dir-mount-option.patch
Owners: @kata-containers/kernel

fix: delete no_patches.txt
  tools/packaging/kernel/patches/5.19.x/no_patches.txt
Owners: @kata-containers/kernel

versions: Upgrade to Cloud Hypervisor v35.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: clh: Re-generate the client code
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/DiskConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_disk_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
Owners: @kata-containers/runtime

gha: add dependencies for spell checker
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: add dependencies for spell checker
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

agent: support bind mounts between containers
  src/agent/Cargo.lock
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/specconv.rs
  src/agent/rustjail/src/validator.rs
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
  src/libs/kata-types/src/annotations/cri_containerd.rs
  src/libs/kata-types/src/annotations/crio.rs
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/runtime.rs
  src/libs/kata-types/src/config/shared_mount.rs
  src/libs/kata-types/src/k8s.rs
  src/libs/protocols/protos/agent.proto
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/types.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
  src/tools/runk/Cargo.lock
  src/tools/runk/libcontainer/src/init_builder.rs
  src/tools/runk/libcontainer/src/utils.rs
Owners: @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools

agent: support bind mounts between containers
  src/agent/Cargo.lock
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/specconv.rs
  src/agent/rustjail/src/validator.rs
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
  src/libs/kata-types/src/annotations/cri_containerd.rs
  src/libs/kata-types/src/annotations/crio.rs
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/runtime.rs
  src/libs/kata-types/src/config/shared_mount.rs
  src/libs/kata-types/src/k8s.rs
  src/libs/protocols/protos/agent.proto
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/types.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
  src/tools/runk/Cargo.lock
  src/tools/runk/libcontainer/src/init_builder.rs
  src/tools/runk/libcontainer/src/utils.rs
Owners: @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools

agent: redefine functions of pulling image in the guest
  src/agent/src/image_rpc.rs
Owners: @kata-containers/agent

agent: Introduce ImagePullHandler to support IMAGE_GUEST_PULL volume
  src/agent/src/image_rpc.rs
  src/agent/src/storage/image_pull_handler.rs
  src/agent/src/storage/mod.rs
Owners: @kata-containers/agent

runtime: add functions to handle ImageGuestPull to storage
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/runtime

agent: enable `verity` feature in image-rs
  src/agent/Cargo.lock
  src/agent/Cargo.toml
Owners: @kata-containers/agent

runtime: merge metadata and annotation in imagepullvolume
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/runtime

utils: kata-manager: Lint fixes
  utils/kata-manager.sh
Owners: @kata-containers/shell

utils: kata-manager: Lint fixes
  utils/kata-manager.sh
Owners: @kata-containers/shell

utils: kata-manager: Fix "Cannot determine download URL" issue
  utils/kata-manager.sh
Owners: @kata-containers/shell

utils: kata-manager: Fix "Cannot determine download URL" issue
  utils/kata-manager.sh
Owners: @kata-containers/shell
