Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

CI: a workaround for containerd v2.x e2e test
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/tests

runtime: Update crio annotations
  src/runtime/go.mod
  src/runtime/go.sum
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

runtime: Switch from deprecated tracer
  src/runtime/pkg/katautils/katatrace/tracing.go
Owners: @kata-containers/golang

WIP: Try ignoring deprecated warning.
  docs/design/hooks-handling.md
  src/runtime/pkg/katautils/hook_test.go
Owners: @kata-containers/documentation, @kata-containers/golang

build: Fix powerpc64le target_arch
  src/dragonball/Makefile
  src/libs/kata-sys-util/src/protection.rs
  src/tools/kata-ctl/src/arch/mod.rs
  src/tools/kata-ctl/src/arch/powerpc64/mod.rs
  tools/packaging/static-build/qemu/Dockerfile
  utils.mk
Owners: @kata-containers/dragonball, @kata-containers/rust, @kata-containers/packaging, @kata-containers/build

agent: Fix clippy error
  src/agent/src/mount.rs
Owners: @kata-containers/agent

runtime-rs: Remove unused config
  src/runtime-rs/crates/hypervisor/ch-config/src/lib.rs
Owners: @kata-containers/rust

runtime-rs: Allow unexpected config
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
Owners: @kata-containers/rust

runtime-rs: Remove un-used code
  src/runtime-rs/crates/service/src/event.rs
Owners: @kata-containers/rust

dragonball: Remove unused fields
  src/dragonball/src/dbs_legacy_devices/src/i8042.rs
Owners: @kata-containers/dragonball

powerpc64: Add target_endian = "little"
  src/agent/src/linux_abi.rs
  src/agent/src/random.rs
  src/libs/kata-sys-util/src/protection.rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/tools/kata-ctl/src/arch/mod.rs
  src/tools/kata-ctl/src/arch/powerpc64/mod.rs
  src/tools/runk/libcontainer/src/init_builder.rs
Owners: @kata-containers/agent, @kata-containers/rust

dragonball: Allow test-mock feature
  src/dragonball/Cargo.toml
  src/dragonball/src/dbs_pci/Cargo.toml
Owners: @kata-containers/dragonball

runtime-rs: Remove use of legacy constants
  src/runtime-rs/crates/hypervisor/ch-config/src/convert.rs
  src/runtime-rs/crates/hypervisor/src/device/util.rs
  src/runtime-rs/crates/resource/src/network/network_pair.rs
Owners: @kata-containers/rust

agent: cdh: Remove unnecessary borrows
  src/agent/src/cdh.rs
Owners: @kata-containers/agent

agent: Remove use of legacy constants
  src/agent/src/sandbox.rs
Owners: @kata-containers/agent

genpolicy: Adjust to build with rust 1.80.0
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/utils.rs
Owners: @kata-containers/rust

dragonballl: Fix thread_local initializer error
  src/dragonball/src/vcpu/vcpu_impl.rs
Owners: @kata-containers/dragonball

dragonball: Fix doc formatting issue
  src/dragonball/src/vcpu/vcpu_manager.rs
Owners: @kata-containers/dragonball

agent: config: Remove supports_seccomp
  src/agent/src/config.rs
Owners: @kata-containers/agent

agent: Fix clippy error
  src/agent/src/util.rs
Owners: @kata-containers/agent

runtime-rs: Remove direct implementation of ToString
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
  src/runtime-rs/crates/hypervisor/src/device/pci_path.rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/runtimes/common/src/types/mod.rs
Owners: @kata-containers/rust

runtime-rs: Fix clippy::unnecessary-get-then-check
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
Owners: @kata-containers/rust

runtime-rs: Allow enable-vendor feature
  src/runtime-rs/crates/hypervisor/Cargo.toml
Owners: @kata-containers/rust

kata-ctl: Allow unused enum field
  src/tools/kata-ctl/src/ops/exec_ops.rs
Owners: @kata-containers/rust

rustjail: Fix clippy error
  src/agent/rustjail/src/mount.rs
Owners: @kata-containers/agent

runtime-rs: Fix doc list item missing indentation
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Allow unused enum field
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: Allow dead code
  src/runtime-rs/crates/resource/src/network/utils/link/driver_info.rs
Owners: @kata-containers/rust

agent: Remove implementation of ToString
  src/agent/src/util.rs
Owners: @kata-containers/agent

dragonball: Fix incorrect reference
  src/dragonball/src/config_manager.rs
  src/dragonball/src/device_manager/vfio_dev_mgr/mod.rs
Owners: @kata-containers/dragonball

runtime-rs: Fix for-loops-over-fallibles
  src/runtime-rs/crates/hypervisor/src/firecracker/fc_api.rs
Owners: @kata-containers/rust

kata-ctl: Allow dead_code
  src/tools/kata-ctl/src/types.rs
Owners: @kata-containers/rust

dragonball: Fix feature typo
  src/dragonball/src/dbs_interrupt/src/kvm/msi_generic.rs
Owners: @kata-containers/dragonball

kata-sys-util: Complete code move
  src/libs/kata-sys-util/src/protection.rs
  src/tools/kata-ctl/src/arch/powerpc64/mod.rs
  src/tools/kata-ctl/src/utils.rs
Owners: @kata-containers/rust

kata-ctl: Add stub of missing method for ppc
  src/tools/kata-ctl/src/arch/powerpc64/mod.rs
Owners: @kata-containers/rust

cargo: Update time crate
  src/agent/Cargo.lock
  src/dragonball/Cargo.lock
  src/libs/Cargo.lock
  src/runtime-rs/Cargo.lock
  src/tools/agent-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/trace-forwarder/Cargo.lock
Owners: @kata-containers/agent, @kata-containers/dragonball, @kata-containers/rust

agent: Workaround ppc formatting
  src/agent/src/netlink.rs
Owners: @kata-containers/agent

libs/safe-path: Fix doc formatting
  src/libs/safe-path/src/lib.rs
Owners: @kata-containers/rust

powerpc64: Add target_endian = "little"
  src/agent/src/linux_abi.rs
  src/agent/src/random.rs
  src/libs/kata-sys-util/src/protection.rs
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/tools/kata-ctl/src/arch/mod.rs
  src/tools/kata-ctl/src/arch/powerpc64/mod.rs
  src/tools/runk/libcontainer/src/init_builder.rs
Owners: @kata-containers/agent, @kata-containers/rust

agent: Fix clippy error
  src/agent/src/util.rs
Owners: @kata-containers/agent
