Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

docs: Create NVIDIA GPU passthrough QEMU scenario
  docs/use-cases/GPU-passthrough-and-Kata.md
  docs/use-cases/NVIDIA-GPU-passthrough-and-Kata-QEMU.md
  docs/use-cases/NVIDIA-GPU-passthrough-and-Kata.md
  tests/cmd/check-spelling/data/acronyms.txt
  tests/cmd/check-spelling/data/main.txt
  tests/cmd/check-spelling/data/projects.txt
  tests/cmd/check-spelling/kata-dictionary.dic
Owners: @kata-containers/documentation, @kata-containers/tests

agent: change secure_storage_integrity default
  src/agent/src/config.rs
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/agent, @kata-containers/tests

versions.yaml: Fix formatting errors
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Bump rust to 1.89
  rust-toolchain.toml
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

kata-deploy: Fix extraction of the containerd major version
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

packaging: Fix tools permissions issue
  tools/packaging/static-build/tools/Dockerfile
Owners: @kata-containers/packaging

packaging: Fix tools permissions issue
  tools/packaging/static-build/tools/Dockerfile
Owners: @kata-containers/packaging

agent: change secure_storage_integrity default
  src/agent/src/config.rs
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/agent, @kata-containers/tests

tests: Generate pod config with stable .yaml suffix
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

tests: make set_container_command idempotent and add debug output
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

runtime-rs: kata-agent panic with enable mem-agent kata-agent panic caused by using tokio::sync::RwLock blocking operations in non-async contexts. Fixes #12278
  src/libs/mem-agent/src/compact.rs
  src/libs/mem-agent/src/memcg.rs
Owners: @kata-containers/rust

tools: Build kubectl image
  .github/workflows/build-kubectl-image.yaml
  tools/packaging/kubectl/Dockerfile
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/packaging

runtime-rs: Introduce a method to detect current migrate info
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Bump qapi-rs from 0.14 to 0.15
  Cargo.lock
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Improve wait_for_migration to avoid fixed sleep
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

tools: kubectl: Add kubectl version as a tag
  .github/workflows/build-kubectl-image.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tools: Build kubectl image
  .github/workflows/build-kubectl-image.yaml
  tools/packaging/kubectl/Dockerfile
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/packaging

tools: kubectl: Add kubectl version as a tag
  .github/workflows/build-kubectl-image.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

tests: Generate pod config with stable .yaml suffix
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

tests: make set_container_command idempotent and add debug output
  tests/integration/kubernetes/lib.sh
Owners: @kata-containers/tests

runtime: nvidia: change kernel parameters
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
Owners: @kata-containers/golang

runtime: DEFDISABLEBLOCK := true
  src/runtime/Makefile
  src/runtime/config/configuration-clh.toml.in
  tests/integration/kubernetes/k8s-empty-image.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/no-layer-image.yaml
Owners: @kata-containers/golang, @kata-containers/tests

docs: Add Zensical Doc Site Generation
  .github/workflows/docs.yaml
  .gitignore
  Makefile
  zensical.toml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/build

gpu: Add Agent NUMA Support 1 of N
  src/agent/src/device/block_device_handler.rs
  src/agent/src/device/mod.rs
  src/agent/src/device/network_device_handler.rs
  src/agent/src/device/scsi_device_handler.rs
  src/agent/src/device/vfio_device_handler.rs
  src/agent/src/linux_abi.rs
  src/agent/src/rpc.rs
  src/agent/src/storage/block_handler.rs
Owners: @kata-containers/agent

agent: Update aarch64 create_pci_root_bus_path
  src/agent/src/linux_abi.rs
Owners: @kata-containers/agent

Update src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
Owners: @kata-containers/golang

runtime: nvidia: change kernel parameters
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
Owners: @kata-containers/golang

docs: Add Zensical Doc Site Generation
  .github/workflows/docs.yaml
  .gitignore
  Makefile
  zensical.toml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/build

libs: Replace manual default
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

versions: Bump rust to 1.90
  rust-toolchain.toml
  src/agent/Cargo.toml
  versions.yaml
Owners: @kata-containers/agent, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: k8s: Add kubectl logs with retries
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

tests: k8s: Add kubectl logs with retries
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

workflows: Pin all actions
  .github/workflows/codeql.yml
  .github/workflows/docs.yaml
  .github/workflows/scorecard.yaml
  src/runtime/pkg/govmm/.github/workflows/main.yml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/golang

dependabot: Add cooldown
  .github/dependabot.yml
Owners: none

workflows: Remove unneeded strategy
  .github/workflows/run-cri-containerd-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

workflows: Bump zizmor to latest
  .github/workflows/zizmor.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

WIP: workflows: Add concurrency limits
  .github/workflows/build-checks.yaml
  .github/workflows/cleanup-resources.yaml
  .github/workflows/codeql.yml
  .github/workflows/docs-url-alive-check.yaml
  .github/workflows/docs.yaml
  .github/workflows/gatekeeper-skipper.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/publish-kata-deploy-payload.yaml
  .github/workflows/run-kata-monitor-tests.yaml
  .github/workflows/run-metrics.yaml
  .github/workflows/run-runk-tests.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/stale.yaml
  src/runtime/pkg/govmm/.github/workflows/main.yml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/golang

docs: Navigation improvements and bug fixes to Pages
  Makefile
  docs/assets/favicon.svg
  zensical.toml
Owners: @kata-containers/build, @kata-containers/documentation

kernel: bump to v6.18.x (LTS)
  tools/packaging/kernel/configs/fragments/arm64/crypto.conf
  tools/packaging/kernel/configs/fragments/common/crypto.conf
  tools/packaging/kernel/configs/fragments/common/netfilter.conf
  tools/packaging/kernel/configs/fragments/common/signing/module_signing.conf
  tools/packaging/kernel/configs/fragments/s390/crypto.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/configs/fragments/x86_64/crypto.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.18.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/arch-aarch64, @kata-containers/kernel, @kata-containers/arch-amd64, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Add specific nvidia kernel version
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
