Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

agent: Fix unit test issue cuased by protobuf upgrade
  src/agent/rustjail/src/lib.rs
  src/agent/src/mount.rs
Owners: @kata-containers/agent

protocols: Add ut for Serde
  src/libs/protocols/src/serde_config.rs
Owners: none

protocols: add support for Serde
  src/libs/protocols/.gitignore
  src/libs/protocols/build.rs
  src/libs/protocols/src/lib.rs
  src/libs/protocols/src/serde_config.rs
Owners: none

kata-ctl: remove unused crate ttrpc
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
Owners: @kata-containers/tools

agent-ctl: Bump ttrpc from 0.6.0 to 0.7.1
  src/libs/protocols/build.rs
  src/tools/agent-ctl/Cargo.lock
  src/tools/agent-ctl/Cargo.toml
  src/tools/agent-ctl/src/utils.rs
  src/tools/kata-ctl/Cargo.lock
Owners: @kata-containers/tools

protocols: add support for Serde
  src/libs/protocols/.gitignore
  src/libs/protocols/build.rs
  src/libs/protocols/src/lib.rs
  src/libs/protocols/src/serde_config.rs
Owners: none

agent-ctl: Bump ttrpc from 0.6.0 to 0.7.1
  src/libs/protocols/build.rs
  src/tools/agent-ctl/Cargo.lock
  src/tools/agent-ctl/Cargo.toml
  src/tools/agent-ctl/src/utils.rs
  src/tools/kata-ctl/Cargo.lock
Owners: @kata-containers/tools

trace-forwarder: remove unused crate protobuf
  src/tools/trace-forwarder/Cargo.lock
  src/tools/trace-forwarder/Cargo.toml
Owners: @kata-containers/tools

kata-ctl: remove unused crate ttrpc
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
Owners: @kata-containers/tools

protocols: Add ut for Serde
  src/libs/protocols/src/serde_config.rs
Owners: none

agent: fix clippy warnings caused by protobuf3
  src/agent/src/mount.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: fix clippy warnings caused by protobuf3
  src/agent/src/mount.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: Fix ut issue caused by fd double closed
  src/agent/src/main.rs
Owners: @kata-containers/agent

agent: Fix ut issue caused by fd double closed
  src/agent/src/main.rs
Owners: @kata-containers/agent

osbuilder: Fix D-Bus enabling in the dracut case
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

osbuilder: Fix D-Bus enabling in the dracut case
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

versions: Upgrade to Cloud Hypervisor v31.1
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

agent: add policy values
  tools/osbuilder/coco-policy.rego
Owners: @kata-containers/builder

agent: start OPA as a dependency of kata-agent
  src/agent/kata-agent.service.in
  tools/osbuilder/coco-opa.service
  tools/osbuilder/coco-policy.rego
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/agent, @kata-containers/builder

Add policy::allowed
  src/agent/src/main.rs
  src/agent/src/policy.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: get policy allow values from OPA
  src/agent/Cargo.toml
  src/agent/src/main.rs
  src/agent/src/policy.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

Allow more time for OPA to start
  src/agent/src/policy.rs
Owners: @kata-containers/agent

AKS policy clean-up
  tools/osbuilder/aks-pause-busybox.rego
Owners: @kata-containers/builder

Add sandbox-memory annotation rules
  src/agent/src/policy.rs
  tools/osbuilder/aks-pause-busybox.rego
  tools/osbuilder/ctr-busybox.rego
Owners: @kata-containers/agent, @kata-containers/builder

Add rules for sandbox-name and log-directory
  tools/osbuilder/aks-pause-busybox.rego
Owners: @kata-containers/builder

Disable requests without obvious use cases
  tools/osbuilder/aks-pause-busybox.rego
  tools/osbuilder/ctr-busybox.rego
Owners: @kata-containers/builder

Improve comments
  tools/osbuilder/aks-pause-busybox.rego
Owners: @kata-containers/builder

Avoid 1 full second delay for sandbox start
  src/agent/src/policy.rs
Owners: @kata-containers/agent

Remove reqwest blocking feature
  src/agent/Cargo.toml
Owners: @kata-containers/agent

Clean-up
  src/agent/src/main.rs
  src/agent/src/policy.rs
Owners: @kata-containers/agent

Remove temporary helper log_oci_spec
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

Easier to read CreateContainerRequest rules set
  tools/osbuilder/aks-pause-busybox.rego
Owners: @kata-containers/builder

Log OPA response when result != true
  src/agent/src/policy.rs
Owners: @kata-containers/agent

Minor clean-up
  tools/osbuilder/aks-pause-busybox.rego
Owners: @kata-containers/builder

Add rules for network-namespace annotation
  tools/osbuilder/aks-pause-busybox.rego
Owners: @kata-containers/builder

Reduce rules duplication
  tools/osbuilder/aks-pause-busybox.rego
Owners: @kata-containers/builder

Avoid duplicating macro code
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

Stop sandbox when SignalProcess fails
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

agent: add example policy and input for ctr
  src/agent/src/policy.rs
  src/agent/src/rpc.rs
  tools/osbuilder/ctr-busybox.json
  tools/osbuilder/ctr-busybox.rego
Owners: @kata-containers/agent, @kata-containers/builder

Add policy comments
  tools/osbuilder/aks-pause-busybox.rego
Owners: @kata-containers/builder
