Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

gpu: Remove building of Headers
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

workflows: nvidia: Adjust to kernel / roots build decouple
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64

gpu: build_image.sh use versions.yaml
  tools/packaging/guest-image/build_image.sh
Owners: @kata-containers/packaging

versions: nvidia: Bump kernel to the latest LTS
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: versions.yaml nvidia driver pinning
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

gpu: deploy modules for kernel build
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

gpu: rootfs update decoupling
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime: nvidia: Disable NVDIMM
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
Owners: @kata-containers/golang

kata-deploy: helm: Add optional post-install verification
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/verification-job.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

tests: kata-deploy: Enable verification during helm install
  tests/functional/kata-deploy/kata-deploy.bats
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

docs: Update NVIDIA GPU passthrough QEMU scenario
  docs/use-cases/NVIDIA-GPU-passthrough-and-Kata-QEMU.md
Owners: @kata-containers/documentation

gpu: Bump NVRC Version
  tools/osbuilder/rootfs-builder/nvidia/nvidia_rootfs.sh
  versions.yaml
Owners: @kata-containers/builder, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime: Fix golang information lost when compiling
  src/runtime/Makefile
Owners: @kata-containers/golang

runtime-rs: Use 'host' cpu model for AMD SEV-SNP guests
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime: Use 'host' cpu model for AMD SEV-SNP guests
  src/runtime/virtcontainers/qemu_amd64.go
  tests/integration/kubernetes/k8s-confidential-attestation.bats
Owners: @kata-containers/arch-amd64, @kata-containers/tests

dragonball: Remove unused imports
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/mod.rs
Owners: @kata-containers/dragonball

libs: Remove unused imports
  src/libs/test-utils/src/lib.rs
Owners: @kata-containers/rust

libs: Replace manual default
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

kata-ctl: Allow unused assigned in clap parsing
  src/tools/kata-ctl/src/args.rs
Owners: @kata-containers/rust

libs: Remove unnecessary unwrap
  src/libs/kata-types/src/initdata.rs
Owners: @kata-containers/rust

agent: Remove unnecessary unwrap
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

kata-ctl: Remove unnecessary unwrap
  src/tools/kata-ctl/src/check.rs
Owners: @kata-containers/rust

nvidia: Bump nvidia-container-toolkit to 1.18.1
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  versions.yaml
Owners: @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

docs: Add Kata Containers development workflow guide
  docs/Development-Workflow-Guide.md
Owners: @kata-containers/documentation

runtime-rs: Set the default bridges with default 1
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

kata-types: Chanage the default bridges with 1
  src/libs/kata-types/src/config/default.rs
Owners: @kata-containers/rust

runtime-rs: Set default_bridges with 0 for dragonball vmm
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-dragonball.toml.in
Owners: @kata-containers/rust

runtime-rs: Return stopped state for missing containers
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/manager.rs
Owners: @kata-containers/rust

tests: nvidia: Bump NIM tests images
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
Owners: @kata-containers/tests

Revert "ci: Run a nightly job using the kata-deploy rust"
  .github/workflows/ci-nightly-rust.yaml
  .github/workflows/ci.yaml
  .github/workflows/payload-after-push.yaml
  .github/workflows/publish-kata-deploy-payload.yaml
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/kata-deploy

kata-deploy: Switch to the rust version
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/Dockerfile.rust
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/post-delete-job.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-types: Chanage the default bridges with 1
  src/libs/kata-types/src/config/default.rs
Owners: @kata-containers/rust

runtime-rs: Set the default bridges with default 1
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

runtime-rs: Set default_bridges with 0 for dragonball vmm
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-dragonball.toml.in
Owners: @kata-containers/rust

tools: Remove runk
  .github/dependabot.yml
  .github/workflows/basic-ci-amd64.yaml
  .github/workflows/run-runk-tests.yaml
  Makefile
  README.md
  src/tools/runk/.gitignore
  src/tools/runk/Cargo.lock
  src/tools/runk/Cargo.toml
  src/tools/runk/Makefile
  src/tools/runk/README.md
  src/tools/runk/libcontainer/Cargo.toml
  src/tools/runk/libcontainer/src/activated_builder.rs
  src/tools/runk/libcontainer/src/cgroup.rs
  src/tools/runk/libcontainer/src/container.rs
  src/tools/runk/libcontainer/src/created_builder.rs
  src/tools/runk/libcontainer/src/init_builder.rs
  src/tools/runk/libcontainer/src/lib.rs
  src/tools/runk/libcontainer/src/status.rs
  src/tools/runk/libcontainer/src/utils.rs
  src/tools/runk/src/commands/create.rs
  src/tools/runk/src/commands/delete.rs
  src/tools/runk/src/commands/exec.rs
  src/tools/runk/src/commands/kill.rs
  src/tools/runk/src/commands/list.rs
  src/tools/runk/src/commands/mod.rs
  src/tools/runk/src/commands/pause.rs
  src/tools/runk/src/commands/ps.rs
  src/tools/runk/src/commands/resume.rs
  src/tools/runk/src/commands/run.rs
  src/tools/runk/src/commands/spec.rs
  src/tools/runk/src/commands/start.rs
  src/tools/runk/src/commands/state.rs
  src/tools/runk/src/main.rs
  tests/README.md
  tests/integration/runk/gha-run.sh
  tests/integration/runk/runk-tests.bats
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/build, @kata-containers/documentation, @kata-containers/rust, @kata-containers/tests, @kata-containers/kata-deploy

runtime: skip MoveTo for systemd cgroups
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

doc: Update Release Process
  docs/Release-Process.md
Owners: @kata-containers/documentation

lint: Fix 80 char column size
  docs/Release-Process.md
Owners: @kata-containers/documentation

runtime-rs: Make QMP init robust by retrying handshake with deadline
  src/runtime-rs/crates/hypervisor/src/kernel_param.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

packaging: Add OVMF reference value support for x86_64 builds (only TDX)
  tools/packaging/static-build/ovmf/build-ovmf.sh
  tools/packaging/static-build/ovmf/build.sh
  versions.yaml
Owners: @kata-containers/packaging, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
