Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

runtime-rs: support ephemeral storage for emptydir
  src/libs/kata-sys-util/src/k8s.rs
  src/libs/kata-types/src/mount.rs
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/virtio_fs_share_mount.rs
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/runtime

container-monitor: Introduction of tool for gathering conatiner stats
  src/runtime/cmd/container-monitor/ctrstats.go
  src/runtime/cmd/container-monitor/main.go
  src/runtime/cmd/container-monitor/metrics.go
Owners: @kata-containers/runtime

container-monitor: makefile adjustments to support
  src/runtime/Makefile
Owners: @kata-containers/runtime

runtime: fix blockdevAddWithCache parameter
  src/runtime/pkg/govmm/qemu/qmp.go
Owners: @kata-containers/runtime

runtime-rs: Add tracing to runtime-rs
  src/runtime-rs/crates/agent/Cargo.toml
  src/runtime-rs/crates/agent/src/kata/agent.rs
  src/runtime-rs/crates/agent/src/kata/mod.rs
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/src/dragonball/mod.rs
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/manager.rs
  src/runtime-rs/crates/runtimes/Cargo.toml
  src/runtime-rs/crates/runtimes/src/lib.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime-rs/crates/runtimes/src/tracer.rs
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
  src/runtime-rs/crates/service/Cargo.toml
  src/runtime-rs/crates/service/src/manager.rs
  src/runtime-rs/crates/shim/Cargo.toml
  src/runtime-rs/crates/shim/src/bin/main.rs
  src/runtime-rs/crates/shim/src/shim.rs
Owners: @kata-containers/runtime

docs(tracing): add more information
  docs/tracing.md
  src/runtime-rs/crates/runtimes/src/manager.rs
Owners: @kata-containers/documentation, @kata-containers/runtime

runtime: fix incorrect comment for SetFsSharingSupport function
  src/runtime/virtcontainers/types/capabilities.go
Owners: @kata-containers/runtime

runtime: fix incorrect comment for SetFsSharingSupport function
  src/runtime/virtcontainers/types/capabilities.go
Owners: @kata-containers/runtime

kata-sys-util: fix typo `unknow`
  src/libs/kata-sys-util/src/spec.rs
Owners: none

kata-sys-util: fix typo `unknow`
  src/libs/kata-sys-util/src/spec.rs
Owners: none

kata-sys-util: delete duplicated get_bundle_path
  src/libs/kata-sys-util/src/fs.rs
Owners: none

kata-sys-util: delete duplicated get_bundle_path
  src/libs/kata-sys-util/src/fs.rs
Owners: none

runtime-rs: delete duplicated PASSTHROUGH_FS_DIR const
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_inline.rs
Owners: @kata-containers/runtime

runtime-rs: delete duplicated PASSTHROUGH_FS_DIR const
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_inline.rs
Owners: @kata-containers/runtime

disable CONFIG_OVERLAY_FS_REDIRECT_DIR
  tools/packaging/kernel/configs/fragments/common/fs.conf
Owners: @kata-containers/kernel

enable native overlay diff docker
  tools/packaging/kernel/configs/arm64_kata_kvm_5.4.x
  tools/packaging/kernel/configs/fragments/common/fs.conf
Owners: @kata-containers/kernel

microvm: Remove kernel_irqchip=on option
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

microvm: Remove kernel_irqchip=on option
  src/runtime/virtcontainers/qemu_amd64.go
Owners: @kata-containers/runtime

versions: Upgrade to Cloud Hypervisor v27.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Upgrade to Cloud Hypervisor v27.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: clh: Re-generate the client code
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/NetConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PayloadConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PlatformConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/TdxConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_net_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_payload_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_platform_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_tdx_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
Owners: @kata-containers/runtime

runtime: clh: Re-generate the client code
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/NetConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PayloadConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PlatformConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/TdxConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_net_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_payload_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_platform_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_tdx_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
Owners: @kata-containers/runtime

runtime: clh: Use the new API to boot with TDX firmware (td-shim)
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

runtime: clh: Use the new API to boot with TDX firmware (td-shim)
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

fixup! osbuilder: Update image-builder to use Fedora 35
  tools/osbuilder/image-builder/Dockerfile
Owners: @kata-containers/builder

shim: Ensure pagesize is set when reporting hugetbl stats
  src/runtime/pkg/containerd-shim-v2/metrics.go
Owners: @kata-containers/runtime

shim: Ensure pagesize is set when reporting hugetbl stats
  src/runtime/pkg/containerd-shim-v2/metrics.go
Owners: @kata-containers/runtime

agent: Add image_ttrpc_async.rs to .gitignore
  src/libs/protocols/.gitignore
Owners: none

runtime: clh: Use the new API to boot with TDX firmware (td-shim)
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/runtime

versions: Upgrade to Cloud Hypervisor v27.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime: clh: Re-generate the client code
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/.openapi-generator/FILES
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/README.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/NetConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PayloadConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PlatformConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/TdxConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/VmConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_net_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_payload_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_platform_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_tdx_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_vm_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
Owners: @kata-containers/runtime

versions: Update TDX kernel
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update TDX QEMU
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

packaging: Mount $HOME/.docker in the 1st layer container
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

packaging: Mount $HOME/.docker in the 1st layer container
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

packaging: Mount $HOME/.docker in the 1st layer container
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
Owners: @kata-containers/packaging

CCv0: Optimize integrity device creation by avoiding full device clear
  tools/osbuilder/rootfs-builder/init_trusted_storage.sh
Owners: @kata-containers/builder

agent: reduce reference count for failed mount
  src/agent/src/mount.rs
Owners: @kata-containers/agent

agent: reduce reference count for failed mount
  src/agent/src/mount.rs
Owners: @kata-containers/agent

Do not merge
  README.md
Owners: @kata-containers/documentation
