Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runtime-rs: bugfix for DirectVolume/rawblock when driver is blk
  src/runtime-rs/crates/resource/src/volume/utils.rs
Owners: @kata-containers/rust

tests: Add containerd-shim-kata-qemu-tdx-v2 in kill kata function
  tests/common.bash
Owners: @kata-containers/tests

tools: install genpolicy settings files
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

tools: install genpolicy settings files
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
Owners: @kata-containers/kata-deploy

configuration: update comments for debug_console_enabled
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
Owners: @kata-containers/rust

runtime-rs: add basic implementation of qemu command line generation
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

runtime-rs: add simple impls to some of Qemu's Hypervisor functions
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: add simple impls to some of Qemu's Hypervisor functions
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: add basic implementation of qemu command line generation
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
Owners: @kata-containers/rust

tests: Add k8s-block-volume test
  tests/integration/kubernetes/k8s-block-volume.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/kubernetes/runtimeclass_workloads/pod-block-pv.yaml
  tests/integration/kubernetes/volume/block-loop-pv.yaml
  tests/integration/kubernetes/volume/block-loop-pvc.yaml
  tests/integration/kubernetes/volume/local-storage.yaml
Owners: @kata-containers/tests

runtime: fix failing unit tests on ppc64le
  src/runtime/cmd/kata-runtime/kata-env_ppc64le_test.go
Owners: @kata-containers/arch-ppc64le

dragonball: skip running static-checks for ppc64le
  src/dragonball/Makefile
Owners: @kata-containers/dragonball

tools: fix makefile spacing
  src/tools/agent-ctl/Makefile
  src/tools/runk/Makefile
  src/tools/trace-forwarder/Makefile
Owners: @kata-containers/build

kata-ctl: skip building kata-ctl on ppc64le
  src/tools/kata-ctl/Makefile
Owners: @kata-containers/build

runk: skip the test_init_container_create_launcher if not root on ppc64le
  src/tools/runk/libcontainer/src/init_builder.rs
Owners: @kata-containers/rust

agent: fix failing unit tests on ppc64le
  src/agent/rustjail/src/cgroups/fs/mod.rs
  src/agent/src/netlink.rs
  src/agent/src/random.rs
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
Owners: @kata-containers/agent

gha: enable static-checks for ppc64le
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

GHA: enable static check on arm64
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

GHA: enable static check on arm64
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

CI: Use sudo if yq_path is not writable by USER
  ci/install_yq.sh
Owners: @kata-containers/ci, @kata-containers/tests

tools: fix makefile spacing
  src/tools/agent-ctl/Makefile
  src/tools/runk/Makefile
  src/tools/trace-forwarder/Makefile
Owners: @kata-containers/build

github: run static checks on ppc64le
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Static-check: Exclude s390x from dragonball and runtime-rs
  src/dragonball/Makefile
  src/runtime-rs/Makefile
Owners: @kata-containers/dragonball, @kata-containers/rust

GHA: Enable static check for s390x
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-ctl: skip building kata-ctl on ppc64le
  src/tools/kata-ctl/Makefile
Owners: @kata-containers/build

runtime: fix failing unit tests on ppc64le
  src/runtime/cmd/kata-runtime/kata-env_ppc64le_test.go
Owners: @kata-containers/arch-ppc64le

GHA: Enable static check for s390x
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

dragonball: skip running static-checks for ppc64le
  src/dragonball/Makefile
Owners: @kata-containers/dragonball

runk: skip the test_init_container_create_launcher if not root on ppc64le
  src/tools/runk/libcontainer/src/init_builder.rs
Owners: @kata-containers/rust

Lint: Fix `cargo clippy` errors for s390x
  src/agent/src/device.rs
  src/tools/kata-ctl/src/arch/s390x/mod.rs
Owners: @kata-containers/agent, @kata-containers/arch-s390x

Static-check: Exclude s390x from dragonball and runtime-rs
  src/dragonball/Makefile
  src/runtime-rs/Makefile
Owners: @kata-containers/dragonball, @kata-containers/rust

runk: skip the test_init_container_create_launcher if not root on ppc64le
  src/tools/runk/libcontainer/src/init_builder.rs
Owners: @kata-containers/rust

github: run static checks on ppc64le
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

kata-ctl: skip building kata-ctl on ppc64le
  src/tools/kata-ctl/Makefile
Owners: @kata-containers/build

kata-ctl: Clean up a test leftover file explicitely
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

CI: Use sudo if yq_path is not writable by USER
  ci/install_yq.sh
Owners: @kata-containers/ci, @kata-containers/tests

tools: fix makefile spacing
  src/tools/agent-ctl/Makefile
  src/tools/runk/Makefile
  src/tools/trace-forwarder/Makefile
Owners: @kata-containers/build

runtime-rs: use pathBuf only for x86
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

kata-ctl: Clean up a test leftover file explicitely
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Lint: Fix `cargo clippy` errors for s390x
  src/agent/src/device.rs
  src/tools/kata-ctl/src/arch/s390x/mod.rs
Owners: @kata-containers/agent, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
