Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

genpolicy: config layer logging clean-up
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/rust

runtime: Introduce independent IOThreads framework
  src/runtime/Makefile
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/documentation/api/1.0/api.md
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
Owners: @kata-containers/golang

rumtime: qemu: Add indep_iothreads for QEMU hypervisor toml
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
Owners: @kata-containers/golang

runtime: documentation: Add virtio-blk support iothread comments in docs
  src/runtime/virtcontainers/documentation/api/1.0/api.md
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
Owners: @kata-containers/golang

runtime: qemu: qmp: Add iothread args for QMP ExecutePCIDeviceAdd
  src/runtime/pkg/govmm/qemu/qmp.go
  src/runtime/pkg/govmm/qemu/qmp_test.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/stratovirt.go
Owners: @kata-containers/golang

runtime: qemu: Add Independent IOThread support for virtio-blk
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

runtime: qemu: introduce setup iothread function
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

runtime: qemu: Add comments for virtio-scsi iothread args
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

qemu: Enable NUMA support
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/scripts/configure-hypervisor.sh
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/qemu/build-base-qemu.sh
  tools/packaging/static-build/qemu/build-qemu.sh
  tools/packaging/static-build/qemu/build-static-qemu.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

shellcheck: build-qemu.sh is clean
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

shellcheck: build-base-qemu.sh is clean
  tools/packaging/static-build/qemu/build-base-qemu.sh
Owners: @kata-containers/packaging

qemu: Update tools/packaging/static-build/qemu/build-qemu.sh
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

gpu: Disable metrics tests
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gpu: Add run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
Owners: @kata-containers/tests

gpu: Add Pod spec for NIM llama
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
Owners: @kata-containers/tests

gpu: Add selector for k8s tests
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

gpu: Add NVIDIA GPU test block for amd64
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/ci-devel.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci

gpu: Add embeding service
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2.yaml.in
Owners: @kata-containers/tests

gpu: Add NIM bats test
  tests/integration/kubernetes/k8s-nvidia-nim.bats
Owners: @kata-containers/tests

Revert "ci: temporarily avoid using the Mariner Host image"
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/setup.sh
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

shellcheckk: Fix [] [[]] SC2166
  tools/packaging/scripts/configure-hypervisor.sh
Owners: @kata-containers/packaging

gha: Remove unnecessary install-azure-cli step
  .github/workflows/run-kata-coco-stability-tests.yaml
  .github/workflows/run-kata-coco-tests.yaml
  .github/workflows/run-kata-deploy-tests-on-aks.yaml
  tests/functional/kata-deploy/gha-run.sh
  tests/gha-run-k8s-common.sh
  tests/integration/kubernetes/gha-run.sh
  tests/stability/gha-stability-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

safe-path: Do cargo check and reduce warnings
  src/libs/safe-path/src/pinned_path_buf.rs
Owners: @kata-containers/rust

kata-sys-utils: Do cargo check codes and reduce warnings
  src/libs/kata-sys-util/src/k8s.rs
  src/libs/kata-sys-util/src/mount.rs
  src/libs/kata-sys-util/src/numa.rs
  src/libs/kata-sys-util/src/pcilibs/devices.rs
  src/libs/kata-sys-util/src/pcilibs/pci_manager.rs
Owners: @kata-containers/rust

kata-sys-utils: fix warnings for s390x
  src/libs/kata-sys-util/src/protection.rs
Owners: @kata-containers/rust

kata-types: Do cargo check and reduce warnings
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/agent.rs
  src/libs/kata-types/src/config/hypervisor/dragonball.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/src/config/mod.rs
  src/libs/kata-types/src/initdata.rs
  src/libs/kata-types/src/mount.rs
Owners: @kata-containers/rust

shim-interface: Do cargo check and reduce warnings
  src/libs/shim-interface/src/lib.rs
Owners: @kata-containers/rust

protocols: Do cargo format to make codes clean
  src/libs/protocols/src/trans.rs
Owners: @kata-containers/rust

CI: Introduce CI for libs to Improve code quality and reduce noises
  .github/workflows/build-checks.yaml
  tools/testing/gatekeeper/required-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

versions: Upgrade Firecracker Version to 1.12.1
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime: generate proto files
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/agent_ttrpc.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/grpc/oci.pb.go
  src/runtime/virtcontainers/pkg/agent/protocols/types.pb.go
  src/runtime/virtcontainers/pkg/mock/mock.go
Owners: @kata-containers/golang

versions: update kernel-confidential to Linux v6.16
  tools/packaging/kernel/configs/fragments/common/hotplug.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/configs/fragments/x86_64/crypto.conf
  tools/packaging/kernel/configs/fragments/x86_64/tdx/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.16.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/arch-amd64, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: fix shellcheck findings in install_rust.sh
  tests/install_rust.sh
Owners: @kata-containers/tests

ci: build genpolicy on darwin
  .github/workflows/darwin-tests.yaml
  ci/darwin-test.sh
  tests/common.bash
  tests/install_rust.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

gpu: Disable metrics tests
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gpu: Add Pod spec for NIM llama
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct.yaml.in
Owners: @kata-containers/tests

gpu: Add arm64-nvidia-a100 to actionlint.yaml
  .github/actionlint.yaml
Owners: none

gpu: Add NIM bats test
  tests/integration/kubernetes/k8s-nvidia-nim.bats
Owners: @kata-containers/tests

gpu: Add run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
Owners: @kata-containers/tests

gpu: Add NVIDIA GPU test block for amd64
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/ci-devel.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-on-nvidia-gpu.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/action-admins, @kata-containers/ci

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
