Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

ci: remove sudo from s390x build
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/arch-s390x

ci: remove sudo from ppc64 build
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
Owners: @kata-containers/arch-ppc64le

ci: Remove not needed chown for ppc64
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
Owners: @kata-containers/arch-ppc64le

ci: Add NVIDIA GPU GHA
  .github/workflows/build-kata-static-tarball-amd64-nvidia-gpu.yaml
  .github/workflows/build-kata-static-tarball-arm64-nvidia-gpu.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish-kata-deploy-payload-amd64-nvidia-gpu.yaml
  .github/workflows/publish-kata-deploy-payload-arm64-nvidia-gpu.yaml
  .github/workflows/release-amd64-nvidia-gpu.yaml
  .github/workflows/release-arm64-nvidia-gpu.yaml
  .github/workflows/run-kata-deploy-tests-on-amd64-nvidia-gpu.yaml
  .github/workflows/run-kata-deploy-tests-on-arm64-nvidia-gpu.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/action-admins, @kata-containers/ci

ci: tdx: Use vanilla k8s instead of k3s
  .github/workflows/run-kata-coco-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: remove attempt to access sandbox bundle from container bundle
  src/runtime-rs/crates/shim/src/shim_start.rs
Owners: @kata-containers/rust

runtime-rs: fix misleading log message
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: made Qemu::stop_vm() idempotent
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime: Support policy in remote hypervisor
  src/runtime/virtcontainers/kata_agent.go
Owners: @kata-containers/golang

ci: tdx: Re-enable TDX CI
  .github/workflows/run-kata-coco-tests.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runk: Add update sub-command This enables runk to use update sub-command which is a standard-oci-runtime feature. Fixes: #4365
  src/tools/runk/Cargo.toml
  src/tools/runk/libcontainer/src/container.rs
  src/tools/runk/src/commands/mod.rs
  src/tools/runk/src/commands/update.rs
  src/tools/runk/src/main.rs
Owners: @kata-containers/rust

runk: Add events sub-command This enables runk to use events sub-command.
  src/tools/runk/Cargo.toml
  src/tools/runk/libcontainer/Cargo.toml
  src/tools/runk/libcontainer/src/container.rs
  src/tools/runk/src/commands/events.rs
  src/tools/runk/src/commands/mod.rs
  src/tools/runk/src/main.rs
Owners: @kata-containers/rust

runk: print log to stdout
  src/tools/runk/src/main.rs
Owners: @kata-containers/rust

ci.ocp: Ensure we smoke-test with the right runtime class
  ci/openshift-ci/run_smoke_test.sh
  ci/openshift-ci/smoke/http-server.yaml.in
  ci/openshift-ci/test.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci: kbs: Force delete the KBS pod
  tests/integration/kubernetes/confidential_kbs.sh
Owners: @kata-containers/tests

kernel: Add CONFIG_S390_UV_UAPI for s390x
  tools/packaging/kernel/configs/fragments/s390/base.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

genpolicy: ignore SeccompProfile in PodSpec
  src/tools/genpolicy/src/pod.rs
  tests/integration/kubernetes/runtimeclass_workloads/k8s-policy-pod.yaml
Owners: @kata-containers/rust, @kata-containers/tests

debug: issues kata-monitor
  tests/functional/kata-monitor/gha-run.sh
  tests/functional/kata-monitor/kata-monitor-tests.sh
Owners: @kata-containers/tests

agent: scan_path should not skip counting empty dirs
  src/agent/src/watcher.rs
Owners: @kata-containers/agent

kata-deploy: Add Helm Chart
  tests/integration/kubernetes/gha-run.sh
  tools/packaging/kata-deploy/helm-chart/Makefile
  tools/packaging/kata-deploy/helm-chart/kata-deploy/.helmignore
  tools/packaging/kata-deploy/helm-chart/kata-deploy/Chart.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/tests, @kata-containers/kata-deploy

ci: Use helm to deploy kata-deploy
  tests/common.bash
  tests/integration/kubernetes/gha-run.sh
  tools/packaging/kata-deploy/helm-chart/Makefile
  versions.yaml
Owners: @kata-containers/tests, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci

ci: make cleanup_kata_deploy really simple
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/tests

ci: add reset_runtime to cleanup
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

# SQUASH merge
  .github/workflows/ci.yaml
  tests/git-helper.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/PR-wip-checks.yaml
  .github/workflows/add-issues-to-project.yaml
  .github/workflows/add-pr-sizing-label.yaml
  .github/workflows/cargo-deny-runner.yaml
  .github/workflows/commit-message-check.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/move-issues-to-in-progress.yaml
  .github/workflows/static-checks-self-hosted.yaml
  .github/workflows/static-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  tests/git-helper.sh
Owners: @kata-containers/tests

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

# SQUASH merge
  .github/workflows/ci.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: enable policy testing on TDX
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/policy.rs
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-policy-pvc.bats
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/rust, @kata-containers/tests

genpolicy: allow specifying layer cache file
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/registry_containerd.rs
  src/tools/genpolicy/src/utils.rs
  tests/integration/kubernetes/k8s-policy-pod.bats
Owners: @kata-containers/rust, @kata-containers/tests

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
