Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

runtime: make StopVM thread-safe
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

runtime: store the user name in hypervisor config
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

runtime-rs: fix incorrect comments
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: none

runtime-rs: set agent timeout to 0 for stream RPCs
  src/runtime-rs/crates/agent/src/kata/agent.rs
Owners: @kata-containers/runtime

Dragonball: update linux_loader to 0.6.0
  src/dragonball/Cargo.toml
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/error.rs
  src/dragonball/src/vm/x86_64.rs
Owners: none

Dragonball: update linux_loader to 0.6.0
  src/dragonball/Cargo.toml
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/error.rs
  src/dragonball/src/vm/x86_64.rs
Owners: none

docs: Update urls in runk documentation
  src/tools/runk/README.md
Owners: @kata-containers/tools

docs: Update urls in runk documentation
  src/tools/runk/README.md
Owners: @kata-containers/tools

version: Update containerd version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

stable-2.5: fix cargo vendor
  src/agent/Cargo.lock
Owners: @kata-containers/agent

runtime-rs: add comments for runtime-rs shared directory
  src/runtime-rs/crates/resource/src/share_fs/utils.rs
Owners: @kata-containers/runtime

runtime-rs: add comments for runtime-rs shared directory
  src/runtime-rs/crates/resource/src/share_fs/utils.rs
Owners: @kata-containers/runtime

osbuilder: Export directory variables for libseccomp
  tools/osbuilder/rootfs-builder/rootfs.sh
Owners: @kata-containers/builder

runtime: make StopVM thread-safe
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

runtime: add more debug logs for non-root user operation
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

runtime: store the user name in hypervisor config
  src/runtime/pkg/containerd-shim-v2/create.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

agent: validate hugepage size is supported
  src/agent/rustjail/src/cgroups/fs/mod.rs
Owners: @kata-containers/agent

runtime-rs: fix shim close_io call to support kubectl cp
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/process.rs
  src/runtime-rs/crates/service/src/task_service.rs
Owners: @kata-containers/runtime

runtime-rs: fix shim close_io call to support kubectl cp
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/process.rs
  src/runtime-rs/crates/service/src/task_service.rs
Owners: @kata-containers/runtime

dragonball: update ut for kernel config
  src/dragonball/src/vm/kernel_config.rs
Owners: none

dragonball: update ut for kernel config
  src/dragonball/src/vm/kernel_config.rs
Owners: none

readme: remove libraries mentioning
  README.md
  src/runtime-rs/README.md
Owners: @kata-containers/documentation, @kata-containers/runtime

readme: remove libraries mentioning
  README.md
  src/runtime-rs/README.md
Owners: @kata-containers/documentation, @kata-containers/runtime

runtime-rs: update Cargo.lock
  src/runtime-rs/Cargo.lock
Owners: @kata-containers/runtime

runtime-rs: update Cargo.lock
  src/runtime-rs/Cargo.lock
Owners: @kata-containers/runtime

tools: release: fix bogus version check
  tools/packaging/release/update-repository-version.sh
Owners: @kata-containers/release

tools: release: fix bogus version check
  tools/packaging/release/update-repository-version.sh
Owners: @kata-containers/release

tools: release: fix bogus version check
  tools/packaging/release/update-repository-version.sh
Owners: @kata-containers/release

dragonball: fix no "as_str" error on Arm
  src/dragonball/src/vm/aarch64.rs
Owners: none

dragonball: fix no "as_str" error on Arm
  src/dragonball/src/vm/aarch64.rs
Owners: none

tools: release: fix bogus version check
  tools/packaging/release/update-repository-version.sh
Owners: @kata-containers/release

release: Kata Containers 3.0.0-rc1
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.0.0-rc1
  VERSION
Owners: @kata-containers/release

versions: Update oci version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update oci version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

release: Adapt kata-deploy for 2.5.2
  tools/packaging/kata-deploy/kata-cleanup/base/kata-cleanup.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
Owners: @kata-containers/packaging

release: Kata Containers 2.5.2
  VERSION
Owners: @kata-containers/release

versions: Update gperf url to avoid libseccomp random failures
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: Update gperf url to avoid libseccomp random failures
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime-rs: support ephemeral storage for emptydir
  src/libs/kata-sys-util/src/k8s.rs
  src/libs/kata-types/src/mount.rs
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/virtio_fs_share_mount.rs
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/runtime
