Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runtime-rs: add support for OpenVMM
  Cargo.lock
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/src/config/hypervisor/openvmm.rs
  src/libs/kata-types/src/config/mod.rs
  src/runtime-rs/Cargo.toml
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-openvmm-azure-runtime-rs.toml.in
  src/runtime-rs/crates/hypervisor/Cargo.toml
  src/runtime-rs/crates/hypervisor/Makefile
  src/runtime-rs/crates/hypervisor/build.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/openvmm/.gitignore
  src/runtime-rs/crates/hypervisor/src/openvmm/inner.rs
  src/runtime-rs/crates/hypervisor/src/openvmm/inner_device.rs
  src/runtime-rs/crates/hypervisor/src/openvmm/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/openvmm/mod.rs
  src/runtime-rs/crates/hypervisor/src/openvmm/protos/README.md
  src/runtime-rs/crates/hypervisor/src/openvmm/protos/google/protobuf/empty.proto
  src/runtime-rs/crates/hypervisor/src/openvmm/protos/google/protobuf/struct.proto
  src/runtime-rs/crates/hypervisor/src/openvmm/protos/vmservice.proto
  src/runtime-rs/crates/hypervisor/src/openvmm/vmm_instance.rs
  src/runtime-rs/crates/hypervisor/src/utils.rs
  src/runtime-rs/crates/runtimes/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
  tests/spellcheck/kata-dictionary.txt
  tests/static-checks.sh
  versions.yaml
Owners: @kata-containers/rust, @kata-containers/tests, @kata-containers/release, @kata-containers/ci

runtime-rs: Gate OpenVMM on supported architectures
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Restrict OpenVMM support to x86_64
  src/runtime-rs/crates/hypervisor/build.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

static-checks: Add agent features check
  tests/static-checks.sh
Owners: @kata-containers/tests

runtime-rs: add l3 forwarding model
  docs/design/architecture/networking.md
  docs/design/architecture_4.0/architecture.md
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/libs/kata-types/src/config/runtime.rs
  src/runtime-rs/config/configuration-clh-azure-runtime-rs.toml.in
  src/runtime-rs/config/configuration-clh-runtime-rs.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-remote.toml.in
  src/runtime-rs/config/configuration-rs-fc.toml.in
  src/runtime-rs/crates/resource/src/network/network_model/l3_forwarding_model.rs
  src/runtime-rs/crates/resource/src/network/network_model/mod.rs
  src/runtime-rs/crates/resource/src/network/network_model/port_forwarding.rs
  src/runtime-rs/crates/resource/src/network/network_model/test_network_model.rs
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
  src/runtime/config/configuration-clh-azure.toml.in
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-fc.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-cpu.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-remote.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  tests/integration/kubernetes/k8s-l3forwarding-connectivity.bats
  tests/integration/kubernetes/run_kubernetes_tests.sh
Owners: @kata-containers/documentation, @kata-containers/rust, @kata-containers/golang, @kata-containers/tests

build: enable composable VM extensions for IBM SEL (runtime-rs)
  .github/workflows/build-kata-static-tarball-s390x.yaml
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/lib.sh
  tools/packaging/guest-image/build_se_image.sh
  tools/packaging/guest-image/lib_se.sh
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/local-build/kata-release-tarball-inputs.sh
  tools/packaging/kata-deploy/shim-components.json
Owners: @kata-containers/arch-s390x, @kata-containers/rust, @kata-containers/tests, @kata-containers/packaging, @kata-containers/kata-deploy

build: seal CoCo extension verity params into SE image
  docs/design/composable-vm-images.md
  docs/how-to/how-to-run-kata-containers-with-SE-VMs.md
  tests/integration/kubernetes/lib.sh
  tools/packaging/guest-image/build_se_image.sh
  tools/packaging/guest-image/lib_se.sh
  tools/packaging/kata-deploy/local-build/Makefile
  versions.yaml
Owners: @kata-containers/documentation, @kata-containers/tests, @kata-containers/packaging, @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci

tests: increase CPU hotplug retry timeout in k8s-cpu-ns
  tests/integration/kubernetes/k8s-cpu-ns.bats
Owners: @kata-containers/tests

ci/openvmm: Enable block-plain emptyDir test
  src/runtime-rs/crates/hypervisor/src/openvmm/inner.rs
  tests/integration/kubernetes/k8s-plain-ephemeral-data-storage.bats
  versions.yaml
Owners: @kata-containers/rust, @kata-containers/tests, @kata-containers/release, @kata-containers/ci

runtime-rs: Add support cgroup v1 sandbox metrics
  Cargo.lock
  src/runtime-rs/crates/runtimes/common/Cargo.toml
  src/runtime-rs/crates/runtimes/common/src/types/mod.rs
  src/runtime-rs/crates/runtimes/common/src/types/trans_from_cgroup.rs
Owners: @kata-containers/rust

runtime-rs: Add support for cgroup v2 sandbox metrics
  Cargo.lock
  src/runtime-rs/crates/runtimes/common/Cargo.toml
  src/runtime-rs/crates/runtimes/common/src/types/trans_from_cgroup.rs
Owners: @kata-containers/rust

runtime-rs: Expose sandbox cgroup statistics in resource manager
  src/runtime-rs/crates/resource/src/cgroups/mod.rs
  src/runtime-rs/crates/resource/src/cgroups/resource.rs
  src/runtime-rs/crates/resource/src/cgroups/resource_inner.rs
  src/runtime-rs/crates/resource/src/manager.rs
Owners: @kata-containers/rust

runtime-rs: Add SandboxMetrics message Convertion
  src/runtime-rs/crates/runtimes/common/src/types/mod.rs
  src/runtime-rs/crates/runtimes/common/src/types/trans_from_shim.rs
  src/runtime-rs/crates/runtimes/common/src/types/trans_into_shim.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
Owners: @kata-containers/rust

runtime-rs: Add support for SandboxMetrics service
  src/runtime-rs/crates/runtimes/common/src/sandbox.rs
  src/runtime-rs/crates/runtimes/src/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
  src/runtime-rs/crates/service/src/sandbox_service.rs
Owners: @kata-containers/rust

runtime-rs: Detach hotplugged devices during container cleanup
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
Owners: @kata-containers/rust

runtime-rs: Retain shared devices until final detach
  src/runtime-rs/crates/hypervisor/src/device/device_manager.rs
Owners: @kata-containers/rust

runtime-rs: Track hotplugged devices per container
  src/runtime-rs/crates/resource/src/manager.rs
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
Owners: @kata-containers/rust

runtime-rs: Support idempotent VFIO hot-unplug
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/qmp.rs
Owners: @kata-containers/rust

runtime-rs: Report container resource cleanup failures
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
Owners: @kata-containers/rust

ci: Run full self-hosted matrix in ci-devel
  .github/workflows/ci-devel.yaml
  .github/workflows/static-checks-self-hosted.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

agent: fix the ResultToTtrpcResult transformation
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

runtime-rs: fix/polish handling of "process not found"-type of errors
  src/runtime-rs/crates/runtimes/common/src/error.rs
Owners: @kata-containers/rust

runtime-rs: fix VM console logging
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

kata-deploy: add a qemu-no-shared-fs build target
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/local-build/kata-release-tarball-inputs.sh
  tools/packaging/static-build/qemu/Makefile
  tools/packaging/static-build/qemu/build-static-qemu-flavour.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

kata-deploy: install the plain snp and tdx classes from the generic qemu
  tools/packaging/kata-deploy/shim-components.json
Owners: @kata-containers/kata-deploy

kata-deploy: derive the qemu artifact name per shim
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
Owners: @kata-containers/kata-deploy

kata-deploy: stop shipping virtiofsd where nothing can use it
  tools/packaging/kata-deploy/shim-components.json
Owners: @kata-containers/kata-deploy

qemu: teach the build about the kata-qemu-no-shared-fs flavour
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

tests: share the erofs host setup
  tests/common.bash
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

qemu: trim the confidential-guest builds to the same device set
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

tests: run the nerdctl smoke tests on erofs
  .github/workflows/basic-ci-amd64.yaml
  tests/integration/nerdctl/gha-run.sh
Owners: @kata-containers/arch-amd64, @kata-containers/tests

tests: make containerd import the conf.d fragments
  tests/common.bash
Owners: @kata-containers/tests

qemu: drop the unreachable firmware from the no-shared-fs tarball
  tools/packaging/static-build/qemu.blacklist
Owners: @kata-containers/packaging

ci: build the qemu-no-shared-fs tarball on amd64 and arm64
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64

kata-deploy: point the NVIDIA runtime-rs classes at the no-shared-fs build
  src/runtime-rs/Makefile
  src/runtime-rs/arch/aarch64-options.mk
  src/runtime-rs/arch/x86_64-options.mk
  src/runtime-rs/config/configuration-qemu-nvidia-cpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  tools/packaging/kata-deploy/binary/src/artifacts/install.rs
  tools/packaging/kata-deploy/shim-components.json
Owners: @kata-containers/rust, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/kata-deploy

qemu: group the device allowlist by capability
  tools/packaging/static-build/qemu/build-qemu.sh
Owners: @kata-containers/packaging

tests: put the docker smoke tests back on the generic qemu
  tests/common.bash
  tests/integration/docker/gha-run.sh
Owners: @kata-containers/tests

qemu-runtime-rs: enable ppc64le support
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-k8s-tests-on-ppc64le.yaml
  src/runtime-rs/Makefile
  tests/gha-run-k8s-common.sh
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/shim-components.json
Owners: @kata-containers/arch-ppc64le, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/rust, @kata-containers/tests, @kata-containers/kata-deploy

Enable ppc64le kata-static tarball generation and upload for runtime-rs
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-merge-release-tarballs.sh
  tools/packaging/kata-deploy/local-build/kata-release-tarball-inputs.sh
Owners: @kata-containers/arch-ppc64le, @kata-containers/kata-deploy

tests: skip k8s-cpu-ns on ppc64le
  tests/integration/kubernetes/filter_out_per_arch/ppc64le.yaml
Owners: @kata-containers/arch-ppc64le

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
