Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

release: Kata Containers 3.2.0-alpha4
  VERSION
Owners: @kata-containers/release

release: Kata Containers 3.2.0-alpha4
  VERSION
Owners: @kata-containers/release

vfio: Fix vfio device ordering
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

vfio: Fix vfio device ordering
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

k8s: Rely on the USING_NFD environment variable passed by the jobs
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-k8s-tests-on-sev.yaml
  .github/workflows/run-k8s-tests-on-snp.yaml
  .github/workflows/run-k8s-tests-on-tdx.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

k8s: Rely on the USING_NFD environment variable passed by the jobs
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-k8s-tests-on-sev.yaml
  .github/workflows/run-k8s-tests-on-snp.yaml
  .github/workflows/run-k8s-tests-on-tdx.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: release: `stage` must be a string
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: release: `stage` must be a string
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: release: `stage` must be a string"
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Revert "gha: release: `stage` must be a string"
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/release-amd64.yaml
  .github/workflows/release-arm64.yaml
  .github/workflows/release-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: release: `stage` must be defined for arm64 / s390x yamls
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

gha: release: `stage` must be defined for arm64 / s390x yamls
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime-rs: fix number of queues handling in dragonball share fs device
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/runtime

runtime-rs: fix number of queues handling in dragonball share fs device
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
Owners: @kata-containers/runtime

metrics: Add FIO test to gha for kata metrics CI
  tests/metrics/storage/fio-k8s/fio-test-ci.sh
Owners: @kata-containers/shell

metrics: Add FIO test to gha for kata metrics CI
  tests/metrics/storage/fio-k8s/fio-test-ci.sh
Owners: @kata-containers/shell

metrics: Add FIO general README
  tests/metrics/storage/fio-k8s/README.md
Owners: @kata-containers/documentation

metrics: Add FIO general README
  tests/metrics/storage/fio-k8s/README.md
Owners: @kata-containers/documentation

metrics: Add FIO information in storage general README
  tests/metrics/storage/README.md
Owners: @kata-containers/documentation

metrics: Add FIO information in storage general README
  tests/metrics/storage/README.md
Owners: @kata-containers/documentation

metrics: Add DAX FIO README
  tests/metrics/storage/fio-k8s/scripts/README.md
Owners: @kata-containers/documentation

metrics: Add DAX FIO README
  tests/metrics/storage/fio-k8s/scripts/README.md
Owners: @kata-containers/documentation

metrics: Add FIO to gha run script
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

metrics: Add FIO to gha run script
  tests/metrics/gha-run.sh
Owners: @kata-containers/shell

metrics: Add k8s sysbench documentation
  tests/metrics/density/README.md
  tests/metrics/density/k8s-sysbench.sh
Owners: @kata-containers/documentation, @kata-containers/shell

metrics: Add k8s sysbench documentation
  tests/metrics/density/README.md
  tests/metrics/density/k8s-sysbench.sh
Owners: @kata-containers/documentation, @kata-containers/shell

release: Fix upload-versions-yaml
  .github/workflows/release.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

release: Fix upload-versions-yaml
  .github/workflows/release.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

Enable SNP=on with CH conf-guest enabled and add dummy host_data value
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_payload_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_platform_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
Owners: @kata-containers/runtime

Add IGVM, HostData, Snp to config markdown doc
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PayloadConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PlatformConfig.md
Owners: @kata-containers/runtime

sanitize clh-snp.toml.in and clh.toml.in
  src/runtime/config/configuration-clh-snp.toml.in
  src/runtime/config/configuration-clh.toml.in
Owners: @kata-containers/runtime

docs: Use control-plane term instead of master
  docs/design/architecture/kubernetes.md
  docs/how-to/how-to-use-k8s-with-containerd-and-kata.md
  docs/how-to/run-kata-with-k8s.md
  docs/install/minikube-installation-guide.md
Owners: @kata-containers/documentation

docs: Use control-plane term instead of master
  docs/design/architecture/kubernetes.md
  docs/how-to/how-to-use-k8s-with-containerd-and-kata.md
  docs/how-to/run-kata-with-k8s.md
  docs/install/minikube-installation-guide.md
Owners: @kata-containers/documentation

ci: k8s: Do not fail when gathering info on AKS nodes
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

ci: k8s: Do not fail when gathering info on AKS nodes
  tests/integration/kubernetes/gha-run.sh
Owners: @kata-containers/shell

release: release-note.sh: Fix typos and reference to images
  tools/packaging/release/release-notes.sh
Owners: @kata-containers/release

release: release-note.sh: Fix typos and reference to images
  tools/packaging/release/release-notes.sh
Owners: @kata-containers/release

Updated for HTTPS Proxy
  utils/kata-manager.sh
Owners: @kata-containers/shell

metrics: Add iperf3 network test
  tests/metrics/network/iperf3_kubernetes/k8s-network-metrics-iperf3.sh
Owners: @kata-containers/shell

metrics: Add iperf3 network test
  tests/metrics/network/iperf3_kubernetes/k8s-network-metrics-iperf3.sh
Owners: @kata-containers/shell
