Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

ci: Introduce taplo configuration
  .taplo.toml
Owners: none

ci: Enable taplo format check
  .github/workflows/toml-check.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Add dependabot groups
  .github/dependabot.yml
Owners: none

ci: Add dependabot config
  .github/dependabot.yml
Owners: none

kata-deploy: Deprecate SEV codeblocks
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

Revert "kata-deploy: Deprecate SEV codeblocks"
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

agent: use safe-path to replace secure_join
  src/agent/Cargo.lock
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/mount.rs
Owners: @kata-containers/agent

runtime: Switch userns packages
  src/runtime/go.mod
  src/runtime/vendor/github.com/opencontainers/runc/libcontainer/userns/userns_deprecated.go
  src/runtime/vendor/modules.txt
  src/runtime/virtcontainers/pkg/rootless/rootless.go
  src/runtime/virtcontainers/pkg/rootless/rootless_test.go
Owners: @kata-containers/golang, @kata-containers/vendoring

genpolicy: remove unused function
  src/tools/genpolicy/src/config_map.rs
Owners: @kata-containers/rust

genpolicy: support arbitrary resources with -c
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/utils.rs
  src/tools/genpolicy/tests/main.rs
Owners: @kata-containers/rust

genpolicy: move policy enforcement integration test to separate folder
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/copyfile/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/copyfile/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/generate_name/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/generate_name/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/network_namespace/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/network_namespace/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/security_context/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/security_context/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/sysctls/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/sysctls/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/emptydir/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/emptydir/testcases.json
  src/tools/genpolicy/tests/policy/testdata/createsandbox/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/createsandbox/testcases.json
  src/tools/genpolicy/tests/policy/testdata/state/createcontainer/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/state/createcontainer/testcases.json
  src/tools/genpolicy/tests/policy/testdata/state/execprocess/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/state/execprocess/testcases.json
  src/tools/genpolicy/tests/policy/testdata/updateinterface/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/updateinterface/testcases.json
  src/tools/genpolicy/tests/policy/testdata/updateroutes/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/updateroutes/testcases.json
Owners: @kata-containers/rust

genpolicy: refactor policy test workdir setup
  src/tools/genpolicy/tests/policy/main.rs
Owners: @kata-containers/rust

genpolicy: add cli integration tests
  src/tools/genpolicy/Cargo.lock
  src/tools/genpolicy/Cargo.toml
  src/tools/genpolicy/tests/generate/main.rs
  src/tools/genpolicy/tests/generate/testdata/config_map.yaml
  src/tools/genpolicy/tests/generate/testdata/pod_with_config_map_ref.yaml
  src/tools/genpolicy/tests/generate/testdata/pod_with_secret_ref.yaml
  src/tools/genpolicy/tests/generate/testdata/secret.yaml
Owners: @kata-containers/rust

<type/issue_no>: <subject> Content of commit
  .github/dependabot.yml
Owners: none

versions: Update tempfile crate
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/libs/Cargo.lock
  src/libs/kata-sys-util/Cargo.toml
  src/libs/kata-types/Cargo.toml
  src/libs/logging/Cargo.toml
  src/libs/safe-path/Cargo.toml
  src/libs/shim-interface/Cargo.toml
  src/runtime-rs/Cargo.lock
  src/runtime-rs/Cargo.toml
  src/tools/genpolicy/Cargo.lock
  src/tools/genpolicy/Cargo.toml
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/runk/Cargo.lock
  src/tools/runk/Cargo.toml
  src/tools/runk/libcontainer/Cargo.toml
  src/tools/trace-forwarder/Cargo.lock
  src/tools/trace-forwarder/Cargo.toml
Owners: @kata-containers/agent, @kata-containers/rust

versions: Bump golang.org/x/oauth2
  src/runtime/go.mod
  src/runtime/go.sum
  src/runtime/vendor/golang.org/x/oauth2/LICENSE
  src/runtime/vendor/golang.org/x/oauth2/README.md
  src/runtime/vendor/golang.org/x/oauth2/internal/client_appengine.go
  src/runtime/vendor/golang.org/x/oauth2/internal/transport.go
  src/runtime/vendor/golang.org/x/oauth2/oauth2.go
  src/runtime/vendor/golang.org/x/oauth2/pkce.go
  src/runtime/vendor/golang.org/x/oauth2/token.go
  src/runtime/vendor/google.golang.org/appengine/LICENSE
  src/runtime/vendor/google.golang.org/appengine/internal/api.go
  src/runtime/vendor/google.golang.org/appengine/internal/api_classic.go
  src/runtime/vendor/google.golang.org/appengine/internal/api_common.go
  src/runtime/vendor/google.golang.org/appengine/internal/app_id.go
  src/runtime/vendor/google.golang.org/appengine/internal/base/api_base.pb.go
  src/runtime/vendor/google.golang.org/appengine/internal/base/api_base.proto
  src/runtime/vendor/google.golang.org/appengine/internal/datastore/datastore_v3.pb.go
  src/runtime/vendor/google.golang.org/appengine/internal/datastore/datastore_v3.proto
  src/runtime/vendor/google.golang.org/appengine/internal/identity.go
  src/runtime/vendor/google.golang.org/appengine/internal/identity_classic.go
  src/runtime/vendor/google.golang.org/appengine/internal/identity_flex.go
  src/runtime/vendor/google.golang.org/appengine/internal/identity_vm.go
  src/runtime/vendor/google.golang.org/appengine/internal/internal.go
  src/runtime/vendor/google.golang.org/appengine/internal/log/log_service.pb.go
  src/runtime/vendor/google.golang.org/appengine/internal/log/log_service.proto
  src/runtime/vendor/google.golang.org/appengine/internal/main.go
  src/runtime/vendor/google.golang.org/appengine/internal/main_common.go
  src/runtime/vendor/google.golang.org/appengine/internal/main_vm.go
  src/runtime/vendor/google.golang.org/appengine/internal/metadata.go
  src/runtime/vendor/google.golang.org/appengine/internal/net.go
  src/runtime/vendor/google.golang.org/appengine/internal/regen.sh
  src/runtime/vendor/google.golang.org/appengine/internal/remote_api/remote_api.pb.go
  src/runtime/vendor/google.golang.org/appengine/internal/remote_api/remote_api.proto
  src/runtime/vendor/google.golang.org/appengine/internal/transaction.go
  src/runtime/vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.pb.go
  src/runtime/vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.proto
  src/runtime/vendor/google.golang.org/appengine/urlfetch/urlfetch.go
  src/runtime/vendor/modules.txt
Owners: @kata-containers/golang, @kata-containers/vendoring

tests: update negative test log assertions
  tests/integration/kubernetes/k8s-guest-pull-image-authenticated.bats
  tests/integration/kubernetes/k8s-guest-pull-image-encrypted.bats
Owners: @kata-containers/tests

guest image: abandon PULL_TYPE env
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/packaging/guest-image/build_image.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/agent/build-static-agent.sh
  tools/packaging/static-build/agent/build.sh
Owners: @kata-containers/builder, @kata-containers/packaging, @kata-containers/kata-deploy

docs: update guest pull document
  docs/design/arch-images/guest-image-management-architecture.png
  docs/design/arch-images/guest-image-management-details.png
  docs/design/kata-guest-image-management-design.md
Owners: @kata-containers/documentation

test: test
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

image-pull: move guest pull abilities to Confidential Data Hub
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/Makefile
  src/agent/src/confidential_data_hub/image.rs
  src/agent/src/confidential_data_hub/mod.rs
  src/agent/src/config.rs
  src/agent/src/features.rs
  src/agent/src/image.rs
  src/agent/src/main.rs
  src/agent/src/rpc.rs
  src/agent/src/storage/image_pull_handler.rs
  src/agent/src/storage/mod.rs
  src/libs/protocols/protos/confidential_data_hub.proto
Owners: @kata-containers/agent, @kata-containers/rust

runtime-rs: fix vfio pci address domain 0001 problem
  src/runtime-rs/crates/hypervisor/src/device/driver/vfio.rs
Owners: @kata-containers/rust

ci: gatekeeper: skip docker tests
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

Bump: golang.org/x/oauth2 to address CVE
  src/runtime/go.mod
  src/runtime/go.sum
Owners: @kata-containers/golang

runtime-rs: Add inotify-based real-time directory synchronization
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/rust

runtime: add option to force guest pull
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/runtime-rs/Makefile
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-sev.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/fs_share_linux.go
  src/runtime/virtcontainers/fs_share_linux_test.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/documentation, @kata-containers/rust, @kata-containers/golang

tools: let confidential guest kernel builds to exclude fragments
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/README.md
Owners: @kata-containers/kernel

kernel: disable virtio RNG for confidential guests
  tools/packaging/kernel/configs/fragments/common/virtio-extras.conf
  tools/packaging/kernel/configs/fragments/common/virtio.conf
  tools/packaging/kernel/kata_config_version
Owners: @kata-containers/kernel

kernel: disable virtio MMIO for confidential guests
  tools/packaging/kernel/configs/fragments/common/mmio.conf
Owners: @kata-containers/kernel

runtime: do not add virtio-rng-pci device for confidential guests
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

versions: Bump bumpalo version
  src/libs/Cargo.lock
  src/tools/trace-forwarder/Cargo.lock
Owners: @kata-containers/rust

versions: Bump byte-unit and rust_decimal
  src/agent/Cargo.lock
  src/libs/Cargo.lock
  src/libs/kata-types/Cargo.toml
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/volume/hugepage.rs
  src/tools/agent-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
  src/tools/runk/Cargo.lock
Owners: @kata-containers/agent, @kata-containers/rust

versions: Bump hyper version
  src/dragonball/Cargo.lock
  src/libs/Cargo.lock
  src/runtime-rs/Cargo.lock
  src/tools/agent-ctl/Cargo.lock
  src/tools/genpolicy/Cargo.lock
  src/tools/kata-ctl/Cargo.lock
Owners: @kata-containers/dragonball, @kata-containers/rust

kata-agent: Improve file sync handling and address symlink issues
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

osbuilder: ubuntu: Switch from multistrap to mmdebstrap
  tools/osbuilder/rootfs-builder/rootfs.sh
  tools/osbuilder/rootfs-builder/ubuntu/Dockerfile.in
  tools/osbuilder/rootfs-builder/ubuntu/rootfs_lib.sh
Owners: @kata-containers/builder

kata-deploy: Avoid changing any component path in case of restart
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

agent: update image-rs for CoCo v0.14.0
  src/agent/Cargo.lock
  src/agent/Cargo.toml
Owners: @kata-containers/agent

versions: update Trustee version for CoCo v0.14.0
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: update guest-components for CoCo v0.14.0
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

ci: add helm workflow to generate jsonschema
  .github/workflows/ci-helm.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
