Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

ci: install musl target for agent build
  .github/workflows/pr-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: add musl target via explicit rustup step
  .github/workflows/pr-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: switch agent job to cargo check (no link)
  .github/workflows/pr-checks.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

runtime: address third round of review comments
  src/runtime/pkg/containerd-shim-v2/netlink_watcher_test.go
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/golang

kernel: drop unused CONFIG_INET_ESP from default config
  tools/packaging/kernel/configs/fragments/common/network.conf
Owners: @kata-containers/kernel

tests: enable hardcoded policy tests for all mariner configurations
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/tests

runtime-rs: coldplug pending block devices in cloud-hypervisor
  src/runtime-rs/crates/hypervisor/ch-config/src/convert.rs
  src/runtime-rs/crates/hypervisor/ch-config/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_device.rs
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
Owners: @kata-containers/rust

virtiofs: make inode file handles configurable
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/config/configuration-cloud-hypervisor.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_standalone.rs
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/stratovirt.go
  src/runtime/virtcontainers/virtiofsd.go
  src/runtime/virtcontainers/virtiofsd_test.go
  src/tools/agent-ctl/src/vm/share_fs_utils.rs
Owners: @kata-containers/rust, @kata-containers/golang

runtime: disable virtiofsd extra-args annotation by default
  docs/how-to/how-to-set-sandbox-config-kata.md
  docs/runtime-configuration.md
  src/runtime-rs/Makefile
  src/runtime/Makefile
Owners: @kata-containers/documentation, @kata-containers/rust, @kata-containers/golang

tests: nvidia: avoid NIM journal dumps on success
  src/libs/kata-sys-util/src/k8s.rs
  tests/integration/kubernetes/k8s-nvidia-nim.bats
Owners: @kata-containers/rust, @kata-containers/tests

utils.mk: Scope rust check to per-component crates
  utils.mk
Owners: @kata-containers/build

libs: Narrow test to packages of libs
  src/libs/Makefile
Owners: @kata-containers/rust

runtime-rs: Avoid hardcoding component name
  src/runtime-rs/Makefile
Owners: @kata-containers/rust

agent: Narrow test to packages of agent
  src/agent/Makefile
Owners: @kata-containers/agent

dragonball: Narrow test to packages of dragonball
  src/dragonball/Makefile
Owners: @kata-containers/dragonball

agent: policy: fix clippy::expect_fun_call
  src/agent/policy/src/policy.rs
Owners: @kata-containers/agent

runtime-rs: fix unformatted code in virt_container
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
Owners: @kata-containers/rust

Implement SaveVM and PauseVM fns. for CLH
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/golang

Implement VM Restore functionality for CLH
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/golang

Implement ResumeVM fn. for CLH
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/golang

Set the vmInfo state after mock Pause and Resume calls
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/golang

Add test for SaveVM function
  src/runtime/virtcontainers/clh_test.go
Owners: @kata-containers/golang

wip: policy-provided mode for Process
  src/agent/policy/src/policy.rs
  src/agent/src/policy.rs
  src/agent/src/rpc.rs
  src/tools/genpolicy/drop-in-examples/20-guest-pull-policy-provided-drop-in.json
  src/tools/genpolicy/drop-in-examples/README.md
  src/tools/genpolicy/genpolicy-settings.json
  src/tools/genpolicy/rules.rego
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/registry_containerd.rs
  src/tools/genpolicy/src/yaml.rs
  src/tools/genpolicy/tests/policy/main.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/cgroup_mount_extras/genpolicy-settings.d/10-id-verification-policy.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/gid/genpolicy-settings.d/10-id-verification-policy.json
  src/tools/genpolicy/tests/policy/testdata/createcontainer/volumes/container_image/genpolicy-settings.d/10-id-verification-policy.json
  src/tools/genpolicy/tests/policy/testdata/state/execprocess_policy_provided/genpolicy-settings.d/10-id-verification-policy.json
  src/tools/genpolicy/tests/policy/testdata/state/execprocess_policy_provided/pod.yaml
  src/tools/genpolicy/tests/policy/testdata/state/execprocess_policy_provided/testcases.json
  src/tools/genpolicy/tests/policy/testdata/state/execprocessdeployment/testcases.json
  tests/integration/kubernetes/k8s-policy-deployment-sc.bats
  tests/integration/kubernetes/k8s-policy-deployment.bats
  tests/integration/kubernetes/k8s-policy-job.bats
  tests/integration/kubernetes/k8s-policy-pod.bats
  tests/integration/kubernetes/k8s-policy-rc.bats
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-1-8b-instruct-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/nvidia-nim-llama-3-2-nv-embedqa-1b-v2-tee.yaml.in
  tests/integration/kubernetes/runtimeclass_workloads/openvpn/openvpn-client-pod.yaml
  tests/integration/kubernetes/runtimeclass_workloads/openvpn/openvpn-server-pod.yaml
  tests/integration/kubernetes/runtimeclass_workloads/pod-trusted-ephemeral-data-storage.yaml
  tests/integration/kubernetes/tests_common.sh
Owners: @kata-containers/agent, @kata-containers/documentation, @kata-containers/rust, @kata-containers/tests

Remove initrd image check for VM templating
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
Owners: @kata-containers/golang

Expand resetHypervisorConfig
  src/runtime/virtcontainers/factory/factory_linux.go
Owners: @kata-containers/golang

Update CLH template VM config to set memory shared=false
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/golang

Set VMStorePath for the template VM
  src/runtime/virtcontainers/factory/template/template_linux.go
Owners: @kata-containers/golang

Restore CLH VM snapshot to create VM from template
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/golang

Make template deviceStatePath configurable
  src/runtime/virtcontainers/factory/template/template_linux.go
  src/runtime/virtcontainers/factory/template/template_test.go
Owners: @kata-containers/golang

Set MemoryZone config for Template-related VMs
  src/runtime/virtcontainers/clh.go
Owners: @kata-containers/golang

Truncate VM Template's memory file
  src/runtime/virtcontainers/factory/template/template_linux.go
Owners: @kata-containers/golang

dragonball: Allow guest VM to load tdshim firmware for booting
  Cargo.lock
  src/dragonball/Cargo.toml
  src/dragonball/dbs_address_space/src/layout.rs
  src/dragonball/dbs_address_space/src/region.rs
  src/dragonball/dbs_boot/src/firmware/mod.rs
  src/dragonball/dbs_boot/src/firmware/tdshim/hob.rs
  src/dragonball/dbs_boot/src/firmware/tdshim/mod.rs
  src/dragonball/dbs_boot/src/firmware/tdshim/section.rs
  src/dragonball/dbs_boot/src/lib.rs
  src/dragonball/dbs_boot/src/x86_64/layout.rs
  src/dragonball/src/address_space_manager.rs
  src/dragonball/src/api/v1/boot_source.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/error.rs
  src/dragonball/src/test_utils.rs
  src/dragonball/src/vcpu/aarch64.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vcpu/x86_64.rs
  src/dragonball/src/vm/kernel_config.rs
  src/dragonball/src/vm/mod.rs
  src/dragonball/src/vm/x86_64.rs
Owners: @kata-containers/dragonball, @kata-containers/arch-amd64, @kata-containers/arch-aarch64

vcmock: add FetchSandbox mock and fix Func dispatch
  src/runtime/virtcontainers/pkg/vcmock/mock.go
  src/runtime/virtcontainers/pkg/vcmock/sandbox.go
  src/runtime/virtcontainers/pkg/vcmock/types.go
Owners: @kata-containers/golang

virtcontainers: export FetchSandbox for OCI runtime use
  src/runtime/virtcontainers/api.go
  src/runtime/virtcontainers/implementation.go
  src/runtime/virtcontainers/interfaces.go
Owners: @kata-containers/golang

runtime: add unit tests for OCI lifecycle commands
  src/runtime/cmd/kata-runtime/oci_commands_test.go
Owners: @kata-containers/golang

runtime: add OCI lifecycle commands for Podman/Docker compatibility
  src/runtime/cmd/kata-runtime/main.go
  src/runtime/cmd/kata-runtime/oci-create.go
  src/runtime/cmd/kata-runtime/oci-delete.go
  src/runtime/cmd/kata-runtime/oci-kill.go
  src/runtime/cmd/kata-runtime/oci-pause-resume.go
  src/runtime/cmd/kata-runtime/oci-run.go
  src/runtime/cmd/kata-runtime/oci-start.go
  src/runtime/cmd/kata-runtime/oci-state.go
Owners: @kata-containers/golang

Use diff VM storage paths in template_test.go
  src/runtime/virtcontainers/factory/template/template_test.go
Owners: @kata-containers/golang

tests: skip erofs-incompatible k8s cases
  tests/integration/kubernetes/k8s-attach-handlers.bats
  tests/integration/kubernetes/k8s-empty-dirs.bats
  tests/integration/kubernetes/k8s-inotify.bats
  tests/integration/kubernetes/k8s-ip6tables.bats
  tests/integration/kubernetes/k8s-liveness-probes.bats
  tests/integration/kubernetes/k8s-memory.bats
  tests/integration/kubernetes/k8s-oom.bats
  tests/integration/kubernetes/k8s-openvpn.bats
  tests/integration/kubernetes/k8s-replication.bats
  tests/integration/kubernetes/k8s-sandbox-vcpus-allocation.bats
  tests/integration/kubernetes/k8s-scale-nginx.bats
Owners: @kata-containers/tests

runtime: close NetNS fd in SetupNetworkNamespace()
  src/runtime/pkg/katautils/network_linux.go
Owners: @kata-containers/golang

virtiofs: make inode file handles configurable
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/runtime-rs/config/configuration-clh-runtime-rs.toml.in
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_standalone.rs
  src/runtime/config/configuration-clh.toml.in
  src/runtime/config/configuration-qemu-cca.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/config/configuration-stratovirt.toml.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/pkg/oci/utils.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/clh_test.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/stratovirt.go
  src/runtime/virtcontainers/stratovirt_test.go
  src/runtime/virtcontainers/virtiofsd.go
  src/runtime/virtcontainers/virtiofsd_test.go
  src/tools/agent-ctl/src/vm/share_fs_utils.rs
Owners: @kata-containers/rust, @kata-containers/golang
