Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team

runtime: Use git rev-parse for the kata-monitor tag
  src/runtime/Makefile
Owners: @kata-containers/runtime

virtcontainers: tests: ensure Linux specific tests are just run on Linux
  src/runtime/virtcontainers/acrn_arch_base_test.go
  src/runtime/virtcontainers/container_linux_test.go
  src/runtime/virtcontainers/container_test.go
  src/runtime/virtcontainers/hypervisor_linux_test.go
  src/runtime/virtcontainers/hypervisor_test.go
  src/runtime/virtcontainers/kata_agent_linux_test.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/sandbox_linux_test.go
  src/runtime/virtcontainers/sandbox_test.go
  src/runtime/virtcontainers/virtcontainers_darwin_test.go
  src/runtime/virtcontainers/virtcontainers_linux_test.go
  src/runtime/virtcontainers/virtcontainers_test.go
  src/runtime/virtcontainers/vm_linux_test.go
  src/runtime/virtcontainers/vm_test.go
Owners: @kata-containers/runtime

virtcontainers: fs_share: add Darwin skeleton
  src/runtime/virtcontainers/fs_share_darwin.go
Owners: @kata-containers/runtime

runtime: device: cleanup outdated comments
  src/runtime/pkg/device/config/config.go
  src/runtime/pkg/device/config/pmem.go
Owners: @kata-containers/runtime

kata-runtime: kata-check changes to Enable Darwin build
  src/runtime/cmd/kata-runtime/kata-check.go
  src/runtime/cmd/kata-runtime/kata-check_darwin_amd64.go
  src/runtime/cmd/kata-runtime/kata-check_darwin_arm64.go
  src/runtime/cmd/kata-runtime/kata-check_linux.go
  src/runtime/cmd/kata-runtime/kata-check_linux_amd64.go
  src/runtime/cmd/kata-runtime/kata-check_linux_arm64.go
Owners: @kata-containers/runtime

virtcontainers: config validation is host specific
  src/runtime/virtcontainers/hypervisor_config_darwin.go
  src/runtime/virtcontainers/hypervisor_config_linux.go
  src/runtime/virtcontainers/hypervisor_config_linux_test.go
  src/runtime/virtcontainers/hypervisor_config_test.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

ci: augment darwin test now that we can build, run unit tests
  .github/workflows/darwin-tests.yaml
  ci/darwin-test.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/tests

katautils: add vfw config handling
  src/runtime/pkg/katautils/config.go
Owners: @kata-containers/runtime

schedcore: make buildable
  src/runtime/pkg/utils/schedcore.go
  src/runtime/pkg/utils/schedcore_darwin.go
  src/runtime/pkg/utils/schedcore_linux.go
Owners: @kata-containers/runtime

virtcontainers: validate hypervisor config outside of hypervisor itself
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/hypervisor_test.go
  src/runtime/virtcontainers/mock_hypervisor.go
  src/runtime/virtcontainers/mock_hypervisor_test.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/vm.go
Owners: @kata-containers/runtime

virtcontainers: split out Linux parts from mount
  src/runtime/virtcontainers/mount.go
  src/runtime/virtcontainers/mount_darwin.go
  src/runtime/virtcontainers/mount_linux.go
  src/runtime/virtcontainers/mount_test.go
  src/runtime/virtcontainers/mount_test_linux.go
Owners: @kata-containers/runtime

virtcontainers: Add a Virtualization.framework skeleton
  src/runtime/virtcontainers/virtframework.go
Owners: @kata-containers/runtime

virtcontainers: Add a Network API skeleton for Darwin
  src/runtime/virtcontainers/network_darwin.go
Owners: @kata-containers/runtime

nydus: net-ns handling needs to be only executed on Linux hosts
  src/runtime/virtcontainers/mount_linux_test.go
  src/runtime/virtcontainers/nydusd.go
  src/runtime/virtcontainers/nydusd_darwin.go
  src/runtime/virtcontainers/nydusd_linux.go
Owners: @kata-containers/runtime

dragonball: add kvm context
  src/dragonball/src/error.rs
  src/dragonball/src/kvm_context.rs
  src/dragonball/src/lib.rs
Owners: none

dragonball: add kvm context
  src/dragonball/src/error.rs
  src/dragonball/src/kvm_context.rs
  src/dragonball/src/lib.rs
Owners: none

dragonball: add vcpu
  src/dragonball/Cargo.toml
  src/dragonball/src/lib.rs
  src/dragonball/src/metric.rs
  src/dragonball/src/vcpu/aarch64.rs
  src/dragonball/src/vcpu/mod.rs
  src/dragonball/src/vcpu/sm.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vcpu/x86_64.rs
Owners: none

dragonball: add vcpu
  src/dragonball/Cargo.toml
  src/dragonball/src/lib.rs
  src/dragonball/src/metric.rs
  src/dragonball/src/vcpu/aarch64.rs
  src/dragonball/src/vcpu/mod.rs
  src/dragonball/src/vcpu/sm.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vcpu/x86_64.rs
Owners: none

dragonball: add upcall support
  src/dragonball/Cargo.toml
  src/dragonball/src/device_manager/mod.rs
Owners: none

dragonball: add upcall support
  src/dragonball/Cargo.toml
  src/dragonball/src/device_manager/mod.rs
Owners: none

versions: Update containerd version
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

CCv0: Increase timeout
  docs/how-to/ccv0.sh
Owners: @kata-containers/documentation

dragonball: add vcpu manager
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/vcpu/mod.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vm/mod.rs
Owners: none

dragonball: add vcpu manager
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/vcpu/mod.rs
  src/dragonball/src/vcpu/vcpu_impl.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
  src/dragonball/src/vm/mod.rs
Owners: none

doc: add document for vCPU, api and device
  src/dragonball/README.md
  src/dragonball/docs/api.md
  src/dragonball/docs/device.md
  src/dragonball/docs/vcpu.md
Owners: @kata-containers/documentation

dragonball: fix a bug when generating kernel boot args
  src/dragonball/src/device_manager/mod.rs
Owners: none

doc: add document for vCPU, api and device
  src/dragonball/README.md
  src/dragonball/docs/api.md
  src/dragonball/docs/device.md
  src/dragonball/docs/vcpu.md
Owners: @kata-containers/documentation

dragonball: fix a bug when generating kernel boot args
  src/dragonball/src/device_manager/mod.rs
Owners: none

dragonball: add api module
  src/dragonball/src/api/mod.rs
  src/dragonball/src/api/v1/instance_info.rs
  src/dragonball/src/api/v1/mod.rs
  src/dragonball/src/lib.rs
Owners: none

dragonball: add api module
  src/dragonball/src/api/mod.rs
  src/dragonball/src/api/v1/instance_info.rs
  src/dragonball/src/api/v1/mod.rs
  src/dragonball/src/lib.rs
Owners: none

hotplug: add room for future acpi hotplug mechanism
  src/dragonball/Cargo.toml
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
Owners: none

hotplug: add room for future acpi hotplug mechanism
  src/dragonball/Cargo.toml
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/vcpu/vcpu_manager.rs
Owners: none

katautils: don't do validation when loading hypervisor config
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

katautils: don't do validation when loading hypervisor config
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

virtcontainers: validate hypervisor config outside of hypervisor itself
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/hypervisor_test.go
  src/runtime/virtcontainers/mock_hypervisor.go
  src/runtime/virtcontainers/mock_hypervisor_test.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/vm.go
Owners: @kata-containers/runtime

virtcontainers: validate hypervisor config outside of hypervisor itself
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/hypervisor_test.go
  src/runtime/virtcontainers/mock_hypervisor.go
  src/runtime/virtcontainers/mock_hypervisor_test.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
  src/runtime/virtcontainers/vm.go
Owners: @kata-containers/runtime

shim: support shim v2 logging plugin
  src/runtime/pkg/containerd-shim-v2/service.go
  src/runtime/pkg/containerd-shim-v2/shim_io_binary.go
  src/runtime/pkg/containerd-shim-v2/shim_io_file.go
  src/runtime/pkg/containerd-shim-v2/shim_io_pipe.go
  src/runtime/pkg/containerd-shim-v2/start.go
  src/runtime/pkg/containerd-shim-v2/stream.go
  src/runtime/pkg/containerd-shim-v2/stream_test.go
  src/runtime/vendor/github.com/containerd/containerd/pkg/ioutil/read_closer.go
  src/runtime/vendor/github.com/containerd/containerd/pkg/ioutil/write_closer.go
  src/runtime/vendor/github.com/containerd/containerd/pkg/ioutil/writer_group.go
  src/runtime/vendor/modules.txt
Owners: @kata-containers/runtime

shim: support shim v2 logging plugin
  src/runtime/pkg/containerd-shim-v2/service.go
  src/runtime/pkg/containerd-shim-v2/shim_io_binary.go
  src/runtime/pkg/containerd-shim-v2/shim_io_file.go
  src/runtime/pkg/containerd-shim-v2/shim_io_pipe.go
  src/runtime/pkg/containerd-shim-v2/start.go
  src/runtime/pkg/containerd-shim-v2/stream.go
  src/runtime/pkg/containerd-shim-v2/stream_test.go
  src/runtime/vendor/github.com/containerd/containerd/pkg/ioutil/read_closer.go
  src/runtime/vendor/github.com/containerd/containerd/pkg/ioutil/write_closer.go
  src/runtime/vendor/github.com/containerd/containerd/pkg/ioutil/writer_group.go
  src/runtime/vendor/modules.txt
Owners: @kata-containers/runtime

hypervisor: Add default_maxmemory configuration
  src/runtime/go.mod
  src/runtime/go.sum
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/vendor/github.com/pbnjay/memory/LICENSE
  src/runtime/vendor/github.com/pbnjay/memory/README.md
  src/runtime/vendor/github.com/pbnjay/memory/doc.go
  src/runtime/vendor/github.com/pbnjay/memory/go.mod
  src/runtime/vendor/github.com/pbnjay/memory/memory_bsd.go
  src/runtime/vendor/github.com/pbnjay/memory/memory_darwin.go
  src/runtime/vendor/github.com/pbnjay/memory/memory_linux.go
  src/runtime/vendor/github.com/pbnjay/memory/memory_windows.go
  src/runtime/vendor/github.com/pbnjay/memory/memsysctl.go
  src/runtime/vendor/github.com/pbnjay/memory/stub.go
  src/runtime/vendor/modules.txt
  src/runtime/virtcontainers/hypervisor.go
Owners: @kata-containers/runtime

hypervisor: Add default_maxmemory configuration
  src/runtime/go.mod
  src/runtime/go.sum
  src/runtime/pkg/katatestutils/utils.go
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/katautils/config_test.go
  src/runtime/vendor/github.com/pbnjay/memory/LICENSE
  src/runtime/vendor/github.com/pbnjay/memory/README.md
  src/runtime/vendor/github.com/pbnjay/memory/doc.go
  src/runtime/vendor/github.com/pbnjay/memory/go.mod
  src/runtime/vendor/github.com/pbnjay/memory/memory_bsd.go
  src/runtime/vendor/github.com/pbnjay/memory/memory_darwin.go
  src/runtime/vendor/github.com/pbnjay/memory/memory_linux.go
  src/runtime/vendor/github.com/pbnjay/memory/memory_windows.go
  src/runtime/vendor/github.com/pbnjay/memory/memsysctl.go
  src/runtime/vendor/github.com/pbnjay/memory/stub.go
  src/runtime/vendor/modules.txt
  src/runtime/virtcontainers/hypervisor.go
Owners: @kata-containers/runtime
