Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

runtime-rs: Add support for independent iothreads for virtio blk devices
  src/runtime-rs/crates/hypervisor/src/qemu/cmdline_generator.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

runtime-rs: Add configurable indep_iothreads in configurations
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
Owners: @kata-containers/rust

kata-types: Introduce independent IO thread for virtio-blk devices
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

packaging: make builder base-image registry substitutable for CI
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-riscv64.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  src/agent/Makefile
  tools/osbuilder/image-builder/Dockerfile
  tools/osbuilder/image-builder/image_builder.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/scripts/lib.sh
  tools/packaging/static-build/agent/Dockerfile
  tools/packaging/static-build/agent/build.sh
  tools/packaging/static-build/busybox/Dockerfile
  tools/packaging/static-build/busybox/build.sh
  tools/packaging/static-build/coco-guest-components/Dockerfile
  tools/packaging/static-build/coco-guest-components/build.sh
  tools/packaging/static-build/codegen/Dockerfile
  tools/packaging/static-build/kernel/Dockerfile
  tools/packaging/static-build/kernel/build.sh
  tools/packaging/static-build/ovmf/Dockerfile
  tools/packaging/static-build/ovmf/build.sh
  tools/packaging/static-build/pause-image/Dockerfile
  tools/packaging/static-build/pause-image/build.sh
  tools/packaging/static-build/qemu/Dockerfile
  tools/packaging/static-build/qemu/build-base-qemu.sh
  tools/packaging/static-build/shim-v2/Dockerfile
  tools/packaging/static-build/shim-v2/build.sh
  tools/packaging/static-build/tools/Dockerfile
  tools/packaging/static-build/tools/build.sh
  tools/packaging/static-build/virtiofsd/build.sh
  tools/packaging/static-build/virtiofsd/gnu/Dockerfile
  tools/packaging/static-build/virtiofsd/musl/Dockerfile
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-s390x, @kata-containers/agent, @kata-containers/builder, @kata-containers/kata-deploy, @kata-containers/packaging

packaging: make payload/utility image registries substitutable for CI
  .github/workflows/build-kata-static-tarball-amd64.yaml
  .github/workflows/build-kata-static-tarball-arm64.yaml
  .github/workflows/build-kata-static-tarball-ppc64le.yaml
  .github/workflows/build-kata-static-tarball-s390x.yaml
  .github/workflows/publish-kata-images.yaml
  tools/osbuilder/dracut/Dockerfile.in
  tools/packaging/kata-debug/Dockerfile
  tools/packaging/kata-debug/kata-debug-build-and-upload-payload.sh
  tools/packaging/kata-deploy/Dockerfile
  tools/packaging/kata-deploy/Dockerfile.components
  tools/packaging/kata-deploy/local-build/dockerbuild/Dockerfile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries-in-docker.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-payload.sh
  tools/packaging/kata-deploy/local-build/kata-deploy-build-components-tarballs.sh
  tools/packaging/kata-monitor/Dockerfile
  tools/packaging/kata-monitor/build-and-upload-from-tarball.sh
  tools/packaging/kubectl/Dockerfile
  tools/testing/kata-webhook/Dockerfile
Owners: @kata-containers/arch-amd64, @kata-containers/arch-aarch64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x, @kata-containers/action-admins, @kata-containers/ci, @kata-containers/builder, @kata-containers/packaging, @kata-containers/kata-deploy, @kata-containers/docker

tests: pull NFD image from the ghcr.io mirror in CI
  tests/gha-run-k8s-common.sh
Owners: @kata-containers/tests

tests: pull stability-test images from the ghcr.io mirror
  tests/stability/cassandra_stress.sh
  tests/stability/common_stability.bash
  tests/stability/stressng_dockerfile/.gitignore
  tests/stability/stressng_dockerfile/Dockerfile.in
Owners: @kata-containers/tests

tests: pull remaining Docker Hub images from the ghcr.io mirror
  tests/functional/vfio-ap/run.sh
  tests/integration/cri-containerd/integration-tests.sh
  tests/integration/docker/gha-run.sh
  tests/integration/nerdctl/gha-run.sh
Owners: @kata-containers/tests

agent: handle ENOSYS in overlayfs storage handler
  src/agent/src/storage/fs_handler.rs
Owners: @kata-containers/agent

kata-sys-util: handle ENOSYS gracefully in mount destination creation
  src/libs/kata-sys-util/src/mount.rs
Owners: @kata-containers/rust

kata-types: add virtio-fs-nydus shared fs configuration support
  src/libs/kata-types/src/config/hypervisor/mod.rs
Owners: @kata-containers/rust

tests: Add support nydus tests for qemu-runtime-rs and clh-runtime-rs
  tests/integration/nydus/nydus_tests.sh
Owners: @kata-containers/tests

docs: Update how-to guide for virtio-fs-nydus with runtime-rs
  docs/how-to/how-to-use-virtio-fs-nydus-with-kata.md
  tests/spellcheck/kata-dictionary.txt
Owners: @kata-containers/documentation, @kata-containers/tests

runtime-rs: Add daemon manager for nydusd process lifecycle
  src/runtime-rs/crates/resource/src/share_fs/nydus/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/nydus/nydus_client.rs
  src/runtime-rs/crates/resource/src/share_fs/nydus/nydus_daemon.rs
Owners: @kata-containers/rust

runtime-rs: Add nydus client for nydusd API communication via HTTP
  Cargo.lock
  src/runtime-rs/crates/resource/Cargo.toml
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/nydus/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/nydus/nydus_client.rs
Owners: @kata-containers/rust

ci: Add qemu-runtime-rs and clh-runtime-rs test with nydus
  .github/workflows/basic-ci-amd64.yaml
Owners: @kata-containers/arch-amd64

runtime-rs: refine ShareFs abstraction with lifecycle and Nydus traits
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_standalone.rs
Owners: @kata-containers/rust

runtime-rs: Implement ShareVirtioFsNydus for standalone mode
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/rootfs/mod.rs
  src/runtime-rs/crates/resource/src/rootfs/nydus_rootfs.rs
  src/runtime-rs/crates/resource/src/share_fs/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/nydus/mod.rs
  src/runtime-rs/crates/resource/src/share_fs/nydus/nydus_daemon.rs
  src/runtime-rs/crates/resource/src/share_fs/share_virtio_fs_nydus.rs
Owners: @kata-containers/rust

tests: launch kata-monitor runc workload with explicit runtime
  tests/functional/kata-monitor/kata-monitor-tests.sh
Owners: @kata-containers/tests

versions: Bump QEMU to 11.0.1
  tools/packaging/qemu/patches/tag_patches/v11.0.1/no_patches.txt
  versions.yaml
Owners: @kata-containers/qemu, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

versions: Bump kernel to 6.18.35
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

tests: raise k8s memory/QoS pod limits for TEE runtime-rs CI
  tests/integration/kubernetes/k8s-memory.bats
  tests/integration/kubernetes/runtimeclass_workloads/pod-burstable.yaml
  tests/integration/kubernetes/runtimeclass_workloads/pod-guaranteed.yaml
  tests/integration/kubernetes/runtimeclass_workloads/pod-memory-limit.yaml
Owners: @kata-containers/tests

runtime: remove file_mem_backend config option
  docs/how-to/how-to-run-kata-containers-with-SNP-VMs.md
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/runtime/Makefile
  src/runtime/config/configuration-qemu-cca.toml.in
  src/runtime/config/configuration-qemu-coco-dev.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-snp.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu-tdx.toml.in
  src/runtime/config/configuration-qemu-nvidia-gpu.toml.in
  src/runtime/config/configuration-qemu-se.toml.in
  src/runtime/config/configuration-qemu-snp.toml.in
  src/runtime/config/configuration-qemu-tdx.toml.in
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/documentation/api/1.0/api.md
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/persist.go
  src/runtime/virtcontainers/persist/api/config.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_test.go
  tools/packaging/kata-deploy/binary/src/utils/toml.rs
Owners: @kata-containers/documentation, @kata-containers/golang, @kata-containers/kata-deploy

runtime-rs: remove file_mem_backend config option
  docs/how-to/how-to-run-kata-containers-with-SNP-VMs.md
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/hypervisor/mod.rs
  src/libs/kata-types/tests/test_config.rs
  src/libs/kata-types/tests/texture/configuration-anno-0.toml
  src/libs/kata-types/tests/texture/configuration-anno-1.toml
  src/runtime-rs/Makefile
  src/runtime-rs/config/configuration-qemu-coco-dev-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-nvidia-gpu-tdx-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-se-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-snp-runtime-rs.toml.in
  src/runtime-rs/config/configuration-qemu-tdx-runtime-rs.toml.in
  src/runtime-rs/tests/texture/configuration-qemu.toml
Owners: @kata-containers/documentation, @kata-containers/rust

generate_vendor: Fix heavily broken logic
  Cargo.toml
  tools/packaging/release/generate_vendor.sh
Owners: @kata-containers/release

genpolicy: add missing probe fields
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/tests/policy/testdata/createcontainer/ignored_fields/pod.yaml
Owners: @kata-containers/rust

fix: pin idna and pymdown-extensions to remediate CVEs
  docs/requirements.txt
Owners: @kata-containers/documentation

docs: Add guide for migrating config from Go runtime to runtime-rs
  docs/design/README.md
  docs/design/migrating-config-go-runtime-to-runtime-rs.md
Owners: @kata-containers/documentation

kata-deploy: Switch the default runtime to runtime-rs
  tools/packaging/kata-deploy/binary/src/config.rs
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

tests: Default to runtime-rs in CI fallbacks
  tests/common.bash
  tests/functional/kata-deploy/kata-deploy-custom-runtimes.bats
  tests/gha-run-k8s-common.sh
  tests/integration/cri-containerd/integration-tests.sh
  tests/integration/kubernetes/confidential_kbs.sh
  tests/integration/kubernetes/gha-run.sh
  tests/integration/kubernetes/k8s-confidential-attestation.bats
  tests/integration/kubernetes/k8s-nvidia-cuda.bats
  tests/integration/kubernetes/k8s-nvidia-nim-service.bats
  tests/integration/kubernetes/k8s-nvidia-nim.bats
  tests/integration/kubernetes/k8s-sealed-secret.bats
  tests/integration/kubernetes/run_kubernetes_nv_tests.sh
  tests/integration/kubernetes/run_kubernetes_tests.sh
  tests/integration/nydus/nydus_tests.sh
  tests/stability/common_stability.bash
  tests/stability/soak_parallel_rm.sh
Owners: @kata-containers/tests

docs: Document runtime-rs as the default and deprecate the Go runtime
  docs/design/migrating-config-go-runtime-to-runtime-rs.md
  docs/helm-configuration.md
Owners: @kata-containers/documentation

docs: Add an up-to-date installation guide for Kata 4.0
  docs/install/README.md
Owners: @kata-containers/documentation

docs: Add an up-to-date installation guide for Kata 4.0
  docs/install/README.md
Owners: @kata-containers/documentation

docs: Add a Quick Start Guide for new users
  README.md
  docs/README.md
  docs/quick-start-guide.md
Owners: @kata-containers/documentation

runtime-rs: Fix queue_size of zero in block_rootfs
  src/runtime-rs/crates/resource/src/rootfs/block_rootfs.rs
Owners: @kata-containers/rust

kata-deploy: split install/cleanup into staged actions
  tools/packaging/kata-deploy/binary/src/main.rs
Owners: @kata-containers/kata-deploy

kata-deploy: extract shared pod env/volumes into helm helpers
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
Owners: @kata-containers/kata-deploy

kata-deploy: add per-node staged cleanup for job mode
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy-cleanup-job.yaml
Owners: @kata-containers/kata-deploy

kata-deploy: add job deployment mode driven by the job-dispatcher
  tests/functional/kata-deploy/lib/helm-deploy.bash
  tests/gha-run-k8s-common.sh
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/_helpers.tpl
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy-install-job.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy-job-templates.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-deploy.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/templates/kata-rbac.yaml
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/local-build/kata-deploy-build-and-upload-helm-chart.sh
Owners: @kata-containers/tests, @kata-containers/kata-deploy

kata-deploy-job-dispatcher: add generic per-node Job dispatcher
  Cargo.lock
  Cargo.toml
  tools/packaging/kata-deploy/job-dispatcher/Cargo.toml
  tools/packaging/kata-deploy/job-dispatcher/src/job.rs
  tools/packaging/kata-deploy/job-dispatcher/src/main.rs
Owners: @kata-containers/kata-deploy

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
