Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

tests/k8s: call teardown_common in k8s-job.bats
  tests/integration/kubernetes/k8s-job.bats
Owners: @kata-containers/tests

CI: Add dedicated expected error message for runtime-rs
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

kata-deploy: Add kata-qemu-runtime-rs-coco-dev runtime class
  tools/packaging/kata-deploy/helm-chart/README.md
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kata-deploy.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-runtime-rs-coco-dev.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

Revert "versions: update kernel-confidential to Linux v6.16.1"
  tools/packaging/kernel/configs/fragments/common/confidential_containers/cryptsetup.conf
  tools/packaging/kernel/configs/fragments/common/hotplug.conf
  tools/packaging/kernel/configs/fragments/s390/confidential/fips.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/configs/fragments/x86_64/confidential/fips.conf
  tools/packaging/kernel/configs/fragments/x86_64/crypto.conf
  tools/packaging/kernel/configs/fragments/x86_64/tdx/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.16.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/arch-amd64, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

fix up add runtimeclass
  src/runtime-rs/config/configuration-qemu-runtime-rs-coco-dev.toml.in
Owners: @kata-containers/rust

cgroups: Only special case "." parent cgroup with systemd cgroups
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

dragonball: add the pci bus support for virtio
  src/dragonball/dbs_device/src/device_manager.rs
  src/dragonball/dbs_pci/Cargo.toml
  src/dragonball/dbs_pci/src/lib.rs
  src/dragonball/dbs_pci/src/pci_address.rs
  src/dragonball/dbs_pci/src/pci_common_config.rs
  src/dragonball/dbs_pci/src/virtio_pci.rs
Owners: @kata-containers/dragonball

dragonball: Add the pci bus support for virtio-blk
  src/dragonball/dbs_virtio_devices/src/lib.rs
  src/dragonball/src/api/v1/vmm_action.rs
  src/dragonball/src/device_manager/blk_dev_mgr.rs
  src/dragonball/src/device_manager/mem_dev_mgr.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/vhost_net_dev_mgr.rs
  src/dragonball/src/device_manager/virtio_net_dev_mgr.rs
  src/dragonball/src/device_manager/vsock_dev_mgr.rs
  src/dragonball/src/error.rs
  src/dragonball/src/vm/mod.rs
Owners: @kata-containers/dragonball

dragonball: refactoring the pci system manager
  src/dragonball/dbs_pci/src/vfio.rs
  src/dragonball/src/device_manager/mod.rs
  src/dragonball/src/device_manager/vfio_dev_mgr/mod.rs
  src/dragonball/src/device_manager/vfio_dev_mgr/pci_vfio.rs
Owners: @kata-containers/dragonball

dragonball: add the msix interrupt support
  src/dragonball/dbs_interrupt/src/notifier.rs
Owners: @kata-containers/dragonball

runtime-rs: make virtio-blk use the pci bus as default
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_device.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/vmm_instance.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
Owners: @kata-containers/rust

csi-kata-directvolume: Add basic SPDK volume support
  src/tools/csi-kata-directvolume/deploy/kata-directvolume/csi-directvol-plugin.yaml
  src/tools/csi-kata-directvolume/examples/pod-with-directvol3/csi-app.yaml
  src/tools/csi-kata-directvolume/examples/pod-with-directvol3/csi-pvc.yaml
  src/tools/csi-kata-directvolume/examples/pod-with-directvol3/csi-storageclass.yaml
  src/tools/csi-kata-directvolume/pkg/directvolume/controllerserver.go
  src/tools/csi-kata-directvolume/pkg/directvolume/nodeserver.go
  src/tools/csi-kata-directvolume/pkg/spdkrpc/jsonrpc.go
  src/tools/csi-kata-directvolume/pkg/state/state.go
  src/tools/csi-kata-directvolume/pkg/utils/utils.go
Owners: @kata-containers/golang

mem-agent: Rename `mem-agent-lib` to `mem-agent`
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/mem-agent/Cargo.toml
Owners: @kata-containers/agent

libs: Move `mem-agent` into `src/libs`
  src/agent/Cargo.toml
  src/libs/mem-agent/.gitignore
  src/libs/mem-agent/Cargo.toml
  src/libs/mem-agent/src/agent.rs
  src/libs/mem-agent/src/cgroup.rs
  src/libs/mem-agent/src/compact.rs
  src/libs/mem-agent/src/lib.rs
  src/libs/mem-agent/src/memcg.rs
  src/libs/mem-agent/src/mglru.rs
  src/libs/mem-agent/src/misc.rs
  src/libs/mem-agent/src/proc.rs
  src/libs/mem-agent/src/psi.rs
  src/libs/mem-agent/src/timer.rs
Owners: @kata-containers/agent, @kata-containers/rust

libs: Make `mem-agent` a member of `libs` workspace
  src/libs/Cargo.toml
Owners: @kata-containers/rust

runtime: qemu: disable memory hotplug for ConfidentialGuests
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/golang

kata-manager: Support xz and zst suffixes for the kata tarball
  utils/kata-manager.sh
Owners: @kata-containers/utils

temp: debug test failure
  tests/integration/kubernetes/k8s-ip6tables.bats
Owners: @kata-containers/tests

kata-manager: Support xz and zst suffixes for the kata tarball
  utils/kata-manager.sh
Owners: @kata-containers/utils

libs: Introduce rootfs fs types
  src/libs/kata-types/src/fs.rs
  src/libs/kata-types/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/kernel_param.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
Owners: @kata-containers/rust

runtime-rs: Empty block-rootfs Storage.options and align with Go runtime
  src/runtime-rs/crates/resource/src/rootfs/block_rootfs.rs
Owners: @kata-containers/rust

runtime-rs: Support agent policy
  src/libs/kata-types/src/annotations/mod.rs
  src/libs/kata-types/src/config/agent.rs
  src/libs/shim-interface/src/shim_mgmt/mod.rs
  src/runtime-rs/crates/agent/src/kata/agent.rs
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/lib.rs
  src/runtime-rs/crates/agent/src/types.rs
  src/runtime-rs/crates/runtimes/common/src/sandbox.rs
  src/runtime-rs/crates/runtimes/src/shim_mgmt/handlers.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

tests/k8s: Enable tests for qemu-runtime-rs-coco-dev
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

CI: match capitalized pull image error exactly
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

fix up add runtimeclass
  src/runtime-rs/config/configuration-qemu-runtime-rs-coco-dev.toml.in
Owners: @kata-containers/rust

kata-types: Support create_container_timeout set within configuration
  src/libs/kata-types/src/config/agent.rs
  src/runtime-rs/config/configuration-qemu-runtime-rs-coco-dev.toml.in
Owners: @kata-containers/rust

CI: Add dedicated expected error message for runtime-rs
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

runtime-rs: test block device aio with native set
  src/runtime-rs/config/configuration-qemu-runtime-rs-coco-dev.toml.in
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
Owners: @kata-containers/rust

DO NOT MERGE: Skip long test(s)
  tests/integration/kubernetes/k8s-guest-pull-image.bats
Owners: @kata-containers/tests

Revert "versions: update kernel-confidential to Linux v6.16.1"
  tools/packaging/kernel/configs/fragments/common/confidential_containers/cryptsetup.conf
  tools/packaging/kernel/configs/fragments/common/hotplug.conf
  tools/packaging/kernel/configs/fragments/s390/confidential/fips.conf
  tools/packaging/kernel/configs/fragments/whitelist.conf
  tools/packaging/kernel/configs/fragments/x86_64/confidential/fips.conf
  tools/packaging/kernel/configs/fragments/x86_64/crypto.conf
  tools/packaging/kernel/configs/fragments/x86_64/tdx/tdx.conf
  tools/packaging/kernel/kata_config_version
  tools/packaging/kernel/patches/6.16.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kernel, @kata-containers/arch-amd64, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

DO NOT MERGE: policy debugging
  src/agent/policy/src/policy.rs
  src/tools/genpolicy/tests/policy/main.rs
Owners: @kata-containers/agent, @kata-containers/rust

WIP: tests/k8s: call teardown_common in some policy tests
  tests/integration/kubernetes/k8s-policy-job.bats
  tests/integration/kubernetes/k8s-policy-pod.bats
Owners: @kata-containers/tests

runtime-rs: Support initdata within NonProtection scenarios
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Change the initdata device driver with block_device_driver
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

cgroups: Fix "." parent cgroup special case
  src/runtime/pkg/resourcecontrol/cgroups.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

cgroups: Fix "." parent cgroup special case
  src/runtime/pkg/resourcecontrol/cgroups.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

runtime-rs: Introduce get_console_address() to Hypervisor trait
  src/runtime-rs/crates/hypervisor/README.md
  src/runtime-rs/crates/hypervisor/src/ch/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/ch/mod.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/mod.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/firecracker/mod.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/qemu/inner.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/hypervisor/src/remote/inner.rs
  src/runtime-rs/crates/hypervisor/src/remote/mod.rs
Owners: @kata-containers/rust

runtime-rs: Set console address when KataAgent starts
  src/runtime-rs/crates/agent/src/kata/agent.rs
  src/runtime-rs/crates/agent/src/kata/mod.rs
  src/runtime-rs/crates/agent/src/lib.rs
  src/runtime-rs/crates/runtimes/virt_container/src/sandbox.rs
Owners: @kata-containers/rust

runtime-rs: Use console to consume guest logs for QEMU
  src/runtime-rs/crates/agent/src/kata/mod.rs
  src/runtime-rs/crates/agent/src/log_forwarder.rs
  src/runtime-rs/crates/agent/src/sock/mod.rs
  src/runtime-rs/crates/agent/src/sock/unix_sock.rs
Owners: @kata-containers/rust

libs: Fix clippy `collapsible_else_if`
  src/libs/mem-agent/src/agent.rs
  src/libs/mem-agent/src/compact.rs
  src/libs/mem-agent/src/memcg.rs
  src/libs/mem-agent/src/psi.rs
Owners: @kata-containers/rust

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
