Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

runtime-rs: handle copy files when share_fs is not available
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/runtime

runtime-rs: update rust to 1.69.0
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runtime-rs: handle copy files when share_fs is not available
  src/runtime-rs/crates/resource/src/manager_inner.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
  src/runtime-rs/crates/resource/src/volume/share_fs_volume.rs
Owners: @kata-containers/runtime

policy: add policy to StatefulSet sample YAML file
  src/agent/samples/policy/test-input/web-nginx.json
  src/agent/samples/policy/test-input/web-pause.json
  src/agent/samples/policy/yaml/stateful-set/web.yaml
  src/tools/genpolicy/src/infra.rs
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/persistent_volume_claim.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/volume.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: use file names supported by Windows
  src/tools/genpolicy/src/registry.rs
Owners: @kata-containers/tools

policy: don't create Service objects
  src/agent/samples/policy/yaml/service/service-azure-vote-front.yaml
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/no_policy_obj.rs
  src/tools/genpolicy/src/policy.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: use object trait for List items
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/list.rs
  src/tools/genpolicy/src/no_policy_obj.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/service.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/tools

versions: update attestation-agent dependency
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

versions: update td-shim dependency
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

feat(agent): support wasm containers in kata agent
  docs/design/README.md
  docs/design/agent-wasm-containers.md
  src/agent/Cargo.lock
  src/agent/Cargo.toml
  src/agent/Makefile
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/lib.rs
  src/agent/rustjail/src/specconv.rs
  src/agent/rustjail/src/validator.rs
  src/agent/rustjail/src/wasm_runtime.rs
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
Owners: @kata-containers/documentation, @kata-containers/agent

policy: remove service struct - no longer used
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/service.rs
Owners: @kata-containers/tools

policy: add LimitRange and ResourceQuota sample files
  src/agent/samples/policy/yaml/kubernetes/fixtures/limits.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/quota.yaml
  src/tools/genpolicy/src/list.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: add Namespace sample
  src/agent/samples/policy/yaml/kubernetes/fixtures/namespace.yaml
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/agent, @kata-containers/tools

agent: fix the order of the layers in overlayfs
  src/agent/src/mount.rs
Owners: @kata-containers/agent

gha: aks: Extract `run` commands to a script
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-k8s-tests-on-sev.yaml
  .github/workflows/run-k8s-tests-on-snp.yaml
  .github/workflows/run-k8s-tests-on-tdx.yaml
  tests/integration/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

gha: aks: Extract `run` commands to a script
  .github/workflows/run-k8s-tests-on-aks.yaml
  .github/workflows/run-k8s-tests-on-sev.yaml
  .github/workflows/run-k8s-tests-on-snp.yaml
  .github/workflows/run-k8s-tests-on-tdx.yaml
  tests/integration/gha-run.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/shell

policy: use mcr.microsoft.com for sample YAML
  src/agent/samples/policy/yaml/configmap/pod1.yaml
Owners: @kata-containers/agent

policy: use mcr.microsoft.com
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
Owners: @kata-containers/agent

policy: add DaemonSet policy
  src/agent/samples/policy/yaml/kubernetes/fixtures/daemon.yaml
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/registry.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: use mcr.microsoft.com
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
Owners: @kata-containers/agent

kata-ctl: Switch to slog logging; add --log-level, --json-logging args
  src/agent/Cargo.lock
  src/libs/logging/Cargo.toml
  src/libs/logging/src/lib.rs
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/src/arch/aarch64/mod.rs
  src/tools/kata-ctl/src/arch/s390x/mod.rs
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/ops/check_ops.rs
  src/tools/kata-ctl/src/ops/exec_ops.rs
  src/tools/kata-ctl/src/ops/volume_ops.rs
Owners: @kata-containers/agent, @kata-containers/tools

kata-ctl: Switch to slog logging; add --log-level, --json-logging args
  src/agent/Cargo.lock
  src/libs/logging/Cargo.toml
  src/libs/logging/src/lib.rs
  src/tools/kata-ctl/Cargo.lock
  src/tools/kata-ctl/Cargo.toml
  src/tools/kata-ctl/src/arch/aarch64/mod.rs
  src/tools/kata-ctl/src/arch/s390x/mod.rs
  src/tools/kata-ctl/src/arch/x86_64/mod.rs
  src/tools/kata-ctl/src/args.rs
  src/tools/kata-ctl/src/check.rs
  src/tools/kata-ctl/src/main.rs
  src/tools/kata-ctl/src/ops/check_ops.rs
  src/tools/kata-ctl/src/ops/exec_ops.rs
  src/tools/kata-ctl/src/ops/volume_ops.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: update samples with newer verity root hashes
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-service.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/service/service-azure-vote-front.yaml
Owners: @kata-containers/agent

policy: update samples after recent merge
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-service.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
Owners: @kata-containers/agent

policy: improve sample to test multiple Replicas
  src/agent/samples/policy/yaml/stateful-set/web.yaml
Owners: @kata-containers/agent

policy: cancel sandbox creation for invalid base64
  src/runtime/pkg/oci/utils.go
Owners: @kata-containers/runtime

policy: add valid-pod.yaml sample from k8s
  src/agent/samples/policy/yaml/kubernetes/fixtures/valid-pod.yaml
Owners: @kata-containers/agent

policy: add limits.yaml sample from k8s
  src/agent/samples/policy/yaml/kubernetes/fixtures/limits.yaml
Owners: @kata-containers/agent

policy: add namespace.yaml sample from k8s
  src/agent/samples/policy/yaml/kubernetes/fixtures/namespace.yaml
Owners: @kata-containers/agent

policy: add replication.yaml sample from k8s
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
Owners: @kata-containers/agent

policy: restore nginx samples now that they work
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-service.yaml
Owners: @kata-containers/agent

policy: add serde_yaml output for namespace.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/namespace.yaml
Owners: @kata-containers/agent

policy: add Job sample YAML from k8s
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/job.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-service.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/stateful-set/web.yaml
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/pod_template.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: update dm-verity hashes in sample files
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-service.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/stateful-set/web.yaml
Owners: @kata-containers/agent

runtime-rs: skip ipip network interfaces (iff_noarp)
  src/runtime-rs/crates/resource/src/network/network_with_netns.rs
Owners: @kata-containers/runtime

policy: fix the Job hostname
  src/agent/samples/policy/yaml/kubernetes/fixtures/job.yaml
  src/tools/genpolicy/src/job.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: remove container image name check
  src/agent/samples/policy/yaml/configmap/pod1.yaml
  src/agent/samples/policy/yaml/configmap/pod2.yaml
  src/agent/samples/policy/yaml/demo/pod-demo.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-back.yaml
  src/agent/samples/policy/yaml/deployment/deployment-azure-vote-front.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/appsv1deployment.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/deploy-clientside.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/job.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/multi-resource-yaml.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-lastapplied.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-noexist.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/rc-service.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/replication.yaml
  src/agent/samples/policy/yaml/kubernetes/fixtures/valid-pod.yaml
  src/agent/samples/policy/yaml/pod/pod-one-container.yaml
  src/agent/samples/policy/yaml/pod/pod-persistent-volumes.yaml
  src/agent/samples/policy/yaml/pod/pod-spark.yaml
  src/agent/samples/policy/yaml/pod/pod-three-containers.yaml
  src/agent/samples/policy/yaml/stateful-set/web.yaml
  src/tools/genpolicy/rules.rego
Owners: @kata-containers/agent, @kata-containers/tools

policy: single file for ConfigMap and related Pod
  src/agent/samples/policy/yaml/configmap/cm1.yaml
  src/agent/samples/policy/yaml/configmap/cm2.yaml
  src/agent/samples/policy/yaml/configmap/pod-cm1.yaml
  src/agent/samples/policy/yaml/configmap/pod-cm2.yaml
  src/agent/samples/policy/yaml/configmap/pod1.yaml
  src/agent/samples/policy/yaml/configmap/pod2.yaml
  src/tools/genpolicy/src/config_map.rs
  src/tools/genpolicy/src/config_maps.rs
  src/tools/genpolicy/src/daemon_set.rs
  src/tools/genpolicy/src/deployment.rs
  src/tools/genpolicy/src/job.rs
  src/tools/genpolicy/src/list.rs
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/no_policy_obj.rs
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/replication_controller.rs
  src/tools/genpolicy/src/stateful_set.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: add ReplicaSet sample
  src/agent/samples/policy/yaml/replica-set/replica-busy.yaml
  src/tools/genpolicy/src/main.rs
  src/tools/genpolicy/src/replica_set.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/agent, @kata-containers/tools

policy: add hacked conformance-e2e.yaml from k8s
  src/agent/samples/policy/yaml/kubernetes/conformance/conformance-e2e.yaml
Owners: @kata-containers/agent

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
