Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/documentation, @kata-containers/makefile, @kata-containers/platforms, @kata-containers/shell, @kata-containers/docker, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/tools, @kata-containers/kernel, @kata-containers/qemu

clh: Update to v24.0
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PlatformConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_platform_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

clh: Update to the v24.0 release
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/api/openapi.yaml
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/docs/PlatformConfig.md
  src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_platform_config.go
  src/runtime/virtcontainers/pkg/cloud-hypervisor/cloud-hypervisor.yaml
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

snap: Build using destructive mode
  tools/packaging/Makefile
Owners: @kata-containers/packaging

docs: Improve snap build instructions
  snap/local/README.md
Owners: @kata-containers/release

docs: Move snap README
  README.md
  snap/local/README.md
  tools/packaging/README.md
Owners: @kata-containers/documentation, @kata-containers/release, @kata-containers/packaging

docs: Move snap README
  README.md
  snap/local/README.md
  tools/packaging/README.md
Owners: @kata-containers/documentation, @kata-containers/release, @kata-containers/packaging

docs: Improve snap build instructions
  snap/local/README.md
Owners: @kata-containers/release

snap: Build using destructive mode
  tools/packaging/Makefile
Owners: @kata-containers/packaging

agent: add tests for do_write_stream function
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
Owners: @kata-containers/agent

agent: add tests for get_memory_info function
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: add tests for is_signal_handled function
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: add tests for update_container_namespaces
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent: move assert_result macro to test_utils file
  src/agent/src/config.rs
  src/agent/src/rpc.rs
  src/agent/src/test_utils.rs
Owners: @kata-containers/agent

agent: Fix is_signal_handled failing parsing str to u64
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

runtime-rs: use withContext to evaluate lazily
  src/runtime-rs/crates/hypervisor/src/device/vfio.rs
  src/runtime-rs/crates/resource/src/network/endpoint/physical_endpoint.rs
  src/runtime-rs/crates/resource/src/network/network_model/route_model.rs
  src/runtime-rs/crates/resource/src/network/utils/netns.rs
  src/runtime-rs/crates/resource/src/share_fs/utils.rs
  src/runtime-rs/crates/resource/src/volume/mod.rs
  versions.yaml
Owners: @kata-containers/runtime, @kata-containers/ci, @kata-containers/release, @kata-containers/tests

runk: Handle rootfs path in config.json properly
  src/tools/runk/libcontainer/src/builder.rs
  src/tools/runk/libcontainer/src/container.rs
  src/tools/runk/libcontainer/src/status.rs
  src/tools/runk/libcontainer/src/utils.rs
Owners: @kata-containers/tools

runk: Handle rootfs path in config.json properly
  src/tools/runk/libcontainer/src/builder.rs
  src/tools/runk/libcontainer/src/container.rs
  src/tools/runk/libcontainer/src/status.rs
  src/tools/runk/libcontainer/src/utils.rs
Owners: @kata-containers/tools

runtime: Adding the correct detection of mediated PCIe devices
  src/runtime/virtcontainers/device/drivers/utils.go
  src/runtime/virtcontainers/device/drivers/vfio.go
  src/runtime/virtcontainers/device/drivers/vfio_test.go
Owners: @kata-containers/runtime

runk: Add Podman guide in README
  src/tools/runk/README.md
Owners: @kata-containers/tools

runk: Add Podman guide in README
  src/tools/runk/README.md
Owners: @kata-containers/tools

Update cri-tools to v1.24.2
  versions.yaml
Owners: @kata-containers/ci, @kata-containers/release, @kata-containers/tests

qemu: allow using legacy serial device for the console
  src/runtime/config/configuration-qemu.toml.in
  src/runtime/pkg/katautils/config-settings.go.in
  src/runtime/pkg/katautils/config.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_arch_base_test.go
  src/runtime/virtcontainers/qemu_arm64.go
  src/runtime/virtcontainers/qemu_ppc64le.go
  src/runtime/virtcontainers/qemu_s390x.go
Owners: @kata-containers/runtime

runtime: sync docstrings with function names
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/fc.go
  src/runtime/virtcontainers/qemu.go
Owners: @kata-containers/runtime

runtime: direct-volume stats update to use GET parameter
  src/runtime/pkg/containerd-shim-v2/shim_management.go
Owners: @kata-containers/runtime

runtime: remove duplicate 'types' import
  src/runtime/virtcontainers/acrn.go
  src/runtime/virtcontainers/agent.go
  src/runtime/virtcontainers/clh.go
  src/runtime/virtcontainers/container.go
  src/runtime/virtcontainers/kata_agent.go
  src/runtime/virtcontainers/kata_agent_test.go
  src/runtime/virtcontainers/mock_agent.go
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/runtime

qemu: treat console kernel params within appendConsole
  src/runtime/virtcontainers/qemu.go
  src/runtime/virtcontainers/qemu_amd64.go
  src/runtime/virtcontainers/qemu_arch_base.go
  src/runtime/virtcontainers/qemu_arch_base_test.go
  src/runtime/virtcontainers/qemu_arm64.go
  src/runtime/virtcontainers/qemu_ppc64le.go
  src/runtime/virtcontainers/qemu_s390x.go
Owners: @kata-containers/runtime

runk: merge oci-kata-agent into runk
  src/agent/rustjail/src/container.rs
  src/tools/runk/Makefile
  src/tools/runk/README.md
  src/tools/runk/src/main.rs
Owners: @kata-containers/agent, @kata-containers/tools

virtiofsd: build rust based virtiofsd from source for non-x86_64
  tools/packaging/static-build/virtiofsd/build-static-virtiofsd.sh
Owners: @kata-containers/packaging

docs: fix annotations example
  docs/how-to/how-to-set-sandbox-config-kata.md
Owners: @kata-containers/documentation

docs: Remove clear containers reference in README
  tools/osbuilder/rootfs-builder/README.md
Owners: @kata-containers/builder

runtime: Adding the correct detection of mediated PCIe devices
  src/runtime/virtcontainers/device/drivers/utils.go
  src/runtime/virtcontainers/device/drivers/vfio.go
  src/runtime/virtcontainers/device/drivers/vfio_test.go
Owners: @kata-containers/runtime

qemu: remove virtiofsd option in qemu config
  tools/packaging/scripts/configure-hypervisor.sh
  tools/packaging/static-build/virtiofsd/build-static-virtiofsd.sh
Owners: @kata-containers/packaging

runtime: allow annotation configuration to use_legacy_serial
  docs/how-to/how-to-set-sandbox-config-kata.md
  src/runtime/pkg/oci/utils.go
  src/runtime/pkg/oci/utils_test.go
  src/runtime/virtcontainers/pkg/annotations/annotations.go
Owners: @kata-containers/documentation, @kata-containers/runtime

agent: remove bin oci-kata-agent
  src/agent/Cargo.toml
Owners: @kata-containers/agent

agent: fix direct-assigned volume stats
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

runtime: fix incorrect Action function for direct-volume stats
  src/runtime/cmd/kata-runtime/kata-volume.go
Owners: @kata-containers/runtime

runtime: direct-volume stats use correct name
  src/runtime/cmd/kata-runtime/kata-volume.go
Owners: @kata-containers/runtime

CCv0: Fix permissions of kata-containers repo
  docs/how-to/ccv0.sh
Owners: @kata-containers/documentation

runk: Return error when tty is used without console socket
  src/tools/runk/libcontainer/src/builder.rs
Owners: @kata-containers/tools

runk: Return error when tty is used without console socket
  src/tools/runk/libcontainer/src/builder.rs
Owners: @kata-containers/tools

CODEOWNERS:

# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/ci @kata-containers/release @kata-containers/tests

# Documentation related files could also appear anywhere
# else in the repo.
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.md				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

# FIXME: need to create the "makefile" team
Makefile*			@kata-containers/makefile
*.mak				@kata-containers/makefile
*.mk				@kata-containers/makefile

# FIXME: need to create the "platforms" team (arch is too similar to the AC!)
**/arch/			@kata-containers/platforms

# FIXME: need to create the "shell" team
*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

# FIXME: need to create the "docker" team
Dockerfile*			@kata-containers/docker

# FIXME: Maybe a new "protocol" team would be better?
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/snap/				@kata-containers/release    # FIXME: need to create the "release" team

/src/agent/			@kata-containers/agent
/src/runtime*/			@kata-containers/runtime
/src/tools/			@kata-containers/tools    # FIXME: need to create the "tools" team

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release    # FIXME: need to create the "release" team
