Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

tools: Add reference to the kata webhook's README
  README.md
Owners: @kata-containers/documentation

ci/openshift-ci: Correct the lib location
  ci/openshift-ci/cluster/deploy_webhook.sh
  ci/openshift-ci/cluster/install_kata.sh
  ci/openshift-ci/lib.sh
  ci/openshift-ci/run_smoke_test.sh
  ci/openshift-ci/test.sh
Owners: @kata-containers/ci, @kata-containers/tests

ci/openshift-ci: Correct the lib location
  ci/openshift-ci/cluster/deploy_webhook.sh
  ci/openshift-ci/cluster/install_kata.sh
  ci/openshift-ci/lib.sh
  ci/openshift-ci/run_smoke_test.sh
  ci/openshift-ci/test.sh
Owners: @kata-containers/ci, @kata-containers/tests

tools: Add reference to the kata webhook's README
  README.md
Owners: @kata-containers/documentation

kata-deploy: fix deprecations on kustomization files
  tools/packaging/kata-deploy/kata-cleanup/base/kustomization.yaml
  tools/packaging/kata-deploy/kata-cleanup/overlays/k3s/kustomization.yaml
  tools/packaging/kata-deploy/kata-cleanup/overlays/rke2/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/overlays/k0s/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/overlays/k3s/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/overlays/rke2/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/overlays/stable/kustomization.yaml
  tools/packaging/kata-deploy/kata-rbac/base/kustomization.yaml
Owners: @kata-containers/kata-deploy

kata-deploy: fix deprecations on kustomization files
  tools/packaging/kata-deploy/kata-cleanup/base/kustomization.yaml
  tools/packaging/kata-deploy/kata-cleanup/overlays/k3s/kustomization.yaml
  tools/packaging/kata-deploy/kata-cleanup/overlays/rke2/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/base/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/overlays/k0s/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/overlays/k3s/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/overlays/rke2/kustomization.yaml
  tools/packaging/kata-deploy/kata-deploy/overlays/stable/kustomization.yaml
  tools/packaging/kata-deploy/kata-rbac/base/kustomization.yaml
Owners: @kata-containers/kata-deploy

runtime-rs: report error on missing or empty fields in configuration
  src/libs/kata-types/src/annotations/mod.rs
Owners: @kata-containers/rust

runtime-rs: report error on missing or empty fields in configuration
  src/libs/kata-types/src/annotations/mod.rs
Owners: @kata-containers/rust

runtime: add SingleContainer when obtaining OCI Spec
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

runtime: merged ValidCgroupPath method
  src/runtime/pkg/resourcecontrol/cgroups.go
  src/runtime/pkg/resourcecontrol/utils_linux.go
Owners: @kata-containers/golang

runtime: merged ValidCgroupPath method
  src/runtime/pkg/resourcecontrol/cgroups.go
  src/runtime/pkg/resourcecontrol/utils_linux.go
Owners: @kata-containers/golang

runtime: modify ValidCgroupPath unit test
  src/runtime/pkg/resourcecontrol/utils_linux_test.go
Owners: @kata-containers/golang

runtime: modify ValidCgroupPath unit test
  src/runtime/pkg/resourcecontrol/utils_linux_test.go
Owners: @kata-containers/golang

runtime: add SingleContainer when obtaining OCI Spec
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

runtime: add SingleContainer when obtaining OCI Spec
  src/runtime/virtcontainers/sandbox.go
Owners: @kata-containers/golang

packaging: Track files correctly when naming builder image for agent
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/scripts/lib.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

packaging: Track files correctly when naming builder image for agent
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/scripts/lib.sh
Owners: @kata-containers/kata-deploy, @kata-containers/packaging

genpolicy: allow separate paths for rules and settings files
  src/tools/genpolicy/genpolicy-advanced-command-line-parameters.md
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/settings.rs
  src/tools/genpolicy/src/utils.rs
Owners: @kata-containers/documentation, @kata-containers/rust

genpolicy: allow separate paths for rules and settings files
  src/tools/genpolicy/genpolicy-advanced-command-line-parameters.md
  src/tools/genpolicy/src/policy.rs
  src/tools/genpolicy/src/settings.rs
  src/tools/genpolicy/src/utils.rs
Owners: @kata-containers/documentation, @kata-containers/rust

# SQUASH
  tools/osbuilder/rootfs-builder/nvidia/nvidia_chroot.sh
Owners: @kata-containers/builder

agent: set stdout/err vsock stream as blocking before passing to child
  src/agent/rustjail/src/process.rs
Owners: @kata-containers/agent

agent: Use pipes as stdout/stderr of container process
  src/agent/Cargo.lock
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/process.rs
  src/agent/src/signal.rs
Owners: @kata-containers/agent

agent: Use pipes as stdout/stderr of container process
  src/agent/Cargo.lock
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/process.rs
  src/agent/src/signal.rs
Owners: @kata-containers/agent

agent: Fix a race condition in passfd_io.rs
  src/agent/src/passfd_io.rs
Owners: @kata-containers/agent

agent: use biased select to avoid data loss
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

agent,runtime-rs: refactor process io using vsock fd passthrough feature
  src/agent/Cargo.lock
  src/agent/rustjail/Cargo.toml
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/process.rs
  src/agent/src/main.rs
  src/agent/src/passfd_io.rs
  src/agent/src/rpc.rs
  src/agent/src/sandbox.rs
  src/agent/src/signal.rs
  src/libs/protocols/protos/agent.proto
  src/runtime-rs/Cargo.lock
  src/runtime-rs/crates/agent/src/kata/trans.rs
  src/runtime-rs/crates/agent/src/types.rs
  src/runtime-rs/crates/hypervisor/src/ch/mod.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/inner_hypervisor.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/mod.rs
  src/runtime-rs/crates/hypervisor/src/lib.rs
  src/runtime-rs/crates/hypervisor/src/qemu/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/Cargo.toml
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container_inner.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/mod.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/passfd_io.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/manager.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/process.rs
Owners: @kata-containers/agent, @kata-containers/rust

dbs: hybrid stream support keep the connection when local closed
  src/dragonball/src/dbs_virtio_devices/src/vsock/csm/connection.rs
  src/dragonball/src/dbs_virtio_devices/src/vsock/muxer/muxer_impl.rs
Owners: @kata-containers/dragonball

agent,runtime-rs: fix container io detach and attach
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/process.rs
  src/agent/src/rpc.rs
  src/dragonball/src/dbs_virtio_devices/src/vsock/csm/connection.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/process.rs
Owners: @kata-containers/agent, @kata-containers/dragonball, @kata-containers/rust

agent,runtime-rs: fix container io detach and attach
  src/agent/rustjail/src/container.rs
  src/agent/rustjail/src/process.rs
  src/agent/src/rpc.rs
  src/dragonball/src/dbs_virtio_devices/src/vsock/csm/connection.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/process.rs
Owners: @kata-containers/agent, @kata-containers/dragonball, @kata-containers/rust

runtime-rs: open stdin fifo with RDWR|NONBLOCK when pass vsock streams
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/passfd_io.rs
Owners: @kata-containers/rust

agent: clean up term master fd when container exits
  src/agent/rustjail/src/container.rs
  src/agent/src/rpc.rs
Owners: @kata-containers/agent

agent,runtime-rs: Add license header to passfd_io.rs
  src/agent/src/passfd_io.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/passfd_io.rs
Owners: @kata-containers/agent, @kata-containers/rust

runtime-rs: open stdout and stderr fifos NONBLOCK
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/passfd_io.rs
Owners: @kata-containers/rust

agent: set stdout/err vsock stream as blocking before passing to child
  src/agent/rustjail/src/process.rs
Owners: @kata-containers/agent

runtime-rs: open stdin fifo with RDWR|NONBLOCK when pass vsock streams
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/passfd_io.rs
Owners: @kata-containers/rust

config: add two options to control vsock passthrough io feature
  src/agent/src/config.rs
  src/libs/kata-types/src/config/agent.rs
  src/libs/kata-types/src/config/default.rs
  src/libs/kata-types/src/config/mod.rs
  src/libs/kata-types/src/config/runtime.rs
  src/runtime-rs/config/configuration-dragonball.toml.in
  src/runtime-rs/crates/hypervisor/src/dragonball/inner.rs
  src/runtime-rs/crates/hypervisor/src/dragonball/mod.rs
  src/runtime-rs/crates/hypervisor/src/hypervisor_persist.rs
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/container.rs
  src/runtime-rs/crates/runtimes/virt_container/src/lib.rs
Owners: @kata-containers/agent, @kata-containers/rust

runtime-rs: open stdout and stderr fifos NONBLOCK
  src/runtime-rs/crates/runtimes/virt_container/src/container_manager/io/passfd_io.rs
Owners: @kata-containers/rust

dragonball: vsock: properly handle EPOLLHUP/EPOLLERR events
  src/dragonball/src/dbs_virtio_devices/src/vsock/csm/connection.rs
Owners: @kata-containers/dragonball

agent: use biased select to avoid data loss
  src/agent/rustjail/src/container.rs
Owners: @kata-containers/agent

agent: Fix a race condition in passfd_io.rs
  src/agent/src/passfd_io.rs
Owners: @kata-containers/agent

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x
