Repository kata-containers/kata-containers, changes with the owners that CODEOWNERS names for each.
All owners: @kata-containers/codeowners, @kata-containers/release, @kata-containers/ci, @kata-containers/tests, @kata-containers/build, @kata-containers/documentation, @kata-containers/shell, @kata-containers/docker, @kata-containers/rust, @kata-containers/golang, @kata-containers/utils, @kata-containers/architecture-committee, @kata-containers/builder, @kata-containers/packaging, @kata-containers/action-admins, @kata-containers/agent, @kata-containers/runtime, @kata-containers/dragonball, @kata-containers/kernel, @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/vendoring, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

CODEOWNERS:

# Copyright (c) 2019-2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#
# Define any code owners for this repository.
# The code owners lists are used to help automatically enforce
# reviews and acks of the right groups on the right PRs.

# Order in this file is important. Only the last match will be
# used. See https://help.github.com/articles/about-code-owners/

/CODEOWNERS			@kata-containers/codeowners

VERSION				@kata-containers/release

# The versions database needs careful handling
versions.yaml			@kata-containers/release @kata-containers/ci @kata-containers/tests

Makefile*			@kata-containers/build
*.mak				@kata-containers/build
*.mk				@kata-containers/build

# Documentation related files could also appear anywhere
# else in the repo.
*.md				@kata-containers/documentation
*.drawio			@kata-containers/documentation
*.jpg				@kata-containers/documentation
*.png				@kata-containers/documentation
*.svg				@kata-containers/documentation

*.bash				@kata-containers/shell
*.sh				@kata-containers/shell
**/completions/			@kata-containers/shell

Dockerfile*			@kata-containers/docker

/ci/				@kata-containers/ci

*.bats				@kata-containers/tests
/tests/				@kata-containers/tests

*.rs				@kata-containers/rust
*.go				@kata-containers/golang

/utils/				@kata-containers/utils

# FIXME: Maybe a new "protocol" team would be better?
#
# All protocol changes must be reviewed.
# Note, we include all subdirs, including the vendor dir, as at present there are no .proto files
# in the vendor dir. Later we may have to extend this matching rule if that changes.
/src/libs/protocols/*.proto	@kata-containers/architecture-committee @kata-containers/builder @kata-containers/packaging

# GitHub Actions
/.github/workflows/		@kata-containers/action-admins @kata-containers/ci

/ci/				@kata-containers/ci @kata-containers/tests
/docs/				@kata-containers/documentation

/src/agent/			@kata-containers/agent

/src/runtime*/			@kata-containers/runtime

/src/runtime/			@kata-containers/golang

src/runtime-rs/			@kata-containers/rust
src/libs/			@kata-containers/rust

src/dragonball/			@kata-containers/dragonball

/tools/osbuilder/		@kata-containers/builder
/tools/packaging/		@kata-containers/packaging
/tools/packaging/kernel/	@kata-containers/kernel
/tools/packaging/kata-deploy/	@kata-containers/kata-deploy
/tools/packaging/qemu/		@kata-containers/qemu
/tools/packaging/release/	@kata-containers/release

**/vendor/			@kata-containers/vendoring

# Handle arch specific files last so they match more specifically than
# the kernel packaging files.
**/*aarch64*			@kata-containers/arch-aarch64
**/*arm64*			@kata-containers/arch-aarch64

**/*amd64*			@kata-containers/arch-amd64
**/*x86-64*			@kata-containers/arch-amd64
**/*x86_64*			@kata-containers/arch-amd64

**/*ppc64*			@kata-containers/arch-ppc64le

**/*s390x*			@kata-containers/arch-s390x

runtime: Introduce riscv64 template for vm factory
  src/runtime/virtcontainers/factory/template/template_riscv64.go
Owners: @kata-containers/golang

runtime: Define availableGuestProtection for riscv64
  src/runtime/virtcontainers/hypervisor_linux_riscv64.go
Owners: @kata-containers/golang

runtime: Introduce riscv64 to govmm pkg
  src/runtime/pkg/govmm/vmm_riscv64.go
Owners: @kata-containers/golang

runtime: Define default values for QEMU riscv
  src/runtime/virtcontainers/qemu_riscv64.go
Owners: @kata-containers/golang

runtime: Enable runtime check for riscv64
  src/runtime/cmd/kata-runtime/kata-check_riscv64.go
Owners: @kata-containers/golang

runtime: Enable runtime to build on riscv64
  src/runtime/Makefile
  src/runtime/arch/riscv64-options.mk
Owners: @kata-containers/golang

runtime: Disable race flag for riscv64
  src/runtime/go-test.sh
Owners: @kata-containers/golang

runtime: Enable testSetCPUTypeGeneric for riscv64
  src/runtime/cmd/kata-runtime/kata-check_generic_test.go
Owners: @kata-containers/golang

runtime: Add mock data for kata-check
  src/runtime/cmd/kata-runtime/kata-check_data_riscv64_test.go
Owners: @kata-containers/golang

runtime: Add getExpectedHostDetails for riscv64
  src/runtime/cmd/kata-runtime/kata-env_riscv64_test.go
Owners: @kata-containers/golang

runtime: Enable kata-check test on riscv64
  src/runtime/cmd/kata-runtime/kata-check_riscv64.go
  src/runtime/cmd/kata-runtime/kata-check_riscv64_test.go
Owners: @kata-containers/golang

ci: Enable build-check for runtime on riscv64
  .github/workflows/build-checks-preview-riscv64.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci

ci: Skip tests depend on virtualization on riscv64
  .github/workflows/build-checks-preview-riscv64.yaml
  src/runtime/cmd/kata-runtime/kata-check_riscv64_test.go
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/golang

kata-deploy: Fix kata-cleanup's CrashLoopBackOff
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: Be more resilient on re-install
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

ci: Enable cri-containerd-tests for arm64
  .github/workflows/ci.yaml
  .github/workflows/run-cri-containerd-tests-arm64.yaml
  tests/integration/cri-containerd/gha-run.sh
  tests/integration/cri-containerd/integration-tests.sh
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/arch-aarch64, @kata-containers/tests

Add rights to label node
  tools/osbuilder/rootfs-builder/ubuntu/superprotocol/templates/k8s.yaml.tmpl
Owners: @kata-containers/builder

ci: required-tests fixes/updates
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

gatekeeper: Add kata-deploy tests as required
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

genpolicy: Enable GID checks in rules.rego
  src/tools/genpolicy/rules.rego
Owners: none

genpolicy: Parse secContext runAsGroup and allowPrivilegeEscalation
  src/tools/genpolicy/src/pod.rs
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/rust

genpolicy: Stomp OCI spec GID when a pod securityContext omits it
  src/tools/genpolicy/src/yaml.rs
Owners: @kata-containers/rust

kata-deploy: Fix condition always true
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

runtime: Add Arm64 CCA confidential Guest Support
  src/runtime/pkg/govmm/qemu/qemu.go
  src/runtime/virtcontainers/hypervisor.go
  src/runtime/virtcontainers/hypervisor_linux_arm64.go
  src/runtime/virtcontainers/hypervisor_linux_arm64_test.go
  src/runtime/virtcontainers/qemu_amd64_test.go
  src/runtime/virtcontainers/qemu_arm64.go
  src/runtime/virtcontainers/qemu_arm64_test.go
  src/runtime/virtcontainers/qemu_ppc64le_test.go
  src/runtime/virtcontainers/qemu_s390x_test.go
Owners: @kata-containers/golang, @kata-containers/arch-aarch64, @kata-containers/arch-amd64, @kata-containers/arch-ppc64le, @kata-containers/arch-s390x

kata-deploy: Add support for building confidential kernel for Arm64
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/kernel/build-kernel.sh
  tools/packaging/kernel/configs/fragments/arm64/confidential/cca.conf
  tools/packaging/kernel/configs/fragments/arm64/confidential/rme.conf
  tools/packaging/kernel/configs/fragments/whitelist-6.10.0-rc1-d901c27a1783a88ee32339a5b4bfa2ac8e70e597.conf
  tools/packaging/kernel/patches/6.10.x/no_patches.txt
  versions.yaml
Owners: @kata-containers/kata-deploy, @kata-containers/kernel, @kata-containers/arch-aarch64, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

kata-deploy: support build confidential rootfs and initrd for arm64
  tools/packaging/kata-deploy/local-build/Makefile
  versions.yaml
Owners: @kata-containers/kata-deploy, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

kata-deploy: Add support for Arm CCA Qemu build
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/qemu/patches/tag_patches/28a876475d00ad941fa6c5ee5a9b37ec9592d1e1/no_patches.txt
  versions.yaml
Owners: @kata-containers/kata-deploy, @kata-containers/qemu, @kata-containers/release, @kata-containers/ci, @kata-containers/tests

kata-deploy: support build shim-v2 for Arm CCA
  .github/workflows/build-kata-static-tarball-arm64.yaml
  tools/packaging/kata-deploy/local-build/Makefile
  tools/packaging/kata-deploy/local-build/kata-deploy-binaries.sh
  tools/packaging/static-build/shim-v2/Dockerfile
  tools/packaging/static-build/shim-v2/build.sh
Owners: @kata-containers/arch-aarch64, @kata-containers/kata-deploy, @kata-containers/packaging

kata-deploy: execute in the host environment
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

kata-deploy: add INSTALLATION_PREFIX validation
  tools/packaging/kata-deploy/scripts/kata-deploy.sh
Owners: @kata-containers/kata-deploy

shim: Removing SEV reference
  tools/packaging/kata-deploy/helm-chart/kata-deploy/values.yaml
Owners: @kata-containers/kata-deploy

kata-deploy: remove SEV runtimeclass yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-qemu-sev.yaml
  tools/packaging/kata-deploy/runtimeclasses/kata-runtimeClasses.yaml
Owners: @kata-containers/kata-deploy

kernel: add blank lines before/after code blocks
  tools/packaging/kernel/README.md
Owners: @kata-containers/kernel

ci: Skip tests if we only update the required list
  tools/testing/gatekeeper/required-tests.yaml
Owners: none

versions: Bump golang version
  .github/workflows/darwin-tests.yaml
  .github/workflows/docs-url-alive-check.yaml
  src/runtime/go.mod
  src/tools/csi-kata-directvolume/go.mod
  src/tools/log-parser/go.mod
  tests/go.mod
  tests/metrics/cmd/checkmetrics/go.mod
  tools/testing/kata-webhook/go.mod
  versions.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/golang, @kata-containers/tests, @kata-containers/release

Versions: Renaming ovmf sev to snp
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests

runtime-rs: Remove redundant empty line
  src/runtime-rs/crates/runtimes/src/lib.rs
Owners: @kata-containers/rust

versions: Bump golang version
  .github/workflows/darwin-tests.yaml
  .github/workflows/docs-url-alive-check.yaml
  src/runtime/go.mod
  src/tools/csi-kata-directvolume/go.mod
  src/tools/log-parser/go.mod
  tests/go.mod
  tests/metrics/cmd/checkmetrics/go.mod
  tools/testing/kata-webhook/go.mod
  versions.yaml
Owners: @kata-containers/action-admins, @kata-containers/ci, @kata-containers/golang, @kata-containers/tests, @kata-containers/release

ci: cri-containerd: Remove source from install_go.sh
  tests/integration/cri-containerd/gha-run.sh
Owners: @kata-containers/tests

versions: Bump golangci-lint version
  versions.yaml
Owners: @kata-containers/release, @kata-containers/ci, @kata-containers/tests
